<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="page(title,activePage)">
<head th:insert="~{fragments/docshead :: docshead(${title})}"></head>

<body>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto" style="margin-top: 1px;">

    <div class="row px-4 py-3 ml-3 mr-3" th:insert="~{fragments/docstopnav :: docstopnav(${loggedIn})}"></div>

    <div class="row">
        <div class="col-12 col-md-2 col-xl-1 bd-sidebar" th:insert="~{fragments/articlessidebar :: articlessidebar(${activePage})}"></div>

        <main class="col overflow-auto h-100" role="main">
            <div th:replace="~{this :: content}"></div>

            <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
                <i class="bi-arrow-up-circle"></i>
            </button>
        </main>

        <th:block th:if="${(authority == 'ROLE_SUPER' || authority == 'ROLE_ADMIN' || authority == 'ROLE_USER') and activePage == 'articles/endpoints'}">
            <nav class="d-none d-xl-block col-xl-4 float-end">
                <ul class="section-nav">
                    <li class="toc-entry toc-h2"><a href="#apiendpoints">API Endpoints</a>
                        <ul>
                            <th:block th:each="endpoint, iterStat: ${apiEndpointsMapList}">
                                <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and (apiEndpointsMapList[iterStat.index-1].role)==(endpoint.role)}">
                                    <li class="toc-entry toc-h3"><a th:href="${'#role'+endpoint.roleAnchor}" th:text="${endpoint.role+' APIs'}"></a>
                                        <th:block th:remove="tag" th:utext="'&lt;ul&gt;'"></th:block>
                                </th:block>

                                <li class="toc-entry toc-h2"><a th:href="${'#'+endpoint.rolePath}"><th:block th:text="${endpoint.requestType}"></th:block>&nbsp;<th:block th:text="${endpoint.apiCall}"></th:block></a></li>

                                <th:block th:if="${iterStat.count > 0 and !iterStat.first and !iterStat.last and (apiEndpointsMapList[iterStat.index+1].role)!=(endpoint.role)}">
                                    <th:block th:remove="tag" th:utext="'&lt;/ul&gt;&lt;/li&gt;'"></th:block>
                                </th:block>

                            </th:block>
                        </ul>
                    </li>
                </ul>
            </nav>
        </th:block>

        <th:block th:if="${activePage == 'articles/quickstart' && (userCount == 0 || authority == 'ROLE_SUPER')}">
            <nav class="d-none d-xl-block col-xl-4 float-end">
                <ul class="section-nav">
                    <li class="toc-entry toc-h2"><a href="#quickstart">Quick Start</a></li>
                    <li class="toc-entry toc-h2"><a href="#facerecognition">Face Recognition</a></li>
                    <li class="toc-entry toc-h2"><a href="#resetpass">Reset Password as an Admin</a></li>
                </ul>
            </nav>
        </th:block>

        <th:block th:if="${activePage == 'articles/tips'}">
            <nav class="d-none d-xl-block col-xl-4 float-end">
                <ul class="section-nav">
                    <li class="toc-entry toc-h2"><a href="#filters">Filters</a></li>
                    <li class="toc-entry toc-h2"><a href="#paged">Paged Results</a></li>
                    <li class="toc-entry toc-h2"><a href="#multiselect">Multi Select</a></li>
                </ul>
            </nav>
        </th:block>

    </div>

    <div class="row">
        <footer class="pt-3 mt-4 text-muted border-top">
            <div class="form-switch" id="darkmodeSwitchContainer" style="display: none;">
                <input class="form-check-input" type="checkbox" id="darkmodeSwitch">&nbsp;
                <label class="form-check-label" for="darkmodeSwitch">Dark mode</label>
            </div>
            &copy; <span id="copyrightYear"></span> Shashin
        </footer>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            const scrollToTopButton = $("#btn-back-to-top");
            const showScrollToTop = function (scrollEl) {
                if (scrollToTopButton.length > 0) {
                    if (scrollEl.scrollTop() > 0) {
                        scrollToTopButton.css("display", "block");
                    } else {
                        scrollToTopButton.css("display", "none");
                    }
                }
            }

            const elToScroll = window;

            $(elToScroll).on('scroll', function () {
                showScrollToTop($(elToScroll));
            });

            if (scrollToTopButton.length > 0) {
                scrollToTopButton.on("click", function () {
                    $(elToScroll)[0].scrollTo({top: 0, behavior: 'smooth'});
                });
            }

            // Dark mode operations
            Util.activateDarkModeListener();
        });
    </script>
</div>

<script type="text/javascript" th:nonce="${cspNonce}">
    $("#copyrightYear").text(Util.getYearCreated() + "-" + new Date().getFullYear());
</script>

</body>
</html>
