<!DOCTYPE html>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="aboutmodal(activeProfile, buildProperties, operatingSystemInfo, copyrightYear, darkMode)">

<div class="modal fade" id="propAbout" tabindex="-1" role="dialog" aria-labelledby="labelAboutContent">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLabel"><img id="aboutIcon" th:src="${darkMode ? '/images/kamon_transparent_inverted.png' : '/images/kamon_transparent.png'}" width="35px" height="35px">&nbsp;&nbsp;&nbsp;<th:block th:text="#{main.modal.about.title}"></th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><th:block th:text="#{main.modal.about.body}"></th:block></p>
                <th:block th:if="${activeProfile != 'prod'}">
                    <span th:text="${#strings.capitalize(activeProfile)}+' '+#{main.modal.about.build}"></span><br>
                </th:block>
                <span th:text="#{main.modal.about.version.current(${buildProperties.getVersion()})}"></span><span id="gitVersionId"></span><br>
                <th:block th:if="${operatingSystemInfo != ''}">
                    <span th:text="${operatingSystemInfo}"></span><br>
                </th:block>
                <br>
                &copy; <span th:text="'2021-'+${copyrightYear}+' '+${@environment.getProperty('app.build.properties.name')}"></span><br>
                <a class="me-2" style="text-decoration: none;" href="https://github.com/MichaelYagi" target="_blank">
                    <span class="bi-github" th:style="'font-size: 1.5rem;color: '+${darkMode ? '#FFFFFF' : '#000000'}+';'"></span>
                </a>
                <a class="me-2" style="text-decoration: none;" href="https://bsky.app/profile/mtyagi.bsky.social" target="_blank">
                    <span class="bi-bluesky" style="font-size: 1.5rem;"></span>
                </a>
                <a class="me-2" style="text-decoration: none;" href="https://www.youtube.com/@MichaelTakayukiYagi" target="_blank">
                    <span style="display: inline-block;height: 13px;width:8px;background-color: white;border-radius: 70%;margin-left:9px;margin-right:-20px;margin-bottom:4px;z-index: 1;"></span>
                    <span class="bi-youtube" style="color: #FF0000;font-size: 1.5rem;"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function() {
        /*<![CDATA[*/
        const activeProfile = /*[[${activeProfile}]]*/ 'prod';
        /*]]>*/

        if (activeProfile !== "test") {
            // $("#propAbout").on('shown.bs.modal', function () {
            $("#gitVersionId").html("");
            // Get current build
            let currentRelease = 'v' + /*[[${buildProperties.getVersion()}]]*/ '';

            setTimeout(function () {
                // Look through list of GH releases
                const http = new Http("get releases");
                http.ajax("get", "/releases?v=" + uuidv4()).then(function (data) {
                    shashin.printMessageToConsole(JSON.stringify(data), {tag: "release"});

                    if (data.hasOwnProperty("releases") && currentRelease !== "v") {

                        const releaseArray = data.releases;

                        if (releaseArray.length > 0) {
                            const releaseInfo = releaseArray[0];

                            if (releaseInfo.hasOwnProperty("tag_name")) {
                                // Look for matching release
                                if (Util.downloadLatestVersion(currentRelease, releaseInfo.tag_name) === true) {
                                    getLatestRelease(releaseInfo);
                                }
                            }
                        }
                    }
                });
            }, 0);

            function getLatestRelease(latestReleaseInfo) {
                if (latestReleaseInfo.hasOwnProperty("tag_name") && latestReleaseInfo.tag_name !== "") {
                    let latestTag = latestReleaseInfo.tag_name;
                    let parsedVersion = (latestTag.substring(0, 1) === "v") ? "/" + latestTag.substring(1, latestTag.length) : "";

                    const message = shashin.getTranslatedValue("main.modal.about.version.available","<a href='https://api.repoflow.io/browse/universal/cd373a98-3f60-419f-9c40-d10a1180ccda/shashin/shashin" + parsedVersion + "' target='_blank'>" + latestTag.substring(1) + "</a>");
                    $("#gitVersionId").html("<br><em>" + message + "</em>");
                    const type = "releases";

                    const http = new Http("get releases");
                    http.ajax("get", "/notifications/exists/" + type + "/" + latestTag + "?v=" + uuidv4()).then(function (data) {
                        if (data.hasOwnProperty("exists")) {
                            const exists = data.exists;
                            if (exists === false) {
                                const json = {
                                    message: message,
                                    type: type,
                                    identifier: latestTag
                                };
                                http.ajax("post", "/notifications/create", JSON.stringify(json)).then(function (data) {
                                    shashin.printMessageToConsole(JSON.stringify(data), {tag: type});
                                });
                            }
                        }
                    });
                }
            }

            // });
        }
    });
</script>