<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="aboutmodal(activeProfile, buildProperties, operatingSystemInfo, copyrightYear, darkMode)">

<div class="modal fade" id="propAbout" tabindex="-1" role="dialog" aria-labelledby="labelAboutContent">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutLabel"><img id="aboutIcon" th:src="${darkMode == true ? '/images/kamon_transparent_inverted.png' : '/images/kamon_transparent.png'}" width="25px" height="25px" class="mb-1">&nbsp;&nbsp;&nbsp;About</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>A self-hosted media gallery.</p>
                <th:block th:if="${activeProfile != 'prod'}">
                    <span th:text="${#strings.capitalize(activeProfile)+' Build'}"></span><br>
                </th:block>
                Version <span th:text="${buildProperties.getVersion()}"></span><span id="gitVersionId"></span><br>
                <th:block th:if="${operatingSystemInfo != ''}">
                    <span th:text="${operatingSystemInfo}"></span><br>
                </th:block>
                <br>
                &copy; <span th:text="'2021-'+${copyrightYear}+' '+${@environment.getProperty('app.build.properties.name')}"></span><br>
                <a class="me-2" href="https://github.com/MichaelYagi" target="_blank"><span class="bi-github" style="font-size: 1.5rem;color: lightgray;"></span></a>
                <a class="me-2" href="https://www.youtube.com/@MichaelTakayukiYagi" target="_blank"><span class="bi-youtube" style="font-size: 1.5rem;color: lightgray;"></span></a>
                <a class="me-2" href="https://bsky.app/profile/mtyagi.bsky.social" target="_blank"><span class="bi-bluesky" style="font-size: 1.5rem;color: lightgray;"></span></a>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function() {
        // $("#propAbout").on('shown.bs.modal', function () {
            $("#gitVersionId").html("");
            // Get current build
            let currentRelease = 'v' + /*[[${buildProperties.getVersion()}]]*/ '';

            setTimeout(function () {
                // Look through list of GH releases
                const http = new Http("get releases");
                http.ajax("get", "/releases").then(function (data) {
                    shashin.printMessageToConsole(JSON.stringify(data), {tag: "release"});

                    if (data.hasOwnProperty("releases") && currentRelease !== "v") {

                        const releaseArray = data.releases;
                        let parsedCurrentRelease = parseInt(currentRelease.replace(/\D/g,''));

                        for (let i in releaseArray) {
                            const releaseInfo = releaseArray[i];

                            if (releaseInfo.hasOwnProperty("tag_name")) {
                                let parsedReleaseInfo = parseInt(releaseInfo.tag_name.replace(/\D/g,''));
                                // Look for matching release
                                if (isNaN(parsedCurrentRelease) === false && isNaN(parsedCurrentRelease) === false && parsedCurrentRelease <= parsedReleaseInfo) {
                                    if (parsedCurrentRelease < parsedReleaseInfo) {
                                        getLatestRelease(releaseArray);
                                    }
                                    break;
                                }
                            }
                        }
                    }
                });
            }, 0);

            function getLatestRelease(releaseArray) {
                let latestTag = releaseArray[0].name;
                let parsedVersion = (latestTag.substring(0, 1) === "v") ? "/"+latestTag.substring(1, latestTag.length) : "";

                const message = "Version <a href='https://api.repoflow.io/browse/universal/cd373a98-3f60-419f-9c40-d10a1180ccda/shashin/shashin"+parsedVersion+"' target='_blank'>"+releaseArray[0].name.substring(1)+"</a> is available.";
                $("#gitVersionId").html("<br><em>"+message+"</em>");
                const type = "releases";

                const http = new Http("get releases");
                http.ajax("get", "/notifications/exists/"+type+"/"+releaseArray[0].name).then(function (data) {
                    if (data.hasOwnProperty("exists")) {
                        const exists = data.exists;
                        if (exists === false) {
                            const json = {
                                message: message,
                                type: type,
                                identifier: releaseArray[0].name
                            };
                            http.ajax("post", "/notifications/create", JSON.stringify(json)).then(function (data) {
                                shashin.printMessageToConsole(JSON.stringify(data), {tag: type});
                            });
                        }
                    }
                });
            }
        // });
    });
</script>