<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="addalbummodal(albumList)">
<div class="modal fade" id="propAddAlbum" tabindex="-1" role="dialog" aria-labelledby="labelAddAlbum" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editAlbumPhotosModalLabel">Add To Album<br><span id="editAlbumPhotosNamesModalLabel"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <form id="addAlbumForm">
                        <input type="hidden" id="albumMetadataIds" name="albumMetadataIds" value="">

                        <div class="form-group row">
                            <div class="col-sm">
                                <div class="input-group" id="albumListForModal">
                                    <input type="text" class="form-control" aria-label="Albums Name" id="albumNameInput" name="albumNameInput" value="">

                                    <!-- Populated in timeline.js -->

                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm">
                        <br><span id="albumResponseMsg"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveAlbum">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/site/timelineaddalbummodal.js"></script>
</body>
</html>