<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="addalbummodal(albumList)">
<div class="modal fade" id="propAddAlbum" tabindex="-1" role="dialog" aria-labelledby="labelAddAlbum" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPhotosModalLabel">Add To Album</th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <form id="addAlbumForm">
                        <input type="hidden" id="albumMetadataIds" name="albumMetadataIds" value="">

                        <div class="form-group row">
                            <div class="col-sm">
                                <div class="input-group">
                                    <input type="text" class="form-control" aria-label="Albums Name" id="albumNameInput" name="albumNameInput" value="">
                                    <input type="hidden" id="albumIdInput" name="albumIdInput" value="">

                                    <th:block th:if="${albumList != ''}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Albums</button>
                                            <div class="dropdown-menu" id="albumNameList">
                                                <th:block th:each="album, iterStat: ${albumList}">
                                                    <a class="dropdown-item" href="#" th:id="${album.id}" th:text="${album.name}"></a>
                                                    <script type="text/javascript">
                                                        /*<![CDATA[*/
                                                        $("#[[${album.id}]]").click(function (e) {
                                                            e.preventDefault();
                                                            $("#albumNameInput").val(decodeHtml("[[${album.name}]]"));
                                                            $("#albumIdInput").val("[[${album.id}]]");
                                                        });
                                                        /*]]>*/
                                                    </script>
                                                </th:block>
                                            </div>
                                        </div>
                                    </th:block>

                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm">
                        <span id="albumResponseMsg"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveAlbum">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
            <script type="text/javascript">
                $('#propAddAlbum').on('hide.bs.modal', function () {
                    $("#albumNameInput").val("");
                    $("#albumResponseMsg").html("");
                })

                $("#saveAlbum").click(function (e) {
                    e.preventDefault();

                    $("#albumResponseMsg").html("");

                    let albumMetadataIds = $.trim($("#albumMetadataIds").val());
                    let albumNameInput = $.trim($("#albumNameInput").val());

                    if (albumMetadataIds !== "" && albumNameInput !== "") {
                        let albumIdInput = $.trim($("#albumIdInput").val())
                        let albumMetadataIdArray = jQuery.parseJSON(albumMetadataIds);

                        if (albumIdInput === "" && $('#albumNameList').length > 0) {
                            // Iterate through list and find id by name
                            $('#albumNameList').children('a').each(function() {
                                if (albumNameInput.toLowerCase() === $(this).text().toLowerCase()) {
                                    albumIdInput = $(this).attr('id');
                                    return false;
                                }
                            });
                        }

                        const posting = $.post({
                            url: "/albums/add",
                            data: JSON.stringify({albumId:albumIdInput,albumName:albumNameInput,albumMetadataIds:albumMetadataIdArray}),
                            contentType: 'application/json; charset=utf-8'
                        });

                        posting.done(function (data) {
                            if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                                let message = "Error";
                                if (data["status"] === "success") {
                                    message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                                    //window.top.location = window.top.location
                                } else {
                                    message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                                }
                                $("#albumResponseMsg").html(message);
                            }
                        });
                    } else {
                        $("#albumResponseMsg").html("<div class=\"alert alert-danger\" role=\"alert\">Must enter or select album</div>");
                    }

                    return false;
                });

                // Clear message on modal close
                $('#propAddAlbum').on('hide.bs.modal', function () {
                    $("#albumResponseMsg").html("");
                    //clearTimelineSelection();
                });

                // Clear message on input editing
                $('#propAddAlbum').bind('keypress', function() {
                    $("#albumResponseMsg").html("");
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>