<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="albummodal(album, metadata)">
<div class="modal fade" th:id="'propalbum'+${metadata.id}" tabindex="-1" role="dialog" th:aria-labelledby="'label'+${metadata.id}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit <th:block th:text="${metadata.fileName}"></th:block></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:id="'saveData'+${metadata.id}">
                    <input type="hidden" name="id" th:value="${metadata.id}">

                    <div class="col-auto form-check">
                        <input type="checkbox" class="form-check-input" th:id="'removeFromAlbum'+${metadata.id}" name="removeFromAlbum">
                        <label class="form-check-label" th:for="'removeFromAlbum'+${metadata.id}">Remove from album</label>
                    </div>
                    <div class="col-auto form-check">
                        <input type="checkbox" class="form-check-input" th:id="'setCoverAlbum'+${metadata.id}" name="setCoverAlbum">
                        <label class="form-check-label" th:for="'setCoverAlbum'+${metadata.id}">Set as album cover</label>
                    </div>
                </form>
                <div class="col-sm">
                    <span th:id="'msg'+${metadata.id}"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" th:id="'saveAlbum'+${metadata.id}">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <script type="text/javascript">
                $.fn.serializeObject = function() {
                    var o = {};
                    var a = this.serializeArray();
                    $.each(a, function() {
                        if (o[this.name]) {
                            if (!o[this.name].push) {
                                o[this.name] = [o[this.name]];
                            }
                            o[this.name].push(this.value || '');
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });
                    return o;
                };

                $('#removeFromAlbum[[${metadata.id}]]').change(function() {
                    if (this.checked) {
                        $('#setCoverAlbum[[${metadata.id}]]').prop("checked", false);
                        $('#setCoverAlbum[[${metadata.id}]]').attr("disabled", true);
                    } else {
                        $('#setCoverAlbum[[${metadata.id}]]').removeAttr("disabled");
                    }
                });

                /*<![CDATA[*/
                $("#saveAlbum[[${metadata.id}]]").click(function (e) {
                    e.preventDefault();

                    let requestJson = {
                        removeFromAlbum:$("#removeFromAlbum[[${metadata.id}]]").prop("checked"),
                        setCoverAlbum:$("#setCoverAlbum[[${metadata.id}]]").prop("checked"),
                        metadataId:"[[${metadata.id}]]",
                        albumId:[[${album.id}]]
                    }

                    const posting = $.post({
                        url: "/album/update/[[${metadata.id}]]/[[${album.id}]]",
                        data: JSON.stringify(requestJson),
                        contentType: 'application/json; charset=utf-8'
                    });

                    posting.done(function (data) {
                        if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                            if (data["status"] === "redirect") {
                                window.location.replace(data["msg"]);
                            } else {
                                let message = "Error";
                                if (data["status"] === "success") {
                                    message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                                } else {
                                    message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                                }
                                $("#msg[[${metadata.id}]]").html(message);
                                window.top.location = window.top.location
                            }
                        }
                    });

                    return false;
                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>
</body>
</html>