<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="albummodal()">

<script type="text/javascript">
    function renderAlbumModal(rawAlbumData,rawMetadata,rawCurrentUser,rawAlbumPhotoCommentsMap) {
        var albumData = JSON.parse(decodeHtml(rawAlbumData));
        var metadata = JSON.parse(decodeHtml(rawMetadata));
        var currentUser = JSON.parse(decodeHtml(rawCurrentUser));
        var albumPhotoCommentsMap = rawAlbumPhotoCommentsMap !== '' ? JSON.parse(decodeHtml(rawAlbumPhotoCommentsMap)) : {};

        html =
            '<div class="modal fade" id="propalbum'+metadata.id+'" tabindex="-1" role="dialog" aria-labelledby="label'+metadata.id+'" aria-hidden="true">\n' +
            '    <div class="modal-dialog modal-lg" role="document">\n' +
            '        <div class="modal-content">\n' +
            '            <div class="modal-header">\n' +
            '                <h5 class="modal-title" id="exampleModalLabel">Edit '+metadata.fileName+'</h5>\n' +
            '                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>\n' +
            '            </div>\n' +
            '            <div class="modal-body">\n' +
            '                <form id="saveData'+metadata.id+'">\n' +
            '                    <input type="hidden" name="id" value="'+metadata.id+'">\n' +
            '                    <div class="col-auto form-check">\n' +
            '                        <input type="checkbox" class="form-check-input" id="removeFromAlbum'+metadata.id+'" name="removeFromAlbum">\n' +
            '                        <label class="form-check-label" for="removeFromAlbum'+metadata.id+'">Remove from album</label>\n' +
            '                    </div>\n' +
            '                    <div class="col-auto form-check">\n' +
            '                        <input type="checkbox" class="form-check-input" id="setCoverAlbum'+metadata.id+'" name="setCoverAlbum">\n' +
            '                        <label class="form-check-label" for="setCoverAlbum'+metadata.id+'">Set as album cover</label>\n' +
            '                    </div>\n' +
            '                </form>\n' +
            '                <div class="col-sm">\n' +
            '                    <span id="msg'+metadata.id+'"></span>\n' +
            '                </div>\n' +
            '            </div>\n' +
            '            <div class="modal-footer">\n' +
            '                <button type="button" class="btn btn-primary" id="saveAlbum'+metadata.id+'">Save</button>\n' +
            '                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>\n' +
            '            </div>\n' +
            '        </div>\n'+
            '    </div>\n'+
            '</div>';

        html +=
            '<div class="modal fade" id="propalbumphotocomment'+metadata.id+'" tabindex="-1" role="dialog" aria-labelledby="label'+metadata.id+'" aria-hidden="true">\n' +
            '    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">\n' +
            '        <div class="modal-content">\n' +
            '            <div class="modal-header">\n' +
            '                <h5 class="modal-title" id="commentModalLabel">Comments for '+metadata.fileName+'</h5>\n' +
            '                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>\n' +
            '            </div>\n' +
            '            <div class="modal-body">\n' +
            '                <input type="hidden" id="currentCommentId'+metadata.id+'" name="currentCommentId'+metadata.id+'">\n' +
            '                <ul class="list-group" id="commentList'+metadata.id+'">\n';

        var commentIdArray = [];
        for (var index in albumPhotoCommentsMap[metadata.id]) {
            var comments = albumPhotoCommentsMap[metadata.id][index];
            commentIdArray.push(comments["commentId"]);

            html +=
                '       <li id="comment'+comments["commentId"]+'" class="list-group-item'+(comments['userId'] === currentUser.id ? ' list-group-item-secondary' : '')+'">\n' +
                '           <span id="commentcontainer'+comments["commentId"]+'">\n' +
                '               <p id="commentcontent'+comments["commentId"]+'">'+comments["comment"]+'</p>\n' +
                '               <small><strong>'+comments["username"]+'</strong><span> on '+comments["createdAt"]+'</span></small>';
                if (comments["userId"] === currentUser.id) {
                    html +=
                        '       <small><span style="float: right">\n' +
                        '           <a href="#" id="deletecomment'+comments["commentId"]+'"><span class="bi-trash"></span></a>&nbsp;&nbsp;\n' +
                        '           <a href="#" id="editcomment'+comments["commentId"]+'"><span class="bi-pencil"></span></a>\n' +
                        '       </span></small>\n';
                }
                html +=
                    '       </span>\n' +
                    '       <span id="textareacontainer'+comments["commentId"]+'"></span>\n' +
                    '   </li>';
        }

        html +=
            '             </ul>\n' +
            '           </div>\n' +
            '           <div class="modal-footer">\n' +
            '               <textarea class="form-control" id="commentText'+metadata.id+'" rows="2"></textarea>\n' +
            '               <button type="button" class="btn btn-primary" id="saveCommentMetadata'+metadata.id+'">Save</button>\n' +
            '               <button type="button" class="btn btn-primary" id="updateCommentMetadata'+metadata.id+'">Update</button>\n' +
            '               <button type="button" class="btn btn-secondary" id="dismissModalCommentMetadata'+metadata.id+'" data-dismiss="modal">Cancel</button>\n' +
            '               <button type="button" class="btn btn-secondary" id="cancelEditCommentMetadata'+metadata.id+'">Cancel</button>\n' +
            '           </div>\n' +
            '       </div>\n' +
            '   </div>\n' +
            '</div>';

        $("#albummodal"+metadata.id).after(html);
        for (var index in commentIdArray) {
            var commentId = commentIdArray[index];
            albumCommentsDeleteEditModalListener(commentId, metadata);
        }

        albumCommentsUpdateSaveModalListener(metadata, albumData, currentUser);
    }
</script>

</body>
</html>