<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="albumsjs(album)">
<script type="text/javascript">
    $("#share[[${album.id}]]").click(function(e) {
        e.preventDefault();

        $("#propalbums[[${album.id}]]").modal('show');
    });

    $("#edit[[${album.id}]]").click(function(e) {
        e.preventDefault();

        $("#propeditalbums[[${album.id}]]").modal('show');
    });

    $("#trash[[${album.id}]]").click(function(e) {
        e.preventDefault();

        $("#proptrashalbums[[${album.id}]]").modal('show');
    });

    $("#comment[[${album.id}]]").click(function(e) {
        e.preventDefault();

        $("#propcommentalbums[[${album.id}]]").modal('show');
    });

</script>

</body>
</html>