<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="albumjs()">
<script type="text/javascript">
    function updateAlbum(albumId, nextPage, activePage) {
        const posting = $.get({
            url: "/album/"+albumId+"/page/"+nextPage,
            contentType: 'application/json; charset=utf-8'
        });

        posting.done(function (data) {
            if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                let message = "Error";
                if (data["status"] === "success") {
                    if (data.hasOwnProperty("album") && data.hasOwnProperty("albumMetadataList") && data.hasOwnProperty("albumPhotoCommentsMap") && data.hasOwnProperty("currentUser")) {
                        var albumData = data["album"] === "" ? null : data["album"];
                        var albumMetadataList = data["albumMetadataList"] === "" ? null : data["albumMetadataList"];
                        var albumPhotoCommentsMap = data["albumPhotoCommentsMap"] === "" ? null : data["albumPhotoCommentsMap"];
                        var currentUser = data["currentUser"] === "" ? null : data["currentUser"];

                        // console.log(albumData);
                        // console.log(albumMetadataList);
                        // console.log(albumPhotoCommentsMap);
                        // console.log(currentUser);
                        // console.log(albumMetadataList.length);

                        for (var index in albumMetadataList) {
                            var metadata = albumMetadataList[index];
                            var html = 
                                '<div class="photo-thumbnail-container photo-thumbnail">\n' +
                                '   <img src="'+metadata.thumbnailUrlSmall+'" class="photo-thumbnail-image" id="image'+metadata.id+'">\n';
                            if (metadata.type.includes("video")) {
                                html +=
                                '   <div class="thumbnail-tr" id="tntr'+metadata.id+'">\n' +
                                '       <span class="bi-camera-video-fill style="font-size: 1rem;color: lightcoral;"></span>\n' +
                                '   </div>\n';
                            }

                            if (currentUser.authority === "ROLE_ADMIN") {
                                html +=
                                '   <div class="thumbnail-tl" id="tntl'+metadata.id+'">\n' +
                                '       <a href="#" id="select'+metadata.id+'">\n' +
                                '           <span id="tlicon'+metadata.id+'" class="bi-circle" style="font-size: 1rem;color: lightgray;"></span>\n' +
                                '       </a>\n' +
                                '   </div>\n' +
                                '   <div class="thumbnail-bl" id="tnbl'+metadata.id+'">\n' +
                                '       <a href="#" data-toggle="modal" data-target="#propalbum'+metadata.id+'">\n' +
                                '           <span class="bi-pencil" style="font-size: 1rem;color: lightgray;"></span>\n' +
                                '       </a>\n' +
                                '   </div>\n';
                            }
                            html +=
                                '   <div class="thumbnail-br" id="tnbr'+metadata.id+'">\n' +
                                '       <a href="#" data-toggle="modal" data-target="#propalbumphotocomment'+metadata.id+'" style="text-decoration: none;color: darkorange">\n' +
                                '           '+albumPhotoCommentsMap[metadata.id].length+' <span id="bricon'+metadata.id+'" class="bi-chat-square-fill" style="font-size: 1rem;color: darkorange;"></span>\n' +
                                '       </a>\n' +
                                '   </div>\n' +
                                '   <div class="thumbnail-centered" id="tncentered'+metadata.id+'">\n';

                            if (metadata.type.includes("video")) {
                                html +=
                                '       <a href="'+metadata.videoUrl+'"\n' +
                                '           data-featherlight="iframe"\n' +
                                '           data-featherlight-iframe-style="display:block;border:none;height:85vh;wid85vw;"\n' +
                                '           data-featherlight-iframe-frameborder="0"\n' +
                                '           data-featherlight-iframe-allowfullscreen="true"\n' +
                                '           data-featherlight-after-open="featherlightAfterOpen(\''+metadata.placeName+'\',\''+metadata.year+'\',\''+metadata.month+'\',\''+metadata.day+'\',\''+metadata.fileName+'\')">\n' +
                                '           <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>\n' +
                                '       </a>\n';
                            } else {
                                html +=
                                '       <a href="'+metadata.thumbnailUrlOriginal+'" data-featherlight="image"\n' +
                                '           data-featherlight-after-open="featherlightAfterOpen(\''+metadata.placeName+'\',\''+metadata.year+'\',\''+metadata.month+'\',\''+metadata.day+'\',\''+metadata.fileName+'\')">\n' +
                                '           <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>\n' +
                                '       </a>\n';
                            }

                            html +=
                                '   </div>\n' +
                                '</div>\n' +
                                '<div id="albummodal'+metadata.id+'"></div>\n';

                            // Append HTML
                            $(html).insertBefore($(".appendAlbumPhotos").last())

                            // Call JS and modal
                            var htmlEncodedMetadata = encodeHtml(JSON.stringify(metadata));
                            var htmlEncodedAlbumData = encodeHtml(JSON.stringify(albumData));
                            var htmlEncodedCurrentUser = encodeHtml(JSON.stringify(currentUser));
                            var htmlEncodedalbumPhotoCommentsMap = encodeHtml(JSON.stringify(albumPhotoCommentsMap));

                            setPhotoOverlays(htmlEncodedMetadata, activePage);
                            renderAlbumModal(htmlEncodedAlbumData,htmlEncodedMetadata,htmlEncodedCurrentUser,htmlEncodedalbumPhotoCommentsMap);
                            activateAlbumListeners(htmlEncodedMetadata,htmlEncodedAlbumData);
                        }
                    }
                } else {
                    message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                    $("#msgTimeline").html(message);
                }
            }
        });
    }

    function activateAlbumListeners(rawMetadata,rawAlbumData) {
        var metadata = JSON.parse(decodeHtml(rawMetadata));
        var album = JSON.parse(decodeHtml(rawAlbumData));

        $('#removeFromAlbum'+metadata.id).change(function() {
            if (this.checked) {
                $('#setCoverAlbum'+metadata.id).prop("checked", false);
                $('#setCoverAlbum'+metadata.id).attr("disabled", true);
            } else {
                $('#setCoverAlbum'+metadata.id).removeAttr("disabled");
            }
        });

        $('#saveAlbum'+metadata.id).click(function (e) {
            e.preventDefault();
            let requestJson = {
                removeFromAlbum:$('#removeFromAlbum'+metadata.id).prop("checked"),
                setCoverAlbum:$('#setCoverAlbum'+metadata.id).prop("checked"),
                metadataId:metadata.id,
                albumId:album.id
            }

            const posting = $.post({
                url: "/album/update",
                data: JSON.stringify(requestJson),
                contentType: 'application/json; charset=utf-8'
            });

            posting.done(function (data) {
                if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                    if (data["status"] === "redirect") {
                        window.location.replace(data["msg"]);
                    } else {
                        let message = "Error";
                        if (data["status"] === "success") {
                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            window.top.location = window.top.location;
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                        }
                        $('#msg'+metadata.id).html(message);
                    }
                }
            });
            return false;
        });
    }

    function albumCommentsDeleteEditModalListener(commentId, metadata) {
        $("#deletecomment" + commentId).click(function (e) {
            e.preventDefault();

            let json = {commentId: commentId, metadataId: metadata.id}

            const posting = $.post({
                url: "/comment/albumphoto/delete/",
                data: JSON.stringify(json),
                contentType: 'application/json; charset=utf-8'
            });

            posting.done(function (data) {
                if (data.hasOwnProperty("status") && data.hasOwnProperty("msg") && data.hasOwnProperty("commentId")) {
                    let commentId = data["commentId"];
                    let message = "Error";
                    if (data["status"] === "success") {
                        message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                        // Delete comment
                        $("#comment" + commentId).remove();
                    } else {
                        message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                    }
                }
            });

            $("#currentCommentId" + metadata.id).val("");
        });

        $("#editcomment" + commentId).click(function (e) {
            e.preventDefault();

            if ($("#currentCommentId" + metadata.id).val() === "") {
                $("#currentCommentId" + metadata.id).val(commentId);

                $("#saveCommentMetadata" + metadata.id).hide();
                $("#dismissModalCommentMetadata" + metadata.id).hide();
                $("#updateCommentMetadata" + metadata.id).show();
                $("#cancelEditCommentMetadata" + metadata.id).show();

                $("#commentcontainer" + commentId).hide();
                $("#textareacontainer" + commentId).show();
                var commentText = $("#commentcontent" + commentId).text();
                $("#textareacontainer" + commentId).html('<textarea class="form-control" id="commenttext' + commentId + '" rows="2">' + commentText + '</textarea>');
            }
        });
    }

    function albumCommentsUpdateSaveModalListener(metadata, album, currentUser) {
        $("#updateCommentMetadata"+metadata.id).hide();
        $("#cancelEditCommentMetadata"+metadata.id).hide();

        $("#cancelEditCommentMetadata"+metadata.id).click(function (e) {
            e.preventDefault();

            var currentCommentId = $("#currentCommentId"+metadata.id).val()

            if (currentCommentId !== "") {
                $("#saveCommentMetadata"+metadata.id).show();
                $("#dismissModalCommentMetadata"+metadata.id).show();
                $("#updateCommentMetadata"+metadata.id).hide();
                $("#cancelEditCommentMetadata"+metadata.id).hide();

                $("#commentcontainer" + currentCommentId).show();
                $("#textareacontainer" + currentCommentId).html('');
                $("#textareacontainer" + currentCommentId).hide();

                $("#currentCommentId"+metadata.id).val("");
            }
        });

        $("#updateCommentMetadata"+metadata.id).click(function (e) {
            e.preventDefault();

            var currentCommentId = $("#currentCommentId"+metadata.id).val()

            if (currentCommentId !== "") {
                var updatedComment = $.trim($("#commenttext"+currentCommentId).val());

                if (updatedComment.length > 0) {
                    let json = {commentId: currentCommentId, comment: updatedComment}

                    const posting = $.post({
                        url: "/comment/update",
                        data: JSON.stringify(json),
                        contentType: 'application/json; charset=utf-8'
                    });

                    posting.done(function (data) {
                        if (data.hasOwnProperty("status") && data.hasOwnProperty("msg") && data.hasOwnProperty("commentId")) {
                            let commentId = data["commentId"];
                            let message = "Error";
                            if (data["status"] === "success") {
                                message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            } else {
                                message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                            }

                            // Update comment
                            $("#commentcontent"+commentId).text(updatedComment);

                            $("#saveCommentMetadata"+metadata.id).show();
                            $("#dismissModalCommentMetadata"+metadata.id).show();
                            $("#updateCommentMetadata"+metadata.id).hide();
                            $("#cancelEditCommentMetadata"+metadata.id).hide();

                            $("#commentcontainer" + commentId).show();
                            $("#textareacontainer" + commentId).html('');
                            $("#textareacontainer" + commentId).hide();
                            $("#commenttext"+commentId).val("");
                        }
                    });
                }

                $("#saveCommentMetadata"+metadata.id).show();
                $("#dismissModalCommentMetadata"+metadata.id).show();
                $("#updateCommentMetadata"+metadata.id).hide();
                $("#cancelEditCommentMetadata"+metadata.id).hide();

                $("#commentcontainer" + currentCommentId).show();
                $("#textareacontainer" + currentCommentId).html('');
                $("#textareacontainer" + currentCommentId).hide();

                $("#currentCommentId"+metadata.id).val("");
            }
        });

        $("#saveCommentMetadata"+metadata.id).click(function(e) {
            e.preventDefault();

            let comment = $.trim($("#commentText"+metadata.id).val());

            if (comment.length > 0) {
                let json = {metadataId: metadata.id, albumId: album.id, comment: comment};

                const posting = $.post({
                    url: "/comment/albumphoto/save/",
                    data: JSON.stringify(json),
                    contentType: 'application/json; charset=utf-8'
                });

                posting.done(function (data) {
                    if (data.hasOwnProperty("status") && data.hasOwnProperty("msg") && data.hasOwnProperty("commentId")) {
                        let commentId = data["commentId"];
                        let message = "Error";
                        if (data["status"] === "success") {
                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                        }

                        // Insert comment at top of list
                        var commentItem = '<li class="list-group-item list-group-item-secondary" id="comment'+commentId+'">\n' +
                            '<span id="commentcontainer'+commentId+'">\n<p id="commentcontent'+commentId+'">'+comment+'</p>\n' +
                            '<small>'+currentUser.username+'<span style="float: right"><a href="#" id="deletecomment'+commentId+'"><span class="bi-trash"></span></a>&nbsp;&nbsp;<a href="#" id="editcomment'+commentId+'"><span class="bi-pencil"></span></a></span></small></span>' +
                            '<span id="textareacontainer'+commentId+'"></span></li>';
                        $("#commentText"+metadata.id).val("")
                        $("#commentList"+metadata.id).prepend(commentItem);
                    }
                });
            }
        });
    }
</script>

</body>
</html>