<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="albumsjs(album,authority,baseUrl)">

<th:block th:if="${authority == 'ROLE_ADMIN'}">
    <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
        /*<![CDATA[*/
        $("#share[[${album.id}]]").on("click", async function (e) {
            e.preventDefault();

            /*<![CDATA[*/
            let albumId = /*[[${album.id}]]*/ 0;
            let baseUrl = /*[[${baseUrl}]]*/ '';
            /*]]>*/

            let http = new Http("sharealbums");
            let data = await http.ajax("get", "/api/v1/album/"+albumId+"/page/0");

            if (data != null && data.hasOwnProperty("status") && data.hasOwnProperty("msg") && data.hasOwnProperty("album")) {
                if (data["status"] === "success") {
                    let album = data["album"];

                    $("#albumName").text(album["name"]);
                    $("#albumCoverThumb").attr("src", album["coverUrl"]);
                    $("#fullShareLinkContainer").css("display", "none");
                    $("#fullShareLink").text("");
                    $("#shareLink").val("");
                    $("#shareUserList").text("");
                    let shareUrl = album["shareUrl"];

                    if (shareUrl !== null && "" !== shareUrl) {
                        const fullShareLink = baseUrl + "share/" + shareUrl + "/album/"+albumId;
                        $("#shareLink").val(shareUrl);
                        $("#fullShareLinkContainer").css("display", "block");
                        $("#fullShareLink").html("<a target='_blank' href='" + fullShareLink + "'>" + fullShareLink + "</a>");
                        $("#copyLink").attr("data-clipboard-text", fullShareLink);
                    }

                    let sharedAlbumsList = await http.ajax("get", "/api/v1/sharedalbums");

                    if (sharedAlbumsList != null && sharedAlbumsList["sharedAlbums"].length > 0) {
                        let html = "<strong>Share with other users</strong><br>";
                        sharedAlbumsList["sharedAlbums"].forEach(function(shareObj) {
                            if (albumId === shareObj.albumId) {
                                html += '<div class="col-auto form-check">';
                                let input = '<input type="checkbox" class="form-check-input" id="id-'+shareObj.userId+'-'+shareObj.albumId+'" name="userShare'+shareObj.albumId+'"';

                                if (1 === shareObj.isShared) {
                                    html += input + ' checked>';
                                } else {
                                    html += input + '>';
                                }

                                html += '<label class="form-check-label">'+shareObj.username+'</label></div>';
                            }
                        });

                        $("#shareUserList").html(html);
                    }

                    albumsModalListeners.setAlbumModalListeners(albumId, /*[[${baseUrl}]]*/ '');

                    $("#propsharealbums").modal('show');
                }
            }
        });

        $("#edit[[${album.id}]]").on("click", async function (e) {
            e.preventDefault();

            /*<![CDATA[*/
            let albumId = /*[[${album.id}]]*/ 0;
            /*]]>*/

            let http = new Http("sharealbums");
            let data = await http.ajax("get", "/api/v1/album/" + albumId + "/page/0");

            if (data != null && data.hasOwnProperty("status") && data.hasOwnProperty("msg") && data.hasOwnProperty("album")) {
                if (data["status"] === "success") {
                    let album = data["album"];

                    $("#albumNameEdit").text(album["name"]);
                    $("#albumEditName").val(album["name"]);
                    $("#albumCoverEditThumb").attr("src", album["coverUrl"]);

                    $("#propeditalbums").modal('show');

                    albumsModalListeners.setEditAlbumsListeners(albumId);
                }
            }


        });

        $("#trash[[${album.id}]]").on("click", async function (e) {
            e.preventDefault();

            /*<![CDATA[*/
            let albumId = /*[[${album.id}]]*/ 0;
            /*]]>*/

            let http = new Http("sharealbums");
            let data = await http.ajax("get", "/api/v1/album/"+albumId+"/page/0");

            if (data != null && data.hasOwnProperty("status") && data.hasOwnProperty("msg") && data.hasOwnProperty("album")) {
                if (data["status"] === "success") {
                    let album = data["album"];

                    $("#albumNameTrash").text(album["name"]);
                    $("#albumCoverTrashThumb").attr("src", album["coverUrl"]);

                    $("#proptrashalbums").modal('show');

                    albumsModalListeners.setDeleteAlbumsListeners(albumId);
                }
            }
        });
    </script>
</th:block>

<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $("#comment[[${album.id}]]").on("click", async function (e) {
        e.preventDefault();

        /*<![CDATA[*/
        let albumId = /*[[${album.id}]]*/ 0;
        let cspNonce = /*[[${cspNonce}]]*/ 0;
        /*]]>*/

        let http = new Http("albumcomments");
        let data = await http.ajax("get", "/api/v1/album/" + albumId + "/page/0");
        let currentUserId = $("#currentUserId").val();

        if (data != null && data.hasOwnProperty("status") && data.hasOwnProperty("msg") && data.hasOwnProperty("album")) {
            if (data["status"] === "success") {
                let album = data["album"];

                $("#albumNameComments").text(album["name"]);
                $("#albumCoverCommentThumb").attr("src", album["coverUrl"]);

                let albumCommentsList = await http.ajax("get", "/api/v1/albumcomments/"+albumId);

                if (albumCommentsList != null && albumCommentsList["albumCommentsList"].length > 0) {
                    let html = "";
                    albumCommentsList = albumCommentsList["albumCommentsList"];
                    albumCommentsList.forEach(function(comments) {
                        if (comments["albumId"] === albumId) {
                            html += '<li id="comment' + comments.commentId + '" class="list-group-item' + (comments.userId === currentUserId ? ' list-group-item-secondary' : '') + '">';
                            html += '<span id="commentcontainer' + comments.commentId + '">';
                            html += '<p id="commentcontent' + comments.commentId + '">' + comments.comment + '</p>';
                            html += '<small><strong>' + comments.username + '</strong> <span>on ' + comments.createdAt + '</span></small>';

                            if (parseInt(comments.userId, 10) === parseInt(currentUserId, 10)) {
                                html += '<small><span style="float: right">';
                                html += '<a href="#" id="deletecomment' + comments.commentId + '"><span class="bi-trash"></span></a>&nbsp;&nbsp';
                                html += '<a href="#" id="editcomment' + comments.commentId + '"><span class="bi-pencil"></span></a>';
                                html += '</span></small>';
                            }
                            html += '</span><span id="textareacontainer' + comments.commentId + '"></span>';
                            html += '</li>';
                        }
                        html += '<script type="text/javascript" nonce="'+cspNonce+'">albumsModalListeners.setEditCommentModalListeners('+comments.commentId+', '+albumId+');<\/script>';
                    });

                    $("#commentList").html(html);
                }

                $("#propcommentalbums").modal('show');

                albumsModalListeners.setCommentModalListeners(albumId, $("#currentUser").val());
            }
        }
    });

    $("#download[[${album.id}]]").on("click", function() {
        const albumId = "[[${album.id}]]";

        let downloadTimer;
        const tokenName = "ShashinAlbumName";
        const tokenSize = "ShashinAlbumSize";
        const configuredAttempts = 120;
        const downloadLocation = $("#download"+albumId).attr("href");
        const albumName = $("#albumName"+albumId).text();

        $("#albumsMessage").html("<span class='spinner-grow spinner-grow-sm'></span> <strong>Exporting album \""+albumName+"\". Downloading photos only.</strong>").animate({opacity: 100}, 0);
        setTimeout(function () { $("#download"+albumId).removeAttr("href") }, 0);

        Util.setCookie(tokenName, "", "/");
        Util.setCookie(tokenSize, "", "/");

        let attempts = configuredAttempts;

        downloadTimer = window.setInterval( function() {
            const tokenCookieValue = Util.getCookie(tokenName);
            const tokenCookieSize = Util.getCookie(tokenSize);

            if ((tokenCookieValue !== "" && tokenCookieSize !== "") || attempts === 0) {
                if (attempts === 0) {
                    $("#albumsMessage").html("&nbsp;").animate({opacity: 0}, 5000);
                } else {
                    $("#albumsMessage").html("<strong>File name</strong> " + tokenCookieValue + " <strong>File size</strong> " + Util.formatBytes(tokenCookieSize)).animate({opacity: 0}, 10000);
                    $("#download" + albumId).attr("href", downloadLocation);
                    Util.deleteCookie(tokenName, "/");
                    Util.deleteCookie(tokenSize, "/");
                    window.clearInterval(downloadTimer);
                }
            }

            attempts--;
        }, 1000);
    });
    /*]]>*/
</script>

</body>
</html>