<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="albumsjs(album)">
<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    const albumId = /*[[${album.id}]]*/ 0;
    /*]]>*/

    $("#share"+albumId).click(function(e) {
        e.preventDefault();

        $("#propalbums"+albumId).modal('show');
    });

    $("#trash"+albumId).click(function(e) {
        e.preventDefault();

        $("#proptrashalbums"+albumId).modal('show');
    });

    $("#comment"+albumId).click(function(e) {
        e.preventDefault();

        $("#propcommentalbums"+albumId).modal('show');
    });

</script>

</body>
</html>