<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="appjs()">
<script type="text/javascript">
    $.fn.hasScrollBar = function() {
        return this.get(0).scrollHeight > this.height();
    }

    function jumpToLightGalleryIndex(index) {
        var url = location.href;
        location.href = '#lightGalleryIndex'+index;
        history.replaceState(null,null,url);
    }

    function jumpToTimeline(e,anchor,mediaTypeFilter) {
        e.preventDefault();

        enableScrollSpy = false;

        // console.log("jumpToTimeline")
        // console.log(anchor)
        // console.log(mediaTypeFilter)
        renderThumbnails(anchor,mediaTypeFilter);

        const existCondition = setInterval(function () {
            if ($("#" + anchor).length > 0) {
                // console.log("Exists!");
                clearInterval(existCondition);
                const url = location.href;
                location.href = '#' + anchor;
                history.replaceState(null, null, url);
                enableScrollSpy = true;
            }
        }, 100);
    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    // Set the active nav
    function setScrollSpyActive(id) {
        // console.log(id);
        var navElem = $('a[href="#' + id + '"]');
        navElem.addClass('active').siblings().removeClass('active');
    }

    let enableScrollSpy = true;
    // let scrollDirection = "down";
    function renderThumbnails(id,mediaTypeFilter) {
        const numberOfSurroundingElements = 9

        // console.log("renderThumbnails id:"+id);
        // console.log("scrollDirection:"+scrollDirection);

        let offCanvasId = $("#offcanvas_"+id);

        const attachAboveArray = [];
        let tempOffCanvasIdAbove = offCanvasId;
        // if (scrollDirection === "up") {
            for (let i = 0; i <= numberOfSurroundingElements - 1; i++) {
                tempOffCanvasIdAbove = tempOffCanvasIdAbove.prev();
                if (typeof tempOffCanvasIdAbove.attr("id") !== 'undefined') {
                    const offcanvasIdParts = tempOffCanvasIdAbove.attr("id").split("_");
                    const offcanvasId = offcanvasIdParts[1];
                    attachAboveArray.unshift(offcanvasId);
                }
            }
        // }

        const attachBelowArray = [];
        let tempOffCanvasIdBelow = offCanvasId;
        for (let i = 0;i <= numberOfSurroundingElements-1;i++) {
            tempOffCanvasIdBelow = tempOffCanvasIdBelow.next();
            if (typeof tempOffCanvasIdBelow.attr("id") !== 'undefined') {
                const offcanvasIdParts = tempOffCanvasIdBelow.attr("id").split("_");
                const offcanvasId = offcanvasIdParts[1];
                attachBelowArray.push(offcanvasId);
            }
        }

        // console.log("attachAboveArray");
        // console.log(attachAboveArray);
        // console.log("attachBelowArray");
        // console.log(attachBelowArray);

        // Render top
        let action = "new";
        let attachPoint = id;
        for (let index in attachAboveArray) {
            const currentId = attachAboveArray[index];
            // console.log("attempting to attaching id above:" + currentId);
            if ($("#" + currentId).length === 0) {
                if (action === "new") {
                    attachPoint = null;
                }
                // console.log("attaching above attachPoint:" + attachPoint);
                // console.log("actionAbove:" + action)
                updateTimeline(currentId, mediaTypeFilter, action, attachPoint);
                attachAssociatedMetadata(currentId, mediaTypeFilter);
                action = "below";
            }
            attachPoint = currentId;
        }

        // Render bottom
        action = "below"
        // attachPoint = id;
        for (let index in attachBelowArray) {
            const currentId = attachBelowArray[index];
            // console.log("attempting to attaching id below:" + currentId);
            if ($("#"+currentId).length === 0) {
                // console.log("attaching below attachPoint:" + attachPoint);
                // console.log("actionBelow:"+action)
                updateTimeline(currentId, mediaTypeFilter, action, attachPoint);
                attachAssociatedMetadata(currentId, mediaTypeFilter);
            }
            attachPoint = currentId;
        }

        // Render mid
        action = "new";
        if (attachAboveArray.length > 0) {
            attachPoint = attachAboveArray[attachAboveArray.length-1];
            action = "below";
        } else if (attachBelowArray.length > 0) {
            attachPoint = attachBelowArray[0];
            action = "above";
        }
        // console.log("attempting to attaching id mid:"+id)
        if ($("#"+id).length === 0) {
            // console.log("attaching mid attachPoint:"+attachPoint)
            // console.log("attaching mid action:"+action)
            updateTimeline(id, mediaTypeFilter, action, attachPoint);
            attachAssociatedMetadata(id, mediaTypeFilter);
        }

        // Remove elements that are not visible
        $('section').each(function(index, element) {
            if ($.inArray(element.id, attachAboveArray) === -1 && $.inArray(element.id, attachBelowArray) === -1 && element.id !== id) {
                // console.log(element.id + " removed");
                $("#br"+element.id).remove();
                $("#row"+element.id).remove();
                $("#amp_"+element.id).remove();
                $("#tail_"+element.id).remove();
                $("#"+element.id).remove();
            }
        });

        // console.log("==============================================");

    }

    function renderThumbnailsInViewport(elements,mediaTypeFilter) {
        // If no scrollspy elements found, find current thumbnail container
        // and closest previous scrollspy element
        if (elements.length === 0) {
            const thumbnailsInViewport = $(".photo-thumbnail-container").withinviewport();
            elements = $(thumbnailsInViewport.parent().prevAll(".scrollspy")[0])
        }

        elements.each(function(index) {
            let id = $(this).attr("id");
            if (id.indexOf("tail_") >= 0) {
                const idSplit = id.split("_");
                id = idSplit[1];
            } else if (index === 0 || index === 1) {
                renderThumbnails(id,mediaTypeFilter);
                document.getElementById("offcanvas_"+id).scrollIntoView({
                    behavior: 'smooth'
                });
                setScrollSpyActive(id);
            }
        });
    }

    // Hook up data to edit albums, favorites and people labels
    var mediaContentList = [];
    function attachAssociatedMetadata(date,mediaTypeFilter) {
        $.ajax({
            type: 'get',
            url: "/timeline/mediatype/"+mediaTypeFilter+"/date/"+date,
            contentType: 'application/json; charset=utf-8',
            async:false
        }).then(function(data) {
            if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                if (data["status"] === "success") {
                    if (data.hasOwnProperty("metadataList") &&
                        data.hasOwnProperty("favorites") &&
                        data.hasOwnProperty("albumList") &&
                        data.hasOwnProperty("recognitionLabels") &&
                        data.hasOwnProperty("labelPhotoMap")
                    ) {
                        var metadataList = data["metadataList"] === "" ? null : data["metadataList"];
                        var favoritesMap = data["favorites"] === "" ? null : data["favorites"];
                        var recognitionLabels = data["recognitionLabels"] === "" ? null : data["recognitionLabels"];
                        var labelPhotoMap = data["labelPhotoMap"] === "" ? null : data["labelPhotoMap"];

                        if (metadataList.length > 0) {

                            for (var index in metadataList) {
                                var metadata = metadataList[index];

                                var dateReformatted = "";
                                if (metadata.year !== null && metadata.month !== null && metadata.day !== null) {
                                    var dateFormat = metadata.month+"-"+metadata.day+"-"+metadata.year;
                                    var dateObj = new Date(dateFormat);
                                    dateReformatted = dateObj.format("ddd, mmm dd, yyyy");
                                }

                                // console.log(metadata);
                                var favoriteIcon = favoritesMap.hasOwnProperty(metadata.id) && favoritesMap[metadata.id]["favorite"] === true ? 'bi-suit-heart-fill' : 'bi-suit-heart';
                                var favoriteCount = favoritesMap.hasOwnProperty(metadata.id) && favoritesMap[metadata.id]["count"] > 0 ? favoritesMap[metadata.id]["count"] : 0;
                                $("#tnbr"+metadata.id).addClass("thumbnail-br");
                                var html = '<a href="#" id="favorite'+metadata.id+'" class="text-decoration-none">\n' +
                                    '       <span style="background-color:lightcyan;padding:0 5px 0 5px;border-radius: 5px;">\n' +
                                    '           <span id="briconcount'+metadata.id+'"></span> <span id="bricon'+metadata.id+'" style="font-size: 1rem;color: red;"></span>\n' +
                                    '       </span>\n' +
                                    '   </a>';
                                $("#tnbr"+metadata.id).append(html);

                                $("#bricon"+metadata.id).addClass(favoriteIcon);
                                $("#briconcount"+metadata.id).text(favoriteCount);

                                $("#image"+metadata.id).attr("src",metadata.thumbnailUrlSmall);

                                $("#tnbl"+metadata.id).addClass("thumbnail-bl");
                                $("#tncentered"+metadata.id).addClass("thumbnail-centered");
                                const galleryIndex = $("#tncentered"+metadata.id).attr("data-galleryindex");

                                var mediaContent = {}
                                mediaContent.subHtml = (metadata.placeName !== null ? '<a href="/map?lat=' + metadata.lat + '&lng=' + metadata.lng + '" target="_blank">' + metadata.placeName + '</a><br>' : '<br>') + metadata.title + (metadata.year === null || metadata.month === null || metadata.day === null ? '' : ' taken on ' + dateReformatted);
                                if (metadata.type.indexOf("video") >= 0) {
                                    mediaContent.video = '{"source": [{"src":"' + metadata.videoUrl + '", "type":"video/mp4"}], "attributes": {"preload": false, "controls": true}}';
                                    html = '<a class="mediaLink" id="mediaLink' + metadata.id + '" ' +
                                        'itemref="' + galleryIndex + '" ' +
                                        'data-video=\''+mediaContent.video+'\' ' +
                                        'data-sub-html='+encodeHtml(mediaContent.subHtml)+'>' +
                                        '</a>';

                                } else {
                                    mediaContent.src = metadata.thumbnailUrlOriginal;
                                    html = '<a class="mediaLink" id="mediaLink'+metadata.id+'" ' +
                                        'itemref="'+galleryIndex+'" ' +
                                        'data-src="'+metadata.thumbnailUrlOriginal+'" ' +
                                        'href="'+metadata.thumbnailUrlOriginal+'" ' +
                                        'data-sub-html='+encodeHtml(mediaContent.subHtml)+'>' +
                                        '</a>';
                                }
                                $("#tncentered"+metadata.id).append(html);

                                mediaContentList[galleryIndex] = mediaContent;

                                if (typeof lg !== "undefined" && mediaContentList.length > 0) {
                                    lg.refresh(mediaContentList);
                                }
                                $("#mediaLink"+metadata.id).click(function(e) {
                                    openGallery(e,galleryIndex);
                                });

                                var editIcon = (metadata.lat === null || metadata.lng === null) ? "bi-pencil-square" : "bi-pencil";
                                html = '<a href="#" id="timelineModalEdit'+metadata.id+'" data-bs-target="#propTimelinModal"><span class="'+editIcon+'" style="font-size: 1rem;color: lightgray;"></span></a>';
                                $("#tnbl"+metadata.id).append(html);

                                $("#timelineModalEdit"+metadata.id).attr("tag",JSON.stringify(metadata));

                                $("#timelineModalEdit"+metadata.id).click(function(e) {
                                    e.preventDefault();

                                    var metadataObj = JSON.parse($(this).attr("tag"));
                                    openTimelineModal(metadataObj,recognitionLabels,labelPhotoMap[metadataObj.id]);
                                });

                                html = '<a href="#" id="select' + metadata.id + '"><span id="tlicon' + metadata.id + '" class="bi-circle" style="font-size: 1rem;color: lightgray;"></span></a>';
                                $("#tntl"+metadata.id).addClass("thumbnail-tl");
                                $("#tntl"+metadata.id).append(html);

                                if (metadata.type.indexOf("video") >= 0) {
                                    html = '<span class="bi-camera-video-fill" style="font-size: 1rem;color: red;background-color:lightcyan;padding:0 5px 0 5px;border-radius: 5px;"></span>';
                                    $("#tntr"+metadata.id).addClass("thumbnail-tr");
                                    $("#tntr"+metadata.id).append(html);
                                }

                                var htmlEncodedMetadata = encodeHtml(JSON.stringify(metadata));
                                setPhotoOverlays(htmlEncodedMetadata, "timeline")
                                activateMetadataListeners(htmlEncodedMetadata);

                                $("#timelineModalEdit"+metadata.id).attr("tag",JSON.stringify(metadata));

                                $("#mediaLink"+metadata.id).append('<span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>');
                            }
                        }
                    }
                }
            }
        });
    }

    function insertAt(array, index, ...elementsArray) {
        array.splice(index, 0, ...elements);
    }

    // Detect scrolling to bottom of page
    function atEndOfPage(element) {
        // console.log(window.innerHeight + element.scrollTop);
        // console.log(element.scrollHeight);
        //var c = [document.scrollingElement.scrollHeight, document.body.scrollHeight, document.body.offsetHeight].sort(function(a,b){return b-a}) // select longest candidate for scrollable length
        //return ((window.innerHeight + window.scrollY)+100  >= c[0]) // compare with scroll position + some give (*1.5)
        return ((window.innerHeight + element.scrollTop)  >= element.scrollHeight) // compare with scroll position + some give (*1.5)
    }

    function makeShareLinkId(minLength, maxLength) {
        var length = Math.floor(
            Math.random() * (Math.ceil(maxLength) - Math.floor(minLength) + 1) + minLength
        );
        var result           = '';
        var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() *
                charactersLength));
        }
        return result;
    }

    function fallbackCopyTextToClipboard(text) {
        var msg = "";
        var textArea = document.createElement("textarea");
        textArea.value = text;

        // Avoid scrolling to bottom
        textArea.style.top = "0";
        textArea.style.left = "0";
        textArea.style.position = "fixed";

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            msg = "<div class=\"alert alert-warning\" role=\"alert\">Could not copy text</div>";
            if (successful === true) {
                msg = "<div class=\"alert alert-success\" role=\"alert\">Link copied to clipboard!</div>";
            }
        } catch (err) {
            msg = "<div class=\"alert alert-warning\" role=\"alert\">Could not copy text</div>";
        }

        document.body.removeChild(textArea);

        return msg;
    }

    function copyTextToClipboard(text,albumId) {
        if (!navigator.clipboard) {
            $("#msg"+albumId).html(fallbackCopyTextToClipboard(text));
        } else {
            navigator.clipboard.writeText(text).then(function () {
                $("#msg" + albumId).html("<div class=\"alert alert-success\" role=\"alert\">Link copied to clipboard!</div>");
            }, function (err) {
                $("#msg" + albumId).html("<div class=\"alert alert-warning\" role=\"alert\">Could not copy text</div>");
            });
        }
    }

    function updateShareLink(baseUrl,albumId,action) {
        $("#generateLink"+albumId).prop('disabled', true);
        $("#msg"+albumId).html("");
        var relativeShareLink = "";
        if (action === "generate") {
            relativeShareLink = makeShareLinkId(8, 11);
            $("#shareLink"+albumId).val(relativeShareLink);
        }
        if ($("#shareLink"+albumId).val() !== "") {
            $("#copyLink"+albumId).prop('disabled', false);
        } else {
            $("#copyLink"+albumId).prop('disabled', true);
        }

        let json = {albumId: albumId,relativeShareUrl: relativeShareLink}
        const posting = $.post({
            url: "/album/"+albumId+"/save/sharelink",
            data: JSON.stringify(json),
            contentType: 'application/json; charset=utf-8'
        });

        posting.done(function (data) {
            if (data.hasOwnProperty("status") && data.hasOwnProperty("msg") && data.hasOwnProperty("relativeShareUrl")) {
                let message = "Generated link not saved";
                let relativeShareUrlData = data["relativeShareUrl"] === null ? "" : data["relativeShareUrl"];
                $("#shareLink"+albumId).val(relativeShareUrlData);
                $("#fullShareLinkContainer"+albumId).css("display","none");
                $("#fullShareLink"+albumId).text("");
                if (relativeShareUrlData !== "") {
                    $("#fullShareLinkContainer"+albumId).css("display","block");
                    $("#fullShareLink"+albumId).html("<a target='_blank' href='"+baseUrl+"share/"+relativeShareUrlData+"/album/"+albumId+"'>"+baseUrl+"share/"+relativeShareUrlData+"/album/"+albumId+"</a>");
                }
                if (data["status"] === "success" && $("#shareLink"+albumId).val() === relativeShareUrlData) {
                    message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                } else {
                    message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                }
                $("#generateLink"+albumId).prop('disabled', false);
                $("#msg"+albumId).html(message);
            } else {
                $("#generateLink"+albumId).prop('disabled', false);
                $("#msg"+albumId).html("<div class=\"alert alert-danger\" role=\"alert\">Generated link not saved</div>");
            }
        });
    }

    $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    function getLightGalleryConfigs() {
        return {
            plugins: [lgZoom, lgVideo, lgRelativeCaption, lgFullscreen],
            counter: false,
            fullScreen: true,
            download: true,
            preload: false,
            speed:0,
            licenseKey: "A8E2CC75-7F9D45CA-9CE65C4E-FFF50CE3"
        }
    }

    function getMapSource(source) {
        const validSources = ["osm","bingmaps","maptiler","mapbox"];

        var mapSource = new ol.source.OSM();

        if (validSources.includes(source)) {
            switch(source) {
                case "osm":
                    mapSource = new ol.source.OSM();
                    break
                case "bingmaps":
                    mapSource = new ol.source.BingMaps({
                        key: 'AgLAysLWWJdjeVeOTVUYlNfUddxeF6QFeXCciHblaYSG7xYx3OUuAnpX98MNQUFR', // Dev/Test
                        imagerySet: 'RoadOnDemand', // 'Aerial', 'RoadOnDemand', 'AerialWithLabels', etc.
                        // use maxZoom 19 to see stretched tiles instead of the Bing Maps
                        // "no photos at this zoom level" tiles
                        maxZoom: 19
                    });
                    break
                case "maptiler":
                    mapSource =  new ol.source.XYZ({
                        url: 'https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=YlQvLcNKq0a4aFDX2z3O',
                        maxZoom: 19
                    });
                    break;
                case "mapbox":
                    mapSource = new ol.source.XYZ({
                        url: 'https://{a-c}.tiles.mapbox.com/v4/mapbox.mapbox-streets-v6/{z}/{x}/{y}.vector.pbf?access_token=pk.eyJ1IjoibWljaGFlbHR5YWdpIiwiYSI6ImNrdGszZXNrdTFocTcyd29sMG1hYXprdmsifQ.RVimlhqPIKKTYmaGyr-ThQ'
                    });
                    break;
                default:
                    mapSource = new ol.source.OSM();
            }
        }

        return mapSource
    }

    function getDateString(year,month,day) {
        if (year !== null && year !== "" &&
            month !== null && month !== "" &&
            day !== null && day !== ""
        ) {
            let date = new Date(month+"/"+day+"/"+year);
            let shortMonth = getShortMonths(date.getMonth());
            let adjustedDay = ('0' + date.getDate()).slice(-2);
            let dayOfWeek = getShortDay(date.getDay());
            return dayOfWeek + ", " + shortMonth + " " + adjustedDay + ", " + year;
        }
        return "";
    }

    function getShortDay(index) {
        var days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
        return days[index];
    }
    function getShortMonths(index) {
        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        return months[index];
    }

    function isNumeric(str) {
        if (typeof str != "string") return false // we only process strings!
        return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
            !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
    }

    function validateMetadataInputs(day, month, year, time, offset, latlng, msgId) {
        if (offset === null ) {
            offset = "";
        }
        var dayValidate = "([1-9]|[12]\d|3[01])";
        var monthValidate = "^(0?[1-9]|1[012])$";
        var timeValidate = "^(\\d{2}:\\d{2}:\\d{2})$";
        var offsetValidate = "^([+-±](?:2[0-3]|[01][0-9]):[0-5][0-9])$";

        var msg = "";
        if (day !== "" && !day.match(dayValidate)) {
            msg = "Enter Valid Day";
        }

        if (month !== "" && !month.match(monthValidate)) {
            msg = "Enter Valid Month";
        }

        if (year !== "" && !(+year >= 1888 && +year <= new Date().getFullYear())) {
            msg = "Enter Valid Year";
        }

        if (time !== "" && !time.match(timeValidate)) {
            msg = "Enter Valid Time";
        }

        if (offset !== "" && !offset.match(offsetValidate)) {
            msg = "Enter Valid Offset";
        }

        if (latlng !== "") {
            latlng = $.trim(latlng);
            var latlngArr = latlng.split(",");

            if (latlngArr.length !== 2 || latlng.split(".").length !== 3 || !isNumeric(latlngArr[0]) || !isNumeric(latlngArr[1])) {
                msg = "Enter Valid Latitude/Longitude";
            }
        }

        if (msg !== "") {
            $("#"+msgId).html('<div class="alert alert-danger" role="alert">'+msg+'</div>');
            return false;
        } else {
            return true;
        }

    }

    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

    function encodeHtml(str) {
        return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
    }

    function setPhotoOverlays(rawMetadata, view) {
        var metadata = JSON.parse(decodeHtml(rawMetadata));

        $("#select" + metadata.id).click(function (e) {
            e.preventDefault();

            if ($("#tlicon" + metadata.id).attr("class") === "bi-circle") {
                $("#tlicon" + metadata.id).addClass('bi-circle-fill').removeClass('bi-circle');
                $("#image" + metadata.id).css("opacity", 0.3);
                $("#tncentered" + metadata.id).css("display", "none");
                $("#tnbr" + metadata.id).css("display", "none");
                $("#tnbl" + metadata.id).css("display", "none");
            } else {
                $(this).css("display", "block");
                $("#tlicon" + metadata.id).addClass('bi-circle').removeClass('bi-circle-fill');
                $("#image" + metadata.id).css("opacity", 1.0);
                $("#tncentered" + metadata.id).css("display", "block");
                $("#tnbr" + metadata.id).css("display", "block");
                $("#tnbl" + metadata.id).css("display", "block");
            }

            if ($('.bi-circle-fill')[0] || $(this).attr("class") === "bi-circle-fill") {
                $("#appSearch").css("display", "none");
                if (view === "album" || view === "favorites" || view === "trash") {
                    $("#albumAppTools").css("display", "block");
                } else if (view === "timeline") {
                    $("#timelineAppTools").css("display", "block");
                } else if (view === "matches" || view === "person") {
                    $("#matchesAppTools").css("display", "block");
                }

                // Hide all center and bottom left icons
                $('.thumbnail-br').hide();
                $('.thumbnail-bl').hide();
                $('.thumbnail-tr').hide();
                $('.thumbnail-centered').hide();
            } else {
                //$('.thumbnail-br').show();
                $("#appSearch").css("display", "block");
                $("#timelineAppTools").css("display", "none");
                $("#albumAppTools").css("display", "none");
                $("#matchesAppTools").css("display", "none");
            }

            $("#timelineNumberSelected").text($('.bi-circle-fill').length+" Selected");
            $("#matchesNumberSelected").text($('.bi-circle-fill').length+" Selected");
            $("#favoritesNumberSelected").text($('.bi-circle-fill').length+" Selected");
            $("#trashNumberSelected").text($('.bi-circle-fill').length+" Selected");
            $("#albumNumberSelected").text($('.bi-circle-fill').length+" Selected");
        });

        $("#image" + metadata.id).click(function (e) {
            e.preventDefault();

            // Fill top left icon when clicking anywhere on thumbnail
            if ($('.bi-circle-fill')[0]) {
                if ($("#tlicon" + metadata.id).attr("class") === "bi-circle-fill") {
                    $("#tlicon" + metadata.id).addClass('bi-circle').removeClass('bi-circle-fill');
                } else {
                    $("#tlicon" + metadata.id).addClass('bi-circle-fill').removeClass('bi-circle');
                }
            }

            if ($('.bi-circle-fill')[0] || $(this).attr("class") === "bi-circle-fill") {
                $("#appSearch").css("display", "none");
                if (view === "album" || view === "favorites" || view === "trash") {
                    $("#albumAppTools").css("display", "block");
                } else if (view === "timeline") {
                    $("#timelineAppTools").css("display", "block");
                } else if (view === "matches" || view === "person") {
                    $("#matchesAppTools").css("display", "block");
                }

                // Hide all center and bottom left icons
                $('.thumbnail-br').hide();
                $('.thumbnail-bl').hide();
                $('.thumbnail-tr').hide();
                $('.thumbnail-centered').hide();
            } else {
                $("#appSearch").css("display", "block");
                //$('.thumbnail-br').show();
                $("#timelineAppTools").css("display", "none");
                $("#albumAppTools").css("display", "none");
                $("#matchesAppTools").css("display", "none");
            }

            $("#timelineNumberSelected").text($('.bi-circle-fill').length+" Selected");
            $("#matchesNumberSelected").text($('.bi-circle-fill').length+" Selected");
            $("#favoritesNumberSelected").text($('.bi-circle-fill').length+" Selected");
            $("#trashNumberSelected").text($('.bi-circle-fill').length+" Selected");
            $("#albumNumberSelected").text($('.bi-circle-fill').length+" Selected");
        });

        $("#image" + metadata.id).hover(function () {
            $(this).css("opacity", 0.3);
            $(this).siblings().css("display", "block");
            if ($("#tlicon" + metadata.id).attr("class") === "bi-circle-fill") {
                $("#tncentered" + metadata.id).css("display", "none");
                $("#tnbl" + metadata.id).css("display", "none");
                $("#tnbr" + metadata.id).css("display", "none");
                $("#tntr" + metadata.id).css("display", "none");
            }
            if ($('.bi-circle-fill')[0] || $(this).attr("class") === "bi-circle-fill") {
                $('.thumbnail-bl').hide();
                $('.thumbnail-centered').hide();
                $('.thumbnail-tr').hide();
                $('.thumbnail-br').hide();
            }
        }, function () {
            if ($("#tlicon" + metadata.id).attr("class") !== "bi-circle-fill") {
                $(this).css("opacity", 1.0);
                $(this).siblings(".thumbnail-tl").css("display", "none");
                $(this).siblings(".thumbnail-bl").css("display", "none");
                $(this).siblings(".thumbnail-centered").css("display", "none");
                $(this).siblings(".thumbnail-tr").css("display", "none");
                $(this).siblings(".thumbnail-br").css("display", "none");
            } else {
                if ($('.bi-circle-fill')[0] || $(this).attr("class") === "bi-circle-fill") {
                    $('.thumbnail-bl').hide();
                    $('.thumbnail-centered').hide();
                    $('.thumbnail-tr').hide();
                    $('.thumbnail-br').hide();
                }
                $("#tncentered" + metadata.id).css("display", "none");
                $("#tnbl" + metadata.id).css("display", "none");
                $("#tntr" + metadata.id).css("display", "none");
                $("#tnbr" + metadata.id).css("display", "none");
            }
        });

        $("#tncentered" + metadata.id).hover(function () {
            $('#currentlat').val(metadata.lat === null ? "" : metadata.lat);
            $('#currentlng').val(metadata.lng === null ? "" : metadata.lng);
            $('#currentyear').val(metadata.year === null ? "" : metadata.year);
            $('#currentmonth').val(metadata.month === null ? "" : metadata.month);
            $('#currentday').val(metadata.day === null ? "" : metadata.day);
            $('#currentfilename').val(metadata.fileName === null ? "" : metadata.fileName);

            $('.bi-play-circle').css("color", "midnightblue");
            $(this).css("display", "block");
            $(this).siblings(".thumbnail-tl").css("display", "block");
            $(this).siblings(".thumbnail-bl").css("display", "block");
            $(this).siblings(".thumbnail-br").css("display", "block");
            $(this).siblings(".thumbnail-tr").css("display", "block");
            $(this).siblings(".photo-thumbnail-image").css("opacity", 0.3);
            if ($('.bi-circle-fill')[0] || $(this).attr("class") === "bi-circle-fill") {
                $('.thumbnail-bl').hide();
                $('.thumbnail-centered').hide();
                $('.thumbnail-tr').hide();
                $('.thumbnail-br').hide();
            }
        }, function () {
            $('.bi-play-circle').css("color", "lightgray");
            $(this).css("display", "none");
            $(this).siblings(".thumbnail-tl").css("display", "none");
            $(this).siblings(".thumbnail-bl").css("display", "none");
            $(this).siblings(".thumbnail-br").css("display", "none");
            $(this).siblings(".thumbnail-tr").css("display", "none");
            $(this).siblings(".photo-thumbnail-image").css("opacity", 1.0);
        });

        $("#tntl" + metadata.id).hover(function () {
            if ($("#tlicon" + metadata.id).attr("class") !== "bi-circle-fill") {
                $(this).css("display", "block");
                $(this).siblings(".thumbnail-centered").css("display", "block");
                $(this).siblings(".thumbnail-tr").css("display", "block");
                $(this).siblings(".thumbnail-br").css("display", "block");
                $(this).siblings(".thumbnail-bl").css("display", "block");
                $(this).siblings(".photo-thumbnail-image").css("opacity", 0.3);
                if ($('.bi-circle-fill')[0] || $(this).attr("class") === "bi-circle-fill") {
                    $('.thumbnail-bl').hide();
                    $('.thumbnail-centered').hide();
                    $('.thumbnail-tr').hide();
                    $('.thumbnail-br').hide();
                }
            }
        }, function () {
            $(this).css("display", "none");
            $(this).siblings(".thumbnail-centered").css("display", "none");
            $(this).siblings(".thumbnail-tr").css("display", "none");
            $(this).siblings(".thumbnail-br").css("display", "none");
            $(this).siblings(".thumbnail-bl").css("display", "none");
            $(this).siblings(".photo-thumbnail-image").css("opacity", 1.0);
        });

        $("#tnbl" + metadata.id).hover(function () {
            $(this).css("display", "block");
            $(this).siblings(".thumbnail-tl").css("display", "block");
            $(this).siblings(".thumbnail-centered").css("display", "block");
            $(this).siblings(".thumbnail-tr").css("display", "block");
            $(this).siblings(".thumbnail-br").css("display", "block");
            $(this).siblings(".photo-thumbnail-image").css("opacity", 0.3);
            if ($('.bi-circle-fill')[0] || $(this).attr("class") === "bi-circle-fill") {
                $('.thumbnail-bl').hide();
                $('.thumbnail-centered').hide();
                $('.thumbnail-tr').hide();
                $('.thumbnail-br').hide();
            }
        }, function () {
            $(this).css("display", "none");
            $(this).siblings(".thumbnail-tl").css("display", "none");
            $(this).siblings(".thumbnail-centered").css("display", "none");
            $(this).siblings(".thumbnail-tr").css("display", "none");
            $(this).siblings(".thumbnail-br").css("display", "none");
            $(this).siblings(".photo-thumbnail-image").css("opacity", 1.0);
        });

        $("#tnbr" + metadata.id).hover(function () {
            $(this).css("display", "block");
            $(this).siblings(".thumbnail-tl").css("display", "block");
            $(this).siblings(".thumbnail-centered").css("display", "block");
            $(this).siblings(".thumbnail-tr").css("display", "block");
            $(this).siblings(".thumbnail-bl").css("display", "block");
            $(this).siblings(".photo-thumbnail-image").css("opacity", 0.3);
            if ($('.bi-circle-fill')[0] || $(this).attr("class") === "bi-circle-fill") {
                $('.thumbnail-bl').hide();
                $('.thumbnail-centered').hide();
                $('.thumbnail-tr').hide();
                $('.thumbnail-br').hide();
            }
        }, function () {
            $(this).css("display", "none");
            $(this).siblings(".thumbnail-tl").css("display", "none");
            $(this).siblings(".thumbnail-centered").css("display", "none");
            $(this).siblings(".thumbnail-tr").css("display", "none");
            $(this).siblings(".thumbnail-bl").css("display", "none");
            $(this).siblings(".photo-thumbnail-image").css("opacity", 1.0);
        });

        $("#tntr" + metadata.id).hover(function () {
            $(this).css("display", "block");
            $(this).siblings(".thumbnail-tl").css("display", "block");
            $(this).siblings(".thumbnail-centered").css("display", "block");
            $(this).siblings(".thumbnail-bl").css("display", "block");
            $(this).siblings(".thumbnail-br").css("display", "block");
            $(this).siblings(".photo-thumbnail-image").css("opacity", 0.3);
            if ($('.bi-circle-fill')[0] || $(this).attr("class") === "bi-circle-fill") {
                $('.thumbnail-bl').hide();
                $('.thumbnail-centered').hide();
                $('.thumbnail-tr').hide();
                $('.thumbnail-br').hide();
            }
        }, function () {
            $(this).css("display", "none");
            $(this).siblings(".thumbnail-tl").css("display", "none");
            $(this).siblings(".thumbnail-centered").css("display", "none");
            $(this).siblings(".thumbnail-bl").css("display", "none");
            $(this).siblings(".thumbnail-br").css("display", "none");
            $(this).siblings(".photo-thumbnail-image").css("opacity", 1.0);
        });
    }

    $("#appToolsBatchEdit").click(function(e) {
        e.preventDefault();

        let metadataIdList = [];
        let filenameList = "";
        $('.bi-circle-fill').each(function(i, obj) {
            var metadataId = obj.id.substring(6, obj.id.length);
            metadataIdList.push(metadataId);
            filenameList += $("#filename"+metadataId).val().trim()+", ";
        });
        filenameList = filenameList.replace(/,\s*$/, "");

        $("#batchMetadataIds").val(JSON.stringify(metadataIdList));
        $("#batchisobject")[0].checked = false;
        $("#batchhidden")[0].checked = false;
        if (filenameList !== "") {
            $("#editPhotosNamesModalLabel").text(filenameList);
        }
        $("#propBatchMetadata").modal('show');
    });

    $("#appToolsDeselectAll").click(function(e) {
        e.preventDefault();

        clearTimelineSelection();
    })

    $("#albumAppToolsDeselectAll").click(function(e) {
        e.preventDefault();

        clearTimelineSelection();
    })

    function clearTimelineSelection() {
        $(".thumbnail-centered").css("display", "none");
        $(".thumbnail-tr").css("display", "none");
        $(".thumbnail-br").css("display", "none");
        $(".thumbnail-bl").css("display", "none");
        $(".thumbnail-tl").css("display", "none");
        $(".photo-thumbnail-image").css("opacity", 1.0);
        $(".thumbnail-tl a span").addClass('bi-circle').removeClass('bi-circle-fill');

        $("#appSearch").css("display", "block");
        $("#timelineAppTools").css("display", "none");
        $("#albumAppTools").css("display", "none");
        $("#matchesAppTools").css("display", "none");
    }

    $("#appToolsAddAlbum").click(function(e) {
        e.preventDefault();

        let metadataIdList = [];
        $('.bi-circle-fill').each(function(i, obj) {
            metadataIdList.push(obj.id.substring(6, obj.id.length));
        });

        $("#albumMetadataIds").val(JSON.stringify(metadataIdList));
        $("#propAddAlbum").modal('show');
    });

    $("#albumAppToolsRemoveAlbum").click(function(e) {
        e.preventDefault();

        let metadataIdList = [];
        $('.bi-circle-fill').each(function(i, obj) {
            metadataIdList.push(obj.id.substring(6, obj.id.length));
        });

        let albumId = $('#albumId').text();
        if (metadataIdList.length > 0 && albumId.length > 0) {
            let json = {metadataIdList: metadataIdList, albumId: parseInt(albumId)}

            const posting = $.post({
                url: "/album/delete/batch",
                data: JSON.stringify(json),
                contentType: 'application/json; charset=utf-8'
            });

            posting.done(function (data) {
                if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                    if (data["status"] === "redirect") {
                        window.location.replace(data["msg"]);
                    } else {
                        let message = "Error";
                        if (data["status"] === "success") {
                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            window.top.location = window.top.location
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                        }
                        $("#albumMessage").html(message);
                    }
                }
            });
        }
    });

    $("#albumAppToolsRemoveFavorites").click(function(e) {
        e.preventDefault();

        let metadataIdList = [];
        $('.bi-circle-fill').each(function(i, obj) {
            metadataIdList.push(obj.id.substring(6, obj.id.length));
        });

        if (metadataIdList.length > 0) {
            let json = {metadataIdList: metadataIdList}

            const posting = $.post({
                url: "/favorites/delete",
                data: JSON.stringify(json),
                contentType: 'application/json; charset=utf-8'
            });

            posting.done(function (data) {
                if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                    let message = "Error";
                    if (data["status"] === "success") {
                        message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                        window.top.location = window.top.location
                    } else {
                        message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                    }
                    $("#favoritesMessage").html(message);
                }
            });
        }

        return false;
    });

    $("#albumAppToolsUntrash").click(function(e) {
        e.preventDefault();

        let metadataIdList = [];
        $('.bi-circle-fill').each(function(i, obj) {
            metadataIdList.push(obj.id.substring(6, obj.id.length));
        });

        if (metadataIdList.length > 0) {
            let json = {metadataIdList: metadataIdList}

            const posting = $.post({
                url: "/trash/unhide",
                data: JSON.stringify(json),
                contentType: 'application/json; charset=utf-8'
            });

            posting.done(function (data) {
                if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                    let message = "Error";
                    if (data["status"] === "success") {
                        message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                        window.top.location = window.top.location
                    } else {
                        message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                    }
                    $("#trashMessage").html(message);
                }
            });
        }

        return false;
    });

    function matchingListeners() {
        $("#matchToolsDeselectAll").click(function(e) {
            e.preventDefault();

            $(".thumbnail-centered").css("display", "none");
            $(".thumbnail-tr").css("display", "none");
            $(".thumbnail-br").css("display", "none");
            $(".thumbnail-bl").css("display", "none");
            $(".thumbnail-tl").css("display", "none");
            $(".photo-thumbnail-image").css("opacity", 1.0);
            $(".thumbnail-tl a span").addClass('bi-circle').removeClass('bi-circle-fill');

            $("#appSearch").css("display", "block");
            $("#timelineAppTools").css("display", "none");
            $("#albumAppTools").css("display", "none");
            $("#matchesAppTools").css("display", "none");
        })

        $("#matchesAppTools").css("display", "none");

        $("#matchToolsBatchEdit").click(function(e) {
            e.preventDefault();

            let metadataIdList = [];
            let filenameList = "";
            $('.bi-circle-fill').each(function(i, obj) {
                var metadataId = obj.id.substring(6, obj.id.length);
                metadataIdList.push(metadataId);
                filenameList += $("#filename"+metadataId).val().trim()+", ";
            });
            filenameList = filenameList.replace(/,\s*$/, "");

            $("#batchMetadataIds").val(JSON.stringify(metadataIdList));
            if (filenameList !== "") {
                $("#editPhotosNamesModalLabel").text(filenameList);
            }
            $("#propBatchMetadata").modal('show');
        });
    }

    function editLocation(...args) {
        var locationArgs = [].concat(...args);
        var metadataId = "";
        var lat = "";
        var lng = "";
        var modalLabel = "";

        if (arguments.length > 0) {
            metadataId = locationArgs[0];
            lat = locationArgs[1];
            lng = locationArgs[2];
            modalLabel = locationArgs[3];
        }
        if (modalLabel && modalLabel.length > 0) {
            $("#editPhotoLocationModalLabel").text("for "+modalLabel);
        }
        $("#mapMetadataId").val(metadataId);
        if (lat && lng) {
            $("#locationDataInput").val(lat+","+lng);
        }
        $("#propMetadataLocation").css('z-index', 9999);
        $("#propMetadataLocation").modal('show');
    }
</script>

</body>
</html>