<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="appjs()">
<script type="text/javascript">
    $.fn.hasScrollBar = function() {
        return this.get(0).scrollHeight > this.height();
    }

    $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    function getShortDay(index) {
        var days = ['Thu','Fri','Sat','Sun','Mon','Tue','Wed'];
        return days[index];
    }
    function getShortMonths(index) {
        var months = ['Dec','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov'];
        return months[index];
    }

    function isNumeric(str) {
        if (typeof str != "string") return false // we only process strings!
        return !isNaN(str) && // use type coercion to parse the _entirety_ of the string (`parseFloat` alone does not do this)...
            !isNaN(parseFloat(str)) // ...and ensure strings of whitespace fail
    }

    function validateMetadataInputs(day, month, year, latlng, msgId) {
        var dayValidate = "([1-9]|[12]\d|3[01])";
        var monthValidate = "^(0?[1-9]|1[012])$";

        var msg = "";
        if (day !== "" && !day.match(dayValidate)) {
            msg = "Enter Valid Day";
        }

        if (month !== "" && !month.match(monthValidate)) {
            msg = "Enter Valid Month";
        }

        if (year !== "" && !(+year >= 1888 && +year <= new Date().getFullYear())) {
            msg = "Enter Valid Year";
        }

        if (latlng !== "") {
            latlng = $.trim(latlng);
            var latlngArr = latlng.split(",");

            if (latlngArr.length !== 2 || latlng.split(".").length !== 3 || !isNumeric(latlngArr[0]) || !isNumeric(latlngArr[1])) {
                msg = "Enter Valid Latitude/Longitude";
            }
        }

        if (msg !== "") {
            $("#"+msgId).html('<div class="alert alert-danger" role="alert">'+msg+'</div>');
            return false;
        } else {
            return true;
        }

    }

    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

    function encodeHtml(str) {
        return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
    }

    // Detect scrolling to bottom of page
    function atEndOfPage() {
        var c = [document.scrollingElement.scrollHeight, document.body.scrollHeight, document.body.offsetHeight].sort(function(a,b){return b-a}) // select longest candidate for scrollable length
        return (window.innerHeight + window.scrollY + 2 >= c[0]) // compare with scroll position + some give
    }

    $("#appToolsBatchEdit").click(function(e) {
        e.preventDefault();

        let metadataIdList = [];
        let filenameList = "";
        $('.bi-circle-fill').each(function(i, obj) {
            var metadataId = obj.id.substring(6, obj.id.length);
            metadataIdList.push(metadataId);
            filenameList += $("#filename"+metadataId).val().trim()+", ";
        });
        filenameList = filenameList.replace(/,\s*$/, "");

        $("#batchMetadataIds").val(JSON.stringify(metadataIdList));
        if (filenameList !== "") {
            $("#editPhotosNamesModalLabel").text(filenameList);
        }
        $("#propBatchMetadata").modal('show');
    });

    $("#appToolsDeselectAll").click(function(e) {
        e.preventDefault();

        $(".thumbnail-centered").css("display", "none");
        $(".thumbnail-bl").css("display", "none");
        $(".thumbnail-tl").css("display", "none");
        $(".photo-thumbnail-image").css("opacity", 1.0);
        $(".thumbnail-tl a span").addClass('bi-circle').removeClass('bi-circle-fill');

        $("#appSearch").css("display", "block");
        $("#timelineAppTools").css("display", "none");
        $("#albumAppTools").css("display", "none");
    })

    $("#appToolsAddAlbum").click(function(e) {
        e.preventDefault();

        let metadataIdList = [];
        $('.bi-circle-fill').each(function(i, obj) {
            metadataIdList.push(obj.id.substring(6, obj.id.length));
        });

        $("#albumMetadataIds").val(JSON.stringify(metadataIdList));
        $("#propAddAlbum").modal('show');
    });

    $("#albumAppToolsRemoveAlbum").click(function(e) {
        e.preventDefault();

        let metadataIdList = [];
        $('.bi-circle-fill').each(function(i, obj) {
            metadataIdList.push(obj.id.substring(6, obj.id.length));
        });

        let albumId = $('#albumId').text();
        if (metadataIdList.length > 0 && albumId.length > 0) {
            let json = {metadataIdList: metadataIdList, albumId: parseInt(albumId)}

            const posting = $.post({
                url: "/album/delete/batch",
                data: JSON.stringify(json),
                contentType: 'application/json; charset=utf-8'
            });

            posting.done(function (data) {
                if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                    if (data["status"] === "redirect") {
                        window.location.replace(data["msg"]);
                    } else {
                        let message = "Error";
                        if (data["status"] === "success") {
                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            window.top.location = window.top.location
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                        }
                        $("#albumMessage").html(message);
                    }
                }
            });
        }
    });

    $("#albumAppToolsRemoveFavorites").click(function(e) {
        e.preventDefault();

        let metadataIdList = [];
        $('.bi-circle-fill').each(function(i, obj) {
            metadataIdList.push(obj.id.substring(6, obj.id.length));
        });

        if (metadataIdList.length > 0) {
            let json = {metadataIdList: metadataIdList}

            const posting = $.post({
                url: "/favorites/delete",
                data: JSON.stringify(json),
                contentType: 'application/json; charset=utf-8'
            });

            posting.done(function (data) {
                if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                    let message = "Error";
                    if (data["status"] === "success") {
                        message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                        window.top.location = window.top.location
                    } else {
                        message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                    }
                    $("#favoritesMessage").html(message);
                }
            });
        }

        return false;
    });
</script>

</body>
</html>