<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="articlessidebar(${activePage})">

<ul class="list-unstyled ps-0">
    <li class="mb-1">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/articles/tips" th:attr="class='rounded' + ${activePage=='articles/tips' ? 'link-dark rounded active' : ''}">Tips & Tricks</a></li>
            <th:block th:if="${userCount == 0 || authority == 'ROLE_SUPER'}">
            <li><a href="/articles/quickstart" th:attr="class='rounded' + ${activePage=='articles' or activePage=='articles/quickstart' ? 'link-dark rounded active' : ''}">Quick Start</a></li>
            </th:block>
            <th:block th:if="${authority == 'ROLE_SUPER' || authority == 'ROLE_ADMIN' || authority == 'ROLE_USER'}">
            <li><a href="/articles/endpoints" th:attr="class='rounded' + ${activePage=='articles/endpoints' ? 'link-dark rounded active' : ''}">API Endpoints</a></li>
            </th:block>
            <th:block th:if="${authority == 'ROLE_SUPER' || authority == 'ROLE_ADMIN'}">
            <li><a href="/articles/devnotes" th:attr="class='rounded' + ${activePage=='articles/devnotes' ? 'link-dark rounded active' : ''}">Dev Notes</a></li>
            </th:block>
        </ul>
    </li>

<!--    <li class="mb-1">-->
<!--        <button th:attr="class='btn btn-toggle align-items-center rounded' + ${activePage=='articles/timeline' or activePage=='articles/timeline/editing' ? ' active' : ' collapsed'}" data-bs-toggle="collapse" data-bs-target="#timeline-collapse" th:aria-expanded="${activePage=='articles/timeline' or activePage=='articles/timeline/editing' ? 'true' : 'false'}">-->
<!--            Timeline-->
<!--        </button>-->
<!--        <div th:attr="class='collapse' + ${activePage=='articles/timeline' or activePage=='articles/timeline/editing' ? ' show' : ''}" id="timeline-collapse">-->
<!--            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
<!--                <li><a href="/articles/timeline/editing" th:attr="class='link-dark rounded' + ${activePage=='articles/timeline/editing' ? ' active' : ''}">Editing</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </li>-->

<!--    <li class="mb-1">-->
<!--        <button th:attr="class='btn btn-toggle align-items-center rounded' + ${activePage=='articles/albums' or activePage=='articles/albums/editing' ? ' active' : ' collapsed'}" data-bs-toggle="collapse" data-bs-target="#albums-collapse" th:aria-expanded="${activePage=='articles/albums' or activePage=='articles/albums/editing' ? 'true' : 'false'}">-->
<!--            Albums-->
<!--        </button>-->
        <!--        <div th:attr="class='collapse' + ${activePage=='articles/albums' or activePage=='articles/albums/editing' ? ' show' : ''}" id="albums-collapse">-->
        <!--            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
        <!--                <li><a href="/articles/albums/editing" th:attr="class='link-dark rounded' + ${activePage=='articles/albums/editing' ? ' active' : ''}">Editing</a></li>-->
        <!--            </ul>-->
        <!--        </div>-->
<!--    </li>-->
</ul>

</body>
</html>