<!DOCTYPE html>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="bottomleftoverlay(metadata, targetPrefix, onclickIdPrefix, onclickFunctionCall, editClass)">

<div class="thumbnail-bl" th:id="${'tnbl'+metadata.id}">
    <th:block th:if="${onclickFunctionCall != null or targetPrefix != null}">
        <th:block th:if="${onclickFunctionCall != null}">
            <a href="#" th:id="${onclickIdPrefix+metadata.id}" th:class="${editClass}">
                <span class="bi-journal-album" style="font-size: 1rem;color: lightgray;" th:title="#{main.gallery.album.cover}"></span>
            </a>
            <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                /*<![CDATA[*/
                $(/*[[${'#'+onclickIdPrefix+metadata.id}]]*/ '').on("click", function (e) {
                    e.preventDefault();
                    const fnName = /*[[${onclickFunctionCall}]]*/ null;
                    if (fnName !== null) {
                        const id = /*[[${metadata.id}]]*/ 0;
                        const fn = Util.genericFunction(fnName);
                        if (typeof fn === "function" && id.length > 0) {
                            fn(e, id);
                        }
                    }
                });
                /*]]>*/
            </script>
        </th:block>
        <th:block th:if="${targetPrefix != null}">
            <a href="#" data-bs-toggle="modal" th:data-bs-target="${'#'+targetPrefix+metadata.id}">
                <span class="bi-pencil" style="font-size: 1rem;color: lightgray;"></span>
            </a>
        </th:block>
        <br>
    </th:block>
    <a href="#" th:id="${'infoModalEdit'+metadata.id}">
        <th:block th:if="${metadata.lat != null and metadata.lng != null}">
            <span class="bi-info-circle" style="font-size: 1rem;color: lightgray;"></span>
        </th:block>
        <th:block th:unless="${metadata.lat != null and metadata.lng != null}">
            <span class="bi-info-square" style="font-size: 1rem;color: lightgray;"></span>
        </th:block>
    </a>
</div>

</body>
</html>