<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<ul class="nav nav-pills nav-fill ps-3 pe-3 pt-3" id="browserGroup" th:fragment="browse(activePage)">
    <li class="nav-item">
        <a th:attr="class='nav-link' + ${activePage=='recent' ? ' active' : ''}" href="/recent">Recently Added</a>
    </li>
    <li class="nav-item">
        <a th:attr="class='nav-link' + ${activePage=='modified' ? ' active' : ''}" href="/modified">Recently Modified</a>
    </li>
    <li class="nav-item">
        <a th:attr="class='nav-link' + ${activePage=='taken' ? ' active' : ''}" href="/taken">Recently Taken</a>
    </li>
    <li class="nav-item">
        <a th:attr="class='nav-link' + ${activePage=='accessed' ? ' active' : ''}" href="/accessed">Recently Accessed</a>
    </li>
    <li class="nav-item">
        <a th:attr="class='nav-link' + ${activePage=='archived' ? ' active' : ''}" href="/archived">Recently Archived</a>
    </li>
    <li class="nav-item">
        <a th:attr="class='nav-link' + ${activePage=='folders' ? ' active' : ''}" href="/folders">Folders <span class="badge bg-secondary" th:text="${foldersCount}"></span></a>
    </li>
</ul>
</body>
</html>