<!DOCTYPE html>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="centeredoverlay(metadata,activePage,currentUser,onclickFunctionCall,index,isMobile,thumbnailType,thumbnailHeight)">

<!--<div class="thumbnail-centered" th:id="${'tncentered'+metadata.id}">-->
    <th:block th:unless="${metadata.type.contains('video')}">
        <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
            <a class="mediaLink" th:id="'mediaLink'+${metadata.id}"
                th:data-metadata-id="${metadata.id}"
                th:data-download-url="${'/api/v1/image/'+ metadata.id + '/download?v=' + randomString}"
                th:data-sub-html="${metadata.description}"
                th:data-src="'/api/v1/thumbnails/original/'+${metadata.id}" th:href="'/api/v1/image/'+${metadata.id}"
            >
                <img loading="lazy" draggable="false" th:data-smallthumb="'/api/v1/thumbnails/'+${thumbnailType}+'/'+${metadata.id}" th:src="'/api/v1/thumbnails/'+${thumbnailType}+'/'+${metadata.id}+'?v='+${randomString}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${isMobile ? thumbnailHeight : metadata.thumbnailSmallWidth}" th:height="${isMobile ? thumbnailHeight : metadata.thumbnailSmallHeight}" style="background-color:lightgray;">
            </a>
        </th:block>
        <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
            <a class="mediaLink" th:id="'mediaLink'+${metadata.id}"
                th:data-metadata-id="${metadata.id}"
                th:data-download-url="${'/api/v1/image/'+ metadata.id + '/download?v=' + randomString}"
                th:data-sub-html="${metadata.description}"
                th:data-src="'/api/v1/thumbnails/original/'+${metadata.id}" th:href="'/api/v1/image/'+${metadata.id}"
            >
                <img loading="lazy" draggable="false" th:data-smallthumb="'/api/v1/thumbnails/'+${thumbnailType}+'/'+${metadata.id}" th:src="'/api/v1/thumbnails/'+${thumbnailType}+'/'+${metadata.id}+'?v='+${randomString}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${isMobile ? thumbnailHeight : metadata.thumbnailSmallWidth}" th:height="${isMobile ? thumbnailHeight : metadata.thumbnailSmallHeight}" style="background-color:lightgray;">
            </a>
        </th:block>
    </th:block>

    <th:block th:if="${metadata.type.contains('video')}">
        <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
            <a class="mediaLink" th:id="'mediaLink'+${metadata.id}"
                th:data-metadata-id="${metadata.id}"
                th:data-download-url="${metadata.videoUrl + '/download?v=' + randomString}"
                th:data-sub-html="${metadata.description}"
                th:data-lg-size="${(metadata.originalImageWidth == null || metadata.originalImageWidth == '') ? (metadata.thumbnailSmallWidth + '-' + metadata.thumbnailSmallHeight) : (metadata.originalImageWidth + '-' + metadata.originalImageHeight)}"
                th:data-poster="${(metadata.thumbnailUrlOriginal == null || metadata.thumbnailUrlOriginal == '') ? '/api/v1/thumbnails/225/' + metadata.id : '/api/v1/thumbnails/original/' + metadata.id}"
                th:data-video="${'{&quot;source&quot;: [{&quot;src&quot;:&quot;'+metadata.videoUrl+'&quot;, &quot;type&quot;:&quot;video/mp4&quot;}], &quot;attributes&quot;: {&quot;preload&quot;: &quot;auto&quot;, &quot;controls&quot;: true, &quot;autoplay&quot;: '+currentUser.autoplayVideo+'}}'}"
            >
                <img loading="lazy" draggable="false" th:data-smallthumb="'/api/v1/thumbnails/'+${thumbnailType}+'/'+${metadata.id}" th:src="'/api/v1/thumbnails/'+${thumbnailType}+'/'+${metadata.id}+'?v='+${randomString}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${isMobile ? thumbnailHeight : metadata.thumbnailSmallWidth}" th:height="${isMobile ? thumbnailHeight : metadata.thumbnailSmallHeight}" style="background-color:lightgray;">
            </a>
        </th:block>
        <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
            <a class="mediaLink" th:id="'mediaLink'+${metadata.id}"
                th:data-metadata-id="${metadata.id}"
                th:data-download-url="${metadata.videoUrl + '/download?v=' + randomString}"
                th:data-sub-html="${metadata.description}"
                th:data-lg-size="${(metadata.originalImageWidth == null || metadata.originalImageWidth == '') ? (metadata.thumbnailSmallWidth+'-'+metadata.thumbnailSmallHeight) : (metadata.originalImageWidth+'-'+metadata.originalImageHeight)}"
                th:data-poster="${(metadata.thumbnailUrlOriginal == null || metadata.thumbnailUrlOriginal == '') ? '/api/v1/thumbnails/225/'+metadata.id : '/api/v1/thumbnails/original/' + metadata.id}"
                th:data-video="${'{&quot;source&quot;: [{&quot;src&quot;:&quot;'+metadata.videoUrl+'&quot;, &quot;type&quot;:&quot;video/mp4&quot;}], &quot;attributes&quot;: {&quot;preload&quot;: &quot;auto&quot;, &quot;controls&quot;: true, &quot;autoplay&quot;: '+currentUser.autoplayVideo+'}}'}"
            >
                <img loading="lazy" draggable="false" th:data-smallthumb="'/api/v1/thumbnails/'+${thumbnailType}+'/'+${metadata.id}" th:src="'/api/v1/thumbnails/'+${thumbnailType}+'/'+${metadata.id}+'?v='+${randomString}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${isMobile ? thumbnailHeight : metadata.thumbnailSmallWidth}" th:height="${isMobile ? thumbnailHeight : metadata.thumbnailSmallHeight}" style="background-color:lightgray;">
            </a>
        </th:block>
    </th:block>

    <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
        /*<![CDATA[*/
        $(/*[[${'#mediaLink'+metadata.id}]]*/ '').on("click", function (e) {
            e.preventDefault();
            const fnName = /*[[${onclickFunctionCall}]]*/ null;
            if (fnName !== null) {
                const index = /*[[${index}]]*/ -1;
                const fn = Util.genericFunction(fnName);
                if (typeof fn === "function" && index > -1) {
                    fn(e, index);
                }
            }
        });
        /*]]>*/
    </script>
<!--</div>-->

</body>
</html>