<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content(message,activePage,authority,parameter,counts,faceRecogServicesAvailable)">
<th:block th:if="${activePage == 'settings' or activePage == 'scan' or activePage == 'users' or (faceRecogServicesAvailable and activePage == 'match') or activePage == 'snapshot' or activePage == 'logs'}">
    <div th:replace="fragments/settingsgroup :: settings(${activePage},${faceRecogServicesAvailable})"></div>
</th:block>
<th:block th:if="${activePage == 'recent' or activePage == 'folders' or activePage == 'modified'}">
    <div th:replace="fragments/browsegroup :: browse(${activePage})"></div>
</th:block>
<th:block th:if="${authority == 'ROLE_ADMIN' && (activePage == 'person' or activePage == 'matches' or (faceRecogServicesAvailable and activePage == 'compreface'))}">
    <div th:replace="fragments/persongroup :: person(${activePage},${parameter},${counts},${faceRecogServicesAvailable})"></div>
</th:block>
<th:block th:if="${message != ''}">
    <br><p id="msg" th:text="${message == 'No message available' ? 'Oops! Something went wrong.' : message}"></p>
</th:block>
</body>
</html>