<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content(message,activePage,authority,parameter,counts,faceRecogServicesAvailable,objectRecogEnabled)">

<input type="hidden" id="multiSelectMetadataIds" name="multiSelectMetadataIds" value="[]">
<input type="hidden" id="multiSelectFilenames" name="multiSelectFilenames" value="[]">
<input type="hidden" id="multiSelectThumbnails" name="multiSelectThumbnails" value="[]">
<input type="hidden" id="currentlat" name="currentlat">
<input type="hidden" id="currentlng" name="currentlng">
<input type="hidden" id="currentyear" name="currentyear">
<input type="hidden" id="currentmonth" name="currentmonth">
<input type="hidden" id="currentday" name="currentday">
<input type="hidden" id="currentfilename" name="currentfilename">
<input type="hidden" id="currentPage" name="currentPage" value="0">
</body>
</html>