<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="detailsinfo(${currentUser})">

<br>

<th:block th:if="${activePage != 'trash'}">
    <div class="row"><span class="shareUrlDetails"></span></div>
</th:block>

<th:block th:if="${currentUser.authority == 'ROLE_ADMIN' and activePage != 'timeline'}">
    <div class="row"><span class="timelineLink"></span></div>
</th:block>

<br>

<div class="row"><strong class="descriptionLabel">Description:&nbsp;</strong><span class="descriptionDetails"></span></div>
<div class="row"><strong class="pathLabel">File name:&nbsp;</strong><span class="pathDetails"></span></div>
<div class="row"><strong class="keywordsLabel">Keywords:&nbsp;</strong><span class="keywordsDetails"></span></div>
<div class="row"><strong class="coordinatesLabel">Coordinates:&nbsp;</strong><span class="coordinatesDetails"></span></div>
<div class="row"><strong class="locationLabel">Location:&nbsp;</strong><span class="locationDetails"></span></div>
<div class="row"><strong class="typeLabel">File type:&nbsp;</strong><span class="typeDetails"></span></div>
<div class="row"><strong class="compressionLabel">Compression:&nbsp;</strong><span class="compressionDetails"></span></div>
<div class="row"><strong class="resolutionLabel">Resolution:&nbsp;</strong><span class="resolutionDetails"></span></div>
<div class="row"><strong class="isoLabel">ISO:&nbsp;</strong><span class="isoDetails"></span></div>
<div class="row"><strong class="exposureLabel">Exposure:&nbsp;</strong><span class="exposureDetails"></span></div>
<div class="row"><strong class="fNumberLabel">F-stop:&nbsp;</strong><span class="fNumberDetails"></span></div>
<div class="row"><strong class="focalLengthLabel">Focal length:&nbsp;</strong><span class="focalLengthDetails"></span></div>
<div class="row"><strong class="cameraLabel">Camera:&nbsp;</strong><span class="cameraDetails"></span></div>
<div class="row"><strong class="lensLabel">Lens:&nbsp;</strong><span class="lensDetails"></span></div>
<div class="row"><strong class="qualityLabel">Quality:&nbsp;</strong><span class="qualityDetails"></span></div>
<div class="row"><strong class="addedAtLabel">Added:&nbsp;</strong><span class="addedAtDetails"></span></div>
<div class="row"><strong class="createdAtLabel">Created:&nbsp;</strong><span class="createdAtDetails"></span></div>
<div class="row"><strong class="modifiedAtLabel">Modified:&nbsp;</strong><span class="modifiedAtDetails"></span></div>
<div class="row"><strong class="takenAtLabel">Taken:&nbsp;</strong><span class="takenAtDetails"></span></div>
<div class="row"><strong class="manualTakenAtLabel">Modified Taken:&nbsp;</strong><span class="manualTakenAtDetails"></span></div>
<div class="row"><strong class="timeZoneLabel">GMT Offset:&nbsp;</strong><span class="timeZoneDetails"></span></div>

</body>
</html>