<!DOCTYPE html>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="detailsinfo(${currentUser})">

<div class="row">
    <th:block th:if="${(currentUser.authority == 'ROLE_ADMIN' || currentUser.authority == 'ROLE_SUPER') and activePage != 'timeline'}">
        <span class="shareUrlDetailsA"></span>
    </th:block>
    <th:block th:unless="${(currentUser.authority == 'ROLE_ADMIN' || currentUser.authority == 'ROLE_SUPER') and activePage != 'timeline'}">
        <span class="shareUrlDetails"></span>
    </th:block>
</div>

<br>

<div class="row"><strong class="editedLabel"><th:block th:text="#{main.pages.lg.plugins.editor.edited}"></th:block></strong></div>
<div class="row"><strong class="metadataIdLabel"><th:block th:text="#{main.details.metadataid}"></th:block>:&nbsp;</strong><span class="metadataIdDetails"></span></div>
<div class="row"><strong class="descriptionLabel"><th:block th:text="#{main.modal.description}"></th:block>:&nbsp;</strong><span class="descriptionDetails"></span></div>
<div class="row"><strong class="pathLabel"><th:block th:text="#{main.details.filename}"></th:block>:&nbsp;</strong><span class="pathDetails"></span></div>
<div class="row"><strong class="keywordsLabel"><th:block th:text="#{main.details.keywords}"></th:block>:&nbsp;</strong><span class="keywordsDetails"></span></div>
<div class="row"><strong class="albumsLabel"><th:block th:text="#{main.sidebar.albums}"></th:block>:&nbsp;</strong><span class="albumsDetails"></span></div>
<div class="row"><strong class="coordinatesLabel"><th:block th:text="#{main.details.coordinates}"></th:block>:&nbsp;</strong><span class="coordinatesDetails"></span></div>
<div class="row"><strong class="locationLabel"><th:block th:text="#{main.details.location}"></th:block>:&nbsp;</strong><span class="locationDetails"></span></div>
<div class="row"><strong class="locationTypeLabel"><th:block th:text="#{main.details.locationtype}"></th:block>:&nbsp;</strong><span class="locationTypeDetails"></span></div>
<div class="row"><strong class="cameraLabel"><th:block th:text="#{main.modal.camera}"></th:block>:&nbsp;</strong><span class="cameraDetails"></span></div>
<div class="row"><strong class="lensLabel"><th:block th:text="#{main.modal.lens}"></th:block>:&nbsp;</strong><span class="lensDetails"></span></div>
<div class="row"><strong class="typeLabel"><th:block th:text="#{main.details.filetype}"></th:block>:&nbsp;</strong><span class="typeDetails"></span></div>
<div class="row"><strong class="compressionLabel"><th:block th:text="#{main.details.compression}"></th:block>:&nbsp;</strong><span class="compressionDetails"></span></div>
<div class="row"><strong class="resolutionLabel"><th:block th:text="#{main.details.resolution}"></th:block>:&nbsp;</strong><span class="resolutionDetails"></span></div>
<div class="row"><strong class="isoLabel"><th:block th:text="#{main.details.iso}"></th:block>:&nbsp;</strong><span class="isoDetails"></span></div>
<div class="row"><strong class="exposureLabel"><th:block th:text="#{main.details.exposure}"></th:block>:&nbsp;</strong><span class="exposureDetails"></span></div>
<div class="row"><strong class="fNumberLabel"><th:block th:text="#{main.details.fstop}"></th:block>:&nbsp;</strong><span class="fNumberDetails"></span></div>
<div class="row"><strong class="focalLengthLabel"><th:block th:text="#{main.details.focal}"></th:block>:&nbsp;</strong><span class="focalLengthDetails"></span></div>
<div class="row"><strong class="qualityLabel"><th:block th:text="#{main.details.quality}"></th:block>:&nbsp;</strong><span class="qualityDetails"></span></div>
<div class="row"><strong class="manualTakenAtLabel"><th:block th:text="#{main.details.taken}"></th:block>:&nbsp;</strong><span class="manualTakenAtDetails"></span></div>
<div class="row"><strong class="timeZoneLabel"><th:block th:text="#{main.modal.taken.gmt}"></th:block>:&nbsp;</strong><span class="timeZoneDetails"></span></div>
<div class="row"><strong class="createdAtLabel"><th:block th:text="#{main.details.created}"></th:block>:&nbsp;</strong><span class="createdAtDetails"></span></div>
<div class="row"><strong class="addedAtLabel"><th:block th:text="#{main.details.added}"></th:block>:&nbsp;</strong><span class="addedAtDetails"></span></div>
<div class="row"><strong class="modifiedAtLabel"><th:block th:text="#{main.details.modified}"></th:block>:&nbsp;</strong><span class="modifiedAtDetails"></span></div>
<div class="row"><strong class="accessedAtLabel"><th:block th:text="#{main.details.accessed}"></th:block>:&nbsp;</strong><span class="accessedAtDetails"></span></div>
<div class="row"><strong class="lastViewedByLabel"><th:block th:text="#{main.details.accessedby}"></th:block>:&nbsp;</strong><span class="lastViewedByDetails"></span></div>
<div class="row"><strong class="uploadedByLabel"><th:block th:text="#{main.details.uploadedby}"></th:block>:&nbsp;</strong><span class="uploadedByDetails"></span></div>

</body>
</html>