<!DOCTYPE html>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="docssidebar(${activePage})">

<ul class="list-unstyled ps-0">
    <li class="mb-1">
        <button th:attr="class='btn btn-toggle align-items-center rounded' + ${activePage=='docs/about' or activePage=='docs/technologies' ? ' active' : ' collapsed'}" data-bs-toggle="collapse" data-bs-target="#about-collapse" th:aria-expanded="${activePage=='docs/about' or activePage=='docs/technologies' ? 'true' : 'false'}">
            About
        </button>
        <div th:attr="class='collapse' + ${activePage=='docs/about' or activePage=='docs/technologies' ? ' show' : ''}" id="about-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/docs/about" th:attr="class='link-dark rounded' + ${activePage=='docs/about' ? ' active' : ''}">Overview</a></li>
                <li><a href="/docs/technologies" th:attr="class='link-dark rounded' + ${activePage=='docs/technologies' ? ' active' : ''}">Technologies</a></li>
            </ul>
        </div>
    </li>

    <li class="border-top my-3"></li>

    <li class="mb-1">
        <button th:attr="class='btn btn-toggle align-items-center rounded' + ${activePage=='docs/api' or activePage=='docs/timeline' or activePage=='docs/metadata' or activePage=='docs/browse' or activePage=='docs/album' or activePage=='docs/user' or activePage=='docs/favorites' ? ' active' : ' collapsed'}" data-bs-toggle="collapse" data-bs-target="#api-collapse" th:aria-expanded="${activePage=='docs/api' or activePage=='docs/timeline' or activePage=='docs/metadata' or activePage=='docs/timeline' or activePage=='docs/album' or activePage=='docs/user' or activePage=='docs/favorites' ? 'true' : 'false'}">
            API
        </button>
        <div th:attr="class='collapse' + ${activePage=='docs/api' or activePage=='docs/timeline' or activePage=='docs/metadata' or activePage=='docs/browse' or activePage=='docs/album' or activePage=='docs/user' or activePage=='docs/favorites' ? ' show' : ''}" id="api-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="/docs/api/v1" th:attr="class='link-dark rounded' + ${activePage=='docs/api' ? ' active' : ''}">Overview</a></li>
                <li><a href="/docs/api/v1/user" th:attr="class='link-dark rounded' + ${activePage=='docs/user' ? ' active' : ''}">User</a></li>
                <li><a href="/docs/api/v1/metadata" th:attr="class='link-dark rounded' + ${activePage=='docs/metadata' ? ' active' : ''}">Metadata</a></li>
                <li><a href="/docs/api/v1/timeline" th:attr="class='link-dark rounded' + ${activePage=='docs/timeline' ? ' active' : ''}">Timeline</a></li>
                <li><a href="/docs/api/v1/album" th:attr="class='link-dark rounded' + ${activePage=='docs/album' ? ' active' : ''}">Album</a></li>
                <li><a href="/docs/api/v1/favorites" th:attr="class='link-dark rounded' + ${activePage=='docs/favorites' ? ' active' : ''}">Favorites</a></li>
                <li><a href="/docs/api/v1/browse" th:attr="class='link-dark rounded' + ${activePage=='docs/browse' ? ' active' : ''}">Browse</a></li>
            </ul>
        </div>
    </li>
</ul>

</body>
</html>