<!DOCTYPE html>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="docstopnav(loggedIn)">

<header class="mb-2">
    <div>
        <h3 class="text-center float-md-start mb-0"><a class="link-unstyled" href="/">Shashin</a></h3>
        <nav class="nav justify-content-center float-md-end">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/features">Features</a>
            <a class="nav-link" href="/users/login"><th:block th:if="${loggedIn == true}">Go To Shashin</th:block><th:block th:if="${loggedIn == false}">Login</th:block></a>
            <th:block th:if="${loggedIn == true}"><a class="nav-link" href="/users/logout">Logout</a></th:block>
        </nav>
    </div>
</header>

<br><hr>

</body>
</html>