<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="favoritesjs()">
<script type="text/javascript">
    function updateFavorites(nextPage, activePage) {
        // Get paged results
        const posting = $.get({
            url: "/favorites/"+nextPage,
            contentType: 'application/json; charset=utf-8'
        });

        posting.done(function (data) {
            if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                let message = "Error";
                if (data["status"] === "success") {
                    if (data.hasOwnProperty("metadataList")) {
                        var metadataList = data["metadataList"] === "" ? null : data["metadataList"];

                        var html = "";

                        for (var index in metadataList) {
                            var metadata = metadataList[index];

                            html += '<div class="photo-thumbnail-container photo-thumbnail">\n' +
                                '   <img src="'+metadata.thumbnailUrlSmall+'" class="photo-thumbnail-image" id="image'+metadata.id+'">\n';

                            if (metadata.type.includes("video")) {
                                html +=
                                    '   <div class="thumbnail-tr" id="tntr'+metadata.id+'">\n' +
                                    '       <span class="bi-camera-video-fill" style="font-size: 1rem;color: lightcoral;"></span>\n' +
                                    '   </div>\n';
                            }

                            html += '<div class="thumbnail-tl" id="tntl'+metadata.id+'">\n' +
                                    '   <a href="#" id="select'+metadata.id+'">\n' +
                                    '       <span id="tlicon'+metadata.id+'" class="bi-circle" style="font-size: 1rem;color: lightgray;"></span>\n' +
                                    '   </a>\n' +
                                    '</div>';

                            html += '<div class="thumbnail-centered" id="tncentered'+metadata.id+'">\n';
                            if (metadata.type.includes("video")) {
                                html +=
                                    '   <a class="gallery" href="'+metadata.videoUrl+'"\n' +
                                    '       data-featherlight="iframe"\n' +
                                    '       data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;"\n' +
                                    '       data-featherlight-iframe-frameborder="0"\n' +
                                    '       data-featherlight-iframe-allowfullscreen="true"\n' +
                                    '       data-featherlight-after-open="featherlightAfterOpen(\''+metadata.id+'\',\''+metadata.placeName+'\',\''+metadata.year+'\',\''+metadata.month+'\',\''+metadata.day+'\',\''+metadata.fileName+'\')">\n' +
                                    '       <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>\n' +
                                    '   </a>\n';
                            } else {
                                html +=
                                    '   <a class="gallery" href="'+metadata.thumbnailUrlOriginal+'" data-featherlight="image"\n' +
                                    '       data-featherlight-after-open="featherlightAfterOpen(\''+metadata.id+'\',\''+metadata.placeName+'\',\''+metadata.year+'\',\''+metadata.month+'\',\''+metadata.day+'\',\''+metadata.fileName+'\')">\n' +
                                    '       <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>\n' +
                                    '   </a>\n';
                            }
                            html += '</div></div>\n';

                            $(html).insertBefore($(".appendMetadataPhotos").last())

                            var htmlEncodedMetadata = encodeHtml(JSON.stringify(metadata));
                            $('a.gallery').featherlightGallery({
                                previousIcon: '«',
                                nextIcon: '»'
                            });
                            setPhotoOverlays(htmlEncodedMetadata, activePage);

                            html = "";
                        }
                    }
                } else {
                    message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                    $("#msgTimeline").html(message);
                }
            }
        });
    }
</script>

</body>
</html>