<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(titleDescriptor)">
    <th:block th:with="titleDescriptorLower = ${#strings.toLowerCase(titleDescriptor)}">
        <meta charset="UTF-8">
        <title th:text="${@environment.getProperty('app.build.properties.name')} + (${#strings.isEmpty(titleDescriptor)} ? ': Home' : ': ' + ${titleDescriptor})"></title>
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/images/site.webmanifest">
        <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script src="/js/jquery-3.5.1.min.js" th:nonce="${cspNonce}"></script>
        <script src="/js/jquery-ui.min.js" th:nonce="${cspNonce}"></script>
        <script src="/js/popper.min.js" th:nonce="${cspNonce}"></script>
        <script src="/js/clipboard.min.js" th:nonce="${cspNonce}"></script>
        <script src="/js/bootstrap.min.js" th:nonce="${cspNonce}"></script>
        <script src="/js/date.format.js" th:nonce="${cspNonce}"></script>
        <script src="/js/uuid4.min.js" th:nonce="${cspNonce}"></script>
        <script src="/js/jquery.fileDownload.js" th:nonce="${cspNonce}"></script>
        <th:block th:if="${currentUser.darkMode or {#request.getParameter('m') != null and #request.getParameter('m') == 'dark'}}">
            <meta name="color-scheme" content="dark">
            <link rel="stylesheet" href="/css/bootstrap-night.min.css">
        </th:block>
        <th:block th:if="${!currentUser.darkMode and {#request.getParameter('m') == null or #request.getParameter('m') != 'dark'}}">
            <meta name="color-scheme" content="light">
            <link rel="stylesheet" href="/css/bootstrap.min.css">
        </th:block>
        <link rel="stylesheet" href="/css/bootstrap-icons.css">
        <th:block th:if="${titleDescriptorLower == 'timeline'}">
            <link rel="stylesheet" href="/css/jquery-ui.css">
        </th:block>
        <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
            <link rel="stylesheet" href="/css/site/style.min.css">
        </th:block>
        <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
            <link rel="stylesheet" href="/css/site/style.css">
        </th:block>
        <th:block th:if="${titleDescriptorLower == 'person' or
        titleDescriptorLower == 'matches' or
        titleDescriptorLower == 'timeline' or
        titleDescriptorLower == 'album' or
        titleDescriptorLower == 'favorites' or
        titleDescriptorLower == 'map' or
        titleDescriptorLower == 'search' or
        titleDescriptorLower == 'share' or
        titleDescriptorLower == 'trash' or
        titleDescriptorLower == 'recent' or
        titleDescriptorLower == 'modified' or
        titleDescriptorLower == 'folder'}">
            <script src="/js/lightgallery.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/lg-video.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/lg-zoom.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/lg-relative-caption.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/lg-rotate.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/lg-fullscreen.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/ol.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/lg-editlocation.js" th:nonce="${cspNonce}"></script>
            <script src="/js/lg-metadata-detail.js" th:nonce="${cspNonce}"></script>
<!--            <script src="/js/cast.min.js"></script>-->
<!--            <script src="/js/lg-cast-media.js"></script>-->
            <link rel="stylesheet" href="/css/lightgallery.min.css">
            <link rel="stylesheet" href="/css/lg-video.min.css">
            <link rel="stylesheet" href="/css/lg-zoom.min.css">
            <link rel="stylesheet" href="/css/lg-relative-caption.min.css">
            <link rel="stylesheet" href="/css/lg-rotate.min.css">
            <link rel="stylesheet" href="/css/lg-fullscreen.min.css">
            <link rel="stylesheet" href="/css/ol.min.css">
            <link rel="stylesheet" href="/css/lg-editlocation.css">
            <link rel="stylesheet" href="/css/lg-metadata-detail.css">
<!--            <link rel="stylesheet" href="/css/lg-cast-media.css">-->
        </th:block>
        <th:block th:if="${titleDescriptorLower == 'timeline'}">
            <style>
                #container {
                    -ms-overflow-style: none;  /* Internet Explorer 10+ */
                    scrollbar-width: none;  /* Firefox */
                }
                #container::-webkit-scrollbar {
                    display: none;  /* Safari and Chrome */
                }
            </style>
        </th:block>
        <th:block th:if="${titleDescriptorLower == 'scan' or titleDescriptorLower == 'match' or titleDescriptorLower == 'dashboard'}">
            <script src="/js/stomp.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/sockjs.min.js" th:nonce="${cspNonce}"></script>
        </th:block>
        <th:block th:if="${titleDescriptorLower == 'dashboard'}">
            <script src="/js/chart.min.js" th:nonce="${cspNonce}"></script>
        </th:block>
        <th:block th:if="${titleDescriptorLower == 'changelog'}">
            <script src="/js/showdown.min.js" th:nonce="${cspNonce}"></script>
        </th:block>

        <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
            <script src="/js/site/util.js" th:nonce="${cspNonce}"></script>
            <script src="/js/site/app.js" th:nonce="${cspNonce}"></script>
            <script src="/js/site/services/http.js" th:nonce="${cspNonce}"></script>
            <script src="/js/site/templates/gallery.js" th:nonce="${cspNonce}"></script>
            <script src="/js/site/templates/modal.js" th:nonce="${cspNonce}"></script>
            <script src="/js/site/templates/timeline.js" th:nonce="${cspNonce}"></script>
            <th:block th:if="${titleDescriptorLower == 'album'}">
                <script src="/js/site/album.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'timeline'}">
                <script src="/js/site/timeline.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'recent'}">
                <script src="/js/site/recent.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'modified'}">
                <script src="/js/site/modified.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'folder'}">
                <script src="/js/site/folder.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'favorites'}">
                <script src="/js/site/favorites.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'search'}">
                <script src="/js/site/search.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'trash'}">
                <script src="/js/site/trash.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'share'}">
                <script src="/js/site/share.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'person'}">
                <script src="/js/site/person.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'albums'}">
                <script src="/js/site/albumsmodallisteners.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'snapshot'}">
                <script src="/js/site/snapshot.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'settings'}">
                <script src="/js/site/settings.js" th:nonce="${cspNonce}"></script>
            </th:block>
        </th:block>

        <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
            <script src="/js/site/min/util.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/site/min/app.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/site/min/services/http.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/site/min/templates/gallery.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/site/min/templates/modal.min.js" th:nonce="${cspNonce}"></script>
            <script src="/js/site/min/templates/timeline.min.js" th:nonce="${cspNonce}"></script>
            <th:block th:if="${titleDescriptorLower == 'album'}">
                <script src="/js/site/min/album.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'timeline'}">
                <script src="/js/site/min/timeline.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'recent'}">
                <script src="/js/site/min/recent.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'modified'}">
                <script src="/js/site/min/modified.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'folder'}">
                <script src="/js/site/min/folder.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'favorites'}">
                <script src="/js/site/min/favorites.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'search'}">
                <script src="/js/site/min/search.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'trash'}">
                <script src="/js/site/min/trash.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'share'}">
                <script src="/js/site/min/share.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'person'}">
                <script src="/js/site/min/person.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'albums'}">
                <script src="/js/site/min/albumsmodallisteners.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'snapshot'}">
                <script src="/js/site/min/snapshot.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
            <th:block th:if="${titleDescriptorLower == 'settings'}">
                <script src="/js/site/min/settings.min.js" th:nonce="${cspNonce}"></script>
            </th:block>
        </th:block>
    </th:block>
</head>

<body></body>
</html>