<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="infomodal()">

<!--Modal for each photo-->
<div class="modal fade" id="propInfoModal" tabindex="-1" role="dialog" aria-labelledby="labelInfoModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit <span id="infoModalTitle"></span><div id="propInfoModalThumbnail"></div></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="metadataId" id="metadataId" value="">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" id="detailsTabLink" href="#detailsTab">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="mapTabLink" href="#mapTab">Map</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane container show active" id="detailsTab">
                        <div class="row"><strong>File name:&nbsp;</strong><span id="pathDetails"></span></div>
                        <div class="row"><strong>Keywords:&nbsp;</strong><span id="keywordsDetails"></span></div>
                        <div class="row"><strong>File type:&nbsp;</strong><span id="typeDetails"></span></div>
                        <div class="row"><strong>ISO:&nbsp;</strong><span id="isoDetails"></span></div>
                        <div class="row"><strong>Exposure:&nbsp;</strong><span id="exposureDetails"></span></div>
                        <div class="row"><strong>F-stop:&nbsp;</strong><span id="fNumberDetails"></span></div>
                        <div class="row"><strong>Focal length:&nbsp;</strong><span id="focalLengthDetails"></span></div>
                        <div class="row"><strong>Camera:&nbsp;</strong><span id="cameraDetails"></span></div>
                        <div class="row"><strong>Lens:&nbsp;</strong><span id="lensDetails"></span></div>
                        <div class="row"><strong>Quality:&nbsp;</strong><span id="qualityDetails"></span></div>
                        <div class="row"><strong>Created:&nbsp;</strong><span id="createdAtDetails"></span></div>
                        <div class="row"><strong>Modified:&nbsp;</strong><span id="modifiedAtDetails"></span></div>
                        <div class="row"><strong>Taken:&nbsp;</strong><span id="takenAtDetails"></span></div>
                        <div class="row"><strong>Taken Manually Updated:&nbsp;</strong><span id="manualTakenAtDetails"></span></div>
                        <div class="row"><strong>GMT Offset:&nbsp;</strong><span id="timeZoneDetails"></span></div>
                    </div>
                    <div class="tab-pane container fade" id="mapTab">
                        <br>
                        <span id="mapTabMessage">No map data</span>
                        <br>
                        <div id="map" class="map" style="width: 100%;height: 400px"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="infoModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 2rem;" role="status" aria-hidden="true"></div>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Clear message on modal close
    $('#propInfoModal').on('hide.bs.modal', function () {
        const tab = new bootstrap.Tab($("#detailsTabLink"));
        tab.show();
    });

    $("#mapTabLink").click(function (e) {
        e.preventDefault();

        const metadataId = $("#metadataId").val();
        let metadata = {};
        if ($("#infoModalEdit"+metadataId).attr("tag") && $("#infoModalEdit"+metadataId).attr("tag").trim() !== "") {
            metadata = JSON.parse($("#infoModalEdit"+metadataId).attr("tag"));
        }

        shashin.openMap(metadata)
    });
</script>

</body>
</html>