<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body th:fragment="loginregcontent(activePage, message)">
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 440px;">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0"><a style="color: inherit;text-decoration: inherit;" href="/">Shashin</a></h3>
            <nav class="nav justify-content-center float-md-end">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/features">Features</a>
                <a class="nav-link" href="/articles">Articles</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <form class="form-signin" method="post" th:object="${user}" th:action="'/users/'+${activePage}">
            <th:block th:if="${message != ''}">
                <div class="alert alert-info" role="alert">
                    <th:block th:text="${message}"></th:block>
                </div>
            </th:block>
            <h2 class="form-signin-heading"><th:block th:text="'Please ' + ${#strings.capitalize(activePage)}"></th:block></h2>
            <div class="input-group mb-2">
                <input type="text" id="username" name="username" class="form-control" minlength="4" placeholder="Username" required autofocus>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password"  minlength="6" class="form-control" placeholder="Password" required>
                <button class="btn btn-secondary" type="button" id="unhidepassword" style="max-height: 46px;"><span id="unhidepasswordicon" class="bi-eye"></span></button>
            </div>
            <th:block th:if="${activePage == 'login'}">
            <div class="input-group">
                <input type="checkbox" id="remember-me" name="remember-me" class="form-check-inline">
                <label class="form-check-label" for="remember-me">Remember me</label>
            </div>
            </th:block>

            <div class="input-group mt-2">
                <button id="submit-loginreg" class="btn btn-lg btn-primary btn-block form-control" type="submit"><th:block th:text="${#strings.capitalize(activePage)}"></th:block></button>
            </div>

            <div class="row">
                <div class="col text-start">
                    <th:block th:if="${activePage == 'login'}">
                        <a href="/users/register">Register</a>
                    </th:block>
                    <th:block th:if="${activePage == 'register'}">
                        <a href="/users/login">Login</a>
                    </th:block>
                </div>
                <div class="col text-end" id="darkmodeSwitchContainer" style="display: none;">
                    <div class="form-check form-switch float-end">
                        <input class="form-check-input" type="checkbox" id="darkmodeSwitch">
                        <label class="form-check-label" for="darkmodeSwitch">Dark mode</label>
                    </div>
                </div>
            </div>
        </form>
    </main>

    <span class="mt-auto" th:insert="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></span>
</div>

<script type="text/javascript" th:nonce="${cspNonce}">
    Util.activateDarkModeListener();

    $("#unhidepassword").on("click", function (e) {
        e.preventDefault();
        changeTypes($("#password"), $("#unhidepasswordicon"));
    });

    function changeTypes(elem, icon) {
        if (elem.attr("type") === "password") {
            elem.prop("type", "text");
            icon.removeClass("bi-eye").addClass("bi-eye-slash");
        } else {
            elem.prop("type", "password");
            icon.removeClass("bi-eye-slash").addClass("bi-eye");
        }
    }
</script>

</body>
</html>