<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head></head>
<body th:fragment="loginregcontent(activePage, message)">
<div class="container">
    <form class="form-signin" method="post" th:object="${user}" th:action="'/users/'+${activePage}">
        <th:block th:if="${message != ''}">
            <div class="alert alert-info" role="alert">
                <th:block th:text="${message}"></th:block>
            </div>
        </th:block>
        <h2 class="form-signin-heading"><th:block th:text="'Please ' + ${#strings.capitalize(activePage)}"></th:block></h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <th:block th:if="${activePage == 'login'}">
        <p>
            <input type="checkbox" id="remember-me" name="remember-me" class="form-check-inline">
            <label class="form-check-label" for="remember-me">Remember me</label>
        </p>
        </th:block>

        <button class="btn btn-lg btn-primary btn-block form-control" type="submit"><th:block th:text="${#strings.capitalize(activePage)}"></th:block></button>
        <div class="row">
            <div class="col">
                <th:block th:if="${activePage == 'login'}">
                    <a href="/users/register">Register</a>
                </th:block>
                <th:block th:if="${activePage == 'register'}">
                    <a href="/users/login">Login</a>
                </th:block>
            </div>
            <div class="col">
                <div class="form-check form-switch float-end">
                    <input class="form-check-input" type="checkbox" id="darkmodeSwitch">
                    <label class="form-check-label" for="darkmodeSwitch">Dark mode</label>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript" th:nonce="${cspNonce}">
        const dmCookieName = "shashinlogindmcookie";
        const darkModeCookie = getCookie(dmCookieName);

        if (darkModeCookie !== null && darkModeCookie === "on") {
            $("LINK[href='/css/bootstrap.min.css']").attr("href", "/css/bootstrap-night.min.css");
            $(".lightmodeIcons").addClass("darkmodeIcons").removeClass("lightmodeIcons");
            $(".link-button-lightmode").addClass("link-button-darkmode").removeClass("link-button-lightmode");
        } else {
            $("LINK[href='/css/bootstrap-night.min.css']").attr("href", "/css/bootstrap.min.css");
            $(".darkmodeIcons").addClass("lightmodeIcons").removeClass("darkmodeIcons");
            $(".link-button-darkmode").addClass("link-button-lightmode").removeClass("link-button-darkmode");
        }

        const mode = Util.getParameterByName("m");

        if (mode === "dark" || (darkModeCookie !== null && darkModeCookie === "on")) {
            $("#darkmodeSwitch").prop('checked', true);
        }

        $('#darkmodeSwitch').on("click", function() {
            let html = $("html");
            html.hide();
            if($("#darkmodeSwitch").is(':checked')) {
                setCookie(dmCookieName, "on", 365);
                $("LINK[href='/css/bootstrap.min.css']").attr("href", "/css/bootstrap-night.min.css");
                $(".lightmodeIcons").addClass("darkmodeIcons").removeClass("lightmodeIcons");
                $(".link-button-lightmode").addClass("link-button-darkmode").removeClass("link-button-lightmode");
            } else {
                eraseCookie(dmCookieName);
                $("LINK[href='/css/bootstrap-night.min.css']").attr("href", "/css/bootstrap.min.css");
                $(".darkmodeIcons").addClass("lightmodeIcons").removeClass("darkmodeIcons");
                $(".link-button-darkmode").addClass("link-button-lightmode").removeClass("link-button-darkmode");
            }
            html.show();
        });

        function setCookie(name,value,days) {
            let expires = "";
            if (days) {
                const date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
        function getCookie(name) {
            const nameEQ = name + "=";
            const ca = document.cookie.split(';');
            for(let i=0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0)===' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
    </script>
</div>

</body>
</html>