<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="mapjs(authority,mapdata)">

<script type="text/javascript">
    $(document).ready(function() {
        /*<![CDATA[*/
        var mapdata = JSON.parse(shashin.decodeHtml("[[${mapdata}]]"));
        var authority = "[[${authority}]]";
        /*]]>*/

        const qslat = shashin.getParameterByName("lat");
        const qslng = shashin.getParameterByName("lng");

        const textFill = new ol.style.Fill({
            color: '#fff',
        });
        const textStroke = new ol.style.Stroke({
            color: 'rgba(0, 0, 0, 0.6)',
            width: 5,
        });
        const invisibleFill = new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.01)',
        });

        function editLocation(...args) {
            var locationArgs = [].concat(...args);
            var metadataId = "";
            var lat = "";
            var lng = "";
            var modalLabel = "";

            if (arguments.length > 0) {
                metadataId = locationArgs[0];
                lat = locationArgs[1];
                lng = locationArgs[2];
                modalLabel = locationArgs[3];
            }
            if (modalLabel && modalLabel.length > 0) {
                $("#editPhotoLocationModalLabel").text("for "+modalLabel);
            }
            $("#mapMetadataId").val(metadataId);
            if (lat && lng) {
                $("#locationDataInput").val(lat+","+lng);
            }
            $("#propMetadataLocation").css('z-index', 9999);
            $("#propMetadataLocation").modal('show');
        }

        function createMapStyle(feature) {
            const mapMarkerUrl = feature.get('mapMarkerUrl');
            
            return new ol.style.Style({
                geometry: feature.getGeometry(),
                image: new ol.style.Icon(({
                    anchor: [0.5, 46],
                    anchorXUnits: 'fraction',
                    anchorYUnits: 'pixels',
                    opacity: 1.0,
                    src: encodeURI(mapMarkerUrl)
                }))
            });
        }

        let maxFeatureCount;
        let vector = null;
        const calculateClusterInfo = function (resolution) {
            maxFeatureCount = 0;
            const features = vector.getSource().getFeatures();
            let feature, radius;

            // Sort by number of features for radius calculation
            features.sort((a, b) => a.get('features').length > b.get('features').length ? 1 : -1);

            shashin.printMessageToConsole("============================================");
            shashin.printMessageToConsole("number of features:"+features.length);

            for (let i = features.length - 1; i >= 0; --i) {
                feature = features[i];
                const originalFeatures = feature.get('features');
                const extent = ol.extent.createEmpty();
                let j, jj;
                for (j = 0, jj = originalFeatures.length; j < jj; ++j) {
                    ol.extent.extend(extent, originalFeatures[j].getGeometry().getExtent());
                }
                maxFeatureCount = Math.max(maxFeatureCount, jj);

                //radius = (0.45 * (ol.extent.getWidth(extent) + ol.extent.getHeight(extent))) / resolution;
                radius = (15 * ((maxFeatureCount + jj)/maxFeatureCount));

                shashin.printMessageToConsole("---------------------------");
                shashin.printMessageToConsole("originalRadius:"+(0.45 * (ol.extent.getWidth(extent) + ol.extent.getHeight(extent))) / resolution);
                shashin.printMessageToConsole("extentWidth:"+ol.extent.getWidth(extent));
                shashin.printMessageToConsole("extentHeight:"+ol.extent.getHeight(extent));
                shashin.printMessageToConsole("resolution:"+resolution);
                shashin.printMessageToConsole("Feature count:"+jj);
                shashin.printMessageToConsole("maxFeatureCount:"+maxFeatureCount);
                shashin.printMessageToConsole("radius: " + radius);

                feature.set('radius', radius);
            }
        };

        let currentResolution;
        function styleFunction(feature, resolution) {
            if (resolution !== currentResolution) {
                calculateClusterInfo(resolution);
                currentResolution = resolution;
            }
            let style;
            const size = feature.get('features').length;
            if (size > 1) {
                style = new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: feature.get('radius'),
                        fill: new ol.style.Fill({
                            color: [0, 77, 255, Math.min(0.8, 0.4 + size / maxFeatureCount)],
                        }),
                    }),
                    text: new ol.style.Text({
                        text: size.toString(),
                        fill: textFill,
                        stroke: textStroke,
                        scale: 1.5
                    }),
                });
            } else {
                const originalFeature = feature.get('features')[0];
                style = createMapStyle(originalFeature);
            }
            return style;
        }

        function selectStyleFunction(feature) {
            // Return first map marker
            const styles = [
                new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: feature.get('radius'),
                        fill: invisibleFill,
                    }),
                }),
            ];
            const originalFeatures = feature.get('features');
            let originalFeature = originalFeatures[originalFeatures.length-1];
            styles.push(createMapStyle(originalFeature));

            // Show gallery for each cluster
            var mediaContentList = [];
            for (let i = originalFeatures.length - 1; i >= 0; --i) {
                var featureProperties = originalFeatures[i].getProperties();
                let dateString = shashin.getDateString(featureProperties["year"], featureProperties["month"], featureProperties["day"]);

                var mediaContent = {
                    func: editLocation,
                    args: [featureProperties["metadataId"],featureProperties["lat"],featureProperties["lng"],featureProperties["title"]],
                }
                if (featureProperties.type.includes("image")) {
                    mediaContent.src = featureProperties.photoUrl
                    mediaContent.subHtml = (featureProperties.placeName !== null ? featureProperties.placeName : "") + '<br>' + featureProperties.fileName + (dateString !== "" ? ' taken on ' + dateString : '')
                } else if (featureProperties.type.includes("video")) {
                    mediaContent.video = {
                        "source": [{"src": featureProperties.videoUrl, "type": "video/mp4"}],
                        "attributes": {"preload": false, "controls": true}
                    }
                    mediaContent.subHtml = (featureProperties.placeName !== null ? featureProperties.placeName : "") + '<br>' + featureProperties.fileName + (dateString !== "" ? ' taken on ' + dateString : '')
                }
                mediaContentList.push(mediaContent);
            }

            // Destroy gallery instance hack
            dynamicGallery.closeGallery(true);
            dynamicGallery.destroyModules(true);
            dynamicGallery.invalidateItems();
            $(window).off(`.lg.global${dynamicGallery.lgId}`);
            dynamicGallery.LGel.off('.lg');
            setTimeout(() => {
                // https://github.com/sachinchoolur/lightGallery/blob/383d51852657ab44bb8697748c570cf110723f97/src/lightgallery.ts#L2396
                // Hack because lg.destroy() errors out
                // when photos appear slower than destroy called, then there's an error
                try {
                    dynamicGallery.$container.remove();
                } catch(e) {
                    shashin.printMessageToConsole(e);
                }
                lightGalleryConfigs["dynamicEl"] = mediaContentList;
                dynamicGallery = lightGallery($dynamicGallery, lightGalleryConfigs);
                dynamicGallery.openGallery(0);
            }, 500);

            return styles;
        }

        let initialCoord = [-73.1234, 45.678];
        let initialZoom = 2;
        if (qslat !== null && qslng !== null && qslat !== '' && qslng !== '') {
            initialCoord = [qslng,qslat];
            initialZoom = 20;
        } else if ("lat" in localStorage && "lng" in localStorage) {
            initialCoord = [localStorage.getItem("lng"), localStorage.getItem("lat")];
            initialZoom = 20;
            localStorage.removeItem('lat');
            localStorage.removeItem('lng');
        }

        const mapView = new ol.View({
            center: ol.proj.fromLonLat(initialCoord),
            zoom: initialZoom
        });

        const lightGalleryConfigs = shashin.getLightGalleryConfigs();
        if (authority === "ROLE_ADMIN") {
            lightGalleryConfigs["plugins"].push(lgEditLocation);
        }
        lightGalleryConfigs["controls"] = true;
        lightGalleryConfigs["dynamic"] = true;
        lightGalleryConfigs["counter"] = true;
        lightGalleryConfigs["editLocation"] = true;
        const $dynamicGallery = document.getElementById('light-gallery-photo');
        let dynamicGallery = lightGallery($dynamicGallery, lightGalleryConfigs);

        const duration = 400;
        const interactions = [
            new ol.interaction.Select({
                condition: function (evt) {
                    return evt.type === 'singleclick';
                },
                style: selectStyleFunction,
            }),
            new ol.interaction.DoubleClickZoom({
                duration: duration
            }),
            new ol.interaction.KeyboardPan({
                pixelDelta: 256
            }),
            new ol.interaction.KeyboardZoom({
                duration: duration
            }),
            new ol.interaction.MouseWheelZoom({
                duration: duration
            }),
            new ol.interaction.PinchRotate(),
            new ol.interaction.PinchZoom({
                duration: duration
            }),
            new ol.interaction.DragPan({
                kinetic: new ol.Kinetic(-0.005, 0.05, 100)
            }),
            new ol.interaction.DragZoom(),
            new ol.interaction.DragRotate()
        ];

        const map = new ol.Map({
            target: 'map',
            interactions: interactions,
            layers: [
                new ol.layer.Tile({
                    source: shashin.getMapSource("osm"),
                    visible: true
                })
            ],
            view: mapView,
            controls: new ol.control.defaults({attributionOptions: {collapsible: true}})
        });
        const zoomSlider = new ol.control.ZoomSlider();
        map.addControl(zoomSlider);

        // After closing lightgallery, clear select interaction
        $dynamicGallery.addEventListener('lgAfterClose', function (event) {
            map.getInteractions().forEach(function (interaction) {
                if (interaction instanceof ol.interaction.Select) {
                    interaction.getFeatures().clear();
                }
            });
        });

        const iconFeatures = [];
        for (let index in mapdata) {
            const data = mapdata[index];

            if (data["lat"] !== null && data["lng"] !== null &&
                data["lat"] !== "" && data["lng"] !== "") {

                const lat = data["lat"];
                const lng = data["lng"];

                const year = data["year"];
                const month = data["month"];
                const day = data["day"];
                const fileName = data["fileName"];
                const mapMarkerUrl = data["mapMarkerUrl"];
                const thumbnailUrlOriginal = data["thumbnailUrlOriginal"];
                const thumbnailUrlSmall = data["thumbnailUrlSmall"];
                const videoUrl = data["videoUrl"];
                const type = data["type"];
                const placeName = data["placeName"];
                const metadataId = data["id"];
                const title = data["title"];

                const iconFeature = new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.transform([lng, lat], 'EPSG:4326', 'EPSG:900913')),
                    fileName: fileName,
                    thumbnailUrlSmall: thumbnailUrlSmall,
                    photoUrl: thumbnailUrlOriginal,
                    mapMarkerUrl: mapMarkerUrl,
                    videoUrl: videoUrl,
                    year: year,
                    month: month,
                    day: day,
                    placeName: placeName,
                    metadataId: metadataId,
                    title: title,
                    lat: lat,
                    lng: lng,
                    type: type,
                    name: fileName
                });
                const iconStyle = new ol.style.Style({
                    image: new ol.style.Icon(({
                        anchor: [0.5, 46],
                        anchorXUnits: 'fraction',
                        anchorYUnits: 'pixels',
                        opacity: 1.0,
                        src: mapMarkerUrl
                    }))
                });
                iconFeature.setStyle(iconStyle);
                iconFeatures.push(iconFeature);
            }

            const currentProgress = (index + 1) / mapdata.length * 100;
            $("#progressBar").attr("aria-valuenow",String(parseInt(currentProgress)));
            const width = String(parseInt(currentProgress)) + "%";
            $("#progressBar").css("width",width);
            shashin.printMessageToConsole(currentProgress);
        }
        $("#progressBarWrapper").css("visibility","hidden");

        if (iconFeatures.length > 0) {
            var vectorSource = new ol.source.Vector({
                features: iconFeatures //add an array of features
            });
            var clusterSource = new ol.source.Cluster({
                distance: 40,
                source: vectorSource,
            })
            vector = new ol.layer.Vector({
                source: clusterSource,
                style: styleFunction
            });
            map.addLayer(vector);
        }

        map.on("pointermove", function (evt) {
            var hit = this.forEachFeatureAtPixel(evt.pixel, function () {
                return true;
            });
            if (hit) {
                this.getTargetElement().style.cursor = 'pointer';
            } else {
                this.getTargetElement().style.cursor = '';
            }
        });

        $("#propMetadataLocation").on('hide.bs.modal', function () {
            $(this).find(':input').val('');
            $("#locationMapResponseMsg").html("");
        })

        $("#saveMetadata").click(function (e) {
            e.preventDefault();

            $("#metadataLocationModalStatus").css("visibility","visible");
            let metadataIdList = [];
            metadataIdList.push($("#mapMetadataId").val());

            var data = {
                "batchMetadataIds": JSON.stringify(metadataIdList),
                "latlngBatchData": $("#locationDataInput").val()
            }

            const posting = $.post({
                url: "/timeline/update/batch",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8'
            });

            posting.done(function (data) {
                if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                    let message = "Error";
                    if (data["status"] === "success") {
                        message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                        var latlng = $("#locationDataInput").val();
                        var latlngArray = latlng.split(",");
                        var lat = latlngArray[0].trim();
                        var lng = latlngArray[1].trim();
                        localStorage.setItem("lat", lat);
                        localStorage.setItem("lng", lng);

                        window.top.location = window.location.href.split("?")[0];
                    } else {
                        message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                    }
                    $("#locationMapResponseMsg").html(message);
                }
                $("#metadataLocationModalStatus").css("visibility","hidden");
            });

        });
    });
</script>

<div class="modal fade" id="propMetadataLocation" tabindex="-1" role="dialog" aria-labelledby="labelMetadata" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPhotoModalLabel">Edit Location <span id="editPhotoLocationModalLabel"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="saveData">
                    <div class="form-group row">
                        <div class="col-sm">
                            <label for="locationDataInput" class="col-form-label">Edit Location</label>
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Tag Location" id="locationDataInput" name="locationDataInput" value="">
                                <input type="hidden" id="mapMetadataId" name="mapMetadataId" value="">
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div class="col-sm">
                    <span id="locationMapResponseMsg"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div id="metadataLocationModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 2rem;" role="status" aria-hidden="true"></div>
                <button type="button" class="btn btn-primary" id="saveMetadata">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>