<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="matchesmodal(recognitionLabels)">

<div class="modal fade" id="propBatchMetadata" tabindex="-1" role="dialog" aria-labelledby="labelBatchMetadata"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPhotosModalLabel">Edit Photos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="editPhotosNamesModalLabel"></span><br><br>
                <p class="text-muted">Empty fields will be ignored</p>
                <form id="saveBatchData">
                    <input type="hidden" id="batchMetadataIds" name="batchMetadataIds" value="">

                    <div class="form-group row">
                        <div class="col-sm">
                            <label for="tagBatchDataInput" class="col-form-label">Tag People (comma separated)</label>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       aria-label="Tag People" id="tagBatchDataInput" name="tagBatchDataInput" value="">
                                <script type="text/javascript" th:nonce="${cspNonce}">
                                    $("#tagBatchDataInput").on("click", function (e) {
                                        e.preventDefault();
                                        matchModalBatchSettings.closeBatchTagPeopleDropdown();
                                    });
                                </script>

                                <th:block th:if="${not #lists.isEmpty(recognitionLabels)}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle"
                                                id="tagpeopledropdown" type="button" aria-haspopup="true"
                                                aria-expanded="false">People
                                        </button>
                                        <div class="dropdown-menu" id="peopleNameList">
                                            <th:block th:each="recognitionLabel, iterStat: ${recognitionLabels}">
                                                <th:block th:if="${recognitionLabel.name != null and recognitionLabel.name != 'null'}">
                                                    <button class="dropdown-item" type="button">
                                                        <input type="checkbox"
                                                               th:id="${'recognitionLabel'+recognitionLabel.id}"
                                                               class="recognitionLabel"
                                                               th:value="${recognitionLabel.name}"
                                                               name="recognitionLabel[]">
                                                        <label th:for="${'recognitionLabel'+recognitionLabel.id}"
                                                               th:text="${recognitionLabel.name}"></label>
                                                    </button>
                                                </th:block>
                                            </th:block>
                                        </div>
                                        <script type="text/javascript" th:nonce="${cspNonce}">
                                            $("#tagpeopledropdown").on("click", function (e) {
                                                e.preventDefault();
                                                matchModalBatchSettings.toggleBatchTagPeopleDropdown();
                                            });
                                            $(".recognitionLabel").on("click", function (e) {
                                                matchModalBatchSettings.populateBatchLabel();
                                            });
                                        </script>
                                    </div>
                                </th:block>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <input type="checkbox" name="batchisobject" id="batchisobject">
                                    <label class="form-check-label" for="batchisobject">These are objects</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-sm">
                    <span id="msgBatchMetadata"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div id="matchesBatchModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 2rem;" role="status" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title=""></div>
                <button type="button" class="btn btn-primary" id="saveBatchMetadata">Save</button>
                <button id="matchesBatchModalCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/matchesmodal.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/matchesmodal.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>

</body>
</html>