<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="metadatamodal(${currentUser})">

<!--Modal for each photo-->
<div class="modal fade" id="propMetadata" tabindex="-1" role="dialog" aria-labelledby="labelTimelineModal">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="propMetadataModalTitle">Edit &ldquo;<span id="metadataModalTitle"></span>&rdquo;<div id="propMetadataModalThumbnail"></div></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <ul class="nav nav-pills nav-fill ms-3 me-3 mt-3 mb-2">
                <th:block th:if="${(authority == 'ROLE_SUPER' || authority == 'ROLE_ADMIN') and activePage != 'archived'}">
                    <li class="nav-item" id="generalTabNav">
                        <a class="nav-link show active" data-bs-toggle="tab" id="generalTabLink" href="#generalTab">Update</a>
                    </li>
                </th:block>
                <li class="nav-item" id="detailsTabNav">
                    <a th:class="'nav-link'+${(authority == 'ROLE_USER' or activePage == 'archived') ? ' show active':''}" data-bs-toggle="tab" id="detailsTabLink" href="#detailsTab">Info</a>
                </li>
                <th:block th:if="${authority == 'ROLE_SUPER' || authority == 'ROLE_ADMIN'}">
                    <li class="nav-item" id="exifTabNav">
                        <a class="nav-link" data-bs-toggle="tab" id="exifTabLink" href="#exifTab">EXIF</a>
                    </li>
                </th:block>
                <li class="nav-item" id="mapTabNav">
                    <a class="nav-link" data-bs-toggle="tab" id="mapTabLink" href="#mapTab">Map</a>
                </li>
            </ul>
            <div class="modal-body ui-front" id="propMetadataBody">
                <div class="tab-content">
                    <input type="hidden" name="metadataId" id="metadataId" value="">
                    <input type="hidden" name="albumList" id="albumList" value="">
                    <input type="hidden" name="peopleList" id="peopleList" value="">
                    <th:block th:if="${(authority == 'ROLE_SUPER' || authority == 'ROLE_ADMIN') and activePage != 'archived'}">
                    <div class="tab-pane container show active" id="generalTab">
                        <form id="saveTimelineModalForm">
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="title" class="col-form-label">Title</label>
                                    <input type="text" class="form-control" id="title" name="title" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="camera" class="col-form-label">Camera</label>
                                    <input type="text" class="form-control" id="camera" name="camera" value="">
                                    <input type="hidden" id="camerasString" th:value="${cameras}">
                                </div>
                                <div class="col-sm">
                                    <label for="lens" class="col-form-label">Lens</label>
                                    <input type="text" class="form-control" id="lens" name="lens" value="">
                                    <input type="hidden" id="lensesString" th:value="${lenses}">
                                </div>
                                <div class="col-sm" id="videoduration" style="display: none;">
                                    <label for="duration" class="col-form-label">Video Duration</label>
                                    <input type="text" class="form-control" id="duration" name="duration" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="description" class="col-form-label">Description</label>
                                    <input type="text" class="form-control" id="description" name="description" value="" maxlength="500">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="yearTaken" class="col-form-label">Year taken</label>
                                    <input type="number" class="form-control" id="yearTaken" name="year" value="" maxlength="4" min="1826">
                                </div>
                                <div class="col-sm">
                                    <label for="monthTaken" class="col-form-label">Month taken</label>
                                    <input type="number" class="form-control" id="monthTaken" name="month" value="" maxlength="2" min="1" max="12">
                                </div>
                                <div class="col-sm">
                                    <label for="dayTaken" class="col-form-label">Day taken</label>
                                    <input type="number" class="form-control" id="dayTaken" name="day" value="" maxlength="2" min="1" max="31">
                                </div>
                                <div class="col-sm">
                                    <label for="timeTaken" class="col-form-label">Time taken</label>
                                    <input type="text" class="form-control" id="timeTaken" name="time" value="" placeholder="hh:mm:ss" maxlength="8">
                                </div>
                                <div class="col-sm">
                                    <label for="offsetTaken" class="col-form-label">GMT Offset</label>
                                    <select class="form-select" id="offsetTaken" name="offset">
                                        <option value="">--GMT--</option>
                                        <th:block th:each="offset, iterStat: ${timeOffsets}">
                                            <option th:value="${offset}" th:text="${offset}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="latlng" class="col-form-label">Latitude, Longitude</label>&nbsp;<small class="text-muted"><span id="shortLocationLabel"></span></small>
                                    <input type="text" class="form-control" id="latlng" name="latlng" value="">
                                </div>
                                <div class="col-sm">
                                    <label for="keywords" class="col-form-label">Keywords (comma separated)</label>
                                    <input type="text" class="form-control" id="keywords" name="keywords" value="">
                                    <input type="hidden" id="keywordsString" th:value="${keywords}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="albumnames" class="col-form-label">Add to Album (comma separated)</label>
                                    <div class="input-group" id="metadataAlbumNames">
                                        <div class="input-group">
                                            <input type="text" class="form-control" aria-label="Albums Name" id="albumnames" name="albumnames" value="">
                                            <button class="btn btn-secondary" type="button" id="albumNameData" style="display: none;">Albums</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <label for="tagpeople" class="col-form-label">Tag People (comma separated)</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" aria-label="Tag People" id="tagpeople" name="tagpeople" value="">
                                        <button class="btn btn-secondary" type="button" id="peopleNameData" style="display: none;">People</button>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-secondary col-12 mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMetadata" aria-expanded="false" aria-controls="collapseMetadata">
                                More
                            </button>
                            <div class="collapse mt-3" id="collapseMetadata">
                                <div class="form-group row">
                                    <div class="col-sm">
                                        <input type="checkbox" name="hidden" id="hidden">
                                        <label class="form-check-label" for="hidden">Archive Photo</label>
                                    </div>
                                    <div class="col-sm">
                                        <input type="checkbox" name="isobject" id="isobject">
                                        <label class="form-check-label" for="isobject">Unidentified people</label>
                                    </div>
                                    <div class="col-sm">
                                        <input type="checkbox" name="rescan" id="rescan">
                                        <label class="form-check-label" for="rescan">Rescan media</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    </th:block>
                    <div th:class="'tab-pane container fade'+${(authority == 'ROLE_USER' or activePage == 'archived') ? ' show active':''}" id="detailsTab">
                        <div th:replace="~{fragments/detailsinfo :: detailsinfo(${currentUser})}"></div>
                    </div>
                    <th:block th:if="${authority == 'ROLE_SUPER' || authority == 'ROLE_ADMIN'}">
                    <div class="tab-pane container fade" id="exifTab">
                        <textarea class="form-control" id="exifInfo" rows="20" readonly></textarea>
                    </div>
                    </th:block>
                    <div class="tab-pane container fade" id="mapTab">
                        <span id="mapTabMessage">No map data</span>
                        <div data-role="dialog" id="modalmap" class="map" style="width: 100%;height: 400px"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="metadataModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 1.55rem;" role="status" data-bs-toggle="tooltip" data-bs-placement="right" title=""></div>
                <th:block th:if="${(authority == 'ROLE_SUPER' || authority == 'ROLE_ADMIN') and activePage != 'archived'}">
                <button type="button" class="btn btn-primary" id="saveMetadata">Save</button>
                <button id="metadataModalCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </th:block>
                <th:block th:if="${authority == 'ROLE_USER'}">
                <button id="metadataModalCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </th:block>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rescanMetadataConfirmation" tabindex="-1" role="dialog" aria-labelledby="rescanMetadata">
    <div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rescanMetadataModalLabel">Rescan Metadata</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to rescan metadata? Some data you have manually changed may be lost!</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="confirmRescanMetadata">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelRescanMetadata">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="albumSelection" tabindex="-1" role="dialog" aria-labelledby="dropdownSelection">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="albumSelectionLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="albumSelectionList"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="confirmAlbumSelection">Select</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelAlbumSelection">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="peopleSelection" tabindex="-1" role="dialog" aria-labelledby="dropdownSelection">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="peopleSelectionLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="peopleSelectionList"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="confirmPeopleSelection">Select</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelPeopleSelection">Cancel</button>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/metadatamodal.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/metadatamodal.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
</body>
</html>