<!DOCTYPE html>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="metadatabatchmodal(recognitionLabels,allAlbumList)">
<div class="modal fade" id="propBatchMetadata" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="labelBatchMetadata">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPhotosModalLabel"><span id="editPhotosNamesModalLabel" class="mb-1"></span><br><br><span class="mt-2"><th:block th:text="#{main.modal.batch.header}"></th:block></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <ul class="nav nav-pills nav-fill ms-3 me-3 mt-3 mb-2">
                <li class="nav-item" id="batchGeneralTabNav">
                    <a class="nav-link show active" data-bs-toggle="tab" id="batchGeneralTabLink" href="#generalBatchTab"><th:block th:text="#{main.modal.tab.update}"></th:block></a>
                </li>
                <li class="nav-item" id="batchMapTabNav">
                    <a class="nav-link" data-bs-toggle="tab" id="batchMapTabLink" href="#mapBatchTab"><th:block th:text="#{main.sidebar.map}"></th:block></a>
                </li>
            </ul>
            <div class="modal-body ui-front" id="propBatchMetadataBody">
                <div class="tab-content">
                    <div class="tab-pane container show active" id="generalBatchTab">
                        <p class="text-muted"><th:block th:text="#{main.modal.batch.update.msg}"></th:block></p>
                        <form id="saveBatchData">
                            <input type="hidden" id="batchMetadataIds" name="batchMetadataIds" value="">
                            <input type="hidden" id="batchFilenames" name="batchFilenames" value="">

                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="cameraBatchData" class="col-form-label"><th:block th:text="#{main.modal.camera}"></th:block></label>
                                    <input type="text" class="form-control" id="cameraBatchData" name="cameraBatchData" value="">
                                    <input type="hidden" id="camerasBatchString" th:value="${cameras}">
                                </div>
                                <div class="col-sm">
                                    <label for="lensBatchData" class="col-form-label"><th:block th:text="#{main.modal.lens}"></th:block></label>
                                    <input type="text" class="form-control" id="lensBatchData" name="lensBatchData" value="">
                                    <input type="hidden" id="lensesBatchString" th:value="${lenses}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="yearTakenBatchData" class="col-form-label"><th:block th:text="#{main.modal.taken.year}"></th:block></label>
                                    <input type="number" class="form-control" id="yearTakenBatchData" name="yearTakenBatchData" value="" maxlength="4" min="1826">
                                </div>
                                <div class="col-sm">
                                    <label for="monthTakenBatchData" class="col-form-label"><th:block th:text="#{main.modal.taken.month}"></th:block></label>
                                    <input type="number" class="form-control" id="monthTakenBatchData" name="monthTakenBatchData" value="" maxlength="2" min="1" max="12">
                                </div>
                                <div class="col-sm">
                                    <label for="dayTakenBatchData" class="col-form-label"><th:block th:text="#{main.modal.taken.day}"></th:block></label>
                                    <input type="number" class="form-control" id="dayTakenBatchData" name="dayTakenBatchData" value="" maxlength="2" min="1" max="31">
                                </div>
                                <div class="col-sm">
                                    <label for="offsetTakenBatchData" class="col-form-label"><th:block th:text="#{main.modal.taken.gmt}"></th:block></label>
                                    <select class="form-select" id="offsetTakenBatchData" name="offsetTakenBatchData">
                                        <option value="">--GMT--</option>
                                        <th:block th:each="offset, iterStat: ${timeOffsets}">
                                            <option th:value="${offset}" th:text="${offset}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="latlngBatchData" class="col-form-label"><th:block th:text="#{main.modal.latlng}"></th:block></label>
                                    <input type="text" class="form-control" id="latlngBatchData" name="latlngBatchData" value="">
                                </div>
                                <div class="col-sm">
                                    <label for="keywordsBatchData" class="col-form-label"><th:block th:text="#{main.modal.keywords}"></th:block></label>
                                    <input type="text" class="form-control" id="keywordsBatchData" name="keywordsBatchData" value="">
                                    <input type="hidden" id="keywordsBatchString" th:value="${keywords}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm"></div>
                                <div class="col-sm">
                                    <input type="checkbox" name="addtoexistingkeywords" id="addtoexistingkeywords">
                                    <label class="form-check-label" for="addtoexistingkeywords"><th:block th:text="#{main.modal.batch.update.addkeywords}"></th:block></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="albumNameInput" class="col-form-label"><th:block th:text="#{main.modal.albums}"></th:block></label>
                                    <div class="input-group" id="batchAlbumNames">
                                        <div class="input-group" id="albumListForModal">
                                            <input type="text" class="form-control" aria-label="Albums Name" id="albumNameInput" name="albumNameInput" value="">
                                            <button class="btn btn-secondary" type="button" id="albumBatchNameData" style="display: none;"><th:block th:text="#{main.sidebar.albums}"></th:block></button>
                                        </div>
                                        <br>
                                        <div>
                                            <input type="checkbox" name="addtoexistingalbums" id="addtoexistingalbums">
                                            <label class="form-check-label" for="addtoexistingalbums"><th:block th:text="#{main.modal.batch.update.addalbums}"></th:block></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <label for="tagBatchDataInput" class="col-form-label"><th:block th:text="#{main.modal.people}"></th:block></label>
                                    <div class="input-group" id="batchLabelIds">
                                        <input type="text" class="form-control" aria-label="Tag People" id="tagBatchDataInput" name="tagBatchDataInput" value="">
                                        <button class="btn btn-secondary" type="button" id="peopleBatchNameData" style="display: none;"><th:block th:text="#{main.sidebar.people}"></th:block></button>
                                    </div>
                                    <div>
                                        <input type="checkbox" name="addtoexistingpeople" id="addtoexistingpeople">
                                        <label class="form-check-label" for="addtoexistingpeople"><th:block th:text="#{main.modal.batch.update.addpeople}"></th:block></label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-secondary col-12 mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBatchMetadata" aria-expanded="false" aria-controls="collapseBatchMetadata">
                                <th:block th:text="#{main.modal.control.more}"></th:block>
                            </button>
                            <div class="collapse mt-3" id="collapseBatchMetadata">
                                <div class="form-group row">
                                    <div class="col-sm">
                                        <input type="checkbox" name="batchhidden" id="batchhidden">
                                        <label class="form-check-label" for="batchhidden"><th:block th:text="#{main.modal.archive}"></th:block></label>
                                    </div>
                                    <div class="col-sm">
                                        <input type="checkbox" name="batchisobject" id="batchisobject">
                                        <label class="form-check-label" for="batchisobject"><th:block th:text="#{main.modal.unidentified}"></th:block></label>
                                    </div>
                                    <div class="col-sm">
                                        <input type="checkbox" name="batchrescan" id="batchrescan">
                                        <label class="form-check-label" for="batchrescan"><th:block th:text="#{main.modal.rescan}"></th:block></label>
                                    </div>
                                    <div class="col-sm form-check form-switch">
                                        <input class="form-check-input" type="checkbox" name="batchignoreduplicates" id="batchignoreduplicates">
                                        <label class="form-check-label" for="batchignoreduplicates"><th:block th:text="#{main.modal.remove.duplicatehash}"></th:block></label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane container fade" id="mapBatchTab">
                        <span id="mapTabMessage"><th:block th:text="#{main.modal.batch.map.setcoord}"></th:block></span>
                        <div data-role="dialog" id="modalbatchmap" class="map" style="width: 100%;height: 400px"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="metadataBatchModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 1.55rem;" role="status" data-bs-toggle="tooltip" data-bs-placement="right" title=""></div>
                <button type="button" class="btn btn-primary" id="saveBatchMetadata"><th:block th:text="#{main.modal.save}"></th:block></button>
                <button id="metadataBatchModalCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal"><th:block th:text="#{main.modal.cancel}"></th:block></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rescanBatchMetadataConfirmation" tabindex="-1" role="dialog" aria-labelledby="rescanBatchMetadata">
    <div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rescanBatchMetadataModalLabel"><th:block th:text="#{main.modal.rescan.metadata}"></th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><th:block th:text="#{main.modal.batch.update.confirm.rescan}"></th:block></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="confirmRescanBatchMetadata"><th:block th:text="#{main.modal.confirm}"></th:block></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><th:block th:text="#{main.modal.cancel}"></th:block></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="albumBatchSelection" tabindex="-1" role="dialog" aria-labelledby="dropdownSelection">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="albumBatchSelectionLabel"></h5>
            </div>
            <div class="modal-body" id="albumBatchSelectionList">
                <th:block th:if="${allAlbumList != null && #lists.size(allAlbumList) > 0}">
                    <th:block th:each="album, iterStat: ${allAlbumList}">
                        <button class="dropdown-item" type="button">
                            <input type="checkbox" class="album" th:id="${'album'+album.id}" th:value="${album.name}" name="albums[]">
                            <label th:for="${'album'+album.id}" th:text="${album.name}"></label>
                        </button>
                    </th:block>

                    <script type="text/javascript" th:nonce="${cspNonce}">
                        $(".album").on("click", function (e) {
                            metadataBatchModal.populateBatchAlbum();
                        });
                        $("#tagalbumdropdown").on("click", function (e) {
                            e.preventDefault();
                            metadataBatchModal.toggleBatchTagAlbumDropdown();
                        });
                    </script>
                </th:block>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelBatchAlbumSelection"><th:block th:text="#{main.modal.close}"></th:block></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="peopleBatchSelection" tabindex="-1" role="dialog" aria-labelledby="dropdownSelection">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="peopleBatchSelectionLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="peopleBatchSelectionList">
                <th:block th:if="${recognitionLabels != null && #lists.size(recognitionLabels) > 0}">
                    <th:block th:each="recognitionLabel, iterStat: ${recognitionLabels}">
                        <th:block th:if="${recognitionLabel.name != null and recognitionLabel.name != 'null'}">
                            <button class="dropdown-item" type="button">
                                <input type="checkbox" class="recognitionLabel" th:id="${'recognitionLabel'+recognitionLabel.id}" th:value="${recognitionLabel.name}" name="recognitionLabel[]">
                                <label th:for="${'recognitionLabel'+recognitionLabel.id}" th:text="${recognitionLabel.name}"></label>
                            </button>
                        </th:block>
                    </th:block>
                    <script type="text/javascript" th:nonce="${cspNonce}">
                        $(".recognitionLabel").on("click", function (e) {
                            metadataBatchModal.populateBatchLabel();
                        });
                        $("#tagbatchpeopledropdown").on("click", function (e) {
                            e.preventDefault();
                            metadataBatchModal.toggleBatchTagPeopleDropdown();
                        });
                    </script>
                </th:block>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelBatchPeopleSelection"><th:block th:text="#{main.modal.close}"></th:block></button>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/metadatabatchmodal.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/metadatabatchmodal.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
</body>
</html>