<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="personmodal()">

<div class="modal fade" id="propBatchMetadata" tabindex="-1" role="dialog" aria-labelledby="labelBatchMetadata" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPhotosModalLabel">Edit Photos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="editPhotosNamesModalLabel"></span><br><br>
                <p class="text-muted">Empty fields will be ignored</p>
                <form id="saveBatchData">
                    <input type="hidden" id="batchMetadataIds" name="batchMetadataIds" value="">

                    <div class="form-group row">
                        <div class="col-sm">
                            <label for="tagBatchDataInput" class="col-form-label">Tag People (comma separated)</label>
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Tag People" id="tagBatchDataInput" name="tagBatchDataInput" value="">
                                <script type="text/javascript" th:nonce="${cspNonce}">
                                    $("#tagBatchDataInput").on("focus", function (e) {
                                       e.preventDefault();
                                        personModalBatchSettings.closeBatchTagPeopleDropdown();
                                    });
                                </script>

                                <th:block th:if="${not #lists.isEmpty(recognitionLabels)}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" id="tagpeopledropdown" type="button" aria-haspopup="true" aria-expanded="false">People</button>
                                        <div class="dropdown-menu batchPersonDropdown" id="peopleNameList">
                                            <th:block th:each="recognitionLabel, iterStat: ${recognitionLabels}">
                                                <button class="dropdown-item" type="button">
                                                    <input type="checkbox" class="batchRecognitionLabel" th:id="${recognitionLabel.id}" th:value="${recognitionLabel.name}" name="recognitionLabel[]">
                                                    <label th:for="${recognitionLabel.id}" th:text="${recognitionLabel.name}"></label>
                                                </button>
                                            </th:block>
                                        </div>
                                        <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                                            $("#tagpeopledropdown").on("click", function (e) {
                                               e.preventDefault();
                                                personModalBatchSettings.toggleBatchTagPeopleDropdown();
                                            });
                                            $(".batchRecognitionLabel").on("click", function (e) {
                                                personModalBatchSettings.populateBatchLabel();
                                            });
                                        </script>
                                    </div>
                                </th:block>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <input type="checkbox" name="batchisobject" id="batchisobject">
                                    <label class="form-check-label" for="batchisobject">These are objects</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-sm">
                    <span id="msgBatchMetadata"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div id="personBatchModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 2rem;" role="status" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title=""></div>
                <button type="button" class="btn btn-primary" id="saveBatchMetadata">Save</button>
                <button id="personBatchModalCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
            <script type="text/javascript" th:nonce="${cspNonce}">
                (function( personModalBatchSettings, $, undefined ) {
                    personModalBatchSettings.toggleBatchTagPeopleDropdown = function() {
                        $("#tagpeopledropdown").dropdown('toggle');
                    }

                    personModalBatchSettings.closeBatchTagPeopleDropdown = function() {
                        $("#tagpeopledropdown").dropdown('hide');
                    }

                    personModalBatchSettings.populateBatchLabel = function() {
                        const checkedBoxes = $('input[name="recognitionLabel[]"]:checked');
                        let labelString = "";
                        checkedBoxes.each(function() {
                            labelString += $(this).val() + ",";
                        });
                        if (labelString.length > 0) {
                            labelString = labelString.slice(0,-1)
                        }
                        $("#tagBatchDataInput").val(Util.decodeHtml(labelString));
                    }
                }( window.personModalBatchSettings = window.personModalBatchSettings || {}, jQuery ));

                $("#batchisobject").on("click", function (e) {
                    personModalBatchSettings.closeBatchTagPeopleDropdown();
                    if($(this).prop("checked") === true) {
                        $("#tagBatchDataInput").val("");
                    }
                });

                $("#saveBatchMetadata").on("click", function (e) {
                    e.preventDefault();

                    personModalBatchSettings.closeBatchTagPeopleDropdown();
                    $("#personBatchModalStatus").removeClass('bi-check-circle').removeClass('bi-x-circle').addClass('spinner-grow');
                    $("#personBatchModalStatus").css("visibility","visible");
                    $("#personBatchModalStatus").attr("title", "");
                    $("#personBatchModalCancel").prop('disabled', true);

                    const batchObj = Util.serializeObject($('#saveBatchData'));

                    const ajaxParams = {
                        type: "post",
                        url: "/timeline/update/batch",
                        data: JSON.stringify(Util.getBatchData(batchObj)),
                        contentType: 'application/json; charset=utf-8',
                        retries: shashin.ajaxRetries
                    }

                    $.ajax(ajaxParams)
                    .fail(function(xhr, textStatus) {
                        $("#personBatchModalStatus").removeClass('bi-check-circle').removeClass('spinner-grow').addClass('bi-x-circle');
                        $("#personBatchModalStatus").attr("title", shashin.modalStatusFailMessage());
                        $("#personBatchModalCancel").prop('disabled', false);
                        shashin.onFail(xhr, textStatus, ajaxParams, " saving batch modal for person");
                    }).then(function (data) {
                        if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                            if (data["status"] === "success") {
                                if (data.hasOwnProperty("keywords") && data["keywords"] !== "") {
                                    $("#keywordsString").val(data["keywords"]);
                                    $("#keywordsBatchString").val(data["keywords"]);
                                }
                                $("#personBatchModalStatus").addClass('bi-check-circle').removeClass('spinner-grow');
                                $("#personBatchModalCancel").prop('disabled', false);
                            } else {
                                $("#personBatchModalStatus").addClass('bi-x-circle').removeClass('spinner-grow');
                                $("#personBatchModalStatus").attr("title", shashin.modalStatusFailMessage());
                                $("#personBatchModalCancel").prop('disabled', false);
                            }
                        } else {
                            $("#personBatchModalStatus").addClass('bi-x-circle').removeClass('spinner-grow');
                            $("#personBatchModalStatus").attr("title", shashin.modalStatusFailMessage());
                            $("#personBatchModalCancel").prop('disabled', false);
                        }
                    });

                });

                // Clear message on modal close
                $('#propBatchMetadata').on('hide.bs.modal', function () {
                    $("#personBatchModalStatus").attr("class","spinner-grow me-auto");
                    $("#personBatchModalStatus").css("visibility","hidden");
                    $("#msgBatchMetadata").html("");
                    $('#tagBatchDataInput').val('');
                    $('input:checkbox').prop('checked', false);
                    personModalBatchSettings.closeBatchTagPeopleDropdown();
                    shashin.clearTimelineSelection();
                });

                // Clear message on input editing
                $('#propBatchMetadata').bind('keypress', function() {
                    $("#personBatchModalStatus").attr("class","spinner-grow me-auto");
                    $("#personBatchModalStatus").css("visibility","hidden");
                    $("#msgBatchMetadata").html("");
                });
            </script>
        </div>
    </div>
</div>

<script type="text/javascript" th:nonce="${cspNonce}">
    (function( personModalSettings, $, undefined ) {
        personModalSettings.toggleTagPeopleDropdown = function (metadataId) {
            $("#tagpeopledropdown"+metadataId).dropdown('toggle')
        }

        personModalSettings.closeTagPeopleDropdown = function (metadataId) {
            $("#tagpeopledropdown"+metadataId).dropdown('hide')
        }

        personModalSettings.populateLabel = function (metadataId) {
            const checkedBoxes = $('input[name="recognitionLabel' + metadataId + '[]"]:checked');
            let labelString = "";
            checkedBoxes.each(function() {
                labelString += $(this).val() + ",";
            });
            if (labelString.length > 0) {
                labelString = labelString.slice(0,-1)
            }
            $("#tagpeople"+metadataId).val(Util.decodeHtml(labelString));
        }

        personModalSettings.renderPersonModal = function (metadata,recognitionLabels,taggedPeopleList) {
            taggedPeopleList = taggedPeopleList.replaceAll("&quot;", "");
            shashin.printMessageToConsole('taggedPeopleList:'+taggedPeopleList)

            let html = PersonModalHead({module:"person",metadata:metadata,recognitionLabels:recognitionLabels,taggedPeopleList:taggedPeopleList});

            if (recognitionLabels.length > 0) {
                for (const index in recognitionLabels) {
                    const recognitionLabel = recognitionLabels[index];
                    const taggedPeopleArray = taggedPeopleList.split(",");
                    let checkedString = "";
                    if ($.inArray(recognitionLabel.name, taggedPeopleArray) !== -1) {
                        checkedString = " checked";
                    }
                    html += PersonModalDropDown({metadata:metadata,recognitionLabel:recognitionLabel,checkedString:checkedString});
                }
            }
            html += PersonModalFooter({module:"person",metadata:metadata,recognitionLabels:recognitionLabels});

            $("#personmodal"+metadata.id).after(html);

            $(".recognitionLabel").on("click", function (e) {
                personModalSettings.populateLabel(metadata.id);
            });

            $("#tagpeopledropdown"+metadata.id).on("click", function (e) {
               e.preventDefault();
                personModalSettings.toggleTagPeopleDropdown(metadata.id);
            });

            $("#tagpeople"+metadata.id).on("focus", function (e) {
                e.preventDefault();
                personModalSettings.closeTagPeopleDropdown(metadata.id);
            });

            $("#isobject"+metadata.id).on("click", function (e) {
                personModalSettings.closeTagPeopleDropdown(metadata.id);

                if($(this).prop("checked") === true) {
                    $("#tagpeople"+metadata.id).val("");
                }
            });

            $("#saveMetadata"+metadata.id).on("click", function (e) {
                e.preventDefault();

                personModalSettings.closeTagPeopleDropdown(metadata.id);
                $("#personModalStatus" + metadata.id).removeClass('bi-check-circle').removeClass('bi-x-circle').addClass('spinner-grow');
                $("#personModalStatus" + metadata.id).css("visibility","visible");
                $("#personModalStatus" + metadata.id).attr("title", "");
                $("#personModalCancel" + metadata.id).prop('disabled', true);

                const json = {
                    metadataId: metadata.id,
                    tagpeople: $("#tagpeople" + metadata.id).val(),
                    isObject: $("#isobject" + metadata.id).prop("checked")
                };
                const ajaxParams = {
                    type: "post",
                    url: "/person/update",
                    data: JSON.stringify(json),
                    contentType: 'application/json; charset=utf-8',
                    retries: shashin.ajaxRetries
                }

                $.ajax(ajaxParams)
                .fail(function(xhr, textStatus) {
                    $("#personModalStatus").removeClass('bi-check-circle').removeClass('spinner-grow').addClass('bi-x-circle');
                    $("#personModalStatus" + metadata.id).attr("title", shashin.modalStatusFailMessage());
                    $("#personModalCancel" + metadata.id).prop('disabled', false);
                    shashin.onFail(xhr, textStatus, ajaxParams, " saving person");
                }).then(function (data) {
                    if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                        let message = "Error";
                        if (data["status"] === "success") {
                            if (data.hasOwnProperty("recognitionLabels") && data["recognitionLabels"].length > 0) {
                                let renderRecognitionLabels = false;
                                const recognitionLabels = data["recognitionLabels"];

                                let batchHtml = "";

                                for (let index in recognitionLabels) {
                                    const recognitionLabel = recognitionLabels[index];

                                    if ($("#"+metadata.id+'-'+recognitionLabel.id).length === 0) {
                                        renderRecognitionLabels = true;
                                    }

                                    const taggedPeopleArray = $("#tagpeople" + metadata.id).val().split(",");
                                    let checkedString = "";
                                    if ($.inArray(recognitionLabel.name, taggedPeopleArray) !== -1) {
                                        checkedString = " checked";
                                    }
                                    batchHtml += PersonModalDropDown({metadata:metadata,recognitionLabel:recognitionLabel,checkedString:checkedString});
                                }

                                if (true === renderRecognitionLabels) {
                                    $(".dropdown-menu, .personDropdown").html(batchHtml);
                                    $(".recognitionLabel").on("click", function (e) {
                                        personModalSettings.populateLabel(metadata.id);
                                    });
                                }
                            }

                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            // window.top.location = window.top.location
                            $("#personModalStatus" + metadata.id).addClass('bi-check-circle').removeClass('spinner-grow');
                            $("#personModalCancel" + metadata.id).prop('disabled', false);
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                            $("#personModalStatus" + metadata.id).addClass('bi-x-circle').removeClass('spinner-grow');
                            $("#personModalStatus" + metadata.id).attr("title", shashin.modalStatusFailMessage());
                            $("#personModalCancel" + metadata.id).prop('disabled', false);
                        }
                        //$("#msg"+metadata.id).html(message);
                    } else {
                        $("#personModalStatus" + metadata.id).addClass('bi-x-circle').removeClass('spinner-grow');
                        $("#personModalStatus" + metadata.id).attr("title", shashin.modalStatusFailMessage());
                        $("#personModalCancel" + metadata.id).prop('disabled', false);
                    }
                });

                return false;
            });

            // Clear message on modal close
            $('#propperson'+metadata.id).on('hide.bs.modal', function () {
                $("#personModalStatus" + metadata.id).attr("class","spinner-grow me-auto");
                $("#personModalStatus" + metadata.id).css("visibility","hidden");
                personModalSettings.closeTagPeopleDropdown(metadata.id);
                $("#msg"+metadata.id).html("");
            });

            // Clear message on input editing
            $('#propperson'+metadata.id+' input').bind('keypress', function() {
                $("#personModalStatus" + metadata.id).attr("class","spinner-grow me-auto");
                $("#personModalStatus" + metadata.id).css("visibility","hidden");
                $("#msg"+metadata.id).html("");
            });
        }
    }( window.personModalSettings = window.personModalSettings || {}, jQuery ));
</script>

</body>
</html>