<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="searchjs()">
<script type="text/javascript">
    (function( searchSettings, $, undefined ) {
        searchSettings.infiniteScrollGallery = document.getElementById(
            'scroll-gallery',
        );
        searchSettings.lightGalleryConfigs = getLightGalleryConfigs();
        searchSettings.lightGalleryConfigs["dynamic"] = true;
        searchSettings.lg = lightGallery(searchSettings.infiniteScrollGallery, searchSettings.lightGalleryConfigs);
        searchSettings.retryLimit = 3;
        searchSettings.tryCount = 0;

        searchSettings.openGallery = function (e,index) {
            e.preventDefault();
            if (typeof searchSettings.lg !== "undefined") {
                searchSettings.lg.openGallery(index);
            }
        }

        searchSettings.activateMetadataListeners = function (rawMetadata) {
            const metadata = JSON.parse(decodeHtml(rawMetadata));
            // console.log(metadata.id);

            $("#image"+metadata.id).on('load', function() {
                $(this).css("background-color","transparent");
            });
        }

        searchSettings.updateSearch = function(nextPage,searchTerm,activePage) {
            const promise = $.ajax({
                type: 'get',
                url: "/search/"+nextPage+"?searchTerm="+encodeURIComponent(searchTerm),
                contentType: 'application/json; charset=utf-8',
                async:true
            }).fail(function (xhr, textStatus) {
                printMessageToConsole("AJAX error updating search. Attempt: "+searchSettings.tryCount+"/"+searchSettings.retryLimit+". Status: " + xhr.status + ". Text Status: " + textStatus + ".");

                if (textStatus === 'timeout' || textStatus === 'error' || xhr.status !== 200) {
                    searchSettings.tryCount++;
                    if (searchSettings.tryCount <= searchSettings.retryLimit) {
                        //try again
                        searchSettings.updateSearch(nextPage,searchTerm,activePage);
                    }
                }
            }).then(function (data) {
                searchSettings.tryCount = 0;
                var mediaContentList = [];
                if (data.hasOwnProperty("status") && data.hasOwnProperty("metadataSearchList") && data["status"] === "success") {
                    const metadataList = data["metadataSearchList"] === "" ? null : data["metadataSearchList"];

                    if (metadataList !== null && metadataList.length > 0) {
                        var html = "";
                        var mediaLinkLength = $(".mediaLink").length;
                        for (var index in metadataList) {
                            const currentMediaLinkIndex = (mediaLinkLength + parseInt(index));
                            var mediaContent = {}
                            var metadata = metadataList[index];
                            let dateString = getDateString(metadata["year"], metadata["month"], metadata["day"]);

                            html += '<div class="photo-thumbnail-container photo-thumbnail" style="width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;">\n';
                            html +=
                                '   <a class="lightGalleryIndexAnchor" name="lightGalleryIndex'+currentMediaLinkIndex+'"></a>\n' +
                                '   <img src="' + metadata.thumbnailUrlSmall + '" class="photo-thumbnail-image" id="image' + metadata.id + '" width="' + metadata.thumbnailSmallWidth + '" height="' + metadata.thumbnailSmallHeight + '" style="background-color:lightgray;">\n' +
                                '   <input type="hidden" name="filename' + metadata.id + '" id="filename' + metadata.id + '" value="' + metadata.fileName + '">\n';
                            if (metadata.type.includes("video")) {
                                const duration = (metadata.hasOwnProperty("duration") && metadata.duration !== null && metadata.duration !== "") ? metadata.duration : "0:00";
                                html +=
                                    '   <div class="thumbnail-tr" id="tntr' + metadata.id + '">\n' +
                                    '       <span class="overlayIconBackground">'+duration+'&nbsp;<span id="video' + metadata.id + '" class="bi-camera-video overlayIcon"></span></span>\n' +
                                    '   </div>\n';
                            } else if (metadata.originalImageWidth > metadata.originalImageHeight*2) {
                                html +=
                                    '   <div class="thumbnail-tr" id="tntr' + metadata.id + '">\n' +
                                    '       <span id="panorama' + metadata.id + '" class="bi-aspect-ratio overlayIcon overlayIconBackground"></span>\n' +
                                    '   </div>\n';
                            }
                            html += '   <div class="thumbnail-centered" id="tncentered' + metadata.id + '">\n';

                            mediaContent.subHtml = (metadata.placeName !== null ? '<a href=\'/map?lat='+metadata.lat+'&lng='+metadata.lng+'\' target=\'_blank\'>'+metadata.placeName+'</a><br>' : "<br>") + metadata.fileName + (dateString !== "" ? ' taken on ' + dateString : '');
                            if (metadata.type.includes("video")) {
                                mediaContent.video = {"source":[{"src":metadata.videoUrl,"type":"video/mp4"}],"attributes":{"preload":false,"controls":true}};
                                html +=
                                    '       <a class="mediaLink" onclick="return searchSettings.openGallery(event,'+currentMediaLinkIndex+')" \n' +
                                    '           data-video=\'{"source": [{"src":"' + metadata.videoUrl + '", "type":"video/mp4"}], "attributes": {"preload": false, "controls": true}}\'\n' +
                                    '           data-sub-html="' + (metadata.placeName !== null ? '<a href=\'/map?lat='+metadata.lat+'&lng='+metadata.lng+'\' target=\'_blank\'>'+metadata.placeName+'</a><br>' : "<br>") + metadata.fileName + (dateString !== "" ? ' taken on ' + dateString : '') + '">\n' +
                                    '           <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>\n' +
                                    '       </a>\n';
                            } else {
                                mediaContent.src = metadata.thumbnailUrlOriginal;
                                html +=
                                    '       <a class="mediaLink" onclick="return searchSettings.openGallery(event,'+currentMediaLinkIndex+')" data-src="' + metadata.thumbnailUrlOriginal + '" href="' + metadata.thumbnailUrlOriginal + '"' +
                                    '           data-sub-html="' + (metadata.placeName !== null ? '<a href=\'/map?lat='+metadata.lat+'&lng='+metadata.lng+'\' target=\'_blank\'>'+metadata.placeName+'</a><br>' : "<br>") + metadata.fileName + (dateString !== "" ? ' taken on ' + dateString : '') + '">\n' +
                                    '           <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>\n' +
                                    '       </a>\n';
                            }
                            mediaContentList.push(mediaContent);
                            html += '</div></div>\n<span class="appendSearchPhotos" style="width:0;height:0;padding:0"></span>\n';
                            $(html).insertAfter($(".appendSearchPhotos").last())

                            var htmlEncodedMetadata = encodeHtml(JSON.stringify(metadata));

                            setPhotoOverlays(htmlEncodedMetadata, activePage);
                            searchSettings.activateMetadataListeners(htmlEncodedMetadata);

                            html = "";
                        }
                    } else {
                        $(".appendSearchPhotos").last().text("EOL").css("display","none")
                    }
                } else {
                    $(".appendSearchPhotos").last().text("EOL").css("display","none")
                }

                $("#spinner").css("display","none");

                return mediaContentList;
            });

            return promise.done(function(data) {
                return data;
            });
        }
    }( window.searchSettings = window.searchSettings || {}, jQuery ));

</script>

</body>
</html>