<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<ul class="nav nav-tabs" th:fragment="settings(activePage)">
  <li class="nav-item">
    <a th:attr="class='nav-link' + ${activePage=='settings' ? ' active' : ''}" href="/settings">General</a>
  </li>
  <li class="nav-item">
    <a th:attr="class='nav-link' + ${activePage=='scan' ? ' active' : ''}" href="/settings/scan">Media Indexing</a>
  </li>
  <li class="nav-item">
    <a th:attr="class='nav-link' + ${activePage=='match' ? ' active' : ''}" href="/settings/match">Face Match Indexing</a>
  </li>
  <li class="nav-item">
    <a th:attr="class='nav-link' + ${activePage=='users' ? ' active' : ''}" href="/settings/users">User Management</a>
  </li>
  <li class="nav-item">
    <a th:attr="class='nav-link' + ${activePage=='snapshot' ? ' active' : ''}" href="/settings/snapshot">Import/Export</a>
  </li>
  <li class="nav-item">
    <a th:attr="class='nav-link' + ${activePage=='logs' ? ' active' : ''}" href="/settings/logs">Logs</a>
  </li>
</ul>
</body>
</html>