<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="sharealbumjs(shareLink)">
<script type="text/javascript">
    function updateAlbum(albumId, nextPage, activePage) {

        const posting = $.get({
            url: "/share/[[${shareLink}]]/album/"+albumId+"/"+nextPage,
            contentType: 'application/json; charset=utf-8'
        });

        posting.done(function (data) {
            if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                let message = "Error";
                if (data["status"] === "success") {
                    if (data.hasOwnProperty("albumMetadataList")) {
                        var albumMetadataList = data["albumMetadataList"] === "" ? [] : data["albumMetadataList"];

                        for (var index in albumMetadataList) {
                            var metadata = albumMetadataList[index];

                            let dateString = getDateString(metadata["year"], metadata["month"], metadata["day"]);

                            var html =
                                '<div class="photo-thumbnail-container photo-thumbnail">\n' +
                                '   <img src="'+metadata.thumbnailUrlSmall+'" class="photo-thumbnail-image" id="image'+metadata.id+'">\n';
                            if (metadata.type.includes("video")) {
                                html +=
                                    '   <div class="thumbnail-tr" id="tntr'+metadata.id+'">\n' +
                                    '       <span class="bi-camera-video-fill" style="font-size: 1rem;color: darkblue;"></span>\n' +
                                    '   </div>\n';
                            }

                            html +=
                                '   <div class="thumbnail-centered" id="tncentered'+metadata.id+'">\n';

                            if (metadata.type.includes("video")) {
                                html +=
                                    '   <a class="mediaLink"\n' +
                                    '       data-video=\'{"source": [{"src":"'+metadata.videoUrl+'", "type":"video/mp4"}], "attributes": {"preload": false, "controls": true}}\'\n' +
                                    '       data-sub-html="'+(metadata.placeName !== null ? metadata.placeName+'<br>' : "<br>")+metadata.fileName+(dateString !== "" ? ' taken on '+dateString : '')+'">\n' +
                                    '       <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>\n' +
                                    '   </a>\n';
                            } else {
                                html +=
                                    '   <a class="mediaLink" data-src="'+metadata.thumbnailUrlOriginal+'" href="'+metadata.thumbnailUrlOriginal+'"' +
                                    '       data-sub-html="'+(metadata.placeName !== null ? metadata.placeName+'<br>' : "<br>")+metadata.fileName+(dateString !== "" ? ' taken on '+dateString : '')+'">\n' +
                                    '       <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>\n' +
                                    '   </a>\n';
                            }

                            html +=
                                '   </div>\n' +
                                '</div>\n';

                            // Append HTML
                            $(html).insertBefore($(".appendAlbumPhotos").last())

                            // Call JS and modal
                            var htmlEncodedMetadata = encodeHtml(JSON.stringify(metadata));
                            setPhotoOverlays(htmlEncodedMetadata, activePage);
                        }
                    }
                } else {
                    message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                    $("#msgTimeline").html(message);
                }
            }
        });
    }
</script>

</body>
</html>