<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="sidebaroffcanvas(activeSidebar,currentUser)">

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <a class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none" href="/">
            <span class="lead" style="font-size: medium;color:slategray" th:text="${@environment.getProperty('app.build.properties.name')}"></span>
        </a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul id="offcanvasList" class="nav nav-pills list-group flex-column mb-auto">
            <li class="nav-link text-dark"><h5><small class="text-muted"><span id="sidebarGreeting"></span> <th:block th:text="${currentUser.username}"></th:block></small></h5></li>
            <th:block th:if="${currentUser.authority == 'ROLE_ADMIN' || currentUser.authority == 'ROLE_SUPER'}">
                <!-- Show timeline view if not Safari -->
                <!-- TODO: Fix timeline scrolling in Safari -->
                <th:block th:if="${agentName != 'Safari'}">
                    <li class="nav-item">
                        <a th:attr="class='nav-link list-group-item list-group-item-action rounded' + ${activeSidebar=='timeline' ? ' active' : ''}" href="/timeline">
                            <span class="bi-calendar4" style="font-size: 1rem;"></span> <th:block th:text="#{main.sidebar.timeline}"></th:block>
                        </a>
                    </li>
                </th:block>
            </th:block>
            <li class="nav-item">
                <a th:attr="class='nav-link list-group-item list-group-item-action rounded' + ${activeSidebar=='albums' or activeSidebar=='album'? ' active' : ''}" href="/albums">
                    <span class="bi-images" style="font-size: 1rem;"></span> <th:block th:text="#{main.sidebar.albums}"></th:block>
                </a>
            </li>
            <th:block th:if="${currentUser.authority == 'ROLE_ADMIN' || currentUser.authority == 'ROLE_SUPER'}">
                <li class="nav-item">
                    <a th:attr="class='nav-link list-group-item list-group-item-action rounded' + ${activeSidebar=='recent' or activeSidebar=='modified' or activeSidebar=='accessed' or activeSidebar=='folders' or activeSidebar=='folder' or activeSidebar=='taken' or activeSidebar=='archived' ? ' active' : ''}" href="/recent">
                        <span class="bi-search" style="font-size: 1rem;"></span> <th:block th:text="#{main.sidebar.explore}"></th:block>
                    </a>
                </li>
            </th:block>
            <li class="nav-item">
                <a th:attr="class='nav-link list-group-item list-group-item-action rounded' + ${activeSidebar=='people' or activeSidebar=='person' or activeSidebar=='matches' or activeSidebar=='compreface' ? ' active' : ''}" href="/people">
                    <span id="sidebarPeople" class="bi-person-square position-relative" style="font-size: 1rem;"></span> <th:block th:text="#{main.sidebar.people}"></th:block>
                </a>
            </li>
            <li class="nav-item">
                <a th:attr="class='nav-link list-group-item list-group-item-action rounded' + ${activeSidebar=='favorites' ? ' active' : ''}" href="/favorites">
                    <span class="bi-suit-heart" style="font-size: 1rem;"></span> <th:block th:text="#{main.sidebar.favorites}"></th:block>
                </a>
            </li>
            <li class="nav-item">
                <a th:attr="class='nav-link list-group-item list-group-item-action rounded' + ${activeSidebar=='map' ? ' active' : ''}" href="/map">
                    <span class="bi-map" style="font-size: 1rem;"></span> <th:block th:text="#{main.sidebar.map}"></th:block>
                </a>
            </li>
            <li class="nav-item">
                <a th:attr="class='nav-link list-group-item list-group-item-action rounded' + ${activeSidebar=='notifications' ? ' active' : ''} + ' position-relative'" href="/notifications">
                    <span id="sidebarNotification" class="bi-bell position-relative" style="font-size: 1rem;"></span> <th:block th:text="#{main.sidebar.notifications}"></th:block>
                </a>
            </li>
            <th:block th:if="${currentUser.authority == 'ROLE_SUPER'}">
                <li class="nav-item">
                    <a th:attr="class='nav-link list-group-item list-group-item-action rounded' + ${activeSidebar=='settings' or activeSidebar=='scan' or activeSidebar=='users' or activeSidebar=='match' or activeSidebar=='logs' or activeSidebar=='snapshot' ? ' active' : ''}" href="/settings">
                        <span class="bi-gear" style="font-size: 1rem;"></span> <th:block th:text="#{main.sidebar.settings}"></th:block>
                    </a>
                </li>
            </th:block>
            <th:block th:if="${currentUser.authority == 'ROLE_ADMIN' || currentUser.authority == 'ROLE_SUPER'}">
                <li class="nav-item">
                    <a th:attr="class='nav-link list-group-item list-group-item-action rounded' + ${activeSidebar=='dashboard' ? ' active' : ''}" href="/dashboard">
                        <span class="bi-speedometer" style="font-size: 1rem;"></span> <th:block th:text="#{main.sidebar.dashboard}"></th:block>
                    </a>
                </li>
            </th:block>
        </ul>

<!--        <div style="position : absolute;bottom: 10px;" class="me-2">-->
<!--            &copy; <span th:text="'2021-'+${copyrightYear}+' '+${@environment.getProperty('app.build.properties.name')}+${activeProfile != 'prod' ? ' '+#strings.capitalize(activeProfile)+' Build ': ' '}+${operatingSystemInfo != '' ? '('+operatingSystemInfo+') ' : ''}+${buildProperties.getVersion()}"></span>-->
<!--        </div>-->
    </div>
</div>

<script type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(async function () {
        greeting();
        $("#offcanvasMenu").on("hidden.bs.offcanvas", function () {
            greeting();
        });

        function greeting() {
            const greetings = [
                "Bonjour",
                "Hi",
                "Hiya",
                "Hey",
                "Hello",
                "Sup",
                "Heyyy",
                "Ahoy",
                "Howdy",
                "Hola",
                "G'day",
                "Gutentag",
                "こんにちは"
            ];
            const randGreeting = greetings[Math.floor(Math.random() * greetings.length)];
            $("#sidebarGreeting").text(randGreeting);
        }
    })
</script>

</body>
</html>