<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="sidebaroffcanvas(activeSidebar,currentUser,hasNotifications)">

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
        <a class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none" th:href="${currentUser != '' and currentUser.authority == 'ROLE_ADMIN' ? '/timeline' : '/albums'}">
            <span class="lead" style="font-size: medium" th:text="${@environment.getProperty('app.build.properties.name')}"></span>
        </a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-pills list-group flex-column mb-auto">
            <li class="nav-link text-dark"><h5><small class="text-muted"><span id="sidebarGreeting"></span> <th:block th:text="${currentUser != '' ? currentUser.username : ''}"></th:block></small></h5></li>
            <th:block th:if="${currentUser != '' and currentUser.authority == 'ROLE_ADMIN'}">
                <li class="nav-item">
                    <a th:attr="class='nav-link list-group-item list-group-item-action' + ${activeSidebar=='timeline' ? ' active' : ''}" href="/timeline">
                        <span class="bi-calendar4" style="font-size: 1rem;"></span> Timeline
                    </a>
                </li>
                <li class="nav-item">
                    <a th:attr="class='nav-link list-group-item list-group-item-action' + ${activeSidebar=='recent' or activeSidebar=='folders' ? ' active' : ''}" href="/recent">
                        <span class="bi-folder" style="font-size: 1rem;"></span> Browse
                    </a>
                </li>
            </th:block>
            <li class="nav-item">
                <a th:attr="class='nav-link list-group-item list-group-item-action' + ${activeSidebar=='albums' or activeSidebar=='album'? ' active' : ''}" href="/albums">
                    <span class="bi-images" style="font-size: 1rem;"></span> Albums
                </a>
            </li>
            <li class="nav-item">
                <a th:attr="class='nav-link list-group-item list-group-item-action' + ${activeSidebar=='people' or activeSidebar=='person' or activeSidebar=='matches' ? ' active' : ''}" href="/people">
                    <span class="bi-person-square" style="font-size: 1rem;"></span> People
                </a>
            </li>
            <li class="nav-item">
                <a th:attr="class='nav-link list-group-item list-group-item-action' + ${activeSidebar=='favorites' ? ' active' : ''}" href="/favorites">
                    <span class="bi-suit-heart" style="font-size: 1rem;"></span> Favorites
                </a>
            </li>
            <li class="nav-item">
                <a th:attr="class='nav-link list-group-item list-group-item-action' + ${activeSidebar=='map' ? ' active' : ''}" href="/map">
                    <span class="bi-map" style="font-size: 1rem;"></span> Map
                </a>
            </li>
            <li class="nav-item">
                <a th:attr="class='nav-link list-group-item list-group-item-action' + ${activeSidebar=='notifications' ? ' active' : ''} + ' position-relative'" href="/notifications">
                    <span class="bi-bell position-relative" style="font-size: 1rem;">
                        <th:block th:if="${hasNotifications}">
                        <span id="sideBarAlertBadge" class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                        </th:block>
                    </span> Notifications

                </a>
            </li>
            <th:block th:if="${currentUser != '' and currentUser.authority == 'ROLE_ADMIN'}">
                <li class="nav-item">
                    <a th:attr="class='nav-link list-group-item list-group-item-action' + ${activeSidebar=='settings' or activeSidebar=='scan' or activeSidebar=='users' or activeSidebar=='match' or activeSidebar=='logs' ? ' active' : ''}" href="/settings">
                        <span class="bi-wrench" style="font-size: 1rem;"></span> Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a th:attr="class='nav-link list-group-item list-group-item-action' + ${activeSidebar=='dashboard' ? ' active' : ''}" href="/dashboard">
                        <span class="bi-speedometer" style="font-size: 1rem;"></span> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a th:attr="class='nav-link list-group-item list-group-item-action' + ${activeSidebar=='trash' ? ' active' : ''}" href="/trash">
                        <span class="bi-trash" style="font-size: 1rem;"></span> Trash
                    </a>
                </li>
            </th:block>
        </ul>
    </div>
</div>

<script type="text/javascript">
    greeting();
    $("#offcanvasMenu").on("hidden.bs.offcanvas", function() {
        greeting();
    });
    function greeting() {
        const greetings = [
            "Hi",
            "Hiya",
            "Hey",
            "Hello",
            "Sup",
            "Heyyy",
            "Ahoy",
            "Howdy",
            "Hola",
            "G'day"
        ];
        const randGreeting = greetings[Math.floor(Math.random() * greetings.length)];
        $("#sidebarGreeting").text(randGreeting);
    }
</script>

</body>
</html>