<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="timelinejs()">
<script type="text/javascript">
    const $infiniteScrollGallery = document.getElementById(
        'infinite-scroll-gallery',
    );
    const lightGalleryConfigs = getLightGalleryConfigs();
    lightGalleryConfigs["dynamic"] = true;
    const lg = lightGallery($infiniteScrollGallery, lightGalleryConfigs);

    function openGallery(e,index) {
        e.preventDefault();
        if (lg) {
            lg.openGallery(index);
        }
    }

    function openTimelineModal(metadata,recognitionLabels,taggedPeopleList) {
        // Populate modal data
        // console.log("openTimelineModal");
        // console.log(metadata);
        // console.log(recognitionLabels);
        // console.log(taggedPeopleList);

        if ($("#timelineModalEdit"+metadata.id).attr("tag") && $("#timelineModalEdit"+metadata.id).attr("tag").trim() !== "") {
            metadata = JSON.parse($("#timelineModalEdit"+metadata.id).attr("tag"));
        }

        // Clear modal data
        $('#propTimelineModal').find(':input').val('');
        $("#isobject").prop('checked', false);
        $("#pathDetails").text("");
        $("#typeDetails").text("");
        $("#isoDetails").text("");
        $("#exposureDetails").text("");
        $("#fNumberDetails").text("");
        $("#focalLengthDetails").text("");
        $("#cameraDetails").text("");
        $("#lensDetails").text("");
        $("#qualityDetails").text("");
        $("#createdAtDetails").text("");
        $("#modifiedAtDetails").text("");
        $("#takenAtDetails").text("");
        $("#manualTakenAtDetails").text("");
        $("#timeZoneDetails").text("");

        $("#timelineModalTitle").text(metadata.fileName);
        $("#currentfilename").val(metadata.fileName)
        $("#currentlat").val(metadata.lat)
        $("#currentlng").val(metadata.lng)
        $("#metadataId").val(metadata.id);

        if (metadata.title !== null) {
            $("#title").val(metadata.title);
        }

        if (metadata.timeZone !== null) {
            $("#offsetTaken").val(metadata.timeZone);
        }
        if (metadata.time !== null) {
            $("#timeTaken").val(metadata.time);
        }
        if (metadata.day !== null) {
            $("#dayTaken").val(metadata.day);
        }
        if (metadata.month !== null) {
            $("#monthTaken").val(metadata.month);
        }
        if (metadata.year !== null) {
            $("#yearTaken").val(metadata.year);
        }

        var latlngValue = (metadata.lat == null || metadata.lng == null) ? '' : ($.trim(metadata.lat) + ',' + $.trim(metadata.lng));
        $("#latlng").val(latlngValue);

        var taggedPeopleArray = taggedPeopleList.split(",");
        var isObject = false;
        var taggedPeopleString = "";
        for (var index in taggedPeopleArray) {
            var person = taggedPeopleArray[index];
            if (person === "object") {
                isObject = true;
            } else {
                taggedPeopleString += person + ",";
            }
        }
        taggedPeopleString = taggedPeopleString.replace(/,\s*$/, "");
        taggedPeopleString = taggedPeopleString.trim();
        if (taggedPeopleString !== "") {
            $("#tagpeople").val(taggedPeopleString);
        } else if (metadata.tagpeople !== null) {
            $("#tagpeople").val(metadata.tagpeople);
        }

        if ($("#recognitionLabelInput").length > 0) {
            $("#recognitionLabelInput").remove();
        }
        if (recognitionLabels !== null && recognitionLabels.length > 0) {
            var html = '<div class="input-group-append" id="recognitionLabelInput">\n' +
                '           <button class="btn btn-outline-secondary dropdown-toggle" onclick="return toggleTagPeopleDropdown(\'' + metadata.id + '\');" id="tagpeopledropdown'+metadata.id+'" type="button" aria-haspopup="true" aria-expanded="false">People</button>\n' +
                '           <div class="dropdown-menu" id="recognitionLabelsList">\n';
            for (var index in recognitionLabels) {
                var recognitionLabel = recognitionLabels[index];
                var checkedString = "";
                if (jQuery.inArray(recognitionLabel.name, taggedPeopleArray) !== -1) {
                    checkedString = " checked";
                }
                html +=
                    '           <button class="dropdown-item" type="button">\n' +
                    '               <input type="checkbox" onclick="return populateLabel(\'' + metadata.id + '\');" value="' + recognitionLabel.name + '" name="recognitionLabel' + metadata.id + '[]" id="' + metadata.id + '-' + recognitionLabel.id + '"' + checkedString + '>\n' +
                    '               <label for="' + metadata.id + '-' + recognitionLabel.id + '" id="label-' + metadata.id + '-' + recognitionLabel.id + '">' + recognitionLabel.name + '</label>\n' +
                    '           </button>\n';
            }
            html += '   </div>\n' +
                '</div>\n';

            $(html).insertAfter($("#labelIdData"))
        }

        if (isObject === true) {
            $("#isobject").prop('checked', true);
        }

        $("#keywords").val(metadata.keywords);

        // Fill in details tab data
        if (metadata.path != null) {
            $("#pathDetails").text(metadata.path);
        }
        if (metadata.type != null) {
            $("#typeDetails").text(metadata.type);
        }
        if (metadata.iso != null) {
            $("#isoDetails").text(metadata.iso);
        }
        if (metadata.exposure != null) {
            $("#exposureDetails").text(metadata.exposure);
        }
        if (metadata.fNumber != null) {
            $("#fNumberDetails").text(metadata.fNumber);
        }
        if (metadata.focalLength != null) {
            $("#focalLengthDetails").text(metadata.focalLength);
        }
        if (metadata.camera != null) {
            $("#cameraDetails").text(metadata.camera);
        }
        if (metadata.lens != null) {
            $("#lensDetails").text(metadata.lens);
        }
        if (metadata.quality != null) {
            $("#qualityDetails").text(metadata.quality);
        }
        if (metadata.createdAt != null) {
            $("#createdAtDetails").text(metadata.createdAt);
        }
        if (metadata.modifiedAt != null) {
            $("#modifiedAtDetails").text(metadata.modifiedAt);
        }
        if (metadata.takenAt != null) {
            $("#takenAtDetails").text(metadata.takenAt);
        }
        if (metadata.year != null || metadata.month != null || metadata.day != null) {
            $("#manualTakenAtDetails").text(metadata.year+'-'+metadata.month+'-'+metadata.day+' '+metadata.time);
        }
        if (metadata.timeZone != null) {
            $("#timeZoneDetails").text(metadata.timeZone);
        }

        // Open modal window
        $("#propTimelineModal").modal('show');
    }

    function activateMetadataListeners(rawMetadata) {
        var metadata = JSON.parse(decodeHtml(rawMetadata));
        // console.log(metadata.id);

        $("#image"+metadata.id).on('load', function() {
            $(this).css("background-color","transparent");
        });

        $("#favorite"+metadata.id).click(function (e) {
            e.preventDefault();

            var metadataId = metadata.id;

            if ($("#bricon" + metadataId).attr("class") === "bi-suit-heart") {
                $("#bricon" + metadataId).attr("class", "bi-suit-heart-fill");
            } else if ($("#bricon" + metadataId).attr("class") === "bi-suit-heart-fill") {
                $("#bricon" + metadataId).attr("class", "bi-suit-heart");
            }

            var isFavorite = ($("#bricon" + metadataId).attr("class") === "bi-suit-heart-fill");

            var json = {metadataId: metadataId, isFavorite: isFavorite}
            var posting;

            if (isFavorite === true) {
                posting = $.post({
                    url: "/favorite/save",
                    data: JSON.stringify(json),
                    contentType: 'application/json; charset=utf-8'
                });
            } else {
                posting = $.post({
                    url: "/favorite/delete",
                    data: JSON.stringify(json),
                    contentType: 'application/json; charset=utf-8'
                });
            }

            posting.done(function (data) {
                if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                    // console.log(data["status"]);
                    // console.log(data["msg"]);
                }
            });

            return false;
        });
    }

    // Using pagination - deprecated
    function updateTimeline(nextPage,mediaTypeFilter,activePage) {
        // console.log("nextPage:"+nextPage);

        var promise = $.ajax({
            type: 'get',
            url: "/timeline/mediatype/"+mediaTypeFilter+"/"+nextPage,
            contentType: 'application/json; charset=utf-8',
            async:false
        }).then(function (data) {
            var mediaContentList = [];
            if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                let message = "Error";
                if (data["status"] === "success") {
                    if (data.hasOwnProperty("metadataList") &&
                        data.hasOwnProperty("favorites") &&
                        data.hasOwnProperty("albumList") &&
                        data.hasOwnProperty("recognitionLabels") &&
                        data.hasOwnProperty("labelPhotoMap")
                    ) {
                        var metadataList = data["metadataList"] === "" ? null : data["metadataList"];
                        var favoritesList = data["favorites"] === "" ? null : data["favorites"];
                        var recognitionLabels = data["recognitionLabels"] === "" ? null : data["recognitionLabels"];
                        var labelPhotoMap = data["labelPhotoMap"] === "" ? null : data["labelPhotoMap"];

                        if (metadataList.length > 0) {
                            // console.log(metadataList);
                            // console.log(albumList);
                            var html = "";
                            var undatedCount = 0;
                            var mediaLinkLength = $(".mediaLink").length;
                            // console.log("/timeline/mediatype/"+mediaTypeFilter+"/"+nextPage);
                            for (var index in metadataList) {
                                var mediaContent = {}
                                var metadata = metadataList[index];
                                var currentDateTaken = metadata["year"] + "-" + metadata["month"] + "-" + metadata["day"];

                                // console.log(metadata["id"]+"-"+currentDateTaken);

                                var yearTakenCount = $(".yearTaken").length;
                                var monthTakenCount = $(".monthTaken").length;
                                var dayTakenCount = $(".dayTaken").length;
                                var dateTakenHeadingCount = $(".dateTakenHeading").length;
                                var headingCount = 0;
                                var lastYearTaken = $(".yearTaken").get(yearTakenCount - 1).innerText
                                var lastMonthTaken = $(".monthTaken").get(monthTakenCount - 1).innerText
                                var lastDayTaken = $(".dayTaken").get(dayTakenCount - 1).innerText
                                var lastDateTakenHeading = $(".dateTakenHeading").get(dateTakenHeadingCount - 1).innerText
                                lastYearTaken = lastYearTaken !== "" ? parseInt(lastYearTaken) : 0;
                                lastMonthTaken = lastMonthTaken !== "" ? parseInt(lastMonthTaken) : 0;
                                lastDayTaken = lastDayTaken !== "" ? parseInt(lastDayTaken) : 0;

                                var appended = false;

                                let dateString = getDateString(metadata["year"], metadata["month"], metadata["day"]);

                                // Undated
                                if (metadata["year"] === null ||
                                    metadata["month"] === null ||
                                    metadata["day"] === null) {
                                    // console.log("undated");
                                    if (undatedCount > 0 || $('.undatedTimelinePhotos').length > 0) {
                                        // Append
                                        appended = true;
                                        // console.log("appended");
                                    } else {
                                        // Create new
                                        headingCount++;
                                        html += '<br><p class="undatedTimelinePhotos" id="undated"><strong>Undated</strong></p>\n' +
                                            '<div class="row p-3">\n';
                                        // console.log("new");
                                    }
                                    undatedCount++;
                                } else if (lastYearTaken === metadata["year"] && // Append (test: 1st photo set has 10 photos within date)
                                    lastMonthTaken === metadata["month"] &&
                                    lastDayTaken === metadata["day"] &&
                                    lastDateTakenHeading === currentDateTaken) {
                                    // console.log("append date");
                                    appended = true;
                                } else { // New date div
                                    // console.log("new date");
                                    headingCount++;
                                    html += '<br><p><strong class="dateHeading" id="' + metadata["year"] + '-' + metadata["month"] + '-' + metadata["day"] + '">' + dateString + '</strong></p>\n' +
                                        '<span style="display: none;" class="dateTakenHeading">' + metadata["year"] + '-' + metadata["month"] + '-' + metadata["day"] + '</span>\n' +
                                        '<div class="row p-3">\n' +
                                        '<span style="display: none;" class="yearTaken">' + metadata["year"] + '</span>\n' +
                                        '<span style="display: none;" class="monthTaken">' + metadata["month"] + '</span>\n' +
                                        '<span style="display: none;" class="dayTaken">' + metadata["day"] + '</span>\n';
                                }

                                if (metadata.type.includes("video")) {
                                    html += '<div class="photo-thumbnail-container photo-thumbnail is-video">\n';
                                } else {
                                    html += '<div class="photo-thumbnail-container photo-thumbnail is-not-video">\n';
                                }
                                html +=
                                    '   <img src="' + metadata.thumbnailUrlSmall + '" class="photo-thumbnail-image" id="image' + metadata.id + '" width="' + metadata.thumbnailSmallWidth + '" height="' + metadata.thumbnailSmallHeight + '" style="background-color:lightgray;">\n' +
                                    '   <input type="hidden" name="filename' + metadata.id + '" id="filename' + metadata.id + '" value="' + metadata.fileName + '">\n';
                                if (metadata.type.includes("video")) {
                                    html +=
                                        '   <div class="thumbnail-tr" id="tntr' + metadata.id + '">\n' +
                                        '       <span class="bi-camera-video-fill" style="font-size: 1rem;color: darkblue;"></span>\n' +
                                        '   </div>\n';
                                }
                                var favoriteIcon = favoritesList[metadata.id] === true ? 'bi-suit-heart-fill' : 'bi-suit-heart';
                                html += '   <div class="thumbnail-tl" id="tntl' + metadata.id + '">\n' +
                                    '           <a href="#" id="select' + metadata.id + '">\n' +
                                    '               <span id="tlicon' + metadata.id + '" class="bi-circle" style="font-size: 1rem;color: lightgray;"></span>\n' +
                                    '           </a>\n' +
                                    '       </div>\n' +
                                    '       <div class="thumbnail-br" id="tnbr' + metadata.id + '">\n' +
                                    '           <a href="#" id="favorite' + metadata.id + '">\n' +
                                    '               <span id="bricon' + metadata.id + '" class="' + favoriteIcon + '" style="font-size: 1rem;color: red;"></span>\n' +
                                    '           </a>\n' +
                                    '       </div>\n' +
                                    '       <div class="thumbnail-bl" id="tnbl' + metadata.id + '">\n' +
                                    '           <a href="#" id="timelineModalEdit'+metadata.id+'" data-bs-target="#propTimelinModal">\n' +
                                    '               <span class="bi-pencil" style="font-size: 1rem;color: lightgray;"></span>\n' +
                                    '           </a>\n' +
                                    '       </div>\n' +
                                    '       <div class="thumbnail-centered" id="tncentered' + metadata.id + '">\n';

                                const currentMediaLinkIndex = (mediaLinkLength + parseInt(index));
                                mediaContent.subHtml = (metadata.placeName !== null ? metadata.placeName + '<br>' : "<br>") + metadata.fileName + (dateString !== "" ? ' taken on ' + dateString : '');
                                if (metadata.type.includes("video")) {
                                    mediaContent.video = {"source":[{"src":metadata.videoUrl,"type":"video/mp4"}],"attributes":{"preload":false,"controls":true}};
                                    html +=
                                        '       <a class="mediaLink" onclick="return openGallery(event,'+currentMediaLinkIndex+')" \n' +
                                        '           data-video=\'{"source": [{"src":"' + metadata.videoUrl + '", "type":"video/mp4"}], "attributes": {"preload": false, "controls": true}}\'\n' +
                                        '           data-sub-html="' + (metadata.placeName !== null ? metadata.placeName + '<br>' : "<br>") + metadata.fileName + (dateString !== "" ? ' taken on ' + dateString : '') + '">\n' +
                                        '           <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>\n' +
                                        '       </a>\n';
                                } else {
                                    mediaContent.src = metadata.thumbnailUrlOriginal;
                                    html +=
                                        '       <a class="mediaLink" onclick="return openGallery(event,'+currentMediaLinkIndex+')" data-src="' + metadata.thumbnailUrlOriginal + '" href="' + metadata.thumbnailUrlOriginal + '"' +
                                        '           data-sub-html="' + (metadata.placeName !== null ? metadata.placeName + '<br>' : "<br>") + metadata.fileName + (dateString !== "" ? ' taken on ' + dateString : '') + '">\n' +
                                        '           <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>\n' +
                                        '       </a>\n';
                                }
                                mediaContentList.push(mediaContent);
                                html += '</div></div>\n<div id="timelinemodal' + metadata.id + '"></div><span class="appendMetadataPhotos"></span>\n';

                                if (appended === true) {
                                    // Append
                                    $(html).insertAfter($(".appendMetadataPhotos").last())
                                } else {
                                    html += '</div><span class="attachMetadataPhotos"></span>';
                                    $(html).insertAfter($(".attachMetadataPhotos").last())
                                }

                                if ($(".undatedTimelinePhotos").length > 0 && $(".anchorUndated").length === 0) {
                                    var html = '<li class="nav-item"><a class="anchorUndated" style="position: relative;left: 1%;" href="#undated">Undated</a></li>';
                                    $("#timelineToc").append(html);
                                } else {
                                    for (var i = 0; i < headingCount; i++) {
                                        var target = -(i + 1);

                                        if ($("p strong").eq(target).attr('id') !== $("p strong").eq(target - 1).attr('id')) {
                                            var dateId = $("p strong").eq(target).attr('id');
                                            var dateHeading = $("p strong").eq(target).text();

                                            if ($(".anchor-" + dateId).length === 0) {
                                                var timelineTocHtml = '<li class="nav-item"><a class="anchor-' + dateId + '" style="position: relative;left: 1%;" href="#' + dateId + '">' + dateHeading + '</a></li>';
                                                $("#timelineToc").append(timelineTocHtml);
                                            }
                                        }
                                    }
                                }

                                $("#timelineModalEdit"+metadata.id).attr("tag",JSON.stringify(metadata));

                                $("#timelineModalEdit"+metadata.id).click(function(e) {
                                    e.preventDefault();

                                    var metadataObj = JSON.parse($(this).attr("tag"));
                                    openTimelineModal(metadataObj,recognitionLabels,labelPhotoMap[metadataObj.id]);
                                });

                                var htmlEncodedMetadata = encodeHtml(JSON.stringify(metadata));
                                var htmlEncodedRecognitionLabels = encodeHtml(JSON.stringify(recognitionLabels));
                                var htmlEncodedLabelPhotoMap = encodeHtml(JSON.stringify(labelPhotoMap[metadata.id]));

                                setPhotoOverlays(htmlEncodedMetadata, activePage);
                                activateMetadataListeners(htmlEncodedMetadata);

                                html = "";
                            }
                        } else {
                            $(".attachMetadataPhotos").last().text("EOL").css("display","none")
                        }
                    }
                } else {
                    message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                    $("#msgTimeline").html(message);
                }
            }

            $("#spinner").css("display","none");

            return mediaContentList;
        });

        return promise.done(function(data) {
            return data;
        });
    }
</script>

</body>
</html>