<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="timelinemodal(metadata)">
<div class="modal fade" th:id="'prop'+${metadata.id}" tabindex="-1" role="dialog" th:aria-labelledby="'label'+${metadata.id}" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit <th:block th:text="${metadata.fileName}"></th:block></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link show active" data-toggle="tab" th:href="'#general'+${metadata.id}">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" th:href="'#details'+${metadata.id}">Details</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane container show active" th:id="'general'+${metadata.id}">
                        <form th:id="'saveData'+${metadata.id}">
                            <input type="hidden" name="id" th:value="${metadata.id}">

                            <div class="form-group row">
                                <div class="col-sm">
                                    <label th:for="'dayTaken'+${metadata.id}" class="col-form-label">Day</label>
                                    <input type="text" class="form-control" th:id="'dayTaken'+${metadata.id}" name="day" th:value="${metadata.day}">
                                </div>
                                <div class="col-sm">
                                    <label th:for="'monthTaken'+${metadata.id}" class="col-form-label">Month</label>
                                    <input type="text" class="form-control" th:id="'monthTaken'+${metadata.id}" name="month" th:value="${metadata.month}">
                                </div>
                                <div class="col-sm">
                                    <label th:for="'yearTaken'+${metadata.id}" class="col-form-label">Year</label>
                                    <input type="text" class="form-control" th:id="'yearTaken'+${metadata.id}" name="year" th:value="${metadata.year}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label th:for="'latlng'+${metadata.id}" class="col-form-label">Latitude, Longitude</label>
                                    <input type="text" class="form-control" th:id="'latlng'+${metadata.id}" name="latlng" th:value="${(metadata.lat != null || metadata.lng != null) ? (metadata.lat+', '+metadata.lng) : ''}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label th:for="'keywords'+${metadata.id}" class="col-form-label">Keywords (comma seperated)</label>
                                    <input type="text" class="form-control" th:id="'keywords'+${metadata.id}" name="keywords" th:value="${metadata.keywords}">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane container fade" th:id="'details'+${metadata.id}">
                        <div class="row">
                            <th:block th:if="${metadata.thumbnailPathOriginal != null}">
                                <strong>File:&nbsp;</strong>
                                <span th:text="${metadata.thumbnailPathOriginal}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.type != null}">
                                <strong>File type:&nbsp;</strong>
                                <span th:text="${metadata.type}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.iso != null}">
                                <strong>ISO:&nbsp;</strong>
                                <span th:text="${metadata.iso}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.exposure != null}">
                                <strong>Exposure:&nbsp;</strong>
                                <span th:text="${metadata.exposure}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.fNumber != null}">
                                <strong>F-stop:&nbsp;</strong>
                                <span th:text="${metadata.fNumber}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.focalLength != null}">
                                <strong>Focal length:&nbsp;</strong>
                                <span th:text="${metadata.focalLength}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.camera != null}">
                                <strong>Camera:&nbsp;</strong>
                                <span th:text="${metadata.camera}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.lens != null}">
                                <strong>Lens:&nbsp;</strong>
                                <span th:text="${metadata.lens}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.quality != null}">
                                <strong>Quality:&nbsp;</strong>
                                <span th:text="${metadata.quality}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.createdAt != null}">
                                <strong>Created:&nbsp;</strong>
                                <span th:text="${metadata.createdAt}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.modifiedAt != null}">
                                <strong>Modified:&nbsp;</strong>
                                <span th:text="${metadata.modifiedAt}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.takenAt != null}">
                                <strong>Processed taken:&nbsp;</strong>
                                <span th:text="${metadata.takenAt}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.year != null or metadata.month != null or metadata.day != null}">
                                <strong>Adjusted taken:&nbsp;</strong>
                                <span th:text="${metadata.year + '-' + metadata.month + '-' + metadata.day}"></span>
                            </th:block>
                        </div>
                        <div class="row">
                            <th:block th:if="${metadata.timeZone != null}">
                                <strong>Time zone:&nbsp;</strong>
                                <span th:text="${metadata.timeZone}"></span>
                            </th:block>
                        </div>
                    </div>
                    <div class="col-sm">
                        <span th:id="'msg'+${metadata.id}"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" th:id="'saveMetadata'+${metadata.id}">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
            <script type="text/javascript">
                $.fn.serializeObject = function() {
                    var o = {};
                    var a = this.serializeArray();
                    $.each(a, function() {
                        if (o[this.name]) {
                            if (!o[this.name].push) {
                                o[this.name] = [o[this.name]];
                            }
                            o[this.name].push(this.value || '');
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });
                    return o;
                };

                /*<![CDATA[*/
                $("#saveMetadata[[${metadata.id}]]").click(function (e) {
                    e.preventDefault();

                    if (validateInputs(
                        $("#dayTaken[[${metadata.id}]]").val(),
                        $("#monthTaken[[${metadata.id}]]").val(),
                        $("#yearTaken[[${metadata.id}]]").val(),
                        $("#latlng[[${metadata.id}]]").val(),
                        "msg[[${metadata.id}]]"
                    ) === true) {
                        const posting = $.post({
                            url: "/timeline/update/[[${metadata.id}]]",
                            data: JSON.stringify($('#saveData[[${metadata.id}]]').serializeObject()),
                            contentType: 'application/json; charset=utf-8'
                        });

                        posting.done(function (data) {
                            if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                                let message = "Error";
                                if (data["status"] === "success") {
                                    message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                                } else {
                                    message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                                }
                                $("#msg[[${metadata.id}]]").html(message);
                                window.top.location = window.top.location
                            }
                        });
                    }

                    return false;
                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>
</body>
</html>