<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="timelinemodal()">

<script type="text/javascript">
    function toggleTagPeopleDropdown(metadataId) {
        $("#tagpeopledropdown"+metadataId).dropdown('toggle')
    }

    function closeTagPeopleDropdown(metadataId) {
        $("#tagpeopledropdown"+metadataId).dropdown('hide')
    }

    function populateLabel(metadataId) {
        var checkedBoxes = $('input[name="recognitionLabel'+metadataId+'[]"]:checked')
        var labelString = ""
        checkedBoxes.each(function() {
            labelString += $(this).val() + ",";
        });
        if (labelString.length > 0) {
            labelString = labelString.slice(0,-1)
        }
        //
        $("#tagpeople").val(decodeHtml(labelString));
    }
</script>

</body>
</html>