<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="timelinebatchmodal(recognitionLabels)">
<div class="modal fade" id="propBatchMetadata" tabindex="-1" role="dialog" aria-labelledby="labelBatchMetadata" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPhotosModalLabel">Edit Photos<br><span id="editPhotosNamesModalLabel"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-muted">Empty fields will be ignored</p>
                <form id="saveBatchData">
                    <input type="hidden" id="batchMetadataIds" name="batchMetadataIds" value="">
                    <input type="hidden" id="batchFilenames" name="batchFilenames" value="">

                    <div class="form-group row">
                        <div class="col-sm">
                            <label for="dayTakenBatchData" class="col-form-label">Day taken</label>
                            <input type="text" class="form-control" id="dayTakenBatchData" name="dayTakenBatchData" value="">
                        </div>
                        <div class="col-sm">
                            <label for="monthTakenBatchData" class="col-form-label">Month taken</label>
                            <input type="text" class="form-control" id="monthTakenBatchData" name="monthTakenBatchData" value="">
                        </div>
                        <div class="col-sm">
                            <label for="yearTakenBatchData" class="col-form-label">Year taken</label>
                            <input type="text" class="form-control" id="yearTakenBatchData" name="yearTakenBatchData" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm">
                            <label for="latlngBatchData" class="col-form-label">Latitude, Longitude</label>
                            <input type="text" class="form-control" id="latlngBatchData" name="latlngBatchData" value="">
                        </div>
                        <div class="col-sm">
                            <label for="tagBatchDataInput" class="col-form-label">Tag People (comma separated)</label>
                            <div class="input-group">
                                <input type="text" class="form-control" onfocus="return timelineBatchModal.closeBatchTagPeopleDropdown();" aria-label="Tag People" id="tagBatchDataInput" name="tagBatchDataInput" value="">

                                <th:block th:if="${recognitionLabels != ''}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary dropdown-toggle" onclick="return timelineBatchModal.toggleBatchTagPeopleDropdown();" id="tagpeopledropdown" type="button" aria-haspopup="true" aria-expanded="false">People</button>
                                        <div class="dropdown-menu" id="albumNameList">
                                            <th:block th:each="recognitionLabel, iterStat: ${recognitionLabels}">
                                                <button class="dropdown-item" type="button">
                                                    <input type="checkbox" onclick="return timelineBatchModal.populateBatchLabel();" th:id="${recognitionLabel.id}" th:value="${recognitionLabel.name}" name="recognitionLabel[]">
                                                    <label th:for="${recognitionLabel.id}" th:text="${recognitionLabel.name}"></label>
                                                </button>
                                            </th:block>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <input type="checkbox" name="batchisobject" id="batchisobject">
                                    <label class="form-check-label" for="batchisobject">These are objects</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm">
                            <label for="keywordsBatchData" class="col-form-label">Keywords (comma separated)</label>
                            <input type="text" class="form-control" id="keywordsBatchData" name="keywordsBatchData" value="">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <div class="col-sm">
                            <input type="checkbox" name="batchhidden" id="batchhidden">
                            <label class="form-check-label" for="batchhidden">Remove Photos</label>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm">
                            <span id="msgBatchMetadata"></span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <div id="timelineBatchModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 2rem;" role="status" aria-hidden="true"></div>
                <button type="button" class="btn btn-primary" id="saveBatchMetadata">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
            <script type="text/javascript">
                (function( timelineBatchModal, $, undefined ) {

                    timelineBatchModal.toggleBatchTagPeopleDropdown = function() {
                        $("#tagpeopledropdown").dropdown('toggle');
                    }

                    timelineBatchModal.closeBatchTagPeopleDropdown = function() {
                        $("#tagpeopledropdown").dropdown('hide');
                    }

                    timelineBatchModal.populateBatchLabel = function() {
                        var checkedBoxes = $('input[name="recognitionLabel[]"]:checked')
                        var labelString = ""
                        checkedBoxes.each(function() {
                            labelString += $(this).val() + ",";
                        });
                        if (labelString.length > 0) {
                            labelString = labelString.slice(0,-1)
                        }
                        $("#tagBatchDataInput").val(decodeHtml(labelString));
                    }

                }( window.timelineBatchModal = window.timelineBatchModal || {}, jQuery ));

                $("#batchisobject").click(function (e) {
                    timelineBatchModal.closeBatchTagPeopleDropdown();
                    if($(this).prop("checked") === true) {
                        $("#tagBatchDataInput").val("");
                    }
                });

                $("#saveBatchMetadata").click(function (e) {
                    e.preventDefault();
                    $("#msgBatchMetadata").html("");
                    $("#timelineBatchModalStatus").css("visibility","visible");
                    timelineBatchModal.closeBatchTagPeopleDropdown();

                    if (timelineSettings.validateMetadataInputs(
                        $("#dayTakenBatchData").val(),
                        $("#monthTakenBatchData").val(),
                        $("#yearTakenBatchData").val(),
                        "",
                        "",
                        $("#latlngBatchData").val(),
                        "msgBatchMetadata"
                    ) === true) {
                        if($("#batchisobject").is(':checked')) {
                            $("#batchisobject").val("on");
                        }
                        if($("#batchhidden").is(':checked')) {
                            $("#batchhidden").val("on");
                        }

                        var posting;

                        if($("#batchhidden").is(':checked')) {
                            posting = $.post({
                                url: "/timeline/remove/batch",
                                data: JSON.stringify($('#saveBatchData').serializeObject()),
                                contentType: 'application/json; charset=utf-8'
                            });
                        } else {
                            posting = $.post({
                                url: "/timeline/update/batch",
                                data: JSON.stringify($('#saveBatchData').serializeObject()),
                                contentType: 'application/json; charset=utf-8'
                            });
                        }

                        posting.done(function (data) {
                            if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                                let message = "Error";
                                if (data["status"] === "success") {

                                    var metadataIds = JSON.parse($("#batchMetadataIds").val());
                                    for (var index in metadataIds) {
                                        var metadataId = metadataIds[index];

                                        if ($("#photoThumbnailContainer" + metadataId).length > 0) {
                                            $("#timelineModalEdit" + metadataId + " span").removeClass("bi-pencil").addClass("bi-pencil-square");

                                            if ($("#batchhidden").is(':checked')) {
                                                // Get parent Id
                                                const rowId = $("#photoThumbnailContainer" + metadataId).parent().attr("id");
                                                const headingId = rowId.replace("row", "");
                                                const elToRemove = $("#photoThumbnailContainer" + metadataId);

                                                // Count children
                                                const currentNumChildren = elToRemove.siblings("div").length;

                                                // Remove metadata
                                                elToRemove.remove();

                                                if (currentNumChildren === 0) {
                                                    // Remove header
                                                    $("#br" + headingId).remove();
                                                    $("#" + headingId).remove();
                                                    $("#row" + headingId).remove();
                                                }
                                            } else if ($("#latlngBatchData").val() !== "") {
                                                var latlngArray = $("#latlngBatchData").val().split(",");
                                                var metadataTaggedObj = JSON.parse($("#timelineModalEdit" + metadataId).attr("tag"));
                                                metadataTaggedObj["lat"] = $.trim(latlngArray[0]);
                                                metadataTaggedObj["lng"] = $.trim(latlngArray[1]);
                                                $("#timelineModalEdit" + metadataId).attr("tag", JSON.stringify(metadataTaggedObj));
                                                $("#timelineModalEdit" + metadataId + " span").removeClass("bi-pencil-square").addClass("bi-pencil");
                                            }
                                        }
                                    }

                                    message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                                    // window.top.location = window.top.location
                                } else {
                                    message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                                }
                                const offCanvasId = ($("#dayTakenBatchData").val() == null || $("#dayTakenBatchData").val() === "" || $("#monthTakenBatchData").val() == null || $("#monthTakenBatchData").val() === "" || $("#yearTakenBatchData").val() == null || $("#yearTakenBatchData").val() == "") ?
                                    "offcanvas_undated" : "offcanvas_"+$("#yearTakenBatchData").val()+'-'+$("#monthTakenBatchData").val()+'-'+$("#dayTakenBatchData").val();
                                timelineSettings.refreshTimeline($("#mediaTypeFilter").val(),offCanvasId);

                                $("#msgBatchMetadata").html(message);
                                clearTimelineSelection();
                                removeAllMetadataIdList();
                                removeAllMetadataFilenamesList();
                                removeAllMetadataThumbnailsList();
                                $("#timelineBatchModalStatus").css("visibility","hidden");
                                $('#propBatchMetadata').find(':input').val('');
                            }
                        });
                    }

                    return false;
                });

                // Clear message on modal close
                $('#propBatchMetadata').on('hide.bs.modal', function () {
                    $("#msgBatchMetadata").html("");
                    $('#propBatchMetadata').find(':input').val('');
                    //clearTimelineSelection();
                });

                // Clear message on input editing
                $('#propBatchMetadata').bind('keypress', function() {
                    $("#msgBatchMetadata").html("");
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>