<!DOCTYPE html>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="toastmessages()">

<!-- For live toast messages, use shashin.showToastMessage() to display toast messages -->

<!-------
 1  0  0
 0  0  0
 0  0  0
-------->
<div class="position-fixed top-0 start-0" id="topLeftToastContainer" style="z-index: 9999999">
    <div class="toast-container">
        <span class="attachPoint" id="topLeft_ToastTargetAttach"></span>
    </div>
</div>

<!-------
 0  1  0
 0  0  0
 0  0  0
-------->
<div class="position-fixed top-0 start-50 translate-middle-x" id="topCenterToastContainer" style="z-index: 9999999">
    <div class="toast-container">
        <span class="attachPoint" id="topCenter_ToastTargetAttach"></span>
    </div>
</div>

<!-------
 0  0  1
 0  0  0
 0  0  0
-------->
<div class="position-fixed top-0 end-0" id="topRightToastContainer" style="z-index: 9999999">
    <div class="toast-container">
        <span class="attachPoint" id="topRight_ToastTargetAttach"></span>
    </div>
</div>

<!-------
 0  0  0
 1  0  0
 0  0  0
-------->
<div class="position-fixed top-50 start-0 translate-middle-y" id="midLeftToastContainer" style="z-index: 9999999">
    <div class="toast-container">
        <span class="attachPoint" id="midLeft_ToastTargetAttach"></span>
    </div>
</div>

<!-------
 0  0  0
 0  1  0
 0  0  0
-------->
<div class="position-fixed top-50 start-50 translate-middle" id="midCenterToastContainer" style="z-index: 9999999">
    <div class="toast-container">
        <span class="attachPoint" id="midCenter_ToastTargetAttach"></span>
    </div>
</div>

<!-------
 0  0  0
 0  0  1
 0  0  0
-------->
<div class="position-fixed top-50 end-0 translate-middle-y" id="midRightToastContainer" style="z-index: 9999999">
    <div class="toast-container">
        <span class="attachPoint" id="midRight_ToastTargetAttach"></span>
    </div>
</div>

<!-------
 0  0  0
 0  0  0
 1  0  0
-------->
<div class="position-fixed bottom-0 start-0" id="bottomLeftToastContainer" style="z-index: 9999999">
    <div class="toast-container">
        <span class="attachPoint" id="bottomLeft_ToastTargetAttach"></span>
    </div>
</div>

<!-------
 0  0  0
 0  0  0
 0  1  0
-------->
<div class="position-fixed bottom-0 start-50 translate-middle-x" id="bottomCenterToastContainer" style="z-index: 9999999">
    <div class="toast-container">
        <span class="attachPoint" id="bottomCenter_ToastTargetAttach"></span>
    </div>
</div>

<!-------
 0  0  0
 0  0  0
 0  0  1
-------->
<div class="position-fixed bottom-0 end-0" id="bottomRightToastContainer" style="z-index: 9999999">
    <div class="toast-container">
        <span class="attachPoint" id="bottomRight_ToastTargetAttach"></span>
    </div>
</div>