<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="topnav(authority,username,activePage)">
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-2 col-md-1 mr-0" th:href="${authority == 'ROLE_ADMIN' ? '/timeline' : '/albums'}"><span class="lead" style="font-size: medium">Shashin</span></a>
    <form id="appSearch" class="form-control-dark w-100" action="/search" method="post">
        <input id="appSearchInput" name="appSearchInput" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <input type="submit" style="position: absolute; left: -9999px"/>
    </form>
    <div id="timelineAppTools">
        <a href="#" id="appToolsBatchEdit" data-toggle="tooltip" data-placement="bottom" title="Edit Photos"><span class="bi-pencil" style="font-size: 1.5rem;color: whitesmoke;"></span></a>&nbsp;&nbsp;
        <a href="#" id="appToolsAddAlbum" data-toggle="tooltip" data-placement="bottom" title="Add To Album"><span class="bi-images" style="font-size: 1.5rem;color: whitesmoke;"></span></a>&nbsp;&nbsp;
        <a href="#" id="appToolsDeselectAll" data-toggle="tooltip" data-placement="bottom" title="Clear Selection"><span class="bi-backspace" style="font-size: 1.5rem;color: whitesmoke;"></span></a>
    </div>
    <th:block th:if="${activePage == 'favorites'}">
        <div id="albumAppTools">
            <a href="#" id="albumAppToolsRemoveFavorites" data-toggle="tooltip" data-placement="bottom" title="Remove From Favorites"><span class="bi-heart" style="font-size: 1.5rem;color: whitesmoke;"></span></a>&nbsp;&nbsp;
            <a href="#" id="albumAppToolsDeselectAll" data-toggle="tooltip" data-placement="bottom" title="Clear Selection"><span class="bi-backspace" style="font-size: 1.5rem;color: whitesmoke;"></span></a>
        </div>
    </th:block>
    <th:block th:unless="${activePage == 'favorites'}">
        <div id="albumAppTools">
            <a href="#" id="albumAppToolsRemoveAlbum" data-toggle="tooltip" data-placement="bottom" title="Remove From Album"><span class="bi-bookmark-x" style="font-size: 1.5rem;color: whitesmoke;"></span></a>&nbsp;&nbsp;
            <a href="#" id="albumAppToolsDeselectAll" data-toggle="tooltip" data-placement="bottom" title="Clear Selection"><span class="bi-backspace" style="font-size: 1.5rem;color: whitesmoke;"></span></a>
        </div>
    </th:block>
    <div class="col-sm-2 px-3 top-bar-margin-top">
        <div class="dropdown">
            <a id="dLabel" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">
                <span class="top-bar-app-links make-it-regular" th:text="${username}"></span>
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/users/update">Change password</a>
                <a class="dropdown-item" href="/users/logout">Sign out</a>
            </div>
        </div>
    </div>
</nav>
<script type="text/javascript">
    // $('#appSearch').keypress(function(event){
    //     var keycode = (event.keyCode ? event.keyCode : event.which);
    //     if(keycode === 13){
    //         var searchTerm = $('#appSearch').val().trim();
    //         if (searchTerm !== "") {
    //             let json = {searchTerm:searchTerm}
    //
    //             const posting = $.post({
    //                 url: "/search",
    //                 data: JSON.stringify(json),
    //                 contentType: 'application/json; charset=utf-8'
    //             });
    //
    //             posting.done(function (data) {
    //                 if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
    //                     if (data["status"] === "redirect") {
    //                         window.location.replace(data["msg"]);
    //                     } else {
    //                         let message = "Error";
    //                         if (data["status"] === "success") {
    //                             message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
    //                         } else {
    //                             message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
    //                         }
    //                         $("#albumMessage").html(message);
    //                     }
    //                 }
    //             });
    //         }
    //     }
    // });
</script>
</body>
</html>