<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="topnav(authority,username,activePage)">

<header class="py-3 mb-4 border-bottom shadow">
    <div class="container-fluid align-items-center d-flex">
        <div class="flex-shrink-1">
            <a class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none" th:href="${authority == 'ROLE_ADMIN' ? '/timeline/mediatype/all' : '/albums'}">
                <span class="lead" style="font-size: medium">Shashin</span>
            </a>
        </div>
        <div class="flex-grow-1 d-flex align-items-center">
            <form id="appSearch" class="form-control-dark w-100" action="/search" method="post">
                <input id="appSearchInput" name="appSearchInput" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
            <div id="timelineAppTools">
                <a href="#" id="appToolsBatchEdit" data-bs-toggle="tooltip" data-placement="bottom" title="Edit Photos"><span class="bi-pencil" style="font-size: 1.5rem;color: dimgrey;"></span></a>&nbsp;&nbsp;
                <a href="#" id="appToolsAddAlbum" data-bs-toggle="tooltip" data-placement="bottom" title="Add To Album"><span class="bi-images" style="font-size: 1.5rem;color: dimgrey;"></span></a>&nbsp;&nbsp;
                <a href="#" id="appToolsDeselectAll" data-bs-toggle="tooltip" data-placement="bottom" title="Clear Selection"><span class="bi-backspace" style="font-size: 1.5rem;color: dimgrey;"></span></a>
                <span id="timelineNumberSelected"></span>
            </div>
            <th:block th:if="${activePage == 'matches' or activePage == 'person'}">
                <div id="matchesAppTools">
                    <a href="#" id="matchToolsBatchEdit" data-bs-toggle="tooltip" data-placement="bottom" title="Edit Photos"><span class="bi-pencil" style="font-size: 1.5rem;color: dimgrey;"></span></a>&nbsp;&nbsp;
                    <a href="#" id="matchToolsDeselectAll" data-bs-toggle="tooltip" data-placement="bottom" title="Clear Selection"><span class="bi-backspace" style="font-size: 1.5rem;color: dimgrey;"></span></a>
                    <span id="matchesNumberSelected"></span>
                </div>
            </th:block>
            <th:block th:if="${activePage == 'favorites'}">
                <div id="albumAppTools">
                    <a href="#" id="albumAppToolsRemoveFavorites" data-bs-toggle="tooltip" data-placement="bottom" title="Remove From Favorites"><span class="bi-heart" style="font-size: 1.5rem;color: dimgrey;"></span></a>&nbsp;&nbsp;
                    <a href="#" id="albumAppToolsDeselectAll" data-bs-toggle="tooltip" data-placement="bottom" title="Clear Selection"><span class="bi-backspace" style="font-size: 1.5rem;color: dimgrey;"></span></a>
                    <span id="favoritesNumberSelected"></span>
                </div>
            </th:block>
            <th:block th:unless="${activePage == 'favorites'}">
                <div id="albumAppTools">
                    <a href="#" id="albumAppToolsRemoveAlbum" data-bs-toggle="tooltip" data-placement="bottom" title="Remove From Album"><span class="bi-bookmark-x" style="font-size: 1.5rem;color: dimgrey;"></span></a>&nbsp;&nbsp;
                    <a href="#" id="albumAppToolsDeselectAll" data-bs-toggle="tooltip" data-placement="bottom" title="Clear Selection"><span class="bi-backspace" style="font-size: 1.5rem;color: dimgrey;"></span></a>
                    <span id="albumNumberSelected"></span>
                </div>
            </th:block>
        </div>
        <div class="flex-shrink-0 dropdown dropstart">
            <a id="dLabel" class="d-block link-dark text-decoration-none dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                <span class="top-bar-app-links make-it-regular" th:text="${username}"></span>
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton" style="z-index: 9999">
                <a class="dropdown-item" href="/users/update">Change password</a>
                <a class="dropdown-item" href="/users/logout">Sign out</a>
            </div>
        </div>
    </div>
</header>


<script type="text/javascript">
    // $('#appSearch').keypress(function(event){
    //     var keycode = (event.keyCode ? event.keyCode : event.which);
    //     if(keycode === 13){
    //         var searchTerm = $('#appSearch').val().trim();
    //         if (searchTerm !== "") {
    //             let json = {searchTerm:searchTerm}
    //
    //             const posting = $.post({
    //                 url: "/search",
    //                 data: JSON.stringify(json),
    //                 contentType: 'application/json; charset=utf-8'
    //             });
    //
    //             posting.done(function (data) {
    //                 if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
    //                     if (data["status"] === "redirect") {
    //                         window.location.replace(data["msg"]);
    //                     } else {
    //                         let message = "Error";
    //                         if (data["status"] === "success") {
    //                             message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
    //                         } else {
    //                             message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
    //                         }
    //                         $("#albumMessage").html(message);
    //                     }
    //                 }
    //             });
    //         }
    //     }
    // });
</script>
</body>
</html>