<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="topnav(currentUser,activePage,term)">

<div th:replace="~{fragments/aboutmodal :: aboutmodal(${activeProfile}, ${buildProperties}, ${operatingSystemInfo}, ${copyrightYear}, ${currentUser.darkMode})}"></div>

<div th:replace="~{fragments/toastmessages :: toastmessages()}"></div>

<!--Slideshow Container-->
<div id="slideshowContainer" class="imgbox" style="display: none;">
    <span id="dummyVideoContainer" style="display: none;"></span>
    <span type="button" id="mediaSrcContainer"><img class="centerFit" id="mediaSrc" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEX///+/v7+jQ3Y5AAAADklEQVQI12P4AIX8EAgALgAD/aNpbtEAAAAASUVORK5CYII"></span>
    <span type="button" id="playPauseContainer"><span class="bi-pause-circle" id="playPause" style="color:#FFFFFF;text-shadow:#000000 1px 0 10px;display: none;"></span></span>
    <span type="button" id="prevSlideButton"><span class="bi-arrow-left" id="prevSlide" style="color:#FFFFFF;text-shadow:#000000 1px 0 10px;display: none;"></span></span>
    <span type="button" id="nextSlideButton"><span class="bi-arrow-right" id="nextSlide" style="color:#FFFFFF;text-shadow:#000000 1px 0 10px;display: none;"></span></span>
    <span type="button" id="closeActionButton"><span class="bi-x" id="closeAction" style="color:#FFFFFF;text-shadow:#000000 1px 0 10px;display: none;"></span></span>
    <span type="button" id="shortcutActionButton"><span class="" id="shortcutAction" style="color:#FFFFFF;text-shadow:#000000 1px 0 10px;display: none;"></span></span>
    <span type="button" id="infoActionButton"><span class="bi-info-circle" id="infoAction" style="color:#FFFFFF;text-shadow:#000000 1px 0 10px;display: none;"></span></span>
    <span type="button" id="screenActionButton"><span class="" id="screenAction" style="color:#FFFFFF;text-shadow:#000000 1px 0 10px;display: none;"></span></span>
    <span type="button" id="downloadContainer"><span class="bi-download" id="downloadAction" style="color:#FFFFFF;text-shadow:#000000 1px 0 10px;display: none;"></span></span>
    <div class="spinner-border" id="slideSpinner" role="status" style="color:#FFFFFF;text-shadow:#000000 1px 0 10px;display: none;">
        <span class="visually-hidden">Loading...</span>
    </div>
    <span id="mediaInfo" style="color:#FFFFFF;text-shadow:#000000 1px 0 10px;position:fixed;left:50%;bottom:20px;transform: translate(-50%, -50%);margin: 0 auto;display:none;"></span>
</div>

<header class="py-2"> <!--  mb-1 border-bottom shadow -->
    <div class="container-fluid align-items-center d-flex">
        <div class="flex-shrink-0">
            <input type="hidden" id="activePage" th:value="${activePage}">
            <input type="hidden" id="scanPhotoMsg">
            <a class="align-items-center mb-lg-0 link-dark text-decoration-none" data-bs-toggle="offcanvas" data-bs-placement="bottom" href="#offcanvasMenu" aria-controls="offcanvasMenu" title="Show Menu">
                <span id="sidebarMenuDrawer" th:class="'bi-list placeholder position-relative'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;">
                </span>
            </a>
            <th:block th:if="${activeProfile != 'prod'}">
                <span id="environmentLabel" class="align-items-center link-dark text-decoration-none ms-2" style="font-size: 1.5rem;">
                    <th:block th:if="${activeProfile == 'dev'}">
                        <span class="alert alert-primary shadow" th:text="${#strings.toUpperCase(activeProfile)}"></span>
                    </th:block>
                    <th:block th:if="${activeProfile == 'test'}">
                        <span class="alert alert-success shadow" th:text="${#strings.toUpperCase(activeProfile)}"></span>
                    </th:block>
                </span>
            </th:block>
            <th:block th:if="${activePage == 'timeline' || activePage == 'folder' || activePage == 'person' || activePage == 'matches' || activePage == 'compreface'}">
                <span id="timelineTools">
                    <th:block th:if="${activePage == 'timeline'}">
                        &nbsp;
                        <a class="align-items-center mb-lg-0 link-dark text-decoration-none" id="timelineTocToggle" data-bs-toggle="offcanvas" data-bs-placement="bottom" href="#offcanvasToc" aria-controls="offcanvasToc" title="Show timeline" style="display: none">
                            <span th:class="'bi-calendar3 placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem"></span>
                        </a>
<!--                    &nbsp;-->
<!--                    <a class="align-items-center mb-lg-0 link-dark text-decoration-none" id="timelineMediaTypeToggle" data-bs-placement="bottom" href="#mediaTypeToggle" aria-controls="mediaTypeToggle" title="Toggle media type">-->
<!--                        <span id="timelineMediaTypeToggleIcon" th:class="'bi-camera-video placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span>-->
<!--                    </a>-->
                    </th:block>
                    <th:block th:if="${activePage == 'folder'}">
                        &nbsp;
                        <a class="align-items-center mb-lg-0 link-dark text-decoration-none" data-bs-placement="bottom" href="/folders" aria-controls="back" title="Go back to folders">
                            <span th:class="'bi-arrow-left placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span>
                        </a>
                    </th:block>
                    <th:block th:if="${activePage == 'person' || activePage == 'matches' || activePage == 'compreface'}">
                        &nbsp;
                        <a class="align-items-center mb-lg-0 link-dark text-decoration-none" data-bs-placement="bottom" href="/people" aria-controls="back" title="Go back">
                            <span th:class="'bi-arrow-left placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span>
                        </a>
                    </th:block>
                </span>
            </th:block>
            <th:block th:if="${activePage == 'album'}">
                <span id="albumTools">
                    &nbsp;
                    <a class="align-items-center mb-lg-0 link-dark text-decoration-none" data-bs-placement="bottom" href="/albums" aria-controls="back" title="Go back to albums">
                        <span th:class="'bi-arrow-left placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span>
                    </a>
                    <th:block th:if="${activePage == 'album'}">
                        <th:block th:if="${hasMediaUploadDirectory == true}">
                            &nbsp;
                            <a class="align-items-center mb-lg-0 link-dark text-decoration-none" data-bs-placement="bottom" id="uploadToAlbum" aria-controls="back" title="Upload to albums">
                                <span th:class="'bi-upload placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" id="uploadAlbumIcon" style="font-size: 1.5rem;"></span>
                            </a>
                            <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                            <form style="display: none" id="uploadToAlbumForm" action="" method="post" enctype="multipart/form-data" target="dummyframe">
                                <input type="file" id="uploadMediaAlbum" name="uploadMediaAlbum" th:accept="${'.'+#strings.listJoin(acceptedMediaTypes, ',.')}" multiple>
                            </form>
                        </th:block>

<!--                    &nbsp;-->
<!--                    <a class="align-items-center mb-lg-0 link-dark text-decoration-none" id="albumMediaTypeToggle" data-bs-placement="bottom" href="#mediaTypeToggle" aria-controls="mediaTypeToggle" title="Toggle media type">-->
<!--                        <span id="albumMediaTypeToggleIcon" th:class="'bi-camera-video placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span>-->
<!--                    </a>-->
                    </th:block>
                </span>
            </th:block>
            <th:block th:if="${activePage == 'map'}">
                <span id="mapTools">
                    &nbsp;
                    <a class="btn btn-link link-dark text-decoration-none" style="line-height:0;display: inline-block; background: none;outline: none;text-decoration: none;margin: -12px 0 -3px 0;padding:0;" data-bs-placement="bottom" id="mapFilterButton" role="button" href="#" aria-controls="back" title="Filter Map">
                        <span th:class="'bi-globe-americas placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span>
                    </a>
                </span>
            </th:block>
            <th:block th:if="${activePage == 'logs'}">
                &nbsp;&nbsp;
                <a class="align-items-center mb-lg-0 link-dark text-decoration-none" href="/settings/logs/download" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download logs">
                    <span th:class="'bi-download placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span>
                </a>
            </th:block>
            <th:block th:if="${activePage == 'recent' || activePage == 'modified' || activePage == 'taken' || activePage == 'accessed' || activePage == 'archived' || activePage == 'modified'}">
                <th:block th:if="${hasMediaUploadDirectory == true}">
                    &nbsp;
                    <a class="align-items-center mb-lg-0 link-dark text-decoration-none" data-bs-placement="bottom" id="uploadToMedia" aria-controls="back" title="Upload To Media Folder">
                        <span th:class="'bi-upload placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" id="uploadMediaIcon" style="font-size: 1.5rem;"></span>
                    </a>
                    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                    <form style="display: none" id="uploadForm" action="/metadata/media/upload/batch" method="post" enctype="multipart/form-data" target="dummyframe">
                        <input type="file" id="uploadMedia" name="uploadMedia" th:accept="${'.'+#strings.listJoin(acceptedMediaTypes, ',.')}" multiple>
                    </form>
                </th:block>
            </th:block>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="flex-grow-1 d-flex align-items-center">
            <form id="appSearch" class="w-100" action="/search" method="post">
                <input id="appSearchInput" name="appSearchInput" class="form-control rounded-pill border border-secondary-subtle" type="search" placeholder="Search" aria-label="Search" th:value="${term}">
                <input type="submit" id="appSearchSubmit" style="position: absolute; left: -9999px"/>
            </form>
            <th:block th:if="${activePage != 'favorites' and activePage != 'album'}">
                <div id="timelineAppTools">
                    <th:block th:if="${authority == 'ROLE_ADMIN' || authority == 'ROLE_SUPER'}">
                    <a href="#" id="appToolsBatchEdit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Metadata"><span th:class="'bi-info-circle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    </th:block>
                    <a href="#" id="appToolsBatchDownload" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download"><span th:class="'bi-download placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    <a href="#" id="appToolsDeselectAll" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clear Selection"><span th:class="'bi-x-circle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>
                    &nbsp;&nbsp;<span id="timelineNumberSelected"></span>
                </div>
            </th:block>
            <th:block th:if="${activePage == 'matches' or activePage == 'person'}">
                <div id="matchesAppTools">
                    <th:block th:if="${authority == 'ROLE_ADMIN' || authority == 'ROLE_SUPER'}">
                    <a href="#" id="matchToolsBatchEdit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Metadata"><span th:class="'bi-info-circle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    </th:block>
                    <a href="#" id="matchToolsBatchDownload" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download"><span th:class="'bi-download placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    <a href="#" id="matchToolsDeselectAll" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clear Selection"><span th:class="'bi-x-circle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>
                    &nbsp;&nbsp;<span id="matchesNumberSelected"></span>
                </div>
            </th:block>
            <th:block th:if="${activePage == 'favorites'}">
                <div id="albumAppTools">
                    <th:block th:if="${authority == 'ROLE_ADMIN' || authority == 'ROLE_SUPER'}">
                    <a href="#" id="appToolsBatchEdit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Metadata"><span th:class="'bi-info-circle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    </th:block>
                    <a href="#" id="albumAppToolsRemoveFavorites" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove From Favorites"><span th:class="'bi-heartbreak placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    <a href="#" id="albumAppToolsBatchDownload" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download"><span th:class="'bi-download placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    <a href="#" id="albumAppToolsDeselectAll" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clear Selection"><span th:class="'bi-x-circle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>
                    &nbsp;&nbsp;<span id="favoritesNumberSelected"></span>
                </div>
            </th:block>
            <th:block th:if="${activePage == 'archived'}">
                <div id="albumAppTools">
                    <a href="#" id="albumAppToolsRestore" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Restore"><span id="albumAppToolsRestoreIcon" th:class="'bi-arrow-repeat placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    <a href="#" id="albumAppToolsDeselectAll" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clear Selection"><span th:class="'bi-x-circle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>
                    &nbsp;&nbsp;<span id="trashNumberSelected"></span>
                </div>
            </th:block>
            <th:block th:if="${activePage != 'favorites' and activePage != 'archived'}">
                <div id="albumAppTools">
                    <th:block th:if="${authority == 'ROLE_ADMIN' || authority == 'ROLE_SUPER'}">
                        <a href="#" id="appToolsBatchEdit" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Metadata"><span th:class="'bi-info-circle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                        <a href="#" id="albumAppToolsRemoveAlbum" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove From Album"><span th:class="'bi-bookmark-x placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    </th:block>
                    <a href="#" id="albumAppToolsBatchDownload" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download"><span th:class="'bi-download placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    <a href="#" id="albumAppToolsDeselectAll" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clear Selection"><span th:class="'bi-x-circle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>
                    &nbsp;&nbsp;<span id="albumNumberSelected"></span>
                </div>
            </th:block>
            <th:block th:if="${activePage == 'compreface'}">
                <div id="comprefaceAppTools">
                    <a href="#" id="comprefaceBatchDelete" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove From CompreFace"><span th:class="'bi-trash placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>&nbsp;&nbsp;
                    <a href="#" id="comprefaceDeselectAll" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Clear Selection"><span th:class="'bi-x-circle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}" style="font-size: 1.5rem;"></span></a>
                    &nbsp;&nbsp;<span id="comprefaceNumberSelected"></span>
                </div>
            </th:block>
            <div id="mediaScanSpinner" style="height: 37px; width: 37px;margin-left: 10px;margin-right: -48px;display: none;">
                <span class="spinner-border spinner-border-xl" style="width: 38px; height: 38px;"></span>
            </div>
        </div>
        <th:block th:if="${currentUser.profile == null or currentUser.profile == ''}">
        <div id="profileDropdown" class="flex-shrink-0 dropdown" style="margin-left: 10px; margin-right: 15px; margin-top: -19px;height:38px;width:38px;">
        </th:block>
        <th:block th:unless="${currentUser.profile == null or currentUser.profile == ''}">
        <div id="profileDropdown" class="flex-shrink-0 dropdown" style="margin-left: 10px; margin-right: 15px;height:38px;width:38px;">
        </th:block>
            <a id="dLabel" th:class="'d-block link-dark text-decoration-none dropdown-toggle placeholder'+${currentUser.darkMode ? ' darkmodeIcons' : ' lightmodeIcons'}+${currentUser.profile == null or currentUser.profile == '' ? ' no-profile-dropdown-toggle' : ''}" role="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                <th:block th:if="${currentUser.profile == null or currentUser.profile == ''}">
                    <span id="profileImagePlaceholder" class="bi-person-circle" style="font-size:37px;"></span>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAABlBMVEX///+/v7+jQ3Y5AAAADklEQVQI12P4AIX8EAgALgAD/aNpbtEAAAAASUVORK5CYII" id="profileImage" style="display:none;width:32px;height:32px" />
                    <span class="caret" style="margin-left: 2px;" id="profileCarat"></span>
                </th:block>
                <th:block th:unless="${currentUser.profile == null or currentUser.profile == ''}">
                    <span id="profileImagePlaceholder" class="bi-person-circle" style="display:none;font-size:1.5rem;"></span>
                    <img th:src="${currentUser.profile + '?' + randomString}" id="profileImage" style="display:inline-block;width:39px;height:39px" />
                    <span class="caret" id="profileCarat"></span>
                </th:block>
            </a>
            <div class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownMenuButton" style="z-index: 9999">
                <h6 class="dropdown-header" th:text="${currentUser.username}"></h6>
                <a th:class="'dropdown-item'+${activePage=='account'?' active':''}" href="/users/account">Manage Account</a>
                <th:block th:if="${hasAlbums}">
                    <a href="#" class="dropdown-item" id="viewSlideshow">View Slideshow</a>
                </th:block>
                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#propAbout">About</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/logout">Sign Out</a>
            </div>
        </div>
    </div>

    <div class="progress" id="progressBarWrapper" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 1px; margin-top: 9px; margin-bottom: -9px; visibility: hidden;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progressBar" style="width: 0%;"></div>
    </div>

    <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
        <script src="/js/site/fragments/slideshow.js" type="text/javascript" th:nonce="${cspNonce}"></script>
        <script src="/js/site/fragments/mediauploads.js" type="text/javascript" th:nonce="${cspNonce}"></script>
        <script src="/js/site/fragments/topnavwebsocket.js" type="text/javascript" th:nonce="${cspNonce}"></script>
        <script src="/js/site/fragments/topnav.js" type="text/javascript" th:nonce="${cspNonce}"></script>
    </th:block>
    <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
        <script src="/js/site/min/fragments/slideshow.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
        <script src="/js/site/min/fragments/mediauploads.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
        <script src="/js/site/min/fragments/topnavwebsocket.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
        <script src="/js/site/min/fragments/topnav.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
    </th:block>
    <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
        $(document).ready(function () {
            $("header .placeholder").removeClass("placeholder");

            /*<![CDATA[*/
            setVarsTopnav(/*[[${currentUser.darkMode}]]*/ false, /*[[${currentUser.showPlacename}]]*/ false, /*[[${timezone}]]*/ "America/Los_Angeles", /*[[${currentUser.notificationAlerts}]]*/ true, /*[[${searchHistoryLimit}]]*/ 10, /*[[${queryLimit}]]*/ 30, /*[[${authority == "ROLE_SUPER" || authority == "ROLE_ADMIN"}]]*/ false,/*[[${hasMediaUploadDirectory}]]*/ false, /*[[${currentUser.autoplayVideo}]]*/ false);
            /*]]>*/
        });
    </script>
</header>

</body>
</html>