<!DOCTYPE html>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="toprightoverlay(type, id, content, width, height, expectedExtension, isTagged)">
<div class="thumbnail-tr" th:id="${'tntr'+id}">

<th:block th:if="${type.contains('video')}">
    <span class="overlayIconBackground"><span th:id="${'duration'+id}" th:text="${content}"></span>&nbsp;<span th:id="${'video'+id}" class="bi-camera-video overlayIcon" title="video"></span></span>
    <br>
</th:block>

<th:block th:if="${!type.contains('video') and width != null and height != null and width > height*2}">
    <span th:id="${'panorama'+id}" class="bi-arrows-expand-vertical overlayIcon overlayIconBackground" title="panorama"></span>
    <br>
</th:block>

<th:block th:if="${expectedExtension == 'gif'}">
    <span th:id="${'gif'+id}" class="bi-layers overlayIcon overlayIconBackground" title="gif"></span>
    <br>
</th:block>

<th:block th:if="${isTagged}">
    <span class="bi-bookmark-fill overlayIconBackground" style="font-size: 1rem;color: lightsalmon;"></span>
</th:block>

</div>

</body>
</html>