<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="translations()">

<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    /*<![CDATA[*/
    const shashini18n = {
        'lang.en': /*[[#{lang.en}]]*/ '',
        'lang.ja': /*[[#{lang.ja}]]*/ '',

        'main.sidebar.timeline': /*[[#{main.sidebar.timeline}]]*/ '',
        'main.sidebar.albums': /*[[#{main.sidebar.albums}]]*/ '',
        'main.sidebar.explore': /*[[#{main.sidebar.explore}]]*/ '',
        'main.sidebar.people': /*[[#{main.sidebar.people}]]*/ '',
        'main.sidebar.favorites': /*[[#{main.sidebar.favorites}]]*/ '',
        'main.sidebar.map': /*[[#{main.sidebar.map}]]*/ '',
        'main.sidebar.notifications': /*[[#{main.sidebar.notifications}]]*/ '',
        'main.sidebar.settings': /*[[#{main.sidebar.settings}]]*/ '',
        'main.sidebar.dashboard': /*[[#{main.sidebar.dashboard}]]*/ '',

        'main.details.metadataid': /*[[#{main.details.metadataid}]]*/ '',
        'main.details.filename': /*[[#{main.details.filename}]]*/ '',
        'main.details.filetype': /*[[#{main.details.filetype}]]*/ '',
        'main.details.keywords': /*[[#{main.details.keywords}]]*/ '',
        'main.details.coordinates': /*[[#{main.details.coordinates}]]*/ '',
        'main.details.location': /*[[#{main.details.location}]]*/ '',
        'main.details.locationtype': /*[[#{main.details.locationtype}]]*/ '',
        'main.details.compression': /*[[#{main.details.compression}]]*/ '',
        'main.details.resolution': /*[[#{main.details.resolution}]]*/ '',
        'main.details.exposure': /*[[#{main.details.exposure}]]*/ '',
        'main.details.iso': /*[[#{main.details.iso}]]*/ '',
        'main.details.fstop': /*[[#{main.details.fstop}]]*/ '',
        'main.details.focal': /*[[#{main.details.focal}]]*/ '',
        'main.details.quality': /*[[#{main.details.quality}]]*/ '',
        'main.details.taken': /*[[#{main.details.taken}]]*/ '',
        'main.details.created': /*[[#{main.details.created}]]*/ '',
        'main.details.added': /*[[#{main.details.added}]]*/ '',
        'main.details.modified': /*[[#{main.details.modified}]]*/ '',
        'main.details.accessed': /*[[#{main.details.accessed}]]*/ '',
        'main.details.accessedby': /*[[#{main.details.accessedby}]]*/ '',
        'main.details.uploadedby': /*[[#{main.details.uploadedby}]]*/ '',

        'main.toast.util.copy.title': /*[[#{main.toast.util.copy.title}]]*/ '',
        'main.toast.util.copy.message.success': /*[[#{main.toast.util.copy.message.success}]]*/ '',
        'main.toast.util.copy.message.fail': /*[[#{main.toast.util.copy.message.fail}]]*/ '',

        'main.toast.metadata.title': /*[[#{main.toast.metadata.title}]]*/ '',
        'main.toast.metadata.message.success': /*[[#{main.toast.metadata.message.success}]]*/ '',
        'main.toast.metadata.message.fail': /*[[#{main.toast.metadata.message.fail}]]*/ '',

        'main.toast.minimap.title': /*[[#{main.toast.minimap.title}]]*/ '',
        'main.toast.minimap.message.success': /*[[#{main.toast.minimap.message.success}]]*/ '',
        'main.toast.minimap.message.fail': /*[[#{main.toast.minimap.message.fail}]]*/ '',

        'main.context.minimap.location.message': /*[[#{main.context.minimap.location.message}]]*/ '',
        'main.context.minimap.copy': /*[[#{main.context.minimap.copy}]]*/ '',
        'main.context.minimap.savecoord': /*[[#{main.context.minimap.savecoord}]]*/ '',
        'main.context.minimap.setlatlng': /*[[#{main.context.minimap.setlatlng}]]*/ '',
        'main.context.minimap.recenter': /*[[#{main.context.minimap.recenter}]]*/ '',

        'main.modal.title': /*[[#{main.modal.title}]]*/ '',
        'main.modal.camera': /*[[#{main.modal.camera}]]*/ '',
        'main.modal.lens': /*[[#{main.modal.lens}]]*/ '',
        'main.modal.duration': /*[[#{main.modal.duration}]]*/ '',
        'main.modal.description': /*[[#{main.modal.description}]]*/ '',
        'main.modal.description.count': /*[[#{main.modal.description.count}]]*/ '',
        'main.modal.taken.year': /*[[#{main.modal.taken.year}]]*/ '',
        'main.modal.taken.month': /*[[#{main.modal.taken.month}]]*/ '',
        'main.modal.taken.day': /*[[#{main.modal.taken.day}]]*/ '',
        'main.modal.taken.time': /*[[#{main.modal.taken.time}]]*/ '',
        'main.modal.taken.gmt': /*[[#{main.modal.taken.gmt}]]*/ '',
        'main.modal.latlng': /*[[#{main.modal.latlng}]]*/ '',
        'main.modal.keywords': /*[[#{main.modal.keywords}]]*/ '',
        'main.modal.albums': /*[[#{main.modal.albums}]]*/ '',
        'main.modal.people': /*[[#{main.modal.people}]]*/ '',
        'main.modal.archive': /*[[#{main.modal.archive}]]*/ '',
        'main.modal.unidentified': /*[[#{main.modal.unidentified}]]*/ '',
        'main.modal.rescan': /*[[#{main.modal.rescan}]]*/ '',
        'main.modal.rescan.metadata': /*[[#{main.modal.rescan.metadata}]]*/ '',
        'main.modal.rescan.confirm': /*[[#{main.modal.rescan.confirm}]]*/ '',
        'main.modal.map.message': /*[[#{main.modal.map.message}]]*/ '',
        'main.modal.save': /*[[#{main.modal.save}]]*/ '',
        'main.modal.confirm': /*[[#{main.modal.confirm}]]*/ '',
        'main.modal.cancel': /*[[#{main.modal.cancel}]]*/ '',
        'main.modal.close': /*[[#{main.modal.close}]]*/ '',
        'main.modal.control.albums': /*[[#{main.modal.control.albums}]]*/ '',
        'main.modal.control.people': /*[[#{main.modal.control.people}]]*/ '',
        'main.modal.control.more': /*[[#{main.modal.control.people}]]*/ '',
        'main.modal.tab.update': /*[[#{main.modal.tab.update}]]*/ '',
        'main.modal.tab.info': /*[[#{main.modal.tab.info}]]*/ '',
        'main.modal.tab.exif': /*[[#{main.modal.tab.exif}]]*/ '',
        'main.modal.header': /*[[#{main.modal.header}]]*/ '',
        'main.modal.exif.na': /*[[#{main.modal.exif.na}]]*/ ''
    };
    
    shashin.getTranslatedValue = function (keyPath) {
        return shashini18n[keyPath] ?? null;
    }
    /*]]>*/
</script>