<!DOCTYPE html>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="usersettingsmodal(user)">

<div class="modal fade" th:id="'proptrashuser'+${user.id}" tabindex="-1" role="dialog" th:aria-labelledby="'labeltrash'+${user.id}">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trashModalLabel"><th:block th:utext="#{main.pages.albums.share.delete(${user.username})}"></th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:text="#{main.pages.user(${user.username})}"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" th:id="'deleteUser'+${user.id}"><th:block th:text="#{main.modal.confirm}"></th:block></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><th:block th:text="#{main.modal.cancel}"></th:block></button>
            </div>
            <script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
                /*<![CDATA[*/
                $("#deleteUser[[${user.id}]]").on("click", async function (e) {
                    e.preventDefault();

                    let userId = "[[${user.id}]]";

                    const http = new Http("marking notification saving album");
                    let json = {
                        userIds: [userId]
                    }
                    const data = await http.ajax("post", "/users/delete", JSON.stringify(json));

                    if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                        let message = "Error";
                        if (data["status"] === "success") {
                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            window.location.replace("/settings/users");
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                        }
                        $("#usersSettingsMessage").html(message);
                    }
                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>

<div class="modal fade" th:id="'propresetpassworduser'+${user.id}" tabindex="-1" role="dialog" th:aria-labelledby="'labelresetpassword'+${user.id}">
    <div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModalLabel"><th:block th:text="#{main.pages.user.resetpass(${user.username})}"></th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" th:id="'resetPassword'+${user.id}">
                    <div class="input-group">
                        <input type="password" th:id="'password'+${user.id}" th:name="'password'+${user.id}" minlength="6" class="form-control" th:placeholder="#{main.pages.user.resetpass.placeholder}">
                        <button class="btn btn-secondary" type="button" th:id="'unhidepassword'+${user.id}" style="max-height: 46px;"><span th:id="'unhidepasswordicon'+${user.id}" class="bi-eye"></span></button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div th:id="'resetPasswordUserStatus'+${user.id}" class="spinner-grow me-auto" style="visibility: hidden;font-size: 1.55rem;" role="status" data-bs-toggle="tooltip" data-bs-placement="right" title=""></div>
                <button type="button" class="btn btn-primary" th:id="'resetPasswordUser'+${user.id}"><th:block th:text="#{main.modal.confirm}"></th:block></button>
                <button th:id="'resetPasswordUserCancel'+${user.id}" type="button" class="btn btn-secondary" data-bs-dismiss="modal"><th:block th:text="#{main.modal.cancel}"></th:block></button>
            </div>
            <script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
                /*<![CDATA[*/
                $("#unhidepassword[[${user.id}]]").on("click", function (e) {
                    e.preventDefault();
                    changeTypes($("#password[[${user.id}]]"), $("#unhidepasswordicon[[${user.id}]]"));
                });

                function changeTypes(elem, icon) {
                    if (elem.attr("type") === "password") {
                        elem.prop("type", "text");
                        icon.removeClass("bi-eye").addClass("bi-eye-slash");
                    } else {
                        elem.prop("type", "password");
                        icon.removeClass("bi-eye-slash").addClass("bi-eye");
                    }
                }

                $("#propresetpassworduser[[${user.id}]]").on("hide.bs.modal", function (e) {
                    $("#unhidepasswordicon[[${user.id}]]").removeClass("bi-eye-slash").addClass("bi-eye");
                    $("#password[[${user.id}]]").prop("type", "password");
                });

                $("#resetPasswordUser[[${user.id}]]").on("keydown", async function (e) {
                    if (e.key === "Enter" || e.code === "Enter" || e.which === 13 || e.keyCode === 13) {
                        e.preventDefault();

                        await resetPassword();
                    }
                });
                $("#resetPasswordUser[[${user.id}]]").on("click", async function (e) {
                    e.preventDefault();

                    await resetPassword();
                });

                async function resetPassword() {
                    const passwordLength = $("#password[[${user.id}]]").val().length;

                    if (passwordLength > 5) {
                        let userId = "[[${user.id}]]";
                        let username = /*[[${user.username}]]*/ '';

                        $("#resetPasswordUserStatus[[${user.id}]]").removeClass('bi-check-circle').removeClass('bi-x-circle').addClass('spinner-grow');
                        $("#resetPasswordUserStatus[[${user.id}]]").visible();
                        $("#resetPasswordUserStatus[[${user.id}]]").attr("title", "");
                        $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', true);

                        const http = new Http("marking notification saving user");
                        let json = {userId: userId, password: $("#password[[${user.id}]]").val()}
                        const data = await http.ajax("post", "/user/update/password", JSON.stringify(json), function () {
                            $("#resetPasswordUserStatus[[${user.id}]]").removeClass('bi-check-circle').removeClass('spinner-grow').addClass('bi-x-circle');
                            $("#resetPasswordUserStatus[[${user.id}]]").attr("title", shashin.modalStatusFailMessage());
                            $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', false);
                        });

                        if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                            if (data["status"] === "success") {
                                $("#resetPasswordUserStatus[[${user.id}]]").addClass('bi-check-circle').removeClass('spinner-grow');
                                $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', false);
                                $("#unhidepasswordicon[[${user.id}]]").removeClass("bi-eye-slash").addClass("bi-eye");
                                $("#password[[${user.id}]]").prop("type", "password");
                                $("#propresetpassworduser[[${user.id}]]").modal('hide');
                                let userGenerated = true;
                                if (data.hasOwnProperty("password")) {
                                    userGenerated = false;
                                }
                                shashin.closeToastMessages({tag: "resetpass"});
                                shashin.showToastMessage(shashin.getTranslatedValue("main.user.reset.title"), shashin.getTranslatedValue("main.user.reset.body", username) + ". " + ((userGenerated === false) ? shashin.getTranslatedValue("main.user.reset.generated.body", data.password) : ""), {
                                    icon: "bi-info-circle",
                                    iconColor: "#777777",
                                    tag: "resetpass",
                                    autohide: false
                                });
                            } else {
                                $("#resetPasswordUserStatus[[${user.id}]]").addClass('bi-x-circle').removeClass('spinner-grow');
                                $("#resetPasswordUserStatus[[${user.id}]]").attr("title", shashin.modalStatusFailMessage());
                                $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', false);
                            }
                        } else {
                            $("#resetPasswordUserStatus[[${user.id}]]").addClass('bi-x-circle').removeClass('spinner-grow');
                            $("#resetPasswordUserStatus[[${user.id}]]").attr("title", shashin.modalStatusFailMessage());
                            $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', false);
                        }
                    } else {
                        $("#resetPasswordUserStatus[[${user.id}]]").addClass('bi-x-circle').removeClass('spinner-grow');
                        $("#resetPasswordUserStatus[[${user.id}]]").attr("title", shashin.modalStatusFailMessage());
                        $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', false);
                        shashin.closeToastMessages({tag: "resetpass"});
                        shashin.showToastMessage(shashin.getTranslatedValue("main.user.reset.title"), shashin.getTranslatedValue("main.user.reset.min"), {
                            icon: "bi-exclamation-triangle",
                            iconColor: "#FF0000",
                            tag: "resetpass",
                            autohide: false,
                            borderColor: "danger"
                        });
                    }
                }

                $('#propresetpassworduser[[${user.id}]]').on('hide.bs.modal', function () {
                    $("#resetPasswordUserStatus[[${user.id}]]").addClass('spinner-grow').removeClass('bi-check-circle').removeClass('bi-x-circle');
                    $("#resetPasswordUserStatus[[${user.id}]]").invisible();
                    $("#password[[${user.id}]]").val("");
                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>

<div class="modal fade" th:id="'proproleuser'+${user.id}" tabindex="-1" role="dialog" th:aria-labelledby="'labelroleuser'+${user.id}">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roleuserModalLabel"><th:block th:text="#{main.pages.user.role(${user.username})}"></th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" th:name="'roleUpdate'+${user.id}" th:id="'roleUpdateUser'+${user.id}">
                    <label class="form-check-label" th:for="'roleUpdateUser'+${user.id}">
                        <th:block th:text="#{main.pages.account.role.user}"></th:block>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" th:name="'roleUpdate'+${user.id}" th:id="'roleUpdateAdmin'+${user.id}">
                    <label class="form-check-label" th:for="'roleUpdateAdmin'+${user.id}">
                        <th:block th:text="#{main.pages.account.role.admin}"></th:block>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" th:name="'roleUpdate'+${user.id}" th:id="'roleUpdateSuper'+${user.id}">
                    <label class="form-check-label" th:for="'roleUpdateSuper'+${user.id}">
                        <th:block th:text="#{main.pages.account.role.super}"></th:block>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" th:id="'roleUser'+${user.id}"><th:block th:text="#{main.modal.confirm}"></th:block></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><th:block th:text="#{main.modal.cancel}"></th:block></button>
            </div>
            <script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
                /*<![CDATA[*/
                $("#roleUser[[${user.id}]]").on("click", async function (e) {
                    e.preventDefault();

                    let userId = "[[${user.id}]]";
                    let currentRole = /*[[${user.authority}]]*/ "";
                    let changeTo = "";
                    if($('#roleUpdateUser[[${user.id}]]').is(':checked')) {
                        changeTo = "ROLE_USER";
                    } else if($('#roleUpdateAdmin[[${user.id}]]').is(':checked')) {
                        changeTo = "ROLE_ADMIN";
                    } else if($('#roleUpdateSuper[[${user.id}]]').is(':checked')) {
                        changeTo = "ROLE_SUPER";
                    }

                    if (changeTo !== "" && currentRole !== changeTo) {
                        let json = {userIds: [userId], role: changeTo};
                        const http = new Http("setting user");
                        const data = await http.ajax("post", "/users/update/role", JSON.stringify(json));

                        if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                            let message = "Error";
                            if (data["status"] === "success") {
                                message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                                window.location.replace("/settings/users");
                            } else {
                                message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                            }
                            $("#usersSettingsMessage").html(message);
                        }
                    }
                });

                $('#proproleuser[[${user.id}]]').on('show.bs.modal', function () {
                    let currentRole = /*[[${user.authority}]]*/ "";

                    if (currentRole === "ROLE_USER") {
                        $("#roleUpdateUser[[${user.id}]]").prop("checked", true);
                    } else if (currentRole === "ROLE_ADMIN") {
                        $("#roleUpdateAdmin[[${user.id}]]").prop("checked", true);
                    } else if (currentRole === "ROLE_SUPER") {
                        $("#roleUpdateSuper[[${user.id}]]").prop("checked", true);
                    }
                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>

<div class="modal fade" th:id="'propisauthorizeduser'+${user.id}" tabindex="-1" role="dialog" th:aria-labelledby="'labelalloweduser'+${user.id}">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alloweduserModalLabel"><th:block th:utext="#{main.pages.account.role.change(${user.isAuthorized == true ? #messages.msg('main.pages.account.deauthorizing') : #messages.msg('main.pages.account.authorizing')}, ${user.username})}"></th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><th:block th:utext="#{main.pages.account.role.confirm(${user.isAuthorized == true ? #messages.msg('main.pages.account.deauthorize') : #messages.msg('main.pages.account.authorize')}, ${user.username})}"></th:block>?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" th:id="'allowUser'+${user.id}"><th:block th:text="#{main.modal.confirm}"></th:block></button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><th:block th:text="#{main.modal.cancel}"></th:block></button>
            </div>
            <script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
                /*<![CDATA[*/
                $("#allowUser[[${user.id}]]").on("click", async function (e) {
                    e.preventDefault();

                    let userId = "[[${user.id}]]";
                    let currentPermission = [[${user.isAuthorized}]];
                    let changeTo = currentPermission !== true;

                    const http = new Http("allowing user registration");
                    let json = {userIds: [userId], authorized: changeTo}
                    const data = await http.ajax("post", "/users/update/authorized", JSON.stringify(json));

                    if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                        let message;
                        if (data["status"] === "success") {
                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            window.location.replace("/settings/users");
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                        }
                        $("#usersSettingsMessage").html(message);
                    }
                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>

</body>
</html>