<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="usersettingsmodal(user)">

<div class="modal fade" th:id="'proptrashuser'+${user.id}" tabindex="-1" role="dialog" th:aria-labelledby="'labeltrash'+${user.id}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trashModalLabel">Delete <th:block th:text="${user.username}"></th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete this user?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" th:id="'deleteUser'+${user.id}">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
            <script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
                /*<![CDATA[*/
                $("#deleteUser[[${user.id}]]").on("click", async function (e) {
                    e.preventDefault();

                    let userId = "[[${user.id}]]";

                    const http = new Http("marking notification saving album");
                    let json = {userId: userId, delete: true}
                    const data = await http.ajax("post", "/settings/user/delete/" + userId, JSON.stringify(json));

                    if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                        let message = "Error";
                        if (data["status"] === "success") {
                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            window.location.replace("/settings/users");
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                        }
                        $("#usersSettingsMessage").html(message);
                    }
                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>

<div class="modal fade" th:id="'propresetpassworduser'+${user.id}" tabindex="-1" role="dialog" th:aria-labelledby="'labelresetpassword'+${user.id}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModalLabel">Reset password for <th:block th:text="${user.username}"></th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" th:id="'resetPassword'+${user.id}">
                    <input type="password" th:id="'password'+${user.id}" th:name="'password'+${user.id}" class="form-control" placeholder="Reset Password">
                </form>
            </div>
            <div class="modal-footer">
                <div th:id="'resetPasswordUserStatus'+${user.id}" class="spinner-grow me-auto" style="visibility: hidden;font-size: 2rem;" role="status" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title=""></div>
                <button type="button" class="btn btn-primary" th:id="'resetPasswordUser'+${user.id}">Confirm</button>
                <button th:id="'resetPasswordUserCancel'+${user.id}" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
            <script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
                /*<![CDATA[*/
                $("#resetPasswordUser[[${user.id}]]").on("click", async function (e) {
                    e.preventDefault();

                    $("#resetPasswordUserStatus[[${user.id}]]").removeClass('bi-check-circle').removeClass('bi-x-circle').addClass('spinner-grow');
                    $("#resetPasswordUserStatus[[${user.id}]]").css("visibility", "visible");
                    $("#resetPasswordUserStatus[[${user.id}]]").attr("title", "");
                    $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', true);

                    let userId = "[[${user.id}]]";

                    const http = new Http("marking notification saving user");
                    let json = {userId: userId, password: $("#password[[${user.id}]]").val()}
                    const data = await http.ajax("post", "/settings/user/changepassword/" + userId, JSON.stringify(json), function () {
                        $("#resetPasswordUserStatus[[${user.id}]]").removeClass('bi-check-circle').removeClass('spinner-grow').addClass('bi-x-circle');
                        $("#resetPasswordUserStatus[[${user.id}]]").attr("title", shashin.modalStatusFailMessage());
                        $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', false);
                    });

                    if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                        let message = "Error";
                        if (data["status"] === "success") {
                            $("#resetPasswordUserStatus[[${user.id}]]").addClass('bi-check-circle').removeClass('spinner-grow');
                            $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', false);
                            window.location.replace("/settings/users");
                        } else {
                            $("#resetPasswordUserStatus[[${user.id}]]").addClass('bi-x-circle').removeClass('spinner-grow');
                            $("#resetPasswordUserStatus[[${user.id}]]").attr("title", shashin.modalStatusFailMessage());
                            $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', false);
                        }
                    } else {
                        $("#resetPasswordUserStatus[[${user.id}]]").addClass('bi-x-circle').removeClass('spinner-grow');
                        $("#resetPasswordUserStatus[[${user.id}]]").attr("title", shashin.modalStatusFailMessage());
                        $("#resetPasswordUserCancel[[${user.id}]]").prop('disabled', false);
                    }
                });

                $('#propresetpassworduser[[${user.id}]]').on('hide.bs.modal', function () {
                    $("#resetPasswordUserStatus[[${user.id}]]").addClass('spinner-grow').removeClass('bi-check-circle').removeClass('bi-x-circle');
                    $("#resetPasswordUserStatus[[${user.id}]]").css("visibility","hidden");
                    $("#password[[${user.id}]]").val("");
                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>

<div class="modal fade" th:id="'proproleuser'+${user.id}" tabindex="-1" role="dialog" th:aria-labelledby="'labelroleuser'+${user.id}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="roleuserModalLabel">Change <th:block th:text="${user.username}"></th:block> to <th:block th:text="${user.authority == 'ROLE_ADMIN' ? 'user' : 'admin'}"></th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to change this users role?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" th:id="'roleUser'+${user.id}">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
            <script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
                /*<![CDATA[*/
                $("#roleUser[[${user.id}]]").on("click", async function (e) {
                    e.preventDefault();

                    let userId = "[[${user.id}]]";
                    let currentRole = /*[[${user.authority}]]*/ '';
                    let changeTo = currentRole === "ROLE_USER" ? "ROLE_ADMIN" : "ROLE_USER";

                    const http = new Http("setting user");
                    let json = {userId: userId, changeTo: changeTo}
                    const data = await http.ajax("post", "/settings/user/role/" + userId, JSON.stringify(json));

                    if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                        let message = "Error";
                        if (data["status"] === "success") {
                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            window.location.replace("/settings/users");
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                        }
                        $("#usersSettingsMessage").html(message);
                    }
                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>

<div class="modal fade" th:id="'propisalloweduser'+${user.id}" tabindex="-1" role="dialog" th:aria-labelledby="'labelalloweduser'+${user.id}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alloweduserModalLabel">Change <th:block th:text="${user.username}"></th:block> permission to <th:block th:text="${user.isAllowed == true ? 'not login?' : 'login?'}"></th:block></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to change this users permissions?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" th:id="'allowUser'+${user.id}">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
            <script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
                /*<![CDATA[*/
                $("#allowUser[[${user.id}]]").on("click", async function (e) {
                    e.preventDefault();

                    let userId = "[[${user.id}]]";
                    let currentPermission = [[${user.isAllowed}]];
                    let changeTo = currentPermission !== true;

                    const http = new Http("allowing user registration");
                    let json = {userId: userId, changeTo: changeTo}
                    const data = await http.ajax("post", "/settings/user/permission/" + userId, JSON.stringify(json));

                    if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                        let message;
                        if (data["status"] === "success") {
                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            window.location.replace("/settings/users");
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                        }
                        $("#usersSettingsMessage").html(message);
                    }
                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>

</body>
</html>