<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>

            <div class="row align-items-center justify-content-center mt-4">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center justify-content-center mt-2 mb-2">
                                <div id="profilePictureEditWrapper" class="mt-3 mb-3" th:style="${'width:16em;max-height:500px;display: ' + {user.profile==null or user.profile==''?'none;':'display;'}}">
                                    <img id="profilePictureEdit" th:src="${user.profile==null or user.profile==''?'#':user.profile + '?v=' + randomString}" style="max-height: 200px;" />
                                </div>
                                <div id="profileInfo" class="ms-5 me-3 mt-2">
                                    <h5 class="card-title" th:utext="${currentUser.username}"></h5>
                                    <h6 class="card-subtitle mb-2 text-muted" th:utext="${'&lt;small class=&quot;text-muted&quot; style=&quot;font-size: 0.8rem&quot; &gt; Joined ' + dateJoined + '&lt;/small&gt;'}"></h6>
                                    <p th:utext="${roleDescription}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mt-4">
                <div class="col-lg-6">
                    <div class="input-group mb-2">
                        <h1 class="display-1" style="font-size:1.5rem;">Edit Profile Picture</h1>
                    </div>

                    <div class="input-group mb-2">
                        <input type="file" th:accept="${'.'+#strings.listJoin(acceptedImageTypes, ',.')}" class="form-control" id="chooseProfilePhoto" name="chooseProfilePhoto" aria-describedby="chooseProfilePhoto" aria-label="Upload">
                        <button type="button" class="btn btn-danger rounded-end" id="removeProfile" th:style="${'display: '+{user.profile==null or user.profile==''?'none;':'block;'}}">Delete Profile Picture</button>
                        <button type="button" class="btn btn-secondary rounded-end" id="saveProfile" style="display: none;">Save</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" id="cancelProfile" class="btn btn-secondary rounded" style="display: none;float:right;">Cancel</button>
                    </div>

                    <div class="input-group mb-2">
                        <a style="text-decoration: none;" href="#" id="profileMode"></a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mt-4">
                <div class="col-lg-6">
                    <div class="input-group mb-2">
                        <h1 class="display-1" style="font-size:1.5rem;">Website Settings</h1>
                    </div>

                    <div class="dropdown-item">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="darkModeSwitch" th:checked="${currentUser.darkMode}">
                            <label class="form-check-label" for="darkModeSwitch">Dark Mode</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="autoplayVideoSwitch" th:checked="${currentUser.autoplayVideo}">
                            <label class="form-check-label" for="autoplayVideoSwitch">Autoplay Videos</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="showPlacenameSwitch" th:checked="${currentUser.showPlacename}">
                            <label class="form-check-label" for="showPlacenameSwitch">Show Place Names On Maps</label>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="showNotificationAlertsSwitch" th:checked="${currentUser.notificationAlerts}">
                            <label class="form-check-label" for="showNotificationAlertsSwitch">Show Pop-Ups From Notification Board</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mt-4">
                <div class="col-lg-6">
                    <div class="input-group mb-2">
                        <h1 class="display-1" style="font-size:1.5rem;">Manage API Key</h1>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group mb-3">
                            <button id="copyapikey" data-clipboard-target="#apikey" class="btn btn-secondary" type="button" title="Copy API key">
                                <span id="apikeycopyicon" class="bi-clipboard-plus" style="font-size: 1rem;"></span>
                            </button>
                            <input id="apikey" type="text" class="form-control" aria-label="API key" th:data-clipboard-text="${user.apikey}" th:value="${user.apikey}" readonly>
                            <button id="updateapikey" class="btn btn-danger" type="button" title="Update API key">
                                <span class="bi-arrow-clockwise" style="font-size: 1rem;"></span>
                            </button>
                        </div>
                        <div class="input-group mb-3">
                            RSS feed&nbsp;<a id="rssFeedLink" th:href="${rssFeedLink}" th:text="${rssFeedLink}" target="_blank"></a>
                        </div>
                        <div class="input-group mb-3">
                            ATOM feed&nbsp;<a id="atomFeedLink" th:href="${atomFeedLink}" th:text="${atomFeedLink}" target="_blank"></a>
                        </div>
                        <div class="input-group mb-3">
                            View API documentation&nbsp;<a href="/articles/endpoints">here</a>.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center justify-content-center mt-3">
                <div class="col-lg-6">
                    <div class="input-group mb-2">
                        <h1 class="display-1" style="font-size:1.5rem;">Change Password</h1>
                    </div>

                    <form action="/users/account" method="post" id="passwordForm">
                        <div class="input-group mb-3">
                            <input type="password" id="oldpassword" name="oldpassword" class="form-control" placeholder="Old password" aria-label="" aria-describedby="basic-addon1">
                            <button class="btn btn-secondary" type="button" id="unhideold"><span id="unhideoldicon" class="bi-eye"></span></button>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="New password" aria-label="" aria-describedby="basic-addon1">
                            <button class="btn btn-secondary" type="button" id="unhidenew"><span id="unhidenewicon" class="bi-eye"></span></button>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" id="newpasswordconfirm" name="newpasswordconfirm" class="form-control" placeholder="New password confirm" aria-label="" aria-describedby="basic-addon1">
                            <button class="btn btn-secondary" type="button" id="unhideconfirm"><span id="unhideconfirmicon" class="bi-eye"></span></button>
                        </div>

                        <button class="btn btn-primary btn-block" type="submit">Save Password</button>
                    </form>
                </div>
            </div>

            <th:block th:if="${canDeleteAccount == true}">
                <div class="row align-items-center justify-content-center mt-3">
                    <div class="col-lg-6">
                        <hr>
                        <div class="card mt-2">
                            <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDelete" aria-expanded="false" aria-controls="collapseDelete">
                                Delete Account
                            </button>
                            <div class="collapse alert-danger" id="collapseDelete">
                                <div class="alert" role="alert">
                                    <p><span class="bi-exclamation-triangle-fill"></span> Warning!</p>
                                    <p>This will permanently delete your account.</p>
                                    <a href="#" class="btn btn-danger" id="deleteAccount">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteAccountConfirmation" tabindex="-1" role="dialog" aria-labelledby="deleteAccount">
                    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Type <strong th:utext="${currentUser.username}"></strong> to confirm<br>
                                <input class="form-control" type="text" id="deleteConfirm" value="">
                            </div>
                            <div class="modal-footer">
                                <div id="deleteContentModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 1.55rem;" role="status" data-bs-toggle="tooltip" data-bs-placement="right" title=""></div>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirmDeleteAccount">Confirm</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block th:if="${message != '' and alertClass != ''}">
                <div class="col-12">
                    <div th:class="${'alert ' + alertClass + ' alert-dismissible fade show'}" role="alert" th:utext="${message+'&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;'}"/>
                </div>
            </th:block>

            <div id="footer" th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

<div class="modal fade" id="removeProfileConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="removeProfileConfirmationModal">
    <div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeProfileConfirmationModalLabel">Delete Profile Picture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to delete your profile picture?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="removeProfileConfirmation">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="apikeyUpdateConfirmation" tabindex="-1" role="dialog" aria-labelledby="apikey">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trashModalLabel">Update API Key</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Type <strong>UPDATE</strong> to confirm<br>
                <input class="form-control" type="text" id="updateConfirm" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="confirmUpdateApiKey">Confirm
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
    $(document).ready(function () {
        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        const profileUrl = /*[[${user.profile}]]*/ '';
        const userId = /*[[${user.id}]]*/ 0;
        const status = /*[[${status}]]*/ '';
        const toastTitle = /*[[${toastTitle}]]*/ '';
        const toastBody = /*[[${toastBody}]]*/ '';
        const username = /*[[${currentUser.username}]]*/ '';
        /*]]>*/

        initializeAccount(profileUrl, userId, username, status, toastTitle, toastBody);
    });
</script>

</body>
</html>