<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body>

<div th:replace="fragments/topnav :: topnav(${authority},${username})"></div>

<div class="container-fluid">
    <div class="row">
    <div th:replace="fragments/sidebar :: sidebar(${activeSidebar},${authority})"></div>
        <main role="main" class="col-md-11 col-lg-11 pt-3 px-4">
            <div th:replace="fragments/content :: content(${data},${activePage})" class="col-sm p-3 min-vh-100"></div>
            <input type="hidden" id="currentlat" name="currentlat">
            <input type="hidden" id="currentlng" name="currentlng">
            <input type="hidden" id="currentyear" name="currentyear">
            <input type="hidden" id="currentmonth" name="currentmonth">
            <input type="hidden" id="currentday" name="currentday">
            <input type="hidden" id="currentPage" name="currentPage" value="0">

            <div id="albumMessage"></div>

            <th:block th:if="${album != '' and albumMetadataList != ''}">
                <div th:replace="fragments/appjs :: appjs()"></div>
                <div th:replace="fragments/albumjs :: albumjs()"></div>
                <div th:replace="fragments/albummodal :: albummodal()"></div>

                <h1 th:text="${album.name}"></h1>
                <span id="albumId" style="display: none" th:text="${album.id}"></span>
                <div class="row">
                    <th:block th:each="metadata, iterStat: ${albumMetadataList}">
                        <div class="photo-thumbnail-container photo-thumbnail">
                            <img th:src="${metadata.thumbnailUrlSmall}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}">

                            <th:block th:if="${metadata.type.contains('video')}">
                                <div class="thumbnail-tr" th:id="'tntr'+${metadata.id}">
                                    <span class="bi-camera-video-fill" style="font-size: 1rem;color: lightcoral;"></span>
                                </div>
                            </th:block>

                            <th:block th:if="${authority == 'ADMIN'}">
                                <div class="thumbnail-tl" th:id="'tntl'+${metadata.id}">
                                    <a href="#" th:id="'select'+${metadata.id}">
                                        <span th:id="'tlicon'+${metadata.id}" class="bi-circle" style="font-size: 1rem;color: lightgray;"></span>
                                    </a>
                                </div>

                                <div class="thumbnail-bl" th:id="'tnbl'+${metadata.id}">
                                    <a href="#" data-toggle="modal" th:data-target="'#propalbum'+${metadata.id}">
                                        <span class="bi-pencil" style="font-size: 1rem;color: lightgray;"></span>
                                    </a>
                                </div>
                            </th:block>

                            <div class="thumbnail-br" th:id="'tnbr'+${metadata.id}">
                                <a href="#" data-toggle="modal" th:data-target="'#propalbumphotocomment'+${metadata.id}">
                                    <span th:id="'bricon'+${metadata.id}" class="bi-chat-square-fill" style="font-size: 1rem;color: darkorange;"></span>
                                </a>
                            </div>

                            <div class="thumbnail-centered" th:id="'tncentered'+${metadata.id}">
                                <th:block th:unless="${metadata.type.contains('video')}">
                                    <a th:href="${metadata.thumbnailUrlOriginal}" data-featherlight="image">
                                        <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>
                                    </a>
                                </th:block>
                                <th:block th:if="${metadata.type.contains('video')}">
                                    <a th:href="${metadata.videoUrl}"
                                       data-featherlight="iframe"
                                       data-featherlight-iframe-style="display:block;border:none;height:85vh;width:85vw;"
                                       data-featherlight-iframe-frameborder="0"
                                       data-featherlight-iframe-allowfullscreen="true">
                                        <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>
                                    </a>
                                </th:block>
                            </div>
                        </div>

                        <div th:id="'albummodal'+${metadata.id}"></div>

                        <script type="text/javascript">
                            /*<![CDATA[*/
                            renderAlbumModal("[[${album}]]","[[${metadata}]]","[[${currentUser}]]","[[${albumPhotoCommentsMap}]]")
                            activateAlbumListeners("[[${metadata}]]")
                            /*]]>*/
                        </script>

                        <span class="appendAlbumPhotos"></span>
                    </th:block>
                </div>
            </th:block>

            <div th:replace="fragments/footer :: footer(${copyrightYear})"></div>
        </main>
    </div>
</div>

<script type="text/javascript">
    $(window).on('scroll', function() {
        // Uset to detect near bottom
        if (atEndOfPage()) {
            // console.log("scroll bottom");
            var currentPage = parseInt($("#currentPage").val());
            var nextPage = currentPage+1;
            // console.log("currentPage:"+currentPage);
            // console.log("nextPage:"+nextPage);

            /*<![CDATA[*/
            var albumId = [[${album.id}]];
            /*]]>*/

            updateAlbum(albumId, nextPage);
            $("#currentPage").val(nextPage);
        }
    })

    $.featherlight.prototype.afterOpen = function() {
        var lat = $("#currentlat").val();
        var lng = $("#currentlng").val();
        var year = $("#currentyear").val();
        var month = $("#currentmonth").val();
        var day = $("#currentday").val();
        var dateTaken = "";
        if (year !== "" || month !== "" || day !== "") {
            var dateTaken = new Date(year, month - 1, day);
            dateTaken = dateTaken.toDateString();
        }

        if (lat !== null && lng !== null &&
            lat !== "" && lng !== "") {
            $.getJSON("https://nominatim.openstreetmap.org/reverse?format=json&lat=" + lat + "&lon=" + lng, function (data) {
                var html = data.address.road + ", " + data.address.city + ", " + data.address.state + " " + data.address.country;

                if (dateTaken !== "" && dateTaken !== null) {
                    html += "<br>"+dateTaken;
                }

                $('.caption').remove();
                // Top bar
                $('<div style="position: absolute; top: 0; right: 0; width: 100%;height:50px; vertical-align: middle;background-color:black;color:white;"><p style="margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">'+html+'</p></div>').prependTo(".featherlight");
                // Push content down
                $(".featherlight-content").css("margin-top", "50px");
            });
        } else if (dateTaken !== "") {
            $('.caption').remove();
            // Top bar
            $('<div style="position: absolute; top: 0; right: 0; width: 100%;height:50px; vertical-align: middle;background-color:black;color:white;"><p style="margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">'+dateTaken+'</p></div>').prependTo(".featherlight");
            // Push content down
            $(".featherlight-content").css("margin-top", "50px");
        }

        $('#currentlat').val("");
        $('#currentlng').val("");
        $('#currentyear').val("");
        $('#currentmonth').val("");
        $('#currentday').val("");
    };

    $(document).ready(function(){
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>
</body>
</html>