<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${hasNotifications},${activePage})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser},${hasNotifications})"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>
            <div id="albumsMessage"></div>

            <th:block th:if="${albumsList != '' and albumsCount != ''}">
                <div class="row p-3">
                    <th:block th:each="album, iterStat: ${albumsList}">
                        <div class="card" style="width:235px;padding-top:10px;">
                            <a th:href="'/album/'+${album.id}" style="text-decoration: none !important;color: black;" th:id="'album'+${album.id}">
                                <img class="card-img-top" th:src="${#uris.escapePath(album.coverUrl)}" width="209" height="209" style="width: 209px;height: 209px;" th:onError="Util.errorImg(this,[[${album.name}]],209)">
                            </a>
                            <div class="card-body">
                                <p class="card-text">
                                    <strong th:text="${album.name}"></strong><br>

                                    <a href="#" th:id="'comment'+${album.id}" style="text-decoration: none;">
                                        <span th:id="'commentcount'+${album.id}"><th:block th:text="${#lists.size(albumsCommentsMap.get(album.id))}"></th:block></span>
                                        <span class="bi-chat-square position-relative">
                                            <th:block th:if="${notificationMap.get(album.id)}">
                                                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                                    <span class="visually-hidden">New alerts</span>
                                                </span>
                                            </th:block>
                                        </span>
                                    </a>
                                    <th:block th:if="${authority == 'ROLE_ADMIN'}">
                                        &nbsp;&nbsp;<a href="#" th:id="'trash'+${album.id}"><span class="bi-trash"></span></a>
                                        &nbsp;&nbsp;<a href="#" th:id="'share'+${album.id}"><span class="bi-share"></span></a>
                                    </th:block>
                                </p>
                                <p class="card-text"><small class="text-muted" th:text="${albumsCount[iterStat.index] + ' items'}"></small></p>
                            </div>
                        </div>

                        <div th:replace="fragments/albumsmodal :: albumsmodal(${album},${users},${userAlbums},${currentUser},${userCount},${sharedAlbums},${albumsCommentsMap},${baseUrl})"></div>
                        <div th:replace="fragments/albumsjs :: albumsjs(${album})"></div>
                    </th:block>
                </div>
            </th:block>

            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<script type="text/javascript">
    $("#container").scroll(function () {
        //set scroll position in session storage
        sessionStorage.scrollPos = $("#container").scrollTop();
    });
    const init = function () {
        //get scroll position in session storage
        $("#container").scrollTop(sessionStorage.scrollPos || 0)
    };
    window.onload = init;
</script>

</body>
</html>