<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${activePage},'')"></div>

<div th:replace="fragments/infomodal :: infomodal(${currentUser})"></div>

<div th:replace="fragments/infosidebar :: infosidebar(${currentUser})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>
            <input type="hidden" id="currentlat" name="currentlat">
            <input type="hidden" id="currentlng" name="currentlng">
            <input type="hidden" id="currentyear" name="currentyear">
            <input type="hidden" id="currentmonth" name="currentmonth">
            <input type="hidden" id="currentday" name="currentday">
            <input type="hidden" id="currentfilename" name="currentfilename">
            <input type="hidden" id="currentPage" name="currentPage" value="0">
            <input type="hidden" id="albumId" name="albumId" th:value="${album.id}">
            <input type="hidden" id="albumNameInput" name="albumNameInput" th:value="${album.name}">
            <input type="hidden" id="authority" name="authority" th:value="${authority}">
            <input type="hidden" id="activePage" th:value="${activePage}">

            <div id="albumMessage"></div>

            <th:block th:if="${not #lists.isEmpty(albumMetadataList)}">
                <span id="albumNameHeader"><h1 id="albumNameHeading" th:text="${album.name}"></h1></span>

                <div id="infinite-scroll-gallery">
                    <div class="row image-group-padding">
                        <th:block th:each="metadata, iterStat: ${albumMetadataList}">

                            <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and albumMetadataList[iterStat.index-1].year==metadata.year and albumMetadataList[iterStat.index-1].month==metadata.month and albumMetadataList[iterStat.index-1].day==metadata.day}">
                                <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                    <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                        <section class="dateSection" th:id="${metadata.year+'-'+metadata.month+'-'+metadata.day}"><p><strong th:text="${#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM d, yyyy')}"></strong></p></section>
                                    </th:block>
                                </th:block>
                            </th:block>

                            <div th:id="${'photoThumbnailContainer'+metadata.id}" class="photo-thumbnail-container photo-thumbnail" th:style="${'width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;'}">
                                <a class="lightGalleryIndexAnchor" th:name="${'lightGalleryIndex'+iterStat.index}"></a>

                                <img loading="lazy" th:src="${#uris.escapePath(metadata.thumbnailUrlSmall)}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${metadata.thumbnailSmallWidth}" th:height="${metadata.thumbnailSmallHeight}" style="background-color:lightgray;" th:onError="Util.errorImg(this,[[${metadata.title}]],Util.thumbnailHeight())">

                                <div th:replace="fragments/toprightoverlay :: toprightoverlay(${metadata.type},${metadata.id},${metadata.duration != null ? metadata.duration : '0:00'},${metadata.originalImageWidth},${metadata.originalImageHeight},false)"></div>

                                <th:block th:if="${authority == 'ROLE_ADMIN'}">
                                    <div th:replace="fragments/topleftoverlay :: topleftoverlay(${metadata.id})"></div>
                                    <div th:replace="fragments/bottomleftoverlay :: bottomleftoverlay(${metadata.id}, null, 'albumModalEdit', 'albumSettings.openAlbumModal', 'overlayCommentText')"></div>
                                </th:block>

                                <th:block th:if="${authority == 'ROLE_USER'}">
                                    <div th:replace="fragments/bottomleftoverlay :: bottomleftoverlay(${metadata.id}, null, null, null, null)"></div>
                                </th:block>

                                <div class="thumbnail-br" th:id="'tnbr'+${metadata.id}">
                                    <a href="#" th:id="'favorite'+${metadata.id}" class="text-decoration-none">
                                        <span class="overlayIconBackground">
                                            <span th:id="'briconcount'+${metadata.id}" th:text="${#maps.containsKey(favorites, metadata.id) ? favorites.get(metadata.id).get('count') : '0'}"></span>&nbsp;<span th:id="'brfavoriteicon'+${metadata.id}" th:class="${#maps.containsKey(favorites, metadata.id) and favorites.get(metadata.id).get('favorite')} ? 'bi-suit-heart-fill overlayIcon' : 'bi-suit-heart overlayIcon'"></span>
                                        </span>
                                    </a>
                                    <br>
                                    <a href="#" data-bs-toggle="modal" th:data-bs-target="'#propalbumphotocomment'+${metadata.id}" class="overlayCommentIconBackground overlayCommentText">
                                        <span th:id="'brcommentcount'+${metadata.id}"><th:block th:text="${albumPhotoCommentsMap.containsKey(metadata.id) ? #lists.size(albumPhotoCommentsMap.get(metadata.id)) : '0'}"></th:block></span> <span th:id="'bricon'+${metadata.id}" class="bi-chat-square position-relative overlayCommentIcon">
                                            <th:block th:if="${notificationMap.get(metadata.id)}">
                                            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                                                <span class="visually-hidden">New alerts</span>
                                            </span>
                                            </th:block>
                                        </span>
                                    </a>
                                </div>

                                <div th:replace="fragments/centeredoverlay :: centeredoverlay(${metadata},'shashin.openGallery',${iterStat.index})"></div>

                            </div>

                            <span th:id="'albummodal'+${metadata.id}" style="width:0;height:0;padding:0"></span>

                            <script th:inline="javascript" type="text/javascript">
                                /*<![CDATA[*/
                                shashin.setPhotoOverlays(/*[[${metadata}]]*/{}, /*[[${activePage}]]*/'album');
                                albumModal.renderAlbumCommentsModal(/*[[${album}]]*/{},/*[[${metadata}]]*/{},/*[[${userMap}]]*/{},/*[[${albumPhotoCommentsMap}]]*/{})
                                albumSettings.activateAlbumListeners(/*[[${metadata}]]*/{},/*[[${album}]]*/{})
                                $("#mediaLink"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").attr("tag",/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000");
                                $("#infoModalEdit"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").click(function(e) {
                                    e.preventDefault();
                                    shashin.openInfoModal(/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000");
                                });
                                /*]]>*/
                            </script>

                            <span class="appendAlbumPhotos" style="width:0;height:0;padding:0"></span>
                        </th:block>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${#lists.isEmpty(albumMetadataList)}">
                <span class="appendAlbumPhotos" style="width:0;height:0;padding:0;display:none;">EOL</span>
            </th:block>

            <!-- Back to top button -->
            <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
                <i class="bi-arrow-up-circle"></i>
            </button>

            <div id="spinner" class="spinner-border justify-content-center align-items-center" role="status" style="display: none"></div>
            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<div class="modal fade" id="propAlbumModal" tabindex="-1" role="dialog" aria-labelledby="labelAlbumModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit &ldquo;<span id="albumModalTitle"></span>&rdquo;<div id="propAlbumModalThumbnail"></div></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="saveAlbumModalForm">
                    <input type="hidden" name="metadataId" id="metadataId" value="">
                    <div class="col-auto form-check">
                        <input type="checkbox" class="form-check-input" id="removeFromAlbum" name="removeFromAlbum">
                        <label class="form-check-label" for="removeFromAlbum">Remove from album</label>
                    </div>
                    <div class="col-auto form-check">
                        <input type="checkbox" class="form-check-input" id="setCoverAlbum" name="setCoverAlbum">
                        <label class="form-check-label" for="setCoverAlbum">Set as album cover</label>
                    </div>
                </form>
                <div class="col-sm">
                    <span id="albumModalMsg"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div id="albumsModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 2rem;" role="status" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title=""></div>
                <button type="button" class="btn btn-primary" id="saveAlbumModal">Save</button>
                <button id="albumsModalCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/applisteners.js" type="text/javascript"></script>
    <script src="/js/site/albumlisteners.js" type="text/javascript"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/applisteners.min.js" type="text/javascript"></script>
    <script src="/js/site/albumlisteners.min.js" type="text/javascript"></script>
</th:block>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function() {
        const albumId = $("#albumId").val();
        /*<![CDATA[*/
        const activePage = /*[[${activePage}]]*/ 'album';
        /*]]>*/

        let mediaContentList = shashin.initLightGallery('infinite-scroll-gallery',{dynamic:true,plugins:[lgMetadataDetail],metadataDetail:true},'.mediaLink');

        function loadNextPage() {
            if (albumSettings.rendering === false) {
                const currentPage = parseInt($("#currentPage").val());
                const nextPage = currentPage + 1;

                albumSettings.updateAlbum(albumId, nextPage, activePage).then(function (additionalMediaContentList) {
                    mediaContentList = shashin.updateMediaContent(mediaContentList, additionalMediaContentList);
                });

                $("#currentPage").val(nextPage);
            }
        }

        /*<![CDATA[*/
        shashin.pageLoader(loadNextPage, ".appendAlbumPhotos", /*[[${albumMetadataList}]]*/ '[]',albumId > 0 && albumSettings.rendering === false, function () {
            shashin.checkRender(loadNextPage, ".appendAlbumPhotos", /*[[${albumMetadataList}]]*/ '[]', albumSettings.rendering);
        });
        /*]]>*/

        shashin.mouseMoveListener();

        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>