<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body>

<div th:replace="fragments/topnav :: topnav(${authority},${username},${activePage})"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar(${activeSidebar},${authority})"></div>
        <main role="main" class="col-md-11 col-lg-11 pt-3 px-4">
            <div th:replace="fragments/content :: content(${data},${activePage})" class="col-sm p-3 min-vh-100"></div>
            <div id="albumsMessage"></div>

            <th:block th:if="${albumsList != '' and albumsCount != ''}">
                <div class="row">
                    <th:block th:each="album, iterStat: ${albumsList}">
                        <div class="card" style="width: 209px;">
                            <a th:href="'/album/'+${album.id}"  style="text-decoration: none !important;color: black;" th:id="'album'+${album.id}">
                                <img class="card-img-top" th:src="${album.coverUrl}" th:alt="${album.name}">
                            </a>
                            <div class="card-body">
                                <p class="card-text"><strong th:text="${album.name}"></strong><span style="float: right"><a href="#" th:id="'comment'+${album.id}" style="text-decoration: none;"><th:block th:text="${#lists.size(albumsCommentsMap.get(album.id))}"></th:block> <span class="bi-chat-square"></span></a><th:block th:if="${authority == 'ROLE_ADMIN'}">&nbsp;&nbsp;<a href="#" th:id="'trash'+${album.id}"><span class="bi-trash"></span></a>&nbsp;&nbsp;<a href="#" th:id="'share'+${album.id}"><span class="bi-share"></span></a></th:block></span></p>
                                <p class="card-text"><small class="text-muted" th:text="${albumsCount[iterStat.index] + ' items'}"></small></p>
                            </div>
                        </div>

                        <div th:replace="fragments/albumsmodal :: albumsmodal(${album},${users},${userAlbums},${currentUser},${userCount},${sharedAlbums},${albumsCommentsMap},${baseUrl})"></div>
                        <div th:replace="fragments/albumsjs :: albumsjs(${album})"></div>
                    </th:block>
                </div>
            </th:block>

            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo})"></div>
        </main>
    </div>
</div>
</body>
</html>