<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body>

<div th:replace="fragments/topnav :: topnav(${authority},${username},${activePage})"></div>

<div class="container-fluid">
    <div class="row">
    <div th:replace="fragments/sidebar :: sidebar(${activeSidebar},${authority})"></div>
        <main role="main" class="col-md-11 col-lg-11 pt-3 px-4">
            <div th:replace="fragments/content :: content(${data},${activePage})" class="col-sm p-3 min-vh-100"></div>
            <input type="hidden" id="currentlat" name="currentlat">
            <input type="hidden" id="currentlng" name="currentlng">
            <input type="hidden" id="currentyear" name="currentyear">
            <input type="hidden" id="currentmonth" name="currentmonth">
            <input type="hidden" id="currentday" name="currentday">
            <input type="hidden" id="currentPage" name="currentPage" value="0">

            <div id="albumMessage"></div>

            <th:block th:if="${album != '' and albumMetadataList != ''}">
                <div th:replace="fragments/appjs :: appjs()"></div>
                <div th:replace="fragments/albumjs :: albumjs()"></div>
                <div th:replace="fragments/albummodal :: albummodal()"></div>

                <h1 th:text="${album.name}"></h1>
                <span id="albumId" style="display: none" th:text="${album.id}"></span>
                <div id="infinite-scroll-gallery">
                    <div class="row">
                        <th:block th:each="metadata, iterStat: ${albumMetadataList}">
                            <div class="photo-thumbnail-container photo-thumbnail">
                                <img th:src="${metadata.thumbnailUrlSmall}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}">

                                <th:block th:if="${metadata.type.contains('video')}">
                                    <div class="thumbnail-tr" th:id="'tntr'+${metadata.id}">
                                        <span class="bi-camera-video-fill" style="font-size: 1rem;color: lightcoral;"></span>
                                    </div>
                                </th:block>

                                <th:block th:if="${authority == 'ROLE_ADMIN'}">
                                    <div class="thumbnail-tl" th:id="'tntl'+${metadata.id}">
                                        <a href="#" th:id="'select'+${metadata.id}">
                                            <span th:id="'tlicon'+${metadata.id}" class="bi-circle" style="font-size: 1rem;color: lightgray;"></span>
                                        </a>
                                    </div>

                                    <div class="thumbnail-bl" th:id="'tnbl'+${metadata.id}">
                                        <a href="#" data-toggle="modal" th:data-target="'#propalbum'+${metadata.id}">
                                            <span class="bi-pencil" style="font-size: 1rem;color: lightgray;"></span>
                                        </a>
                                    </div>
                                </th:block>

                                <div class="thumbnail-br" th:id="'tnbr'+${metadata.id}">
                                    <a href="#" data-toggle="modal" th:data-target="'#propalbumphotocomment'+${metadata.id}" style="text-decoration: none;color: darkorange">
                                        <th:block th:text="${#lists.size(albumPhotoCommentsMap.get(metadata.id))}"></th:block> <span th:id="'bricon'+${metadata.id}" class="bi-chat-square-fill" style="font-size: 1rem;color: darkorange;"></span>
                                    </a>
                                </div>

                                <div class="thumbnail-centered" th:id="'tncentered'+${metadata.id}">
                                    <th:block th:unless="${metadata.type.contains('video')}">
                                        <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                                <a class="mediaLink" th:data-src="${metadata.thumbnailUrlOriginal}" th:href="${metadata.thumbnailUrlOriginal}"
                                                   th:data-sub-html="${metadata.placeName+'<br>'+metadata.fileName+' taken on '+#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM dd, yyyy')}">
                                                    <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>
                                                </a>
                                            </th:block>
                                        </th:block>
                                        <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                            <a class="mediaLink" th:data-src="${metadata.thumbnailUrlOriginal}" th:href="${metadata.thumbnailUrlOriginal}"
                                               th:data-sub-html="${metadata.placeName+'<br>'+metadata.fileName}">
                                                <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>
                                            </a>
                                        </th:block>
                                    </th:block>

                                    <th:block th:if="${metadata.type.contains('video')}">
                                        <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                                <a class="mediaLink"
                                                   th:data-video="${'{&quot;source&quot;: [{&quot;src&quot;:&quot;'+metadata.videoUrl+'&quot;, &quot;type&quot;:&quot;'+metadata.type+'&quot;}], &quot;attributes&quot;: {&quot;preload&quot;: false, &quot;controls&quot;: true}}'}"
                                                   th:data-sub-html="${metadata.placeName+'<br>'+metadata.fileName+' taken on '+#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM dd, yyyy')}">
                                                    <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>
                                                </a>
                                            </th:block>
                                        </th:block>
                                        <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                            <a class="mediaLink"
                                               th:data-video="${'{&quot;source&quot;: [{&quot;src&quot;:&quot;'+metadata.videoUrl+'&quot;, &quot;type&quot;:&quot;'+metadata.type+'&quot;}], &quot;attributes&quot;: {&quot;preload&quot;: false, &quot;controls&quot;: true}}'}"
                                               th:data-sub-html="${metadata.placeName+'<br>'+metadata.fileName}">
                                                <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>
                                            </a>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>

                            <div th:id="'albummodal'+${metadata.id}"></div>

                            <script type="text/javascript">
                                /*<![CDATA[*/
                                setPhotoOverlays("[[${metadata}]]", "[[${activePage}]]");
                                renderAlbumModal("[[${album}]]","[[${metadata}]]","[[${currentUser}]]","[[${albumPhotoCommentsMapString}]]")
                                activateAlbumListeners("[[${metadata}]]","[[${album}]]")
                                /*]]>*/
                            </script>

                            <span class="appendAlbumPhotos"></span>
                        </th:block>
                    </div>
                </div>
            </th:block>

            <div th:replace="fragments/footer :: footer(${copyrightYear})"></div>
        </main>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        const $infiniteScrollGallery = document.getElementById(
            'infinite-scroll-gallery',
        );
        const lightGalleryConfigs = getLightGalleryConfigs();
        lightGalleryConfigs["selector"] = '.mediaLink';
        var lg = lightGallery($infiniteScrollGallery, lightGalleryConfigs);

        function loadNextPage() {
            var currentPage = parseInt($("#currentPage").val());
            var nextPage = currentPage+1;
            /*<![CDATA[*/
            updateAlbum([[${album.id}]], nextPage, "[[${activePage}]]");
            /*]]>*/
            $("#currentPage").val(nextPage);
            lg.destroy();
            setTimeout(() => {
                lg = lightGallery($infiniteScrollGallery, lightGalleryConfigs);
            }, 100);
        }
        if (!$(window).hasScrollBar()) {
            setTimeout(() => {
                loadNextPage();
            }, 1000);
        }
        $(window).on('scroll', function() {
            // Uset to detect near bottom
            if (atEndOfPage()) {
                loadNextPage();
            }
        })

        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });
</script>
</body>
</html>