<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${activePage},'')"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})"></div>
        <main role="main" class="col overflow-auto h-100">
            <th:block th:if="${authority == 'ROLE_ADMIN'}">
                <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>

                <br>

                <div class="card">
                    <div class="card-body">
                        <div id="changelogHtml"></div>
                    </div>
                </div>

            </th:block>

            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
    $(document).ready(async function () {
        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        const markdown = /*[[${changelogContent}]]*/ '';
        /*]]>*/

        const converter = new showdown.Converter(),
            text = markdown,
            html = converter.makeHtml(text);

        $("#changelogHtml").html(html);
    });
</script>

</body>
</html>