<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${activePage},'')"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>
            <h1>Dashboard</h1><br>

            <div class="row pb-4">

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">CPU</h5>
                            <p class="card-text">
                                <canvas id="cpuChart" height="400"></canvas>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Memory</h5>
                            <p class="card-text">
                                <canvas id="memoryChart" height="400"></canvas>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pb-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 th:text="${sidecarSizeMB}+' MB'"></h2>
                            <p class="text-muted">Sidecar Data Size</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Gallery Stats</h5>
                            <p class="card-text">
                                <canvas id="siteStatChart" height="400"></canvas>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 th:text="${allowedUserCount+notAllowedUserCount+allowedAdminCount+notAllowedAdminCount}"></h2>
                            <p class="text-muted">Total Users</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">User Stats</h5>
                            <p class="card-text">
                                <canvas id="userChart" height="400"></canvas>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 th:text="${photoCount+videoCount}"></h2>
                            <p class="text-muted">Total Media</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Media Stats</h5>
                            <p class="card-text">
                                <canvas id="mediaChart" height="400"></canvas>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row pb-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 th:text="${cameraTotalCount}"></h2>
                            <p class="text-muted">Camera Types Used In Media</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Camera Stats</h5>
                            <p class="card-text">
                                <canvas id="cameraChart" height="600"></canvas>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 th:text="${keywordTotalCount}"></h2>
                            <p class="text-muted">Total Keywords</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Keyword Stats</h5>
                            <p class="card-text">
                                <canvas id="keywordChart" height="600"></canvas>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer" th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile})"></div>
        </main>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/dashboard.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/dashboard.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    /*<![CDATA[*/
    const siteStatChartData = {};
    siteStatChartData["photosWithPeopleTaggedCount"] = /*[[${photosWithPeopleTaggedCount}]]*/ 0;
    siteStatChartData["favoritesCount"] = /*[[${favoritesCount}]]*/ 0;
    siteStatChartData["commentsCount"] = /*[[${commentsCount}]]*/ 0;
    siteStatChartData["albumCount"] = /*[[${albumCount}]]*/ 0;

    const userChartData = {};
    userChartData["activeUserCount"] = /*[[${allowedUserCount}]]*/ 0;
    userChartData["pendingUserCount"] = /*[[${notAllowedUserCount}]]*/ 0;
    userChartData["activeAdminCount"] = /*[[${allowedAdminCount}]]*/ 0;
    userChartData["pendingAdminCount"] = /*[[${notAllowedAdminCount}]]*/ 0;
    userChartData["loggedInCount"] = /*[[${loggedInCount}]]*/ 0;

    const mediaChartData = {};
    mediaChartData["photoCount"] = /*[[${photoCount}]]*/ 0;
    mediaChartData["videoCount"] = /*[[${videoCount}]]*/ 0;
    mediaChartData["notLocatedCount"] = /*[[${notLocatedCount}]]*/ 0;
    mediaChartData["hiddenCount"] = /*[[${hiddenCount}]]*/ 0;

    const cameraChartData = {};
    cameraChartData["cameraCountJson"] = /*[[${cameraCountJson}]]*/ '[{"x":0,"y":""}]';

    const keywordChartData = {};
    keywordChartData["keywordCountJson"] = /*[[${keywordCountJson}]]*/ '[{"x":0,"y":""}]';
    /*]]>*/

    const dashboard = new Dashboard();

    const siteStatChart = dashboard.displaySiteStatChart(siteStatChartData);
    const userChart = dashboard.displayUserChart(userChartData);
    const mediaChart = dashboard.displayMediaChart(mediaChartData);
    const cameraChart = dashboard.displayCameraChart(cameraChartData);
    const keywordChart = dashboard.displayKeywordChart(keywordChartData);
    const cpuChart = dashboard.displayCpuChart();
    const memoryChart = dashboard.displayMemoryChart();
    dashboard.startWebSocket(cpuChart, memoryChart);
</script>

</body>
</html>