<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>

            <div class="row pb-4 mt-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Usage</h5>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div class="row pb-5">
                                    <div class="col-sm text-center">
                                        <h1 class="display-6" id="uptime"></h1>
                                    </div>

                                    <div class="col-sm text-center" id="nominatimStatusContainer" style="display: none">
                                        <h1 class="display-6">Nominatim&nbsp;<span id="nominatimStatus"></span></h1>
                                    </div>

                                    <div class="col-sm text-center" id="compreFaceStatusContainer" style="display: none">
                                        <h1 class="display-6"><span id="compreFaceText"></span></strong>&nbsp;<span id="compreFaceStatus"></h1>
                                    </div>
                                </div>
                                <div class="row pb-5">
                                    <div class="col-sm-4" style="height:450px;">
                                        <canvas id="osChart"></canvas>
                                    </div>

                                    <div class="col-sm-4" style="height:450px;">
                                        <canvas id="browserChart"></canvas>
                                    </div>

                                    <div class="col-sm-4" style="height:450px;">
                                        <canvas id="userChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pb-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">CPU</h5>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <canvas id="cpuChart" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Memory</h5>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <canvas id="memoryChart" height="400"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pb-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-2">
                                    <h2 id="sidecarSizeText"></h2>
                                </div>
                                <div class="col-sm-10 mt-2">
                                    <div id="sidecarUsageContainer" class="progress" role="progressbar" aria-label="Sidecar data used" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        <div id="sidecarUsageGraph" class="progress-bar" style="width: 0">0%</div>
                                    </div>
                                    <div class="d-flex justify-content-end text-muted">
                                        <div id="sidecarUsableSpaceText"></div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-muted">Sidecar Data Size</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Gallery Stats</h5>
                            <p class="card-text">
                                <canvas id="siteStatChart" height="400"></canvas>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 id="mediaCount"></h2>
                            <p class="text-muted">Total Media</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Media Stats</h5>
                            <p class="card-text">
                                <canvas id="mediaChart" height="400"></canvas>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pb-4">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 id="cameraCount"></h2>
                            <p class="text-muted">Camera Models Used In Media</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Camera Stats</h5>
                            <p class="card-text">
                                <canvas id="cameraChart" height="600"></canvas>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h2 id="keywordCount"></h2>
                            <p class="text-muted">Total Keywords</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Keyword Stats</h5>
                            <p class="card-text">
                                <canvas id="keywordChart" height="600"></canvas>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer" th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/dashboard.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/dashboard.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function() {

        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        const shashinServerStartUnixMSStr = /*[[${shashinServerStartUnixMS}]]*/ '0';
        /*]]>*/

        const shashinServerStartUnixMS = Number(shashinServerStartUnixMSStr);

        shashin.updateSearchInput("Dashboard");

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        Util.updateProgressBar(100, {autoVisibility: false});
        $("#progressBarWrapper").visible();

        if (shashinServerStartUnixMS > 0) {
            setInterval(function () {
                const elapsed = Date.now()-shashinServerStartUnixMS;
                $("#uptime").html("Uptime <code>" + Util.convertMSToDayTime(elapsed) + "</code>");
            }, 1000);
        }

        $(document).ready(function () {
            setTimeout(function () {
                shashin.showToastMessage("Loading", "Loading dashboard data ...", {
                    icon: "bi-info-circle",
                    iconColor: "#777777",
                    autohide: false,
                    tag: "dashboard",
                    closeButton: false
                });
                const http = new Http("dashboard data");
                http.ajax("get", "/dashboard/data").then(function (data) {
                    if (data["nominatimAvailable"] !== null) {
                        $("#nominatimStatusContainer").css("display", "block");
                        $("#nominatimStatus").css({
                            "color": (data["nominatimAvailable"] ? "green" : "red"),
                            "font-size": "2rem"
                        });
                        $("#nominatimStatus").addClass((data["nominatimAvailable"] ? "bi-check-circle" : "bi-x-circle"));
                    }
                    if (data["compreFaceAvailable"] !== null) {
                        $("#compreFaceStatusContainer").css("display", "block");
                        $("#compreFaceStatus").css({
                            "color": (data["compreFaceAvailable"] ? "green" : "red"),
                            "font-size": "2rem"
                        });
                        $("#compreFaceStatus").addClass((data["compreFaceAvailable"] ? "bi-check-circle" : "bi-x-circle"));
                        if (data["compreFaceAvailable"]) {
                            $("#compreFaceText").text('CompreFace');
                        } else {
                            $("#compreFaceText").html('<a href="/settings" target="_blank">CompreFace</a>');
                        }
                    }

                    const sidecarUsedSize = parseInt(data["sidecarUsedSize"]);
                    const sidecarTotalSize = parseInt(data["sidecarSpaceTotal"]);
                    const percentUsed = parseInt((sidecarUsedSize/sidecarTotalSize) * 100);

                    shashin.printMessageToConsole("sidecar space used raw: "+data["sidecarUsedSize"], {tag: "dashboard"});
                    shashin.printMessageToConsole("sidecar space used: "+data["sidecarSizeText"], {tag: "dashboard"});
                    shashin.printMessageToConsole("sidecar space usable raw: "+data["sidecarUsableSize"], {tag: "dashboard"});
                    shashin.printMessageToConsole("sidecar space usable: "+data["sidecarUsableSpaceText"], {tag: "dashboard"});
                    shashin.printMessageToConsole("sidecar space total raw: "+data["sidecarSpaceTotal"], {tag: "dashboard"});
                    shashin.printMessageToConsole("sidecar space total: "+data["sidecarTotalSpaceText"], {tag: "dashboard"});

                    if (percentUsed > 0) {
                        $("#sidecarUsageContainer").attr("aria-valuenow", percentUsed);
                        $("#sidecarUsageGraph").css("width", percentUsed+"%");
                        $("#sidecarUsageGraph").text(percentUsed+"%");
                        if (percentUsed > 90) {
                            if (percentUsed > 97) {
                                $("#sidecarUsageGraph").addClass("bg-danger");
                            } else {
                                $("#sidecarUsageGraph").addClass("bg-warning");
                            }
                            const http = new Http("get sidecar data");
                            const type = "sidecardatasize";
                            const maxUsed = "90";
                            const sidecarTotalSpaceText = data["sidecarTotalSpaceText"];
                            http.ajax("get", "/notifications/exists/" + type + "/" + maxUsed).then(function (data) {
                                if (data.hasOwnProperty("exists")) {
                                    const exists = data.exists;
                                    if (exists === false) {
                                        const json = {
                                            message: sidecarTotalSpaceText + " usable space left",
                                            type: type,
                                            identifier: maxUsed
                                        };
                                        http.ajax("post", "/notifications/create", JSON.stringify(json)).then(function (data) {
                                            shashin.printMessageToConsole(JSON.stringify(data), {tag: type});
                                        });
                                    }
                                }
                            });
                        }
                    }
                    $("#sidecarSizeText").html(data["sidecarSizeText"]);
                    $("#sidecarUsableSpaceText").text(data["sidecarUsableSpaceText"] + " usable space left");
                    $("#mediaCount").text(numberWithCommas(parseInt(data["photoCount"]) + parseInt(data["videoCount"])));
                    $("#cameraCount").text(numberWithCommas(parseInt(data["cameraTotalCount"])));
                    $("#keywordCount").text(numberWithCommas(parseInt(data["keywordTotalCount"])));

                    const siteStatChartData = {};
                    siteStatChartData["photosWithPeopleTaggedCount"] = data["photosWithPeopleTaggedCount"];
                    siteStatChartData["favoritesCount"] = data["favoritesCount"];
                    siteStatChartData["commentsCount"] = data["commentsCount"];
                    siteStatChartData["albumCount"] = data["albumCount"];

                    const userChartData = {};
                    userChartData["activeUserCount"] = data["allowedUserCount"];
                    userChartData["pendingUserCount"] = data["notAllowedUserCount"];
                    userChartData["activeAdminCount"] = data["allowedAdminCount"];
                    userChartData["pendingAdminCount"] = data["notAllowedAdminCount"];
                    userChartData["activeSuperCount"] = data["allowedSuperCount"];
                    userChartData["pendingSuperCount"] = data["notAllowedSuperCount"];

                    const mediaChartData = {};
                    mediaChartData["photoCount"] = data["photoCount"];
                    mediaChartData["videoCount"] = data["videoCount"];
                    mediaChartData["notLocatedCount"] = data["notLocatedCount"];
                    mediaChartData["hiddenCount"] = data["hiddenCount"];

                    const cameraChartData = {};
                    cameraChartData["cameraCountJson"] = data["cameraCountJson"];

                    const agentNameChartData = {};
                    agentNameChartData["agentNameCountJson"] = data["agentNameCountJson"];

                    const osNameChartData = {};
                    osNameChartData["osNameCountJson"] = data["osNameCountJson"];

                    const keywordChartData = {};
                    keywordChartData["keywordCountJson"] = data["keywordCountJson"];

                    const dashboard = new Dashboard();
                    dashboard.displaySiteStatChart(siteStatChartData);
                    dashboard.displayUserChart(userChartData);
                    dashboard.displayMediaChart(mediaChartData);
                    dashboard.displayCameraChart(cameraChartData);
                    dashboard.displayAgentNameChart(agentNameChartData);
                    dashboard.displayOsNameChart(osNameChartData);
                    dashboard.displayKeywordChart(keywordChartData);
                    const cpuChart = dashboard.displayCpuChart();
                    const memoryChart = dashboard.displayMemoryChart();
                    dashboard.startWebSocket(cpuChart, memoryChart);

                    $("#progressBarWrapper").invisible();
                    Util.updateProgressBar(0, {autoVisibility: false});
                    shashin.closeToastMessages({
                        tag: "dashboard"
                    });
                });
            }, 0);
        });
    });
</script>

</body>
</html>