<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body>

<div th:replace="fragments/topnav :: topnav(${currentUser},${hasNotifications},${activePage})"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser},${hasNotifications})"></div>
        <main role="main" class="col">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>
            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

</body>
</html>