<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/asciiart :: asciiart()"></th:block>
<head th:insert="~{fragments/head :: head('error', 'Error')}"></head>
<body>

<div class="container-fluid">
    <div class="row">
        <main role="main" class="col">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>
            <div th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

</body>
</html>