<!DOCTYPE html>
<th:block th:insert="~{fragments/asciiart :: asciiart()}"></th:block>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head('error', 'Error')}"></head>
<body>

<div class="container-fluid">
    <div class="row">
        <main role="main" class="col">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>
            <div th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

</body>
</html>