<!DOCTYPE html>
<th:block th:insert="~{fragments/asciiart :: asciiart()}"></th:block>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shashin Features</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="/js/jquery-3.5.1.min.js" th:nonce="${cspNonce}"></script>
    <script src="/js/popper.min.js" th:nonce="${cspNonce}"></script>
    <script src="/js/bootstrap.min.js" th:nonce="${cspNonce}"></script>
    <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
        <script src="/js/site/util.js" th:nonce="${cspNonce}"></script>
    </th:block>
    <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
        <script src="/js/site/min/util.min.js" th:nonce="${cspNonce}"></script>
    </th:block>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/loginreg.css" rel="stylesheet" type="text/css">
    <meta name="theme-color" content="#7952b3">
    <style>
        .link-unstyled, .link-unstyled:link, .link-unstyled:hover {
            color: inherit;
            text-decoration: inherit;
        }

        .feature-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            margin-bottom: 1rem;
            font-size: 2rem;
            color: #fff;
            border-radius: .75rem;
        }
    </style>
</head>
<body>
<main>
    <div class="container px-4 py-3">
        <header class="mb-2">
            <div>
                <h3 class="text-center float-md-start mb-0"><a class="link-unstyled" href="/">Shashin</a></h3>
                <nav class="nav justify-content-center float-md-end">
                    <a class="nav-link" href="/"><th:block th:text="#{main.home}"></th:block></a>
                    <a class="nav-link" href="/articles"><th:block th:text="#{main.articles}"></th:block></a>
                    <th:block th:if="${loggedIn == false}">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><th:block th:text="#{main.language}"></th:block></a>
                    <ul class="dropdown-menu" id="languageSelect">
                        <th:block th:each="lang : ${languageList}">
                            <li><a th:class="'dropdown-item' + ${locale == lang.code ? ' active' : ''}" th:id="${lang.code}" href="#"><th:block th:text="${lang.label}"></th:block></a></li>
                        </th:block>
                    </ul>
                    </th:block>
                    <a class="nav-link" href="/users/login"><th:block th:if="${loggedIn == true}"><th:block th:text="#{main.gotoapp}"></th:block></th:block><th:block th:unless="${loggedIn == true}"><th:block th:text="#{main.login}"></th:block></th:block></a>
                    <th:block th:if="${loggedIn == true}"><a class="nav-link" href="/users/logout"><th:block th:text="#{main.logout}"></th:block></a></th:block>
                </nav>
            </div>
        </header>

        <br><hr>

        <div class="row g-4 pt-3 row-cols-1 row-cols-lg-4">
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <span class="bi-card-image" style="font-size: 2rem;"></span>
                </div>
                <h2><th:block th:text="#{main.page.features.gallery}"></th:block></h2>
                <p><th:block th:text="#{main.page.features.gallery.description}"></th:block></p>
            </div>
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <span class="bi-pin-map" style="font-size: 2rem;"></span>
                </div>
                <h2><th:block th:text="#{main.details.location}"></th:block></h2>
                <p><th:block th:text="#{main.page.features.location.description}"></th:block></p>
            </div>
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <span class="bi-share" style="font-size: 2rem;"></span>
                </div>
                <h2><th:block th:text="#{main.page.features.share}"></th:block></h2>
                <p><th:block th:text="#{main.page.features.share.description}"></th:block></p>
            </div>
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    <span class="bi-gear-wide-connected" style="font-size: 2rem;"></span>
                </div>
                <h2><th:block th:text="#{main.page.features.api}"></th:block></h2>
                <p><th:block th:text="#{main.page.features.api.description}"></th:block></p>
            </div>
        </div>

        <div class="p-5 mb-2 bg-light rounded-3">
            <div class="container-fluid py-3">
                <h1 class="pb-3"><th:block th:text="#{main.page.features.start}"></th:block></h1>
                <p class="col-md-8 fs-4"><span class="bi-upc-scan align-middle" style="font-size: 2rem;"></span>&nbsp;<span class="align-middle"><th:block th:text="#{main.page.features.start.step1}"></th:block></span></p>
                <p class="col-md-8 fs-4"><span class="bi-calendar4 align-middle" style="font-size: 2rem;"></span>&nbsp;<span class="align-middle"><th:block th:text="#{main.page.features.start.step2}"></th:block></span></p>
                <p class="col-md-8 fs-4"><span class="bi-images align-middle" style="font-size: 2rem;"></span>&nbsp;<span class="align-middle"><th:block th:text="#{main.page.features.start.step3}"></th:block></span></p>
                <p class="col-md-8 fs-4"><span class="bi-pencil align-middle" style="font-size: 2rem;"></span>&nbsp;<span class="align-middle"><th:block th:text="#{main.page.features.start.step4}"></th:block></span></p>
            </div>
        </div>

        <small class="text-muted">
            <th:block th:text="#{main.page.features.supported.images(${supportedImageTypes})}"></th:block><br>
            <th:block th:text="#{main.page.features.supported.video(${supportedVideoTypes})}"></th:block><br>
            <th:block th:text="#{main.page.features.supported.raw(${supportedRawTypes})}"></th:block>
        </small>

        <footer class="pt-3 mt-4 text-muted border-top">
            <div class="form-check form-switch" id="darkmodeSwitchContainer" style="display: none;">
                <input class="form-check-input" type="checkbox" id="darkmodeSwitch">
                <label class="form-check-label" for="darkmodeSwitch"><th:block th:text="#{main.pages.account.sitesettings.darkmode}"></th:block></label>
            </div>
            &copy; <span id="copyrightYear"></span> Shashin
        </footer>
    </div>

</main>

<script type="text/javascript" th:nonce="${cspNonce}">
    $("#copyrightYear").text(Util.getYearCreated() + "-"+new Date().getFullYear());

    Util.activateDarkModeListener();

    $("#languageSelect li a").on("click", async function (e) {
        e.preventDefault();

        const language = $(this).attr("id");
        window.location.replace("/features?lang="+language);
    });
</script>

</body>
</html>
