<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/asciiart :: asciiart()"></th:block>
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>

            <div th:replace="~{fragments/metadatamodal :: metadatamodal(${currentUser})}"></div>

            <div th:replace="~{fragments/infosidebar :: infosidebar(${currentUser})}"></div>

            <div id="scroll-gallery">
                <th:block th:if="${not #lists.isEmpty(metadataList)}">
                    <div class="mt-2" id="folderMessage"></div>

                    <div th:class="'row' + ${isMobile ? '' : ' image-group-padding'}">
                        <th:block th:each="metadata, iterStat: ${metadataList}">
                            <div th:id="${'photoThumbnailContainer'+metadata.id}" class="photo-thumbnail-container photo-thumbnail" th:style="${'width:'+(isMobile ? thumbnailHeight : metadata.thumbnailSmallWidth)+'px;height:'+(isMobile ? thumbnailHeight : metadata.thumbnailSmallHeight)+'px;padding-left:0;padding-right:0;'}">
                                <a class="lightGalleryIndexAnchor" th:name="${'lightGalleryIndex'+iterStat.index}"></a>

                                <img loading="lazy" draggable="false" th:data-smallthumb="'/api/v1/thumbnails/'+${isMobile?'centered':'225'}+'/'+${metadata.id}" th:data-xsmallthumb="${metadata.thumbnailUrlExtraSmall==null?'':'/api/v1/thumbnails/112/'+metadata.id}" th:src="'/api/v1/thumbnails/'+${isMobile?'centered':'225'}+'/'+${metadata.id}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${isMobile ? thumbnailHeight : metadata.thumbnailSmallWidth}" th:height="${isMobile ? thumbnailHeight : metadata.thumbnailSmallHeight}">
                                <input type="hidden" th:name="'filename'+${metadata.id}" th:id="'filename'+${metadata.id}" th:value="${metadata.fileName}">
                                <input type="hidden" th:name="'thumbnailCentered'+${metadata.id}" th:id="'thumbnailCentered'+${metadata.id}" th:value="'/api/v1/thumbnails/centered/'+${metadata.id}">

                                <div th:replace="~{fragments/toprightoverlay :: toprightoverlay(${metadata.type},${metadata.id},${metadata.duration != null ? metadata.duration : '0:00'},${metadata.originalImageWidth},${metadata.originalImageHeight},${metadata.expectedExtension},false)}"></div>

                                <div th:replace="~{fragments/topleftoverlay :: topleftoverlay(${metadata.id})}"></div>

                                <div class="thumbnail-bl" th:id="${'tnbl'+metadata.id}">
                                    <th:block th:if="${authority == 'ROLE_ADMIN' || authority == 'ROLE_SUPER'}">
                                        <a href="#" th:id="${'folderModalEdit'+metadata.id}" data-bs-target="#propFolderModal">
                                            <span th:class="bi-journal-album" style="font-size: 1rem;color: lightgray;"></span>
                                        </a>
                                        <br>
                                    </th:block>
                                    <a href="#" th:id="${'metadataModalEdit'+metadata.id}" data-bs-target="#propTimelinModal">
                                        <span th:class="${metadata.lat == null || metadata.lng == null ? 'bi-info-square' : 'bi-info-circle'}" style="font-size: 1rem;color: lightgray;"></span>
                                    </a>
                                </div>

                                <div class="thumbnail-br" th:id="'tnbr'+${metadata.id}">
                                    <a href="#" th:id="'favorite'+${metadata.id}" class="text-decoration-none">
                                        <span class="overlayIconBackground">
                                            <span th:id="'briconcount'+${metadata.id}" th:text="${#maps.containsKey(favorites, metadata.id) ? favorites.get(metadata.id).get('count') : '0'}"></span>&nbsp;<span th:id="'brfavoriteicon'+${metadata.id}" th:class="${#maps.containsKey(favorites, metadata.id) and favorites.get(metadata.id).get('favorite')} ? 'bi-suit-heart-fill overlayIcon' : 'bi-suit-heart overlayIcon'"></span>
                                        </span>
                                    </a>
                                </div>

                                <div th:replace="~{fragments/centeredoverlay :: centeredoverlay(${metadata},${activePage},${currentUser},'shashin.openGallery',${iterStat.index},${isMobile},${thumbnailType},${thumbnailHeight})}"></div>

                            </div>

                            <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                                /*<![CDATA[*/
                                shashin.updateFavorites("#favorite","#brfavoriteicon","#briconcount",/*[[${metadata.id}]]*/"");
                                $("#mediaLink"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").attr("tag",/*[[${metadata.id}]]*/"");
                                $("#metadataModalEdit"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").on("click", function(e) {
                                    e.preventDefault();
                                    shashin.openEditMetadataModal(/*[[${metadata.id}]]*/"");
                                });
                                $("#folderModalEdit"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").on("click", function(e) {
                                    e.preventDefault();
                                    Folder.openFolderModal(e, /*[[${metadata.id}]]*/"");
                                });

                                shashin.setPhotoOverlays({id:[[${metadata.id}]],lat:[[${metadata.lat}]],lng:[[${metadata.lng}]],year:[[${metadata.year}]],month:[[${metadata.month}]],day:[[${metadata.day}]],fileName:[[${metadata.fileName}]],thumbnailUrlSmall:[[${metadata.thumbnailUrlSmall}]],type:[[${metadata.type}]]}, /*[[${activePage}]]*/'folder');
                                Util.activateMetadataListeners(/*[[${metadata.id}]]*/"");
                                /*]]>*/
                            </script>

                            <span class="appendFolderPhotos" style="width:0;height:0;padding:0"></span>

                        </th:block>
                    </div>
                </th:block>
                <th:block th:if="${#lists.isEmpty(metadataList)}">
                    <span class="appendFolderPhotos" style="width:0;height:0;padding:0;display:none;">EOL</span>
                </th:block>
            </div>

            <div th:replace="~{fragments/metadatabatchmodal :: metadatabatchmodal(${recognitionLabels},${allAlbumList})}"></div>

            <th:block th:if="${pageParam == null and totalPages > 1 and currentPage > 0}">
                <nav id="pagination"><ul class="pagination flex-wrap justify-content-center mt-3"></ul></nav>
            </th:block>

            <!-- Back to top button -->
            <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
                <i class="bi-arrow-up-circle"></i>
            </button>

            <div id="spinner" class="spinner-border justify-content-center align-items-center" role="status" style="display: none"></div>
            <div id="footer" th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

<div class="modal fade" id="propFolderModal" tabindex="-1" role="dialog" aria-labelledby="labelFolderModal">
    <div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="propFolderModalLabel">Set &ldquo;<span id="folderModalTitle"></span>&rdquo; as folder cover?<div id="propFolderModalThumbnail"></div></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="saveFolderModalForm">
                <input type="hidden" name="setCoverFolder" id="setCoverFolder" value="yes">
                <input type="hidden" name="folderCoverUrl" id="folderCoverUrl">
            </form>

            <div class="modal-footer">
                <div id="folderModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 1.55rem;" role="status" data-bs-toggle="tooltip" data-bs-placement="right" title=""></div>
                <button type="button" class="btn btn-primary" id="saveFolderModal">OK</button>
                <button id="folderModalCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/applisteners.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/applisteners.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function(){
        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        const activePage = /*[[${activePage}]]*/ 'folder';
        const folderName = /*[[${folder}]]*/ '';
        const page = /*[[${pageParam}]]*/ -1;
        const currentPage = /*[[${currentPage}]]*/ 0;
        const totalPages = /*[[${totalPages}]]*/ 0;
        /*]]>*/

        shashin.updateSearchInput(folderName);

        if (page === 0) {
            const http = new Http(activePage);
            http.ajax("get", "/metadata/list/" + activePage + "/0?folder=" + encodeURI(folderName).replace(";", "%3B")).then(function (data) {
                if (data.hasOwnProperty("metadataList") === true) {
                    const metadataList = data["metadataList"];
                    const folderInstance = new Folder(metadataList, activePage, folderName);
                    folderInstance.init();
                }
            });
        } else {
            Util.scrollToTopListener("#container");
            shashin.createPagination(currentPage,totalPages,activePage,"",folderName);
        }

        $('#saveFolderModal').on("click", async function (e) {
            e.preventDefault();
            $("#folderModalStatus").removeClass('bi-check-circle').removeClass('bi-x-circle').addClass('spinner-grow');
            $("#folderModalStatus").visible();
            $("#folderModalStatus").attr("title", "");
            $("#folderModalCancel").prop('disabled', false);

            let requestJson = {
                setCoverFolder: $('#setCoverFolder').val() === "yes",
                metadataId: $("#metadataId").val(),
                folder: folderName
            };

            const http = new Http("updating folder");
            const data = await http.ajax("post", "/folder/update", JSON.stringify(requestJson), function () {
                $("#folderModalStatus").removeClass('bi-check-circle').removeClass('spinner-grow').addClass('bi-x-circle');
                $("#folderModalStatus").attr("title", shashin.modalStatusFailMessage());
                $("#folderModalCancel").prop('disabled', false);
            });

            if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                if (data.status === shashin.apiResponse.SUCCESS) {
                    $("#folderModalStatus").addClass('bi-check-circle').removeClass('spinner-grow');
                    $("#folderModalCancel").prop('disabled', false);

                    shashin.showToastMessage("Folder", "Folder Updated", {
                        icon: "bi-info-circle",
                        iconColor: "#777777",
                        tag: "foldermodal",
                        borderColor: "success"
                    });

                    $("#propFolderModal").modal('hide');
                } else {
                    $("#folderModalStatus").addClass('bi-x-circle').removeClass('spinner-grow');
                    $("#folderModalStatus").attr("title", shashin.modalStatusFailMessage());
                    $("#folderModalCancel").prop('disabled', false);
                }
            } else {
                $("#folderModalStatus").addClass('bi-x-circle').removeClass('spinner-grow');
                $("#folderModalStatus").attr("title", shashin.modalStatusFailMessage());
                $("#folderModalCancel").prop('disabled', false);
            }

            return false;
        });

        $('#propAlbumModal').on('hide.bs.modal', function () {
            $("#albumsModalStatus").attr("class", "spinner-grow me-auto");
            $("#albumsModalStatus").invisible();
        });
    });
</script>

</body>
</html>