<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${activePage},'')"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'',${faceRecogServicesAvailable})" class="col-sm p-3 min-vh-100"></div>
            <div id="foldersMessage"></div>
            <input type="hidden" id="currentPage" name="currentPage" value="0">
            <input type="hidden" id="activePage" th:value="${activePage}">

            <th:block th:if="${not #lists.isEmpty(foldersList)}">
                <div class="row image-group-padding">
                    <th:block th:each="folder, iterStat: ${foldersList}">
                        <div class="card" style="width:235px;padding-top:10px;">
                            <a th:href="'/folder/'+${#uris.escapePath(#uris.escapePathSegment(folder.folder))}" style="text-decoration: none !important;color: #777777;">
                                <img loading="lazy" class="card-img-top" th:src="${#uris.escapePath(folder.thumbnailUrlCentered)}" width="209" height="209" style="width: 209px;height: 209px;">
                            </a>
                            <div class="card-body">
                                <p class="card-text"><strong th:text="${folder.folder}"></strong></p>
                                <p class="card-text"><small class="text-muted" th:text="${folder.count + ' items'}"></small></p>
                            </div>
                        </div>

                        <span class="appendFoldersPhotos" style="width:0;height:0;padding:0"></span>

                    </th:block>
                </div>
            </th:block>
            <th:block th:if="${#lists.isEmpty(foldersList)}">
                <span class="appendFoldersPhotos" style="width:0;height:0;padding:0;display:none;">EOL</span>
            </th:block>

            <!-- Back to top button -->
            <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
                <i class="bi-arrow-up-circle"></i>
            </button>

            <div id="spinner" class="spinner-border justify-content-center align-items-center" role="status" style="display: none"></div>
            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile})"></div>
        </main>
    </div>
</div>

<script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
    $(document).ready(function() {
        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        const activePage = /*[[${activePage}]]*/ 'folders';
        const foldersList = /*[[${foldersList}]]*/ '[]';
        /*]]>*/

        const foldersInstance = new Folders(foldersList, activePage);
        foldersInstance.init();
        Util.checkErrorImage();
    });
</script>

</body>
</html>