<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${hasNotifications},${activePage})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser},${hasNotifications})"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>
            <div id="foldersMessage"></div>

            <th:block th:if="${foldersList != ''}">
                <div class="row p-3">
                    <th:block th:each="folder, iterStat: ${foldersList}">
                        <div class="card" style="width:235px;padding-top:10px;">
                            <a th:href="'/folder/'+${#uris.escapePath(#uris.escapePathSegment(folder.folder))}" style="text-decoration: none !important;color: black;">
                                <img class="card-img-top" th:src="${#uris.escapePath(folder.thumbnailUrlCentered)}" width="209" height="209" style="width: 209px;height: 209px;" th:onError="Util.errorImg(this,[[${folder.folder}]],209)">
                            </a>
                            <div class="card-body">
                                <p class="card-text">
                                    <a th:href="'/folder/'+${#uris.escapePath(#uris.escapePathSegment(folder.folder))}" style="text-decoration: none !important;color: black;">
                                        <strong th:text="${folder.folder}"></strong><br>
                                    </a>
                                </p>
                                <p class="card-text"><small class="text-muted" th:text="${folder.count + ' items'}"></small></p>
                            </div>
                        </div>

                    </th:block>
                </div>
            </th:block>

            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>
</body>
</html>