<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<div th:replace="~{fragments/browsegroup :: browse(${activePage})}"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto mt-2">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>

            <div id="foldersMessage"></div>

            <th:block th:if="${not #lists.isEmpty(foldersList)}">
                <div th:class="'row' + ${isMobile ? '' : ' image-group-padding'} + ' mt-3'">
                    <th:block th:each="folder, iterStat: ${foldersList}">
                        <div class="card" th:style="'width:'+${isMobile ? '175' : '235'}+'px;padding-top:'+${isMobile ? '14' : '10'}+'px;margin-right:-1px;margin-bottom:-1px;'">
                            <a th:href="'/folder/'+${#strings.replace(#uris.escapePath(#uris.escapePathSegment(folder.folder)),';','%3B')}" style="text-decoration: none !important;color: #777777;">
                                <img loading="lazy" draggable="false" class="card-img-top" th:src="'/api/v1/thumbnails/centered/'+${folder.metadataId}" th:width="${isMobile ? '148' : '209'}" th:height="${isMobile ? '148' : '209'}" th:style="'width: '+${isMobile ? '148' : '209'}+'px;height: '+${isMobile ? '148' : '209'}+'px;'">
                            </a>
                            <div class="card-body" style="display: flex;flex-direction: column;">
                                <p class="card-text"><a th:href="'/folder/'+${#strings.replace(#uris.escapePath(#uris.escapePathSegment(folder.folder)),';','%3B')}" th:style="'text-decoration: none !important;color: ' + ${currentUser.darkMode ? '#FFFFFF;' : '#000000;'}"><strong th:text="${folder.folder}"></strong></a></p>
                                <span style="margin-top: auto;">
                                    <p class="card-text"><small class="text-muted" th:text="${folder.count + ((folder.count == 1) ? ' item' : ' items')}"></small></p>
                                </span>
                            </div>
                        </div>

                        <span class="appendFoldersPhotos" style="width:0;height:0;padding:0"></span>

                    </th:block>
                </div>
            </th:block>
            <th:block th:if="${#lists.isEmpty(foldersList)}">
                <span class="appendFoldersPhotos" style="width:0;height:0;padding:0;display:none;">EOL</span>
            </th:block>

            <th:block th:if="${pageParam == null and totalPages > 1 and currentPage > 0}">
                <nav id="pagination"><ul class="pagination flex-wrap justify-content-center mt-3"></ul></nav>
            </th:block>

            <!-- Back to top button -->
            <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
                <i class="bi-arrow-up-circle"></i>
            </button>

            <div id="spinner" class="spinner-border justify-content-center align-items-center" role="status" style="display: none"></div>
            <div th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

<script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
    $(document).ready(function() {
        shashin.updateSearchInput("Folders");

        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        const activePage = /*[[${activePage}]]*/ 'folders';
        const foldersList = /*[[${foldersList}]]*/ '[]';
        const page = /*[[${pageParam}]]*/ -1;
        const currentPage = /*[[${currentPage}]]*/ 0;
        const totalPages = /*[[${totalPages}]]*/ 0;
        const darkMode = /*[[${currentUser.darkMode}]]*/ false;
        /*]]>*/

        if (page === 0) {
            const foldersInstance = new Folders(foldersList, activePage, darkMode);
            foldersInstance.init();
            // Util.checkErrorImage();
        } else {
            Util.scrollToTopListener("#container");
            shashin.createPagination(currentPage,totalPages,activePage,"");
        }
    });
</script>

</body>
</html>