<!DOCTYPE html>
<th:block th:include="fragments/asciiart :: asciiart()"></th:block>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Check</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
</head>
<body>

<h1>Health Check</h1>

<th:block th:utext="${'Status: '+ (status == 'OK' ? status : '<span style=&quot;color: red;&quot;>'+status+'</span>')}"></th:block><br><br>
<th:block th:text="${'Uptime: '+uptime}"></th:block><br>
<th:block th:text="${'Server timing: '+serverTiming}"></th:block><br>
<span id="plt" style="display: none;"></span>
<th:block th:utext="${'SQLite connection: '+(sqlLiteAvailable == 'OK' ? sqlLiteAvailable : '<span style=&quot;color: red;&quot;>'+sqlLiteAvailable+'</span>')}"></th:block><br>
<!--<th:block th:text="${'SQLite lookup for '+sqlLiteQueryCount+' metadata record'+(sqlLiteQueryCount != 1 ? 's' : '')+' elapsed time: '+sqlLiteQueryTiming}"></th:block><br>-->
<th:block th:utext="${'Nominatim connection: '+(nominatimAvailable == 'OK' ? nominatimAvailable : '<span style=&quot;color: red;&quot;>'+nominatimAvailable+'</span>')}"></th:block><br>
<!--<th:block th:text="${'Nominatim elapsed time: '+nominatimTiming}"></th:block><br>-->
<th:block th:if="${compreFaceAvailable != null}">
<th:block th:utext="${'CompreFace connection: '+(compreFaceAvailable == 'OK' ? compreFaceAvailable : '<span style=&quot;color: red;&quot;>'+compreFaceAvailable+'</span>')}"></th:block><br>
<!--<th:block th:text="${'CompreFace elapsed time: '+compreFaceTiming}"></th:block><br>-->
</th:block>
<!--<th:block th:text="${'CircleCI elapsed time: '+circleCIBuildTiming}"></th:block><br>-->
<th:block th:text="${'Used heap memory: '+system.usedHeapMemoryGB+' GB'}"></th:block><br>
<th:block th:text="${'Max heap memory: '+system.maxHeapMemoryGB+' GB'}"></th:block><br>
<th:block th:text="${'Committed memory: '+system.committedMemoryGB+' GB'}"></th:block><br>
<th:block th:text="${'System CPU Usage: '+system.processCpuLoadPercent+'%'}"></th:block><br>
<th:block th:text="${'JVM CPU Usage: '+system.processCpuLoadPercent+'%'}"></th:block><br>
<th:block th:text="${'Available cores: '+system.availableCores}"></th:block><br>
<th:block th:text="${'OS: '+system.os}"></th:block><br>
<th:block th:utext="${'Build Status: '+(circleCIBuild == 'OK' ? circleCIBuild : '<span style=&quot;color: red;&quot;>'+circleCIBuild+'</span>')}"></th:block><br>
<th:block th:text="${'Build Version: '+buildVersion}"></th:block><br>
<th:block th:text="${'Local server time: '+localServerTime}"></th:block><br>

<script type="text/javascript">
    if (typeof performance !== "undefined" &&
        typeof performance.timing !== "undefined" &&
        typeof performance.timing.domContentLoadedEventEnd !== "undefined" &&
        typeof performance.timing.navigationStart !== "undefined"
    ) {
        window.onload = function () {
            const loadTime = window.performance.timing.domContentLoadedEventEnd - window.performance.timing.navigationStart;
            if (loadTime > 0) {
                const pltEl = document.getElementById("plt");
                pltEl.innerText = "Page load time: " + msToTime(loadTime);
                pltEl.setAttribute('style', 'display:block');
            }

            function msToTime(duration) {
                let milliseconds = parseInt(duration % 1000),
                    seconds = parseInt((duration / 1000) % 60),
                    minutes = parseInt((duration / (1000 * 60)) % 60);

                minutes = (minutes < 10) ? "0" + minutes : minutes;
                seconds = (seconds < 10) ? "0" + seconds : seconds;
                milliseconds = milliseconds.toString().padStart(3, '0');

                return minutes + ":" + seconds + "." + milliseconds;
            }

        }
    }
</script>

</body>
</html>