<!DOCTYPE html>
<th:block th:insert="~{fragments/asciiart :: asciiart()}"></th:block>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Check</title>
    <script src="/js/jquery-3.5.1.min.js" th:nonce="${cspNonce}"></script>
    <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
        <script src="/js/site/util.js" th:nonce="${cspNonce}"></script>
        <script src="/js/site/app.js" th:nonce="${cspNonce}"></script>
    </th:block>
    <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
        <script src="/js/site/min/util.min.js" th:nonce="${cspNonce}"></script>
        <script src="/js/site/min/app.min.js" th:nonce="${cspNonce}"></script>
    </th:block>
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
</head>
<body>

<h1>Health Check</h1>

<th:block th:utext="${'Status: '+ (status == 'OK' ? status : '<span style=&quot;color: red;&quot;>'+status+'</span>')}"></th:block><br><br>
Uptime:&nbsp;<span id="uptimeText" th:text="${uptimeText}"></span><br>
<th:block th:text="${'Endpoint processing timing: '+endpointProcessingTimeText}"></th:block><br>
<span id="plt" style="display: none;"></span>
<th:block th:utext="${'SQLite connection: '+(sqlLiteAvailable == 'OK' ? sqlLiteAvailable : '<span style=&quot;color: red;&quot;>'+sqlLiteAvailable+'</span>')}"></th:block><br>
<!--<th:block th:text="${'SQLite lookup for '+sqlLiteQueryCount+' metadata record'+(sqlLiteQueryCount != 1 ? 's' : '')+' elapsed time: '+sqlLiteQueryTiming}"></th:block><br>-->
<th:block th:utext="${'Nominatim connection: '+(nominatimAvailable == 'OK' ? nominatimAvailable : '<span style=&quot;color: red;&quot;>'+nominatimAvailable+'</span>')}"></th:block><br>
<!--<th:block th:text="${'Nominatim elapsed time: '+nominatimTiming}"></th:block><br>-->
<th:block th:if="${compreFaceAvailable != null}">
<th:block th:utext="${'CompreFace connection: '+(compreFaceAvailable == 'OK' ? compreFaceAvailable : '<span style=&quot;color: red;&quot;>'+compreFaceAvailable+'</span>')}"></th:block><br>
<!--<th:block th:text="${'CompreFace elapsed time: '+compreFaceTiming}"></th:block><br>-->
</th:block>
<!--<th:block th:text="${'CircleCI elapsed time: '+circleCIBuildTiming}"></th:block><br>-->
<th:block th:text="${'Used heap memory: '+system.usedHeapMemoryGB+' GB'}"></th:block><br>
<th:block th:text="${'Max heap memory: '+system.maxHeapMemoryGB+' GB'}"></th:block><br>
<th:block th:text="${'Committed memory: '+system.committedMemoryGB+' GB'}"></th:block><br>
<th:block th:text="${'System CPU Usage: '+system.processCpuLoadPercent+'%'}"></th:block><br>
<th:block th:text="${'JVM CPU Usage: '+system.processCpuLoadPercent+'%'}"></th:block><br>
<th:block th:text="${'Available cores: '+system.availableCores}"></th:block><br>
<th:block th:text="${'OS: '+system.os}"></th:block><br>
<th:block th:utext="${'Build Status: '+(circleCIBuild == 'OK' ? circleCIBuild : '<span style=&quot;color: red;&quot;>'+circleCIBuild+'</span>')}"></th:block><br>
<th:block th:text="${'Build Version: '+buildVersion}"></th:block><br>
<th:block th:text="${'Local server time: '+localServerTime}"></th:block><br>

<script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    let shashinServerStartUnixMS = /*[[${shashinServerStartUnixMS}]]*/ 0;
    /*]]>*/

    if (shashinServerStartUnixMS > 0) {
        setInterval(function () {
            document.getElementById("uptimeText").textContent = Util.convertMSToDayTime(Date.now()-shashinServerStartUnixMS);
        }, 1000);
    }

    document.addEventListener("readystatechange", function(e) {
        if (e.target.readyState === "complete") {
            let pageLoad = 0;

            if (performance) {
                pageLoad = performance.now();
            } else if (e.target.timeline.currentTime && e.target.timeline.currentTime > 0) {
                pageLoad = e.target.timeline.currentTime;
            } else if (e.timeStamp && e.timeStamp > 0) {
                pageLoad = e.timeStamp;
            }

            if (pageLoad > 0) {
                const pltEl = document.getElementById("plt");
                pltEl.innerText = "Page load time: " + Math.round(pageLoad) + " ms";
                pltEl.setAttribute('style', 'display:block');
            }
        }
    });
</script>

</body>
</html>