<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${authority},${username},${activePage})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${authority})"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter})" class="col-sm p-3 min-vh-100"></div>
            <th:block th:if="${logList != ''}">
                <br>
                <th:block th:each="logLine, iterStat: ${logList}">
                    <th:block th:if="${#strings.contains(logLine, 'INFO')}">
                        <pre class='bg-info text-white' th:text="${logLine}"></pre>
                    </th:block>
                    <th:block th:if="${#strings.contains(logLine, 'WARN')}">
                        <pre class='bg-warning text-dark' th:text="${logLine}"></pre>
                    </th:block>
                    <th:block th:if="${#strings.contains(logLine, 'ERROR')}">
                        <pre class='bg-danger text-white' th:text="${logLine}"></pre>
                    </th:block>
                    <th:block th:unless="${#strings.contains(logLine, 'ERROR') or #strings.contains(logLine, 'WARN') or #strings.contains(logLine, 'INFO')}">
                        <pre class='bg-light text-dark' th:text="${logLine}"></pre>
                    </th:block>
                </th:block>
            </th:block>

            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

</body>
</html>