<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body class="thumb d-flex flex-column vh-100 overflow-hidden">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<script type="text/javascript" th:nonce="${cspNonce}">
    $("#progressBarWrapper").visible();
    Util.updateProgressBar(100, {autoVisibility: false});
    $("#mapFilterButton").addClass("disabled");
</script>

<div id="container" class="container-fluid pb-2 ps-2 pe-2 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">
    <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>

    <main role="main" class="col overflow-auto h-100">
        <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>

        <div id="map" class="map" style="z-index: 0">
            <div id="light-gallery-photo"></div>
        </div>

        <div th:replace="~{fragments/metadatamodal :: metadatamodal(${currentUser})}"></div>

    </main>
</div>

<div class="modal fade" id="propMapFilter" tabindex="-1" role="dialog" aria-labelledby="labelMapFilter">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filter Map</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="m-1" id="filterInputs" style="visibility: visible;">
                    <div class="mb-3">
                        <label class="form-label me-2 mt-2" for="searchInput">Search</label>
                        <input class="form-control" type="text" id="searchInput" placeholder="Search by keyword">
                    </div>

                    <div class="mb-3">
                        <label class="form-label me-2 mt-2" for="startDateInput">From</label>
                        <input class="form-control" type="date" id="startDateInput">
                    </div>

                    <div class="mb-3">
                        <label class="form-label me-2 mt-2" for="endDateInput">To</label>
                        <input class="form-control" type="date" id="endDateInput">
                    </div>

                    <th:block th:if="${not #lists.isEmpty(albums)}">
                        <div class="mb-3">
                            <label class="form-label me-2 mt-2" for="albumSelect">Filter by Album</label>
                            <select class="form-select" id="albumSelect">
                                <option selected value="0">Select Album</option>
                                <th:block th:each="album, iterStat: ${albums}">
                                    <option th:value="${album.id}" th:text="${album.name}"></option>
                                </th:block>
                            </select>
                        </div>
                    </th:block>

                    <div class="mb-3">
                        <label class="form-label me-2 mt-2" for="formCoordinates">Center map on latitude/longitude</label>
                        <input class="form-control" type="text" id="formCoordinates" placeholder="latitude, longitude">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-12">
                            <label class="form-label me-2 mt-2" for="findNearestRadius">Find Nearest Distance</label> <span id="findNearestInfo" class="bi-info-circle me-auto" style="font-size: 1rem;"></span>
                            <select class="form-select" id="findNearestRadius">
                                <option value="0.5">0.5 km</option>
                                <option value="5" selected>5 km</option>
                                <option value="10">10 km</option>
                                <option value="100">100 km</option>
                                <option value="1000">1000 km</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-sm-10">
                            <label class="form-label me-2 mt-2" for="mapSources">Map Styles</label>
                            <select class="form-select" id="mapSources">
                                <option value="osm">Standard</option>
                                <option value="maptiler">Street</option>
                                <option value="stadiaSA">Satellite</option>
                            </select>
                        </div>
                        <div class="mb-3 col-sm-2">
                            <label class="form-label me-2 mt-2" for="markerColors">Marker Colors</label>
<!--                            <input type="color" class="form-control form-control-color" id="markerColors" value="#004DFF" title="Choose your color">-->
                            <input type="color" class="form-control form-control-color" list="colors" id="markerColors" value="#004DFF" placeholder="Select Color" height="15">
                            <datalist id="colors">
                                <option value="#004DFF"></option>
                                <option value="#228B22"></option>
                                <option value="#FF6700"></option>
                                <option value="#FF3131"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="videoOnlyInput">
                        <label class="form-check-label" for="videoOnlyInput">&nbsp;Videos only</label>
                    </div>

                    <div class="mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="showMarkersInput">
                        <label class="form-check-label" for="showMarkersInput">&nbsp;Map markers</label>
                    </div>

                    <div class="mb-3">
                        <span id="distanceInfo" style="display: none;"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span id="qpInfo" class="bi-info-circle me-auto" style="font-size: 1rem;"></span>
                <small id="resultsText"></small>
                <button type="button" class="btn btn-primary" id="filterMap">Filter</button>
                <button type="button" class="btn btn-primary" id="resetMap">Reset</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/map.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/map.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(async function () {
        shashin.updateSearchInput("Map");

        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        /*]]>*/

        $('#qpInfo').popover({
            trigger: 'hover',
            title: 'Query Params Available',
            html: true,
            content: '<div class="row"><div class="col-3"><strong>lat</strong></div><div class="col">Latitude</div></div>' +
                '<div class="row"><div class="col-3"><strong>lng</strong></div><div class="col">Longitude</div></div>' +
                '<div class="row"><div class="col-3"><strong>latlng</strong></div><div class="col">Latitude,Longitude</div></div>' +
                '<div class="row"><div class="col-3"><strong>sd</strong></div><div class="col">Start date (yyyy-mm-dd)</div></div>' +
                '<div class="row"><div class="col-3"><strong>ed</strong></div><div class="col">End date (yyyy-mm-dd)</div></div>' +
                '<div class="row"><div class="col-3"><strong>vo</strong></div><div class="col">Video only</div></div>' +
                '<div class="row"><div class="col-3"><strong>ms</strong></div><div class="col">Map style (osm, maptiler, stadiaSA)</div></div>' +
                '<div class="row"><div class="col-3"><strong>mtf</strong></div><div class="col">Media type filer (video, gif, etc)</div></div>' +
                '<div class="row"><div class="col-3"><strong>aid</strong></div><div class="col">Album ID</div></div>' +
                '<div class="row"><div class="col-3"><strong>an</strong></div><div class="col">Album Name</div></div>',
            placement: 'bottom'
        });

        $('#findNearestInfo').popover({
            trigger: 'hover',
            title: 'Finding Nearest Photos',
            html: false,
            content: 'Filter results within the selected distance. Right-click on the map to bring up the context menu, and select "Find nearest photos".',
            placement: 'right'
        });

        $("#mapSources").val("osm");
        // $("#bingMapsImagerySet").val("AerialWithLabels");

        $("#progressBarWrapper").visible();
        Util.updateProgressBar(100, {autoVisibility: false});

        const http = new Http("Getting map data");
        Util.setMetadataLocalStorage();
        const version = Util.getMetadataLocalStorage();
        shashin.showToastMessage("Loading", "Loading map data ...", {
            icon: "bi-info-circle",
            iconColor: "#777777",
            autohide: false,
            tag: "mainmap",
            closeButton: false
        });
        http.ajax("get", "/mapdata/keywords" + (version === "" ? "" : "?v=" + version)).then(function (mapdataObj) {
            let mapdata = [];
            let keywordMap = {};

            if (mapdataObj !== null && mapdataObj.hasOwnProperty("mapdata") && mapdataObj.hasOwnProperty("keywordMap")) {
                mapdata = mapdataObj["mapdata"];
                keywordMap = mapdataObj["keywordMap"];

                if (mapdata === null || mapdata === "") {
                    mapdata = [];
                }

                if (keywordMap === null || keywordMap === "") {
                    keywordMap = {};
                }
            }

            if (mapdata.length === 0) {
                shashin.closeToastMessages({
                    tag: "mainMap"
                });
                $("#progressBarWrapper").invisible();
                Util.updateProgressBar(0, {autoVisibility: false});
            }

            showMap(mapdata, keywordMap);
        });
    });
</script>
</body>
</html>