<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body>

<div th:replace="fragments/topnav :: topnav(${authority})"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar(${activeSidebar}, ${authority})"></div>
        <main role="main" class="col-lg-11">
<!--            <div th:replace="fragments/content :: content(${data},${activePage})" class="col-sm p-3 min-vh-100"></div>-->

<!--            https://openlayers.org/en/latest/doc/quickstart.html-->
            <div id="map" class="map"></div>
            <script type="text/javascript">
                var map = new ol.Map({
                    target: 'map',
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        })
                    ],
                    view: new ol.View({
                        center: ol.proj.fromLonLat([37.41, 8.82]),
                        zoom: 4
                    })
                });
            </script>

            <!--            <div th:replace="fragments/footer :: footer(${copyrightYear})"></div>-->
        </main>
    </div>
</div>

</body>
</html>