<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${authority},${username},${activePage})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">
<!--    <div class="flex-grow-sm-1 flex-grow-0">-->
<!--        <div th:replace="fragments/sidebar :: sidebar(${activeSidebar},${authority})"></div>-->
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${authority})"></div>
<!--    </div>-->
    <main role="main" class="col overflow-auto h-100">
        <div id="map" class="map" style="z-index: 0">
            <div id="light-gallery-photo"></div>
        </div>
        <div th:replace="fragments/mapjs :: mapjs(${authority},${mapdata})"></div>
    </main>
</div>

</body>
</html>