<!DOCTYPE html>
<th:block th:insert="~{fragments/asciiart :: asciiart()}"></th:block>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<div th:replace="~{fragments/settingsgroup :: settings(${activePage},${faceRecogServicesAvailable},${objectRecogEnabled},${facialRecogEnabled})}"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>
            <th:block th:if="${objectRecogEnabled==true || facialRecogEnabled==true}">
                <button class="btn btn-primary" id="matchAction"><th:block th:text="#{main.pages.scan.control.button.scan}"></th:block></button>
                <button class="btn btn-danger" id="stopScan"><th:block th:text="#{main.pages.scan.control.button.stop}"></th:block></button>
                <br>
                <span class="bi-info-circle" style="font-size: 1rem;color: blue;"></span> <th:block th:text="#{main.pages.match.info}"></th:block>
            </th:block>
            <div th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/applisteners.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/applisteners.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
    $(document).ready(function () {
        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        const objectRecogEnabled = /*[[${objectRecogEnabled}]]*/ false;
        const facialRecogEnabled = /*[[${facialRecogEnabled}]]*/ false;
        /*]]>*/

        if (objectRecogEnabled || facialRecogEnabled) {
            $("#matchAction").on("click", function (e) {
                e.preventDefault();

                let posting = $.post(
                    "/matches/start",
                    {"stopScan": false}
                );

                posting.done(function (data) {
                    if (data["status"] === "success") {
                        window.location.href = window.location.href;
                    } else {
                        $("#msg").text(data["msg"]);
                    }
                });
            });

            $("#stopScan").on("click", function (e) {
                e.preventDefault();

                let posting = $.post(
                    "/matches/start",
                    {"stopScan": true}
                );

                posting.done(function (data) {
                    if (data["msg"]) {
                        $("#msg").text(data["msg"]);
                    }
                });
            });

            // Web socket
            let stompClient = null;
            let scanInProgress = false;

            connect();

            function matchRefresh() {
                sendMessage();
                let msgId = "#msg";
                if ($(msgId).text() === "Matching Complete" || $(msgId).text() === shashin.getTranslatedValue("main.pages.matching.complete")) {
                    scanInProgress = false;
                    disconnect();
                } else {
                    scanInProgress = true;
                    setTimeout(matchRefresh, 1000);
                }
            }

            let counter = 0;

            function connect() {
                const socket = new SockJS('/websocket-endpoint');
                stompClient = Stomp.over(socket);
                if (shashin.showDebug === false) {
                    stompClient.debug = null;
                }

                shashin.printMessageToConsole("Socket Connecting",{tag:"matching"});

                stompClient.connect({}, function () {
                    if (scanInProgress === false) {
                        matchRefresh();
                    }
                    shashin.printMessageToConsole("Connected STOMP client",{tag:"matching"});
                    this.subscribe("/topic/matchmessages", function (message) {
                        let respMessage = JSON.parse(message.body).content;
                        shashin.printMessageToConsole("respMessage: " + message,{tag:"matching"});
                        showMessage(respMessage);
                    });
                }, function (e) {
                    shashin.printMessageToConsole("match connect() error", {
                        consoleType: shashin.consoleTypes.warn,
                        tag: "matching"
                    });
                    shashin.printMessageToConsole(e,{tag:"matching"});

                    if (counter > 0) {
                        shashin.printMessageToConsole("Oops, something went wrong! " + e.toString() + ". Probably already scanning.", {
                            consoleType: shashin.consoleTypes.warn,
                            tag:"matching"
                        });
                        window.top.location = window.top.location;
                    } else {
                        shashin.printMessageToConsole("Oops, something went wrong! " + e.toString() + ". Click the Scan button once, to proceed with indexing.", {
                            consoleType: shashin.consoleTypes.warn,
                            tag:"matching"
                        });
                        window.top.location = window.top.location;
                    }

                    if (counter < 10) {
                        counter = 0;
                        matchRefresh();
                    }

                    scanInProgress = false;
                    counter++;
                });
            }

            function disconnect() {
                if (stompClient !== null) {
                    stompClient.disconnect();
                }
                shashin.printMessageToConsole("Disconnected",{tag:"matching"});
            }

            function sendMessage() {
                if (stompClient !== null) {
                    stompClient.send("/app/matchmessage", {}, JSON.stringify({'message': "getMatchMessage"}));
                } else {
                    showMessage("Trying to send message but STOMP client is null")
                    scanInProgress = false;
                }
            }

            function showMessage(message) {
                $("#msg").text(message);
            }
        }
    });
</script>
</body>
</html>