<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${activePage},'')"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>
            <input type="hidden" id="multiSelectMetadataIds" name="multiSelectMetadataIds" value="[]">
            <input type="hidden" id="multiSelectFilenames" name="multiSelectFilenames" value="[]">
            <input type="hidden" id="multiSelectThumbnails" name="multiSelectThumbnails" value="[]">
            <input type="hidden" id="currentlat" name="currentlat">
            <input type="hidden" id="currentlng" name="currentlng">
            <input type="hidden" id="currentfilename" name="currentfilename">
            <input type="hidden" id="currentPage" name="currentPage" value="0">
            <input type="hidden" id="activePage" th:value="${activePage}">

            <div th:replace="fragments/timelinemodal :: timelinemodal(${currentUser})"></div>

            <div th:replace="fragments/infosidebar :: infosidebar(${currentUser})"></div>

            <div id="scroll-gallery">
                <th:block th:if="${not #lists.isEmpty(metadataList)}">
                    <div class="row image-group-padding">
                        <th:block th:each="metadata, iterStat: ${metadataList}">

                            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and metadata.modifiedAt!=null and #dates.format(sdf.parse(metadataList[iterStat.index-1].modifiedAt),'yyyy-M-dd')==#dates.format(sdf.parse(metadata.modifiedAt),'yyyy-M-dd')}">
                                    <section class="dateSection" th:id="${#dates.format(sdf.parse(metadata.modifiedAt),'yyyy-MM-dd')}"><p><span class="text-muted">Modified </span><strong th:text="${#dates.format(sdf.parse(metadata.modifiedAt), 'EEE, MMM d, yyyy')}"></strong></p></section>
                                </th:block>
                            </th:block>

                            <div th:id="${'photoThumbnailContainer'+metadata.id}" class="photo-thumbnail-container photo-thumbnail" th:style="${'width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;'}">
                                <a class="lightGalleryIndexAnchor" th:name="${'lightGalleryIndex'+iterStat.index}"></a>

                                <img loading="lazy" th:src="${#uris.escapePath(metadata.thumbnailUrlSmall)}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${metadata.thumbnailSmallWidth}" th:height="${metadata.thumbnailSmallHeight}" th:onError="Util.errorImg(this,[[${metadata.title}]],Util.thumbnailHeight())">
                                <input type="hidden" th:name="'filename'+${metadata.id}" th:id="'filename'+${metadata.id}" th:value="${metadata.fileName}">
                                <input type="hidden" th:name="'thumbnailCentered'+${metadata.id}" th:id="'thumbnailCentered'+${metadata.id}" th:value="${metadata.thumbnailUrlCentered}">

                                <div th:replace="fragments/toprightoverlay :: toprightoverlay(${metadata.type},${metadata.id},${metadata.duration != null ? metadata.duration : '0:00'},${metadata.originalImageWidth},${metadata.originalImageHeight},false)"></div>

                                <div th:replace="fragments/topleftoverlay :: topleftoverlay(${metadata.id})"></div>

                                <div class="thumbnail-bl" th:id="${'tnbl'+metadata.id}">
                                    <a href="#" th:id="${'timelineModalEdit'+metadata.id}" data-bs-target="#propTimelinModal">
                                        <span th:class="${metadata.lat == null || metadata.lng == null ? 'bi-pencil-square' : 'bi-pencil'}" style="font-size: 1rem;color: lightgray;"></span>
                                    </a>
                                </div>

                                <div th:replace="fragments/centeredoverlay :: centeredoverlay(${metadata},'shashin.openGallery',${iterStat.index})"></div>

                            </div>

                            <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                                /*<![CDATA[*/
                                $("#mediaLink"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").attr("tag",/*[[${metadata.id}]]*/"");
                                $("#timelineModalEdit"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").on("click", function(e) {
                                    e.preventDefault();
                                    shashin.openEditMetadataModal(/*[[${metadata.id}]]*/"");
                                });

                                shashin.setPhotoOverlays(/*[[${metadata}]]*/{}, /*[[${activePage}]]*/'modified');
                                Util.activateMetadataListeners(/*[[${metadata.id}]]*/"");
                                /*]]>*/
                            </script>

                            <span class="appendModifiedPhotos" style="width:0;height:0;padding:0"></span>

                        </th:block>
                    </div>
                </th:block>
                <th:block th:if="${#lists.isEmpty(metadataList)}">
                    <span class="appendModifiedPhotos" style="width:0;height:0;padding:0;display:none;">EOL</span>
                </th:block>
            </div>

            <div th:replace="fragments/timelinebatchmodal :: timelinebatchmodal(${recognitionLabels},${allAlbumList})"></div>
            <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                /*<![CDATA[*/
                const albumList = /*[[${albumList}]]*/[];

                if (albumList.length > 0) {
                    let batchHtml =
                        '<input type="text" class="form-control" aria-label="Albums Name" id="albumNameInput" name="albumNameInput" value="">\n' +
                        '<div class="input-group-append">\n' +
                        '   <button class="btn btn-outline-secondary dropdown-toggle" id="tagalbumdropdown" type="button" aria-haspopup="true" aria-expanded="false">Albums</button>\n' +
                        '   <div class="dropdown-menu" id="albumNameList">\n';

                    for (let index in albumList) {
                        const album = albumList[index];
                        batchHtml +=
                            '<button class="dropdown-item" type="button">\n' +
                            '    <input type="checkbox" class="album" id="'+album.id+'" value="'+album.name+'" name="albums[]">\n' +
                            '    <label for="'+album.id+'">'+album.name+'</label>\n' +
                            '</button>\n';
                    }

                    batchHtml +=
                        '   </div>\n' +
                        '</div>\n';

                    $("#albumListForModal").html(batchHtml);
                    $("#tagalbumdropdown").on("click", function (e) {
                        e.preventDefault();
                        timelineBatchModal.toggleBatchTagAlbumDropdown();
                    });
                    $(".album").on("click", function (e) {
                        timelineBatchModal.populateBatchAlbum();
                    });
                }
                /*]]>*/
            </script>

            <!-- Back to top button -->
            <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
                <i class="bi-arrow-up-circle"></i>
            </button>

            <div id="spinner" class="spinner-border justify-content-center align-items-center" role="status" style="display: none"></div>
            <div id="footer" th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/applisteners.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/applisteners.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function() {
        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        const activePage = /*[[${activePage}]]*/ 'modified';
        const metadataList = /*[[${metadataList}]]*/ '[]';
        /*]]>*/

        const modifiedInstance = new Modified(metadataList, activePage);
        modifiedInstance.init();
    });
</script>

</body>
</html>