<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${activePage},'')"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>

            <th:block th:if="${not #lists.isEmpty(notificationList)}">
                <h1>Notifications</h1>
                <small class="text-muted">Click/Shift-Click rows to mark read</small>

                <ul class="list-group list-group-hover" id="notificationList">
                <th:block th:each="notification, iterStat: ${notificationList}">
                    <li th:id="${notification.id}" class="list-group-item"><th:block th:remove="tag" th:utext="${notification.message}"></th:block> <th:block th:unless="${notification.read}"><span th:id="${'newNotification'+notification.id}" class="badge rounded-pill bg-danger">New</span></th:block></li>
                </th:block>
                </ul>
            </th:block>

            <div id="footer" th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<script type="text/javascript">
    const promise = $.ajax({
        type: 'get',
        url: "/notifications/markread/favorites",
        contentType: 'application/json; charset=utf-8'
    }).then(function (data) {
        toggleNotificationBadge();
    });

    const listItems = $('.list-group-item');
    let lastSelected = null;

    listItems.click(function(e) {
        if (e.shiftKey) {
            if (!lastSelected) {
                lastSelected = this;
                $(this).addClass('list-group-select');
                return;
            }

            const start = listItems.index(this);
            const end = listItems.index(lastSelected);

            const list = listItems.slice(Math.min(start, end), Math.max(start, end) + 1);
            list.addClass('list-group-select');
            const notificationIdList = []
            for (let index in list) {
                const notificationId = list[index].id;
                if (notificationId) {
                    notificationIdList.push(parseInt(notificationId));
                }
            }
            markNotificationRead(notificationIdList);
        } else {
            const notificationId = $(this).attr("id");
            markNotificationRead([parseInt(notificationId)]);
            listItems.removeClass('list-group-select');
            lastSelected = null;
        }
    });

    function markNotificationRead(notificationIds) {
        if (notificationIds.length > 0) {
            for (let index in notificationIds) {
                let notificationId = notificationIds[index];
                if ($('#newNotification' + notificationId).length) {
                    $('#newNotification' + notificationId).remove();
                }
            }

            let data = {
                "notificationIds":notificationIds
            }
            const ajaxParams = {
                type: "post",
                url: "/notifications/markread/notification",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                retries: shashin.ajaxRetries
            }

            $.ajax(ajaxParams)
            .fail(function(xhr, textStatus) {shashin.onFail(xhr, textStatus, ajaxParams, " marking notification saving album")}).then(function(data) {
                toggleNotificationBadge();
            });
        }
    }

    function toggleNotificationBadge() {
        // Check all rows and remove badge if all read
        if ($(".badge.rounded-pill.bg-danger").length === 0) {
            if ($("#topNavAlertBadge").length > 0) {
                $("#topNavAlertBadge").remove();
            }
            if ($("#sideBarAlertBadge").length > 0) {
                $("#sideBarAlertBadge").remove();
            }
        }
    }
</script>
</body>
</html>