<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>
        <main role="main" class="col overflow-auto h-100" id="timelineMain">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>
            <div id="albumsMessage"></div>

            <th:block th:if="${not #lists.isEmpty(peopleList)}">
                <div class="row image-group-padding">
                    <th:block th:each="person, iterStat: ${peopleList}">
                        <th:block th:if="${person.name != null and person.name != 'null'}">
                            <div class="card" style="width:235px;padding-top:10px;margin-right:-1px;margin-bottom:-1px;">
                                <a th:href="'/person/'+${person.id}"  style="text-decoration: none !important;color: #777777;" th:id="'person'+${person.id}">
                                    <th:block th:if="${#maps.containsKey(coverUrls, person.id)}">
                                        <img loading="lazy" draggable="false" class="card-img-top" style="position: relative;" th:src="${coverUrls.get(person.id)}" width="209" height="209">
                                        <th:block th:if="${settings.facialDetection==true and #maps.containsKey(counts, person.id)}">
                                            <span class="position-absolute badge rounded-pill bg-danger" style="position: absolute;top: 1%;left: 1%;" th:text="${(counts.get(person.id) > 99) ? '99+' : counts.get(person.id) + (counts.get(person.id) == 1 ? ' match' : ' matches')}"></span>
                                        </th:block>
                                    </th:block>
                                </a>
                                <div class="card-body" style="display: flex;flex-direction: column;">
                                    <p class="card-text">
                                        <span style="margin-top: auto;">
                                            <a th:href="'/person/'+${person.id}" th:style="'text-decoration: none !important;' + ${currentUser.darkMode ? 'color: #FFFFFF;' : 'color: #000000;'}">
                                                <strong th:text="${person.name}"></strong>
                                            </a><br>
                                            <small class="text-muted" th:text="${person.tagCount + (person.tagCount == 1 ? ' item' : ' items')}"></small>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </th:block>

            <div th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function() {
        shashin.updateSearchInput("People");
    });
</script>
</body>
</html>