<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${hasNotifications},${activePage})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser},${hasNotifications})"></div>
        <main role="main" class="col overflow-auto h-100" id="timelineMain">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter})" class="col-sm p-3 min-vh-100"></div>
            <div th:replace="fragments/appjs :: appjs()"></div>
            <div id="albumsMessage"></div>

            <th:block th:if="${peopleList != ''}">
                <div class="row p-3">
                    <th:block th:each="person, iterStat: ${peopleList}">
                        <div class="card" style="width:auto;padding-top:10px;">
                            <a th:href="'/person/'+${person.id}"  style="text-decoration: none !important;color: black;" th:id="'person'+${person.id}">
                                <img class="card-img-top" th:src="${person.thumbnailUrlCentered}" th:alt="${person.name}">
                            </a>
                            <div class="card-body">
                                <p class="card-text"><strong th:text="${person.name}"></strong></p>
                                <p class="card-text"><small class="text-muted" th:text="${person.tagCount + ' items'}"></small></p>
                            </div>
                        </div>

<!--                        <div th:replace="fragments/albumsmodal :: albumsmodal(${album},${users},${userAlbums},${currentUser},${userCount},${sharedAlbums},${albumsCommentsMap},${baseUrl})"></div>-->
<!--                        <div th:replace="fragments/albumsjs :: albumsjs(${album})"></div>-->
                    </th:block>
                </div>
            </th:block>

            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>
</body>
</html>