<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${hasNotifications},${activePage})"></div>

<div th:replace="fragments/infomodal :: infomodal()"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser},${hasNotifications})"></div>
        <main role="main" class="col overflow-auto h-100">

            <div id="infinite-scroll-gallery">

                <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},${counts})" class="col-sm p-3 min-vh-100"></div>
                <input type="hidden" id="currentfilename" name="currentfilename">
                <input type="hidden" id="currentPage" name="currentPage" value="0">

                <th:block th:if="${metadataList != ''}">
                    <div th:replace="fragments/personmodal :: personmodal()"></div>

                    <h1 th:text="${personInfo.name}"></h1>

                    <div id="personMessage"></div>

                    <div class="row p-3">
                        <th:block th:each="metadata, iterStat: ${metadataList}">
                            <div class="photo-thumbnail-container photo-thumbnail" th:style="${'width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;'}">
                                <a class="lightGalleryIndexAnchor" th:name="${'lightGalleryIndex'+iterStat.index}"></a>

                                <img th:src="${#uris.escapePath(metadata.thumbnailUrlSmall)}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${metadata.thumbnailSmallWidth}" th:height="${metadata.thumbnailSmallHeight}" th:onError="shashin.errorImg(this,[[${metadata.title}]],209)">
                                <input type="hidden" th:name="'filename'+${metadata.id}" th:id="'filename'+${metadata.id}" th:value="${metadata.fileName}">
                                <input type="hidden" th:name="'thumbnailCentered'+${metadata.id}" th:id="'thumbnailCentered'+${metadata.id}" th:value="${metadata.thumbnailUrlCentered}">

                                <div th:replace="fragments/toprightoverlay :: toprightoverlay(${metadata.type},${metadata.id},${metadata.duration != null ? metadata.duration : '0:00'},${metadata.originalImageWidth},${metadata.originalImageHeight},${authority == 'ROLE_ADMIN' and labelPhotoMap.get(metadata.id).get('isTagged')})"></div>

                                <th:block th:if="${authority == 'ROLE_ADMIN'}">
                                    <div th:replace="fragments/topleftoverlay :: topleftoverlay(${metadata.id})"></div>

                                    <div th:replace="fragments/bottomleftoverlay :: bottomleftoverlay(${metadata.id}, 'propperson', null, null, null)"></div>

                                </th:block>

                                <th:block th:if="${authority == 'ROLE_USER'}">
                                    <div th:replace="fragments/bottomleftoverlay :: bottomleftoverlay(${metadata.id}, null, null, null, null)"></div>
                                </th:block>

                                <div th:replace="fragments/centeredoverlay :: centeredoverlay(${metadata},'shashin.openGallery',${iterStat.index})"></div>

                            </div>

                            <span th:id="'personmodal'+${metadata.id}" style="width:0;height:0;padding:0"></span>

                            <script th:inline="javascript" type="text/javascript">
                                /*<![CDATA[*/
                                shashin.setPhotoOverlays(/*[[${metadata}]]*/{}, /*[[${activePage}]]*/'person');
                                personModalSettings.renderPersonModal(/*[[${metadata}]]*/{},/*[[${recognitionLabels}]]*/"",/*[[${labelPhotoMap.get(metadata.id).get('labels')}]]*/"");
                                $("#infoModalEdit"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").attr("tag",JSON.stringify(/*[[${metadata}]]*/{}));
                                $("#infoModalEdit"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").click(function(e) {
                                    e.preventDefault();
                                    const metadataObj = JSON.parse($(this).attr("tag"));
                                    shashin.openInfoModal(metadataObj);
                                });
                                /*]]>*/
                            </script>

                            <span class="appendPersonPhotos" style="width:0;height:0;padding:0"></span>
                        </th:block>
                    </div>
                </th:block>
            </div>

            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<script src="/js/site/applisteners.js"></script>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function() {
        /*<![CDATA[*/
        const personId = /*[[${personInfo.id}]]*/ 0;
        /*]]>*/

        $(function() {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })

        let mediaContentList = shashin.initLightGallery('infinite-scroll-gallery',{"dynamic":true},'.mediaLink');

        function loadNextPage() {
            const currentPage = parseInt($("#currentPage").val());
            const nextPage = currentPage + 1;
            /*<![CDATA[*/
            const activePage = /*[[${activePage}]]*/ 'person';
            /*]]>*/
            personSettings.updatePerson(personId,nextPage,activePage).then(function(additionalMediaContentList) {
                if (additionalMediaContentList.length > 0) {
                    mediaContentList = mediaContentList.concat(additionalMediaContentList);
                    shashin.getLightGallery().refresh(mediaContentList);
                    shashin.getLightGalleryElement().addEventListener('lgAfterSlide', function(e) {
                        shashin.jumpToLightGalleryIndex(e.detail.index);
                    })
                }
            });
            $("#currentPage").val(nextPage);
        }

        /*<![CDATA[*/
        shashin.pageLoader(loadNextPage, ".appendPersonPhotos", /*[[${metadataList}]]*/ '[]',true);
        /*]]>*/

        shashin.matchingListeners();

        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>