<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${activePage},'')"></div>

<div th:replace="fragments/infomodal :: infomodal(${currentUser})"></div>

<div th:replace="fragments/infosidebar :: infosidebar(${currentUser})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})"></div>
        <main role="main" class="col overflow-auto h-100">

            <div id="infinite-scroll-gallery">

                <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},${counts})" class="col-sm p-3 min-vh-100"></div>
                <input type="hidden" id="currentfilename" name="currentfilename">
                <input type="hidden" id="currentPage" name="currentPage" value="0">
                <input type="hidden" id="activePage" th:value="${activePage}">

                <th:block th:if="${not #lists.isEmpty(metadataList)}">
                    <div th:replace="fragments/personmodal :: personmodal()"></div>

                    <h1 th:text="${personInfo.name}"></h1>

                    <div id="personMessage"></div>

                    <div class="row image-group-padding">
                        <th:block th:each="metadata, iterStat: ${metadataList}">
                            <div th:id="${'photoThumbnailContainer'+metadata.id}" class="photo-thumbnail-container photo-thumbnail" th:style="${'width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;'}">
                                <a class="lightGalleryIndexAnchor" th:name="${'lightGalleryIndex'+iterStat.index}"></a>

                                <img loading="lazy" th:src="${#uris.escapePath(metadata.thumbnailUrlSmall)}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${metadata.thumbnailSmallWidth}" th:height="${metadata.thumbnailSmallHeight}" th:onError="Util.errorImg(this,[[${metadata.title}]],Util.thumbnailHeight())">
                                <input type="hidden" th:name="'filename'+${metadata.id}" th:id="'filename'+${metadata.id}" th:value="${metadata.fileName}">
                                <input type="hidden" th:name="'thumbnailCentered'+${metadata.id}" th:id="'thumbnailCentered'+${metadata.id}" th:value="${metadata.thumbnailUrlCentered}">

                                <div th:replace="fragments/toprightoverlay :: toprightoverlay(${metadata.type},${metadata.id},${metadata.duration != null ? metadata.duration : '0:00'},${metadata.originalImageWidth},${metadata.originalImageHeight},${authority == 'ROLE_ADMIN' and labelPhotoMap.get(metadata.id).get('isTagged')})"></div>

                                <th:block th:if="${authority == 'ROLE_ADMIN'}">
                                    <div th:replace="fragments/topleftoverlay :: topleftoverlay(${metadata.id})"></div>

                                    <div th:replace="fragments/bottomleftoverlay :: bottomleftoverlay(${metadata.id}, 'propperson', null, null, null)"></div>

                                </th:block>

                                <th:block th:if="${authority == 'ROLE_USER'}">
                                    <div th:replace="fragments/bottomleftoverlay :: bottomleftoverlay(${metadata.id}, null, null, null, null)"></div>
                                </th:block>

                                <div th:replace="fragments/centeredoverlay :: centeredoverlay(${metadata},'shashin.openGallery',${iterStat.index})"></div>

                            </div>

                            <span th:id="'personmodal'+${metadata.id}" style="width:0;height:0;padding:0"></span>

                            <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                                /*<![CDATA[*/
                                shashin.setPhotoOverlays(/*[[${metadata}]]*/{}, /*[[${activePage}]]*/'person');
                                personModalSettings.renderPersonModal(/*[[${metadata}]]*/{},/*[[${recognitionLabels}]]*/"",/*[[${labelPhotoMap.get(metadata.id).get('labels')}]]*/"");
                                $("#mediaLink"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").attr("tag",/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000");
                                $("#infoModalEdit"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").click(function(e) {
                                    e.preventDefault();
                                    shashin.openInfoModal(/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000");
                                });
                                /*]]>*/
                            </script>

                            <span class="appendPersonPhotos" style="width:0;height:0;padding:0"></span>
                        </th:block>
                    </div>
                </th:block>
                <th:block th:if="${#lists.isEmpty(metadataList)}">
                    <span class="appendPersonPhotos" style="width:0;height:0;padding:0;display:none;">EOL</span>
                </th:block>
            </div>

            <!-- Back to top button -->
            <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
                <i class="bi-arrow-up-circle"></i>
            </button>

            <div id="spinner" class="spinner-border justify-content-center align-items-center" role="status" style="display: none"></div>
            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/applisteners.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/applisteners.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function() {
        /*<![CDATA[*/
        const personId = /*[[${personInfo.id}]]*/ 0;
        const activePage = /*[[${activePage}]]*/ 'person';
        const metadataList = /*[[${metadataList}]]*/ '[]';
        /*]]>*/

        const personInstance = new Person(metadataList, activePage, personId);
        personInstance.init();
    });
</script>
</body>
</html>