<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <style>
        body {
            background: black;
        }
        video {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-height: 100%;
            max-width: 100%;
            margin: auto;
        }
    </style>
    <title th:text="${metadataObj.fileName}"></title>
</head>
<body>
    <video controls name="media">
        <source th:src="${metadataObj.videoUrl}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>
</html>