<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width">
    <meta property="og:type" content="video.movie">
    <meta property="og:image" th:content="${baseUrl + #strings.substring(metadataObj.thumbnailUrlCentered, 1, #strings.length(metadataObj.thumbnailUrlCentered))}">
    <meta property="og:title" th:content="${metadataObj.title}">
    <meta property="og:description" th:content="${metadataObj.description}">
    <meta property="og:image:width" th:content="${metadataObj.originalImageWidth}">
    <meta property="og:image:height" th:content="${metadataObj.originalImageHeight}">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <style>
        body {
            background: black;
        }
    </style>
    <script src="/js/jquery-3.5.1.min.js" th:nonce="${cspNonce}"></script>
    <script src="/js/jquery-ui.min.js" th:nonce="${cspNonce}"></script>
    <script src="/js/lightgallery.min.js" th:nonce="${cspNonce}"></script>
    <script src="/js/lg-rotate.min.js" th:nonce="${cspNonce}"></script>
    <script src="/js/lg-video.min.js" th:nonce="${cspNonce}"></script>
    <script src="/js/lg-relative-caption.min.js" th:nonce="${cspNonce}"></script>
    <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
        <script src="/js/site/util.js" th:nonce="${cspNonce}"></script>
    </th:block>
    <th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
        <script src="/js/site/min/util.min.js" th:nonce="${cspNonce}"></script>
    </th:block>
    <link rel="stylesheet" href="/css/lightgallery.min.css">
    <link rel="stylesheet" href="/css/lg-rotate.min.css">
    <link rel="stylesheet" href="/css/lg-video.min.css">
    <link rel="stylesheet" href="/css/lg-relative-caption.min.css">
    <title th:text="${metadataObj.title}"></title>
</head>
<body>
<div id="video" style="display: none;">
    <a
            th:data-video="${'{&quot;source&quot;: [{&quot;src&quot;:&quot;'+metadataObj.videoUrl+'&quot;, &quot;type&quot;:&quot;video/mp4&quot;}], &quot;attributes&quot;: {&quot;preload&quot;: &quot;auto&quot;, &quot;controls&quot;: true, &quot;autoplay&quot;: true}}'}"
            th:data-poster="${metadataObj.thumbnailUrlOriginal}"
            th:data-sub-html="${metadataObj.description}"
            th:data-download-url="${metadataObj.videoUrl + '/download'}"
    >
        <img id="photoImage" th:src="${metadataObj.thumbnailUrlSmall}" />
    </a>
</div>

<script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
    (function() {
        let lgSubHtmlTimeout = null;

        // Hide caption when showing lg gallery
        $("html").mousemove(function() {
            clearTimeout(lgSubHtmlTimeout);
            $(".lg-sub-html").show('slide', {direction: 'down'}, 200);
            lgSubHtmlTimeout = setTimeout(function () {
                $(".lg-sub-html").hide('slide', {direction: 'down'}, 200);
            }, 5000);
        });

        const photoImageEl = $("#photoImage");

        lightGallery(document.getElementById("video"), {
            plugins: [lgVideo, lgRelativeCaption, lgRotate],
            counter: false,
            swipeToClose: false,
            closeOnTap: false,
            closable: false,
            allowMediaOverlap: true,
            download: true,
            hideBarsDelay: 5000,
            rotate: true,
            rotateLeft: true,
            rotateRight: true,
            flipHorizontal: false,
            flipVertical: false,
            licenseKey: Util.lgApiKey()
        });

        photoImageEl.click();
        photoImageEl.attr("style", "display:block");
        photoImageEl.on("click", function(e) {
            e.preventDefault();
        });
    })();
</script>
</body>
</html>