<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<div th:replace="~{fragments/browsegroup :: browse(${activePage})}"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto mt-2">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>

            <div th:replace="~{fragments/metadatamodal :: metadatamodal(${currentUser})}"></div>

            <div th:replace="~{fragments/infosidebar :: infosidebar(${currentUser})}"></div>

            <div id="scroll-gallery">
                <th:block th:if="${not #lists.isEmpty(metadataList)}">
                    <th:block th:if="${pageParam == null}">
                        <div><a th:href="${'/recent' + ((mediaTypeFilter == 'all') ? '' : '/' + mediaTypeFilter)}" style="text-decoration:none;">Go to default view</a></div>
                    </th:block>
                    <th:block th:if="${pageParam != null}">
                        <div><a th:href="${'/recent/0/' + mediaTypeFilter}" style="text-decoration:none;">Go to paged view</a></div>
                    </th:block>

                    <div class="row image-group-padding">
                        <th:block th:each="metadata, iterStat: ${metadataList}">

                            <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and metadata.addedAt!=null and #dates.format(#dates.create(#strings.arraySplit(metadataList[iterStat.index-1].addedAt, '-')[0],#strings.arraySplit(metadataList[iterStat.index-1].addedAt, '-')[1],#strings.arraySplit(#strings.arraySplit(metadataList[iterStat.index-1].addedAt, '-')[2],' ')[0]),'yyyy-M-d')==#dates.format(#dates.create(#strings.arraySplit(metadata.addedAt, '-')[0],#strings.arraySplit(metadata.addedAt, '-')[1],#strings.arraySplit(#strings.arraySplit(metadata.addedAt, '-')[2],' ')[0]),'yyyy-M-d')}">
                                <section class="dateSection" th:id="${#dates.format(#dates.create(#strings.arraySplit(metadata.addedAt, '-')[0],#strings.arraySplit(metadata.addedAt, '-')[1],#strings.arraySplit(#strings.arraySplit(metadata.addedAt, '-')[2],' ')[0]),'yyyy-M-d')}"><p><span class="text-muted">Added </span><strong th:text="${#strings.replace(#dates.format(#dates.create(#strings.arraySplit(metadata.addedAt, '-')[0],#strings.arraySplit(metadata.addedAt, '-')[1],#strings.arraySplit(#strings.arraySplit(metadata.addedAt, '-')[2],' ')[0]), 'EEE, MMM d, yyyy'),'.','')}"></strong></p><div th:id="'dateBody'+${#dates.format(#dates.create(#strings.arraySplit(metadata.addedAt, '-')[0],#strings.arraySplit(metadata.addedAt, '-')[1],#strings.arraySplit(#strings.arraySplit(metadata.addedAt, '-')[2],' ')[0]),'yyyy-M-d')}" class="row" style="margin-left: -1px;">
                            </th:block>

                            <div th:id="${'photoThumbnailContainer'+metadata.id}" class="photo-thumbnail-container photo-thumbnail" th:style="${'width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;'}">
                                <a class="lightGalleryIndexAnchor" th:name="${'lightGalleryIndex'+iterStat.index}"></a>

                                <img loading="lazy" draggable="false" th:data-smallthumb="'/api/v1/thumbnails/225/'+${metadata.id}" th:data-xsmallthumb="${metadata.thumbnailUrlExtraSmall==null?'':'/api/v1/thumbnails/112/'+metadata.id}" th:src="'/api/v1/thumbnails/225/'+${metadata.id}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${metadata.thumbnailSmallWidth}" th:height="${metadata.thumbnailSmallHeight}">
                                <input type="hidden" th:name="'filename'+${metadata.id}" th:id="'filename'+${metadata.id}" th:value="${metadata.fileName}">
                                <input type="hidden" th:name="'thumbnailCentered'+${metadata.id}" th:id="'thumbnailCentered'+${metadata.id}" th:value="'/api/v1/thumbnails/centered/'+${metadata.id}">

                                <div th:replace="~{fragments/toprightoverlay :: toprightoverlay(${metadata.type},${metadata.id},${metadata.duration != null ? metadata.duration : '0:00'},${metadata.originalImageWidth},${metadata.originalImageHeight},${metadata.expectedExtension},false)}"></div>

                                <div th:replace="~{fragments/topleftoverlay :: topleftoverlay(${metadata.id})}"></div>

                                <div class="thumbnail-br" th:id="'tnbr'+${metadata.id}">
                                    <a href="#" th:id="'favorite'+${metadata.id}" class="text-decoration-none">
                                        <span class="overlayIconBackground">
                                            <span th:id="'briconcount'+${metadata.id}" th:text="${#maps.containsKey(favorites, metadata.id) ? favorites.get(metadata.id).get('count') : '0'}"></span>&nbsp;<span th:id="'brfavoriteicon'+${metadata.id}" th:class="${#maps.containsKey(favorites, metadata.id) and favorites.get(metadata.id).get('favorite')} ? 'bi-suit-heart-fill overlayIcon' : 'bi-suit-heart overlayIcon'"></span>
                                        </span>
                                    </a>
                                </div>

                                <div class="thumbnail-bl" th:id="${'tnbl'+metadata.id}">
                                    <a href="#" th:id="${'metadataModalEdit'+metadata.id}" data-bs-target="#propTimelinModal">
                                        <span th:class="${metadata.lat == null || metadata.lng == null ? 'bi-info-square' : 'bi-info-circle'}" style="font-size: 1rem;color: lightgray;"></span>
                                    </a>
                                </div>

                                <div th:replace="~{fragments/centeredoverlay :: centeredoverlay(${metadata},${activePage},${currentUser},'shashin.openGallery',${iterStat.index})}"></div>

                            </div>

                            <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                                /*<![CDATA[*/
                                shashin.updateFavorites("#favorite","#brfavoriteicon","#briconcount",/*[[${metadata.id}]]*/"");
                                $("#mediaLink"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").attr("tag",/*[[${metadata.id}]]*/"");
                                $("#metadataModalEdit"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").on("click", function(e) {
                                    e.preventDefault();
                                    shashin.openEditMetadataModal(/*[[${metadata.id}]]*/"");
                                });

                                shashin.setPhotoOverlays({id:[[${metadata.id}]],lat:[[${metadata.lat}]],lng:[[${metadata.lng}]],year:[[${metadata.year}]],month:[[${metadata.month}]],day:[[${metadata.day}]],fileName:[[${metadata.fileName}]],thumbnailUrlSmall:[[${metadata.thumbnailUrlSmall}]],type:[[${metadata.type}]]}, /*[[${activePage}]]*/'recent');
                                Util.activateMetadataListeners(/*[[${metadata.id}]]*/"");
                                /*]]>*/
                            </script>

                            <th:block th:if="${iterStat.count > 0 and !iterStat.last and metadata.addedAt!=null and #dates.format(#dates.create(#strings.arraySplit(metadataList[iterStat.index+1].addedAt, '-')[0],#strings.arraySplit(metadataList[iterStat.index+1].addedAt, '-')[1],#strings.arraySplit(#strings.arraySplit(metadataList[iterStat.index+1].addedAt, '-')[2],' ')[0]),'yyyy-M-d')!=#dates.format(#dates.create(#strings.arraySplit(metadata.addedAt, '-')[0],#strings.arraySplit(metadata.addedAt, '-')[1],#strings.arraySplit(#strings.arraySplit(metadata.addedAt, '-')[2],' ')[0]),'yyyy-M-d')}">
                                <th:block th:remove="tag" th:utext="'&lt;/div&gt;&lt;/section&gt;'"></th:block>
                                <span class="appendRecentPhotos" style="width:0;height:0;padding:0"></span>
                            </th:block>
                            <th:block th:if="${iterStat.last and metadata.year!=null}">
                                <th:block th:remove="tag" th:utext="'&lt;/div&gt;&lt;/section&gt;'"></th:block>
                                <span class="appendRecentPhotos" style="width:0;height:0;padding:0"></span>
                            </th:block>

                        </th:block>
                    </div>
                </th:block>
                <th:block th:if="${#lists.isEmpty(metadataList)}">
                    <span class="appendRecentPhotos" style="width:0;height:0;padding:0;display:none;">EOL</span>
                </th:block>
            </div>

            <th:block th:if="${pageParam == null and totalPages > 0 and currentPage > 0}">
                <nav id="pagination"></nav>
            </th:block>

            <div th:replace="~{fragments/metadatabatchmodal :: metadatabatchmodal(${recognitionLabels},${allAlbumList})}"></div>

            <!-- Back to top button -->
            <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
                <i class="bi-arrow-up-circle"></i>
            </button>

            <div id="spinner" class="spinner-border justify-content-center align-items-center" role="status" style="display: none"></div>
            <div id="footer" th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/applisteners.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/applisteners.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function() {
        shashin.updateSearchInput("Recently Added");

        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        const activePage = /*[[${activePage}]]*/ 'recent';
        const mediaTypeFilter = /*[[${mediaTypeFilter}]]*/ 'all';
        const page = /*[[${pageParam}]]*/ -1;
        const currentPage = /*[[${currentPage}]]*/ 0;
        const totalPages = /*[[${totalPages}]]*/ 0;
        /*]]>*/

        if (page === 0) {
            const section = $("section");
            let lastDate = "";
            if (section.length > 0) {
                const lastSection = $("section").last();
                lastDate = lastSection.attr("id")
                lastDate = dateFormat(lastDate.replace(/-/g, "/"), "yyyy-m-d");
            }

            const http = new Http(activePage);
            http.ajax("get", "/metadata/list/" + activePage + "/0").then(function (data) {
                if (data.hasOwnProperty("metadataList") === true) {
                    const metadataList = data["metadataList"];
                    const recentInstance = new Recent(metadataList, mediaTypeFilter, activePage, lastDate);
                    recentInstance.init();
                    // Util.checkErrorImage();
                }
            });
        } else {
            Util.scrollToTopListener("#container");

            const options = {
                currentPage: currentPage,
                totalPages: (totalPages+1),
                pageUrl: function(type, page, current) {
                    return '/'+activePage+'/' + (page-1) + '/' + mediaTypeFilter;
                }
            }
            $('#pagination').bootstrapPaginator(options);
            $('#pagination').removeClass("pagination");
        }
    });
</script>

</body>
</html>