<!DOCTYPE html>
<th:block th:insert="~{fragments/asciiart :: asciiart()}"></th:block>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<!--<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>-->
<script src="/js/jquery-3.5.1.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/jquery-ui.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/popper.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/bootstrap.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/date.format.js" th:nonce="${cspNonce}"></script>
<script src="/js/uuid4.min.js" th:nonce="${cspNonce}"></script>

<script src="/js/site/util.js" th:nonce="${cspNonce}"></script>
<script src="/js/site/fragments/app/constants.js" th:nonce="${cspNonce}"></script>
<script src="/js/site/fragments/app/toast.js" th:nonce="${cspNonce}"></script>
<script src="/js/site/fragments/app/modal.js" th:nonce="${cspNonce}"></script>
<script src="/js/site/fragments/app/batch.js" th:nonce="${cspNonce}"></script>
<script src="/js/site/fragments/app/lightgallery.js" th:nonce="${cspNonce}"></script>
<script src="/js/site/fragments/app/map.js" th:nonce="${cspNonce}"></script>
<script src="/js/site/fragments/app/metadata.js" th:nonce="${cspNonce}"></script>
<script src="/js/site/fragments/app/overlay.js" th:nonce="${cspNonce}"></script>
<script src="/js/site/fragments/app/util.js" th:nonce="${cspNonce}"></script>
<script src="/js/site/app.js" th:nonce="${cspNonce}"></script>

<script src="/js/lightgallery.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/lg-video.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/lg-zoom.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/lg-relative-caption.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/lg-rotate.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/lg-fullscreen.js" th:nonce="${cspNonce}"></script>
<script src="/js/ol.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/ol-contextmenu.js" th:nonce="${cspNonce}"></script>
<script src="/js/lg-metadata-detail.js" th:nonce="${cspNonce}"></script>
<script src="/js/lg-video-thumbnail.js" th:nonce="${cspNonce}"></script>
<script src="/js/cast.min.js" th:nonce="${cspNonce}"></script>
<script src="/js/lg-cast-media.js" th:nonce="${cspNonce}"></script>
<script src="/js/lg-shashin-editor.js" th:nonce="${cspNonce}"></script>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-icons.css">

<link rel="stylesheet" href="/css/lightgallery.min.css">
<link rel="stylesheet" href="/css/lg-video.min.css">
<link rel="stylesheet" href="/css/lg-zoom.min.css">
<link rel="stylesheet" href="/css/lg-relative-caption.min.css">
<link rel="stylesheet" href="/css/lg-rotate.min.css">
<link rel="stylesheet" href="/css/lg-fullscreen.min.css">
<link rel="stylesheet" href="/css/ol.min.css">
<link rel="stylesheet" href="/css/ol-contextmenu.css">
<link rel="stylesheet" href="/css/lg-metadata-detail.css">
<link rel="stylesheet" href="/css/lg-video-thumbnail.css">
<link rel="stylesheet" href="/css/lg-cast-media.css">

<body class="thumb d-flex flex-column vh-100">

<span th:replace="~{fragments/translations.html :: translations()}"></span>

<div th:replace="~{fragments/toastmessages :: toastmessages()}"></div>

<!--Code here-->

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function() {
        // Code here
    })
</script>

</body>
</html>