<!DOCTYPE html>
<th:block th:insert="~{fragments/asciiart :: asciiart()}"></th:block>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<!--<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>-->

<!--This is key for mobile views-->
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/date.format.js"></script>
<script src="/js/uuid4.min.js"></script>

<script src="/js/site/util.js"></script>
<script src="/js/site/fragments/app/constants.js"></script>
<script src="/js/site/fragments/app/toast.js"></script>
<script src="/js/site/fragments/app/modal.js"></script>
<script src="/js/site/fragments/app/batch.js"></script>
<script src="/js/site/fragments/app/lightgallery.js"></script>
<script src="/js/site/fragments/app/map.js"></script>
<script src="/js/site/fragments/app/metadata.js"></script>
<script src="/js/site/fragments/app/overlay.js"></script>
<script src="/js/site/fragments/app/util.js"></script>
<script src="/js/site/app.js"></script>
<script src="/js/site/services/http.js"></script>

<script src="/js/lightgallery.min.js"></script>
<script src="/js/lg-video.min.js"></script>
<script src="/js/lg-zoom.min.js"></script>
<script src="/js/lg-relative-caption.min.js"></script>
<script src="/js/lg-rotate.min.js"></script>
<script src="/js/lg-fullscreen.js"></script>
<script src="/js/ol.min.js"></script>
<script src="/js/ol-contextmenu.js"></script>
<script src="/js/lg-metadata-detail.js"></script>
<script src="/js/lg-video-thumbnail.js"></script>
<script src="/js/lg-shashin-editor.js"></script>
<script src="/js/lg-cast-media.js"></script>
<script src="/js/lg-plugin-template.js"></script>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-icons.css">

<link rel="stylesheet" href="/css/lightgallery.min.css">
<link rel="stylesheet" href="/css/lg-video.min.css">
<link rel="stylesheet" href="/css/lg-zoom.min.css">
<link rel="stylesheet" href="/css/lg-relative-caption.min.css">
<link rel="stylesheet" href="/css/lg-rotate.min.css">
<link rel="stylesheet" href="/css/lg-fullscreen.min.css">
<link rel="stylesheet" href="/css/ol.min.css">
<link rel="stylesheet" href="/css/ol-contextmenu.css">
<link rel="stylesheet" href="/css/lg-metadata-detail.css">
<link rel="stylesheet" href="/css/lg-video-thumbnail.css">
<link rel="stylesheet" href="/css/lg-cast-media.css">

<body style="position: absolute;background-color: black;"> <!-- background-color: white; -->

<span th:replace="~{fragments/translations.html :: translations()}"></span>

<div th:replace="~{fragments/toastmessages :: toastmessages()}"></div>

<div id="infinite-scroll" style="overflow-x: hidden;">
    <div class="container-fluid px-2">
        <section class="dateSection" id="2025-10-15">

            <div class="d-flex flex-column flex-sm-row align-items-start gap-2 mt-3">
                <button id="openGallery" class="btn btn-primary">Open Gallery</button>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="useShashin">
                    <label class="form-check-label" for="useShashin" style="color: white;">Use Shashin</label>
                </div>
            </div>

            <div id="dateBody2025-10-15" class="row gx-2 gy-2" style="margin-top: 6px;">
                <th:block th:each="metadata, iterStat: ${metadataList}">
                    <div th:id="${'photoThumbnailContainer'+metadata.id}" class="photo-thumbnail-container photo-thumbnail" th:style="${'margin: 4px;width: '+metadata.thumbnailSmallWidth+'px; height: '+metadata.thumbnailSmallHeight+'px;'}">
                        <a class="mediaLink"
                           th:id="${'mediaLink'+metadata.id}"
                           th:data-src="${'/api/v1/thumbnails/original/'+metadata.id}"
                           th:data-msg="${'&lt;a href=&quot;/timeline#'+metadata.year+'-'+metadata.month+'-'+metadata.day+'&quot; target=&quot;_blank&quot;&gt;Timeline link&lt;/a&gt;'}"
                           th:data-lg-id="${metadata.id}"
                           style="opacity: 1;"
                        >
                            <img draggable="false"
                                 th:data-smallthumb="${'/api/v1/thumbnails/225/'+metadata.id}"
                                 th:src="${'/api/v1/thumbnails/original/'+metadata.id}"
                                 class="photo-thumbnail-image img-fluid"
                                 th:id="${'image'+metadata.id}"
                                 th:style="${'background-color: transparent;width: '+metadata.thumbnailSmallWidth+'px; height: '+metadata.thumbnailSmallHeight+'px;'}"
                            >
                        </a>
                    </div>
                </th:block>
            </div>
        </section>
    </div>
</div>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function() {

        /*********************************/
        // Base configs
        let lgElName = "infinite-scroll";
        let lgEl = document.getElementById(lgElName);

        function getMediaContentList() {
            let mediaContentList = [];
            $.each($(".mediaLink"), function () {
                const mediaContent = {};

                // Plugin name and argument, or can be defined in settings
                mediaContent.pluginFunctionName = pluginFunction;
                mediaContent.args = $(this).attr("data-msg");

                let thumbnail = $(this).attr("data-thumb");
                if (typeof thumbnail !== 'undefined' && thumbnail !== false) {
                    mediaContent.thumb = thumbnail;
                }

                let subHtmlAttr = $(this).attr("data-sub-html");
                if (typeof subHtmlAttr !== 'undefined' && subHtmlAttr !== false) {
                    mediaContent.subHtml = subHtmlAttr;
                }

                if ($(this).attr("data-src")) {
                    mediaContent.src = $(this).attr("data-src");
                }

                if ($(this).attr("data-video")) {
                    mediaContent.video = $(this).attr("data-video");
                    mediaContent.poster = $(this).attr("data-poster");
                    mediaContent.lgSize = $(this).attr("data-lg-size");
                }

                mediaContentList.push(mediaContent);
            });

            return mediaContentList;
        }

        function pluginFunction(message, lgId, lgIndex) {
            shashin.showToastMessage("Slide info",
                "<strong>message</strong>: " + message + "<br>" +
                "<strong>lgId</strong>: " + lgId + "<br>" +
                "<strong>lgIndex</strong>: " + lgIndex,
                {
                    width: "300px",
                    tag: "pluginFunction",
                    autohide: false,
                    closeButton: true
                }
            );
        }

        /*********************************/

        /*********************************/
        let lg = null;

        /*********************************/
        // Shashin execution
        /*********************************/
        function initShashinGallery() {
            console.log("Using Shashin");

            const additionalConfig = {
                plugins: [lgPluginName],
                dynamic: true,
                dynamicEl: getMediaContentList(),
                pluginSettingAttribute: true,
                overrideBaseConfigs: true
            };
            shashin.initLightGallery(lgElName,additionalConfig,".mediaLink");

            if (shashin.getLightGallery() !== null && typeof shashin.getLightGallery().refresh === 'function') {
                $("#openGallery").on("click", function (e) {
                    shashin.openGallery(e, 0);
                });

                $(".mediaLink").on("click", function (e) {
                    e.preventDefault();

                    const index = $('.mediaLink').index(this);
                    shashin.openGallery(e, index);
                });
            }
        }

        /*********************************/
        // Lightgallery execution
        /*********************************/
        function initLgGallery() {
            console.log("Using Lightgallery");

            const configs = {
                plugins: [lgPluginName],
                pluginSettingAttribute: true,
                // pluginFunctionName: pluginFunction, // This returns the metadata as the first argument. Alternatively, define in mediaContentList to set first argument
                dynamic: true,
                download: false,
                dynamicEl: getMediaContentList(),
                licenseKey: Util.lgApiKey()
            };

            lg = lightGallery(lgEl, configs);

            $("#openGallery").on("click", function () {
                lg.openGallery();
            });

            $(".mediaLink").on("click", function (e) {
                e.preventDefault();

                const index = $('.mediaLink').index(this);
                lg.openGallery(index);
            });

            return lg;
        }

        if ($('#useShashin').is(':checked')) {
            initShashinGallery();
        } else {
            lg = initLgGallery();
        }

        $("#useShashin").on("change", function (e) {
            e.preventDefault();

            if (this.checked) {
                if (lg !== null) {
                    lg.closeGallery(true);
                    lg.destroy();
                    lg = null;

                    $("#openGallery").off("click");
                    $(".mediaLink").off("click");
                }
                initShashinGallery();
            } else if (this.checked === false && lg !== undefined) {
                if (shashin.getLightGallery() !== null) {
                    shashin.getLightGallery().closeGallery(true);
                    shashin.getLightGallery().destroy();
                    shashin.lg = null;

                    $("#openGallery").off("click");
                    $(".mediaLink").off("click");
                }
                lg = initLgGallery();
            }
        });
    })
</script>

</body>
</html>