<!DOCTYPE html>
<th:block th:insert="~{fragments/asciiart :: asciiart()}"></th:block>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<div th:replace="~{fragments/settingsgroup :: settings(${activePage},${faceRecogServicesAvailable},${objectRecogEnabled},${facialRecogEnabled})}"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>
            <button class="btn btn-primary" id="scanPhotos">Scan</button>
<!--            <button class="btn btn-danger" id="deleteThread">Delete Thread</button>-->
            <button class="btn btn-danger" id="stopScanPhotos">Stop</button>
            <br>
            <input type="checkbox" id="reindexFiles" name="reindexFiles">
            <label for="reindexFiles">Recheck All Files (operation may take a while)</label>
            <div th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

<!-- Scan UI logic in topnav.html -->

</body>
</html>