<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body>

<div th:replace="fragments/topnav :: topnav(${authority})"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar(${activeSidebar}, ${authority})"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div th:replace="fragments/content :: content(${data},${activePage})" class="col-sm p-3 min-vh-100"></div>
            <form id="scanPhotos">
                <input class="btn btn-primary" name="submit" type="submit" value="Scan">
            </form>
            <div th:replace="fragments/footer :: footer(${copyrightYear})"></div>
        </main>
    </div>
</div>

<script type="text/babel">
    $("#scanPhotos").submit(function (e) {
        e.preventDefault();

        postToScan(false);
    });

    function postToScan(isCheckOnly) {

        let posting = $.post(
            "/settings/scan",
            { "submit": "Scan", "isCheckOnly": isCheckOnly }
        );

        posting.done(function( data ) {
            $("#msg").text(data.hasOwnProperty("msg") ? data["msg"] : "");
        });

        // initial call, or just call refresh directly
        //setTimeout(refresh, 2000);

        return false;
    }

    function refresh() {
        postToScan(true);
        let msgId = "#msg";
        if ($(msgId).text() !== "Start Scanning" && $(msgId).text() !== "Scan Complete") {
            setTimeout(refresh, 2000);
        }
    }
</script>
</body>
</html>