<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body>

<div th:replace="fragments/topnav :: topnav(${authority},${username},${activePage})"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar(${activeSidebar},${authority})"></div>
        <main role="main" class="col-md-11 col-lg-11 pt-3 px-4">
            <div th:replace="fragments/content :: content(${data},${activePage})" class="col-sm p-3 min-vh-100"></div>
            <form id="scanPhotos">
                <input class="btn btn-primary" name="submit" type="submit" value="Scan">
            </form>
            <div th:replace="fragments/footer :: footer(${copyrightYear})"></div>
        </main>
    </div>
</div>

<script type="text/babel">
    $(document).ready(function () {
        // Web socket
        var stompClient = null;
        var scanInProgress = false;
        connect();

        $("#scanPhotos").submit(function (e) {
            e.preventDefault();

            postToScan(false);
        });

        function postToScan(isCheckOnly) {

            let posting = $.post(
                "/settings/scan",
                {"submit": "Scan", "isCheckOnly": isCheckOnly}
            );

            posting.done(function (data) {
                $("#msg").text(data.hasOwnProperty("msg") ? data["msg"] : "");
                if (scanInProgress === false) {
                    refresh();
                }
            });

            return false;
        }

        function refresh() {
            sendMessage();
            let msgId = "#msg";
            if ($(msgId).text() === "No directories configured" || $(msgId).text() === "Scan Complete") {
                scanInProgress = false;
                disconnect();
            } else {
                scanInProgress = true;
                setTimeout(refresh, 5000);
            }
        }

        function connect() {
            var socket = new SockJS('/websocket-endpoint');
            stompClient = Stomp.over(socket);

            // console.log("Socket Connecting");

            stompClient.connect({}, function() {
                // console.log( "Connected STOMP client");
                this.subscribe("/topic/messages", function (message) {
                    // console.log("message:"+message);
                    showMessage(JSON.parse(message.body).content);
                    // callback(true);
                });
            }, function(error) {
                console.log( "connect() error" );
                console.log( error );
                // callback(false);
            });
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
            //console.log("Disconnected");
        }

        function sendMessage() {
            if (stompClient !== null) {
                stompClient.send("/app/scanmessage", {}, JSON.stringify({'message': "getScanMessage"}));
            } else {
                console.log("Trying to send message but STOMP client is null");
            }
        }

        function showMessage(message) {
            $("#msg").text(message);
        }
    });
</script>
</body>
</html>