<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${hasNotifications},${activePage},${searchTerm})"></div>

<div th:replace="fragments/infomodal :: infomodal(${currentUser})"></div>

<div th:replace="fragments/infosidebar :: infosidebar(${currentUser})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser},${hasNotifications})"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>
            <input type="hidden" id="currentlat" name="currentlat">
            <input type="hidden" id="currentlng" name="currentlng">
            <input type="hidden" id="currentyear" name="currentyear">
            <input type="hidden" id="currentmonth" name="currentmonth">
            <input type="hidden" id="currentday" name="currentday">
            <input type="hidden" id="currentfilename" name="currentfilename">
            <input type="hidden" id="currentPage" name="currentPage" value="0">
            <input type="hidden" id="activePage" th:value="${activePage}">

            <div id="scroll-gallery">
                <th:block th:if="${searchTerm != '' and not #lists.isEmpty(metadataSearchList)}">
                    <h1 th:text="'Results for \''+${searchTerm}+'\''"></h1>
                    <div class="row p-3">
                        <th:block th:each="metadata, iterStat: ${metadataSearchList}">

                            <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and metadataSearchList[iterStat.index-1].year==metadata.year and metadataSearchList[iterStat.index-1].month==metadata.month and metadataSearchList[iterStat.index-1].day==metadata.day}">
                                <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                    <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                        <section class="dateSection" th:id="${metadata.year+'-'+metadata.month+'-'+metadata.day}"><p><strong th:text="${#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM d, yyyy')}"></strong></p></section>
                                    </th:block>
                                </th:block>
                            </th:block>
                            
                            <div th:id="${'photoThumbnailContainer'+metadata.id}" class="photo-thumbnail-container photo-thumbnail" th:style="${'width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;'}">
                                <a class="lightGalleryIndexAnchor" th:name="${'lightGalleryIndex'+iterStat.index}"></a>

                                <img loading="lazy" th:src="${#uris.escapePath(metadata.thumbnailUrlSmall)}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${metadata.thumbnailSmallWidth}" th:height="${metadata.thumbnailSmallHeight}" th:onError="Util.errorImg(this,[[${metadata.title}]],209)">

                                <div th:replace="fragments/toprightoverlay :: toprightoverlay(${metadata.type},${metadata.id},${metadata.duration != null ? metadata.duration : '0:00'},${metadata.originalImageWidth},${metadata.originalImageHeight},false)"></div>

                                <div th:replace="fragments/bottomleftoverlay :: bottomleftoverlay(${metadata.id}, null, null, null, null)"></div>

                                <div th:replace="fragments/centeredoverlay :: centeredoverlay(${metadata},'shashin.openGallery',${iterStat.index})"></div>

                            </div>

                            <script th:inline="javascript" type="text/javascript">
                                /*<![CDATA[*/
                                shashin.setPhotoOverlays(/*[[${metadata}]]*/{}, /*[[${activePage}]]*/'search');
                                Util.activateMetadataListeners(/*[[${metadata}]]*/{});
                                $("#mediaLink"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").attr("tag",JSON.stringify(Util.addKeywordToMetadata(/*[[${metadata}]]*/{},/*[[${keywordMap.get(metadata.id)}]]*/"")));
                                $("#infoModalEdit"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").click(function(e) {
                                    e.preventDefault();
                                    const metadataObj = JSON.parse($("#mediaLink"+/*[[${metadata.id}]]*/"00000000-00000000-00000000-00000000").attr("tag"));
                                    shashin.openInfoModal(metadataObj);
                                });
                                /*]]>*/
                            </script>

                            <span class="appendSearchPhotos" style="width:0;height:0;padding:0"></span>

                        </th:block>
                    </div>
                </th:block>
                <th:block th:if="${#lists.isEmpty(metadataSearchList)}">
                    <span class="appendSearchPhotos" style="width:0;height:0;padding:0;display:none;">EOL</span>
                </th:block>
            </div>

            <div id="footer" th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/applisteners.js" type="text/javascript"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/applisteners.min.js" type="text/javascript"></script>
</th:block>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function(){
        $(function() {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })

        let mediaContentList = shashin.initLightGallery('scroll-gallery',{dynamic:true,plugins:[lgMetadataDetail,lgCastMedia],castMedia:true,metadataDetail:true},'.mediaLink');

        const searchInstance = new Search();

        function loadNextPage() {
            $("#spinner").css("display","block");
            const currentPage = parseInt($("#currentPage").val());
            const nextPage = currentPage + 1;
            /*<![CDATA[*/
            const activePage = /*[[${activePage}]]*/ 'search';
            const searchTerm = /*[[${searchTerm}]]*/ '';
            /*]]>*/
            searchInstance.updateSearch(nextPage,searchTerm,activePage).then(function(additionalMediaContentList) {
                mediaContentList = shashin.updateMediaContent(mediaContentList,additionalMediaContentList);
            });
            $("#currentPage").val(nextPage);
        }

        /*<![CDATA[*/
        shashin.pageLoader(loadNextPage, ".appendSearchPhotos", /*[[${metadataSearchList}]]*/ '[]',true, function () {
            shashin.checkRender(loadNextPage, ".appendSearchPhotos", /*[[${metadataSearchList}]]*/ '[]', searchInstance.rendering);
        });
        /*]]>*/

        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>