<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body>

<div th:replace="fragments/topnav :: topnav(${authority},${username},${activePage})"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebar :: sidebar(${activeSidebar},${authority})"></div>
        <main role="main" class="col-11 pt-3">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter})" class="col-sm p-3 min-vh-100"></div>
            <input type="hidden" id="currentlat" name="currentlat">
            <input type="hidden" id="currentlng" name="currentlng">
            <input type="hidden" id="currentfilename" name="currentfilename">

            <th:block th:if="${searchTerm != '' and metadataSearchList != ''}">
                <div th:replace="fragments/appjs :: appjs()"></div>
                <div th:replace="fragments/timelinejs :: timelinejs()"></div>

                <h1 th:text="'Results for \''+${searchTerm}+'\''"></h1>
                <div id="scroll-gallery">
                    <div class="row">
                        <th:block th:each="metadata, iterStat: ${metadataSearchList}">
                            <div class="photo-thumbnail-container photo-thumbnail">
                                <img th:src="${metadata.thumbnailUrlSmall}" class="photo-thumbnail-image" th:id="'image'+${metadata.id}">

                                <th:block th:if="${metadata.type.contains('video')}">
                                    <div class="thumbnail-tr" th:id="'tntr'+${metadata.id}">
                                        <span class="bi-camera-video-fill" style="font-size: 1rem;color: darkblue;"></span>
                                    </div>
                                </th:block>

                                <div class="thumbnail-centered" th:id="'tncentered'+${metadata.id}">
                                    <th:block th:unless="${metadata.type.contains('video')}">
                                        <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                                <a class="mediaLink" onclick="return false" th:data-src="${metadata.thumbnailUrlOriginal}" th:href="${metadata.thumbnailUrlOriginal}"
                                                   th:data-sub-html="${(metadata.placeName != null ? metadata.placeName+'<br>' : '<br>')+metadata.fileName+' taken on  '+#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM dd, yyyy')}">
                                                    <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>
                                                </a>
                                            </th:block>
                                        </th:block>
                                        <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                            <a class="mediaLink" onclick="return false" th:data-src="${metadata.thumbnailUrlOriginal}" th:href="${metadata.thumbnailUrlOriginal}"
                                               th:data-sub-html="${(metadata.placeName != null ? metadata.placeName+'<br>' : '<br>')+metadata.fileName}">
                                                <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>
                                            </a>
                                        </th:block>
                                    </th:block>

                                    <th:block th:if="${metadata.type.contains('video')}">
                                        <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                                <a class="mediaLink" onclick="return false"
                                                   th:data-video="${'{&quot;source&quot;: [{&quot;src&quot;:&quot;'+metadata.videoUrl+'&quot;, &quot;type&quot;:&quot;video/mp4&quot;}], &quot;attributes&quot;: {&quot;preload&quot;: false, &quot;controls&quot;: true}}'}"
                                                   th:data-sub-html="${(metadata.placeName != null ? metadata.placeName+'<br>' : '<br>')+metadata.fileName+' taken on '+#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM dd, yyyy')}">
                                                    <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>
                                                </a>
                                            </th:block>
                                        </th:block>
                                        <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                            <a class="mediaLink" onclick="return false"
                                               th:data-video="${'{&quot;source&quot;: [{&quot;src&quot;:&quot;'+metadata.videoUrl+'&quot;, &quot;type&quot;:&quot;video/mp4&quot;}], &quot;attributes&quot;: {&quot;preload&quot;: false, &quot;controls&quot;: true}}'}"
                                               th:data-sub-html="${(metadata.placeName != null ? metadata.placeName+'<br>' : '<br>')+metadata.fileName}">
                                                <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>
                                            </a>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>

                            <script type="text/javascript">
                                /*<![CDATA[*/
                                setPhotoOverlays("[[${metadata}]]", "[[${activePage}]]");
                                activateMetadataListeners("[[${metadata}]]");
                                /*]]>*/
                            </script>

                        </th:block>
                    </div>
                </div>
            </th:block>

            <div id="footer" th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })

        const $infiniteScrollGallery = document.getElementById(
            'scroll-gallery',
        );
        const lightGalleryConfigs = getLightGalleryConfigs();
        lightGalleryConfigs["controls"] = false;
        lightGalleryConfigs["selector"] = '.mediaLink';
        var lg = lightGallery($infiniteScrollGallery, lightGalleryConfigs);
    });
</script>

</body>
</html>