<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${activePage},'')"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})"></div>
        <main role="main" class="col overflow-auto h-100">
            <th:block th:if="${authority == 'ROLE_ADMIN'}">
                <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>

                <br>
                <form id="saveSettingsForm" method="post" action="/settings">
                    <input type="hidden" id="pathInput" value="">
                    <input type="hidden" id="selectedPathInput" value="">
                    <th:block th:if="${statusMessage != '' and alertClass != ''}">
                        <div class="col-12">
                            <div th:if="${statusMessage}" th:text="${statusMessage}" th:class="${'alert ' + alertClass}"/>
                        </div>
                    </th:block>
                    <div class="row">
                        <div class="col-12">
                            <label for="mediaDirTextArea" class="form-label"><strong>Media directories and files</strong> (comma separated) <span style="color: red;font-size: 1rem;" class="bi-info-circle" data-toggle="tooltip" title="Restarts app when change detected and Automatic Media Indexing enabled"></span></label>
                            <div>
                                <textarea class="form-control" id="mediaDirTextArea" name="mediaDirList" rows="5"><th:block th:text="${mediaDirList}"></th:block></textarea>
                            </div>

                            <label for="mediaExcludeDirTextArea" class="form-label"><strong>Excluded media directories and files</strong> (comma separated)</label>
                            <div>
                                <textarea class="form-control" id="mediaExcludeDirTextArea" name="mediaExcludeDirList" rows="3"><th:block th:text="${mediaExcludeDirList}"></th:block></textarea>
                            </div>

                            <!-- <div class="card mt-2" style="height: 300px">
                                 <div class="card-header">
                                     <div class="col-12">
                                         <label for="selectedPath" class="form-label">Browse Directories</label>
                                         <input class="form-control" type="text" id="selectedPath" placeholder="Select Directory" readonly>
                                     </div>
                                     <button id="parentFolder" type="button" class="btn btn-secondary btn-sm mt-1"><i class="bi-arrow-90deg-up"></i></button>&nbsp;<button type="button" id="selectFolder" class="btn btn-primary btn-sm mt-1">Select Folder</button>
                                 </div>
                                 <div class="card-body scroll">
                                     <ul class="card-body list-group list-group-flush" id="dirList" style="list-style-type: none;">
                                     </ul>
                                 </div>
                             </div> -->
                        </div>
                    </div>
                    <th:block th:if="${settings != null}">
                        <div class="row">
                            <div class="col-4">
                                <label for="recognitionConfidenceThreshold" class="form-label"><strong>Recognition Confidence Threshold</strong> (Default 0.6)</label>
                                <input class="form-control" id="recognitionConfidenceThreshold" name="recognitionConfidenceThreshold" th:value="${settings.recognitionConfidenceThreshold}">
                            </div>
                            <div class="col-4">
                                <label for="queryLimit" class="form-label"><strong>Paging Results Query Limit</strong> (Default 20)</label>
                                <input class="form-control" id="queryLimit" name="queryLimit" th:value="${settings.queryLimit}">
                            </div>
                            <div class="col-4">
                                <label for="notificationLimit" class="form-label"><strong>Notification Limit</strong> (Default 20)</label>
                                <input class="form-control" id="notificationLimit" name="notificationLimit" th:value="${settings.notificationLimit}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="searchHistoryLimit" class="form-label"><strong>Search History Limit</strong> (Default 15)</label>
                                <input class="form-control" id="searchHistoryLimit" name="searchHistoryLimit" th:value="${settings.searchHistoryLimit}">
                            </div>
                            <div class="col-3">
                                <label for="matchScanLimit" class="form-label"><strong>Match Scan Limit</strong> (Default 50)</label>
                                <input class="form-control" id="matchScanLimit" name="matchScanLimit" th:value="${settings.matchScanLimit}">
                            </div>
                            <div class="col-3">
                                <label for="trainingDataLimit" class="form-label"><strong>Training Data Limit</strong> (Default 100)</label>
                                <input class="form-control" id="trainingDataLimit" name="trainingDataLimit" th:value="${settings.trainingDataLimit}">
                            </div>
                            <div class="col-3">
                                <label for="changePort" class="form-label"><strong>Change Port <span style="color: red;font-size: 1rem;" class="bi-info-circle" data-toggle="tooltip" title="Restarts app when change detected"></span></strong></label>
                                <input class="form-control" id="changePort" name="changePort" th:value="${settings.port}">
                            </div>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="scanAutomatically" name="scanAutomatically" th:checked="${settings.scanAutomatically}">
                            <label class="form-check-label" for="scanAutomatically">
                                <strong>Automatic Media Indexing</strong>
                            </label>
                        </div>
                    </th:block>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" name="saveSettings" id="saveSettings" value="Save">Save</button>
                        </div>
                    </div>
                    <hr>
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Delete Content</h4>
                        <p><span class="exclamation-triangle-fill"></span>Warning! This will wipe all media content! (Media directories will be not be reset)</p>
                        <a href="#" class="btn btn-danger" id="deleteContent">Delete</a>
                    </div>
                </form>
            </th:block>

            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile})"></div>
        </main>
    </div>
</div>

<div class="modal fade" id="propDeleteContent" tabindex="-1" role="dialog" aria-labelledby="labelDeleteContent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteContentLabel">Delete Content</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete all content?
                <div class="col-sm"><span id="msgDeleteContent"></span></div>
            </div>
            <div class="modal-footer">
                <div id="deleteContentModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 2rem;" role="status" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="right" title=""></div>
                <button type="button" class="btn btn-primary" id="deleteContentConfirm">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
    $(document).ready(async function () {
        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        /*]]>*/

        const settingsInstance = new Settings();
        settingsInstance.init();
    });
</script>

</body>
</html>