<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${authority},${username},${activePage})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebar :: sidebar(${activeSidebar},${authority})"></div>
        <main role="main" class="col overflow-auto h-100">
            <th:block th:if="${authority == 'ROLE_ADMIN'}">
                <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter})" class="col-sm p-3 min-vh-100"></div>
                <div th:replace="fragments/appjs :: appjs()"></div>

                <br>
                <form id="saveSettingsForm" method="post" action="/settings">
                    <th:block th:if="${statusMessage != '' and alertClass != ''}">
                        <div class="col-12">
                            <div th:if="${statusMessage}" th:text="${statusMessage}" th:class="${'alert ' + alertClass}"/>
                        </div>
                    </th:block>
                    <div class="row">
                        <div class="col-12">
                            <label for="mediaDirTextArea" class="form-label"><strong>Media directories (comma seperated)</strong></label>
                            <textarea class="form-control" id="mediaDirTextArea" name="mediaDirList" rows="3"><th:block th:text="${mediaDirList}"></th:block></textarea>
                        </div>
                    </div>
                    <th:block th:if="${settings != ''}">
                    <div class="row">
                        <div class="col-6">
                            <label for="recognitionConfidenceThreshold" class="form-label"><strong>Recognition Confidence Threshold (Default 0.2)</strong></label>
                            <input class="form-control" id="recognitionConfidenceThreshold" name="recognitionConfidenceThreshold" th:value="${settings.recognitionConfidenceThreshold}">
                        </div>
                        <div class="col-6">
                            <label for="queryLimit" class="form-label"><strong>Paging Results Query Limit (Default 20)</strong></label>
                            <input class="form-control" id="queryLimit" name="queryLimit" th:value="${settings.queryLimit}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="matchScanLimit" class="form-label"><strong>Match Scan Limit (Default 10)</strong></label>
                            <input class="form-control" id="matchScanLimit" name="matchScanLimit" th:value="${settings.matchScanLimit}">
                        </div>
                        <div class="col-6">
                            <label for="trainingDataLimit" class="form-label"><strong>Training Data Limit (Default 100)</strong></label>
                            <input class="form-control" id="trainingDataLimit" name="trainingDataLimit" th:value="${settings.trainingDataLimit}">
                        </div>
                    </div>
                    </th:block>
                    <br>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" name="saveSettings" id="saveSettings" value="Save">Save</button>
                        </div>
                    </div>
                    <hr>
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Delete Content</h4>
                        <p><span class="exclamation-triangle-fill"></span>Warning! This will wipe all content! (Media directories will not be touched)</p>
                        <a href="#" class="btn btn-danger" id="deleteContent">Delete</a>
                    </div>
                </form>
            </th:block>

            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<div class="modal fade" id="propDeleteContent" tabindex="-1" role="dialog" aria-labelledby="labelDeleteContent" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteContentLabel">Delete Content</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete all content?
                <div class="col-sm"><span id="msgDeleteContent"></span></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="deleteAllContent">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
            <script type="text/javascript">
                /*<![CDATA[*/
                $("#deleteAllContent").click(function(e) {
                    e.preventDefault();

                    let json = {deleteContent: true}
                    const posting = $.post({
                        url: "/settings/content/delete",
                        data: JSON.stringify(json),
                        contentType: 'application/json; charset=utf-8'
                    });

                    posting.done(function (data) {
                        if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                            let message = "Error";
                            if (data["status"] === "success") {
                                message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            } else {
                                message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                            }
                            $("#msgDeleteContent").html(message);
                        }
                    });

                });
                /*]]>*/
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#deleteContent").click(function(e) {
        e.preventDefault();
        $("#propDeleteContent").modal('show');
    });
</script>

</body>
</html>