<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head(${activePage},${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<th:block th:if="${not #lists.isEmpty(albumMetadataList)}">
    <header class="py-2 mb-1 border-bottom">
        <div class="container-fluid align-items-center d-flex">
            <div class="flex-shrink-0">
                <span class="display-6" th:utext="${'&lt;span id=&quot;albumNameTitle&quot;&gt;&lt;strong&gt;'+album.name + '&lt;/strong&gt;&lt;/span&gt;'}"></span>
            </div>
            <div class="flex-grow-1 d-flex align-items-center"></div>
            <span style="font-size: 1rem;display: none;" id="albumNumberSelected"></span>&nbsp;&nbsp;&nbsp;
            <button class="bi-x-circle link-button-lightmode" style="font-size: 1.5rem;color: #0d6efd;display: none;" title="Cancel multi select" id="clearMultiSelect"></button>&nbsp;
            <form id="downloadWrapper" method="post" th:action="${'/download/share/' + shareLink + '/album/' + albumId}" style="display: inline-block;white-space: nowrap;">
                <button th:id="${'download' + albumId}" class="bi-download link-button-lightmode" style="font-size: 1.5rem;color: #0d6efd;" type="submit" name="download" th:value="${albumId}" title="Download all photos"></button>
            </form>
        </div>
    </header>
</th:block>

<!-- For live toast messages, use shashin.showToastMessage() to display toast messages -->
<div class="position-fixed bottom-0 start-50 translate-middle-x" id="toastContainer" style="z-index: 999999">
    <div class="toast-container">
        <div id="defaultToastTarget" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <span id="toastIcon"></span><span id="toastSpacer"></span>
                <strong id="toastTitle" class="me-auto"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="toastMessage" class="toast-body"></div>
        </div>

        <div id="toastTarget1" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <span id="toastIcon1"></span><span id="toastSpacer1"></span>
                <strong id="toastTitle1" class="me-auto"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="toastMessage1" class="toast-body"></div>
        </div>

        <div id="toastTarget2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <span id="toastIcon2"></span><span id="toastSpacer2"></span>
                <strong id="toastTitle2" class="me-auto"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="toastMessage2" class="toast-body"></div>
        </div>

        <div id="toastTarget3" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <span id="toastIcon3"></span><span id="toastSpacer3"></span>
                <strong id="toastTitle3" class="me-auto"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="toastMessage3" class="toast-body"></div>
        </div>

        <div id="toastTarget4" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <span id="toastIcon4"></span><span id="toastSpacer4"></span>
                <strong id="toastTitle4" class="me-auto"></strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div id="toastMessage4" class="toast-body"></div>
        </div>
    </div>
</div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <main role="main" class="col overflow-auto h-100">

            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'',${faceRecogServicesAvailable},${objectRecogEnabled})"
                 class="col-sm p-3 min-vh-100"></div>
            <div id="infinite-scroll-gallery">
                <th:block th:if="${not #lists.isEmpty(albumMetadataList)}">
                    <input id="albumId" type="hidden" th:value="${album.id}">
                    <input id="albumName" type="hidden" th:value="${album.name}">
                    <input id="shareLink" type="hidden" th:value="${shareLink}">

                    <div class="row image-group-padding">
                        <th:block th:each="metadata, iterStat: ${albumMetadataList}">

                            <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and albumMetadataList[iterStat.index-1].year==metadata.year and albumMetadataList[iterStat.index-1].month==metadata.month and albumMetadataList[iterStat.index-1].day==metadata.day}">
                                <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                    <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                        <section class="dateSection" th:id="${metadata.year+'-'+metadata.month+'-'+metadata.day}"><p><strong th:text="${#strings.replace(#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM d, yyyy'),'.','')}"></strong></p></section>
                                    </th:block>
                                </th:block>
                            </th:block>

                            <div th:id="${'photoThumbnailContainer'+metadata.id}" class="photo-thumbnail-container photo-thumbnail"
                                 th:style="${'width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;'}">
                                <img loading="lazy" th:src="${#uris.escapePath(metadata.thumbnailUrlSmall)}" class="photo-thumbnail-image"
                                     th:id="'image'+${metadata.id}" th:width="${metadata.thumbnailSmallWidth}" th:height="${metadata.thumbnailSmallHeight}">

                                <div th:replace="fragments/toprightoverlay :: toprightoverlay(${metadata.type},${metadata.id},${metadata.duration != null ? metadata.duration : '0:00'},${metadata.originalImageWidth},${metadata.originalImageHeight},${metadata.expectedExtension},false)"></div>

                                <div th:replace="fragments/centeredoverlay :: centeredoverlay(${metadata},${activePage},'shashin.openGallery',${iterStat.index})"></div>

                                <div th:replace="fragments/topleftoverlay :: topleftoverlay(${metadata})"></div>

                                <div class="thumbnail-bl" th:id="${'tnbl'+metadata.id}">
                                    <th:block th:if="${metadata.type.contains('video')}">
                                        <a th:href="'/api/v1/video/'+${metadata.id}+'/download'" th:id="${'download'+metadata.id}">
                                            <span class="bi-download" style="font-size: 1rem;color: lightgray;"></span>
                                        </a>
                                    </th:block>
                                    <th:block th:unless="${metadata.type.contains('video')}">
                                        <a th:href="'/api/v1/image/'+${metadata.id}+'/download'" th:id="${'download'+metadata.id}">
                                            <span class="bi-download" style="font-size: 1rem;color: lightgray;"></span>
                                        </a>
                                    </th:block>
                                </div>
                            </div>

                            <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                                /*<![CDATA[*/
                                shashin.setPhotoOverlays(/*[[${metadata}]]*/{}, /*[[${activePage}]]*/'share');
                                /*]]>*/
                            </script>

                            <span class="appendAlbumPhotos" style="width:0;height:0;padding:0"></span>
                        </th:block>
                    </div>

                </th:block>
                <th:block th:if="${#lists.isEmpty(albumMetadataList)}">
                    <span class="appendAlbumPhotos" style="width:0;height:0;padding:0;display:none;">EOL</span>
                </th:block>
            </div>

            <!-- Back to top button -->
            <button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
                <i class="bi-arrow-up-circle"></i>
            </button>

            <div id="spinner" class="spinner-border justify-content-center align-items-center" role="status" style="display: none"></div>
            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile})"></div>
        </main>
    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/applisteners.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/applisteners.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function () {
        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        const shareLink = /*[[${shareLink}]]*/ '';
        const activePage = /*[[${activePage}]]*/ 'share';
        const albumId = /*[[${album.id}]]*/ 0;
        const albumListSize = /*[[${albumMetadataSize}]]*/ 0;
        /*]]>*/

        if (albumListSize > 0) {
            const http = new Http(activePage);
            http.ajax("get", "/share/" + shareLink + "/album/" + albumId + "/0").then(function (data) {
                if (data.hasOwnProperty("albumMetadataList") === true) {
                    const albumMetadataList = data["albumMetadataList"];
                    const shareAlbumInstance = new ShareAlbum(shareLink, activePage, albumId, albumMetadataList);
                    shareAlbumInstance.init();
                    Util.checkErrorImage();
                }
            });
        }
    });
</script>
</body>
</html>