<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')"
                 class="col-sm p-3 min-vh-100"></div>
            <input type="hidden" id="currentPage" name="currentPage" value="0">
            <div id="infinite-scroll-gallery">
                <th:block th:if="${albumMetadataList != ''}">
                    <h1 th:text="${album.name}"></h1>
                    <span id="albumId" style="display: none" th:text="${album.id}"></span>

                    <div class="row p-3">
                        <th:block th:each="metadata, iterStat: ${albumMetadataList}">
                            <div class="photo-thumbnail-container photo-thumbnail"
                                 th:style="${'width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;'}">
                                <img th:src="${#uris.escapePath(metadata.thumbnailUrlSmall)}" class="photo-thumbnail-image"
                                     th:id="'image'+${metadata.id}" th:width="${metadata.thumbnailSmallWidth}" th:height="${metadata.thumbnailSmallHeight}" th:onError="shashin.errorImg(this,[[${metadata.title}]],209)">

                                <div th:replace="fragments/toprightoverlay :: toprightoverlay(${metadata.type},${metadata.id},${metadata.duration != null ? metadata.duration : '0:00'},${metadata.originalImageWidth},${metadata.originalImageHeight},false)"></div>

                                <div th:replace="fragments/centeredoverlay :: centeredoverlay(${metadata},null,${iterStat.index})"></div>
                            </div>

                            <script th:inline="javascript" type="text/javascript">
                                /*<![CDATA[*/
                                shashin.setPhotoOverlays(/*[[${metadata}]]*/{}, /*[[${activePage}]]*/'share');
                                /*]]>*/
                            </script>

                            <span class="appendAlbumPhotos" style="width:0;height:0;padding:0"></span>
                        </th:block>
                    </div>

                </th:block>

            </div>

            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>

<script src="/js/site/applisteners.js"></script>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        /*<![CDATA[*/
        const shareLink = /*[[${shareLink}]]*/ '';
        /*]]>*/

        shareAlbumSettings.setShareLink(shareLink);

        const infiniteScrollGallery = document.getElementById(
            'infinite-scroll-gallery',
        );
        const lightGalleryConfigs = shashin.getLightGalleryConfigs();
        lightGalleryConfigs["selector"] = '.mediaLink';
        let lg = lightGallery(infiniteScrollGallery, lightGalleryConfigs);

        function loadNextPage() {
            const currentPage = parseInt($("#currentPage").val());
            const nextPage = currentPage + 1;
            /*<![CDATA[*/
            const activePage = /*[[${activePage}]]*/ 'share';
            const albumId = /*[[${album.id}]]*/ 0;
            /*]]>*/
            if (albumId > 0) {
                shareAlbumSettings.updateAlbum(albumId, nextPage, activePage).then(function () {
                    lg.closeGallery(true);
                    lg.destroyModules(true);
                    lg.invalidateItems();
                    $(window).off(`.lg.global${lg.lgId}`);
                    lg.LGel.off('.lg');
                    setTimeout(() => {
                        // https://github.com/sachinchoolur/lightGallery/blob/383d51852657ab44bb8697748c570cf110723f97/src/lightgallery.ts#L2396
                        // Hack because lg.destroy() errors out
                        // when photos appear slower than destroy called, then there's an error
                        try {
                            lg.$container.remove();
                        } catch (e) {
                            shashin.printMessageToConsole(e);
                        }

                        lg = lightGallery(infiniteScrollGallery, lightGalleryConfigs);
                        return lg;
                    }, 100);
                });
                $("#currentPage").val(nextPage);
            }
        }

        const refreshIntervalId = window.setInterval(function () {
            if (!$("#container").hasScrollBar() && !$("main").hasScrollBar()) {
                setTimeout(() => {
                    loadNextPage();
                }, 1000);
            } else {
                clearInterval(refreshIntervalId);
            }

            if ($(".appendAlbumPhotos").last().text() === "EOL" || '[[${albumMetadataList}]]' === '' || '[[${albumMetadataList}]]' === '[]') {
                clearInterval(refreshIntervalId);
            }
        }, 200);
        $(window).on('scroll', function () {
            // Uset to detect near bottom
            if (shashin.atEndOfPage() && $(".appendAlbumPhotos").last().text() !== "EOL") {
                loadNextPage();
            }
        })

        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })
    });
</script>
</body>
</html>