<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body>
<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>
        <main role="main" class="col">
            <h2 class="mt-3">Test Page</h2>
            <img id="image" src="">

            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>
            <div th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>

    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function() {
            /*<![CDATA[*/
            const activePage = /*[[${activePage}]]*/ 'test';
            const currentPage = /*[[${currentPage}]]*/ 0;
            /*]]>*/

            // const options1 = {
            //     currentPage: currentPage,
            //     totalPages: 12,
            //     truncate: true,
            //     innerWindow: 3,
            //     outerWindow: 1,
            //     first: null,
            //     last: null,
            //     href: function (index) { //index starts from 0
            //         return '/' + activePage + '/' + (index+1);
            //     }
            // };
            //
            // $('#pagination1').pagy(options1);
            //
            // const options2 = {
            //     currentPage: currentPage,
            //     totalPages: 12,
            //     truncate: true,
            //     innerWindow: 2,
            //     href: function (index) { //index starts from 0
            //         return '/' + activePage + '/' + (index+1);
            //     }
            // };
            //
            // $('#pagination2').pagy(options2);
        });
    </script>

</div>

</body>
</html>