<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100 overflow-hidden">

<div th:replace="fragments/topnav :: topnav(${currentUser},${hasNotifications},${activePage})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div id="subcontainer" class="row flex-grow-sm-1 flex-grow-0">
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasToc" aria-labelledby="offcanvasTocLabel">
            <div class="offcanvas-header">
                <th:block th:if="${mediaTypeFilter == 'video'}">
                    <strong id="offcanvasTocLabel"><a href="/timeline">Show All</a></strong>
                </th:block>
                <th:block th:if="${mediaTypeFilter == 'all'}">
                    <strong id="offcanvasTocLabel"><a href="/timeline/video">Show Only Videos</a></strong>
                </th:block>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" id="offcanvasTocCloseButton" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" id="offcanvasTocBody">
                <th:block th:if="${metadataDates != ''}">
                    <th:block th:each="metadata, iterStat: ${metadataDates}">
                        <th:block th:if="${metadata.year == null or metadata.month == null or metadata.day == null}">
                            <a id="offcanvas_undated" class="list-group-item list-group-item-action" th:onclick="return timelineSettings.jumpFromTimelineToc(event,'undated',[[${mediaTypeFilter}]]);" href="#undated">Undated</a>
                        </th:block>
                        <th:block th:unless="${metadata.year == null or metadata.month == null or metadata.day == null}">
                            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                <a th:id="${'offcanvas_'+metadata.year+'-'+metadata.month+'-'+metadata.day}" th:class="${'list-group-item list-group-item-action'+{iterStat.first ? ' active' : ''}}" th:onclick="return timelineSettings.jumpFromTimelineToc(event,'[[${metadata.year}]]-[[${metadata.month}]]-[[${metadata.day}]]',[[${mediaTypeFilter}]]);" th:href="${'#'+metadata.year+'-'+metadata.month+'-'+metadata.day}" th:text="${#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'MMM d, yyyy')}"></a>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </div>
        </div>
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser},${hasNotifications})"></div>

        <main role="main" class="col overflow-auto h-100" id="timelineMain">
            <th:block th:if="${metadataList != ''}">
                <script type="text/javascript">
                    $("#progressBarWrapper").css("visibility","visible");
                    const totalSize = [[${#lists.size(metadataList)}]];
                    $("#progressBar").attr("aria-valuenow","50");
                    $("#timelineMain").css("visibility","hidden");
                </script>
            </th:block>
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'')" class="col-sm p-3 min-vh-100"></div>
            <input type="hidden" id="multiSelectMetadataIds" name="multiSelectMetadataIds" value="[]">
            <input type="hidden" id="multiSelectFilenames" name="multiSelectFilenames" value="[]">
            <input type="hidden" id="multiSelectThumbnails" name="multiSelectThumbnails" value="[]">
            <input type="hidden" id="currentlat" name="currentlat">
            <input type="hidden" id="currentlng" name="currentlng">
            <input type="hidden" id="currentfilename" name="currentfilename">
            <input type="hidden" id="mediaTypeFilter" name="mediaTypeFilter" th:value="${mediaTypeFilter}">
            <input type="hidden" id="currentPage" name="currentPage" value="0">
            <input type="hidden" id="initialLgData" name="initialLgData" value="[]">
            
            <div id="infinite-scroll-gallery">
                <div th:replace="fragments/timelinemodal :: timelinemodal()"></div>

                <th:block th:if="${metadataList != ''}">
                    <th:block th:if="${metadataList[0].year==null or metadataList[0].month==null or metadataList[0].day==null}">
                        <br id="brundated">
                        <section class="scrollspy metadataprocessed" id="undated">
                            <p><strong class="undatedTimelinePhotos p-1">Undated</strong></p>
                        </section>
                        <div class="row p-3" id="rowundated">
                    </th:block>
                    <th:block th:unless="${metadataList[0].year==null or metadataList[0].month==null or metadataList[0].day==null}">
                        <br th:id="${'br' + metadataList[0].year + '-' + metadataList[0].month + '-' + metadataList[0].day}">
                        <section class="scrollspy metadataprocessed" th:id="${metadataList[0].year + '-' + metadataList[0].month + '-' + metadataList[0].day}">
                            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                <p><strong class="dateHeading p-1" th:text="${#dates.format(sdf.parse(metadataList[0].year+'-'+metadataList[0].month+'-'+metadataList[0].day), 'EEE, MMM d, yyyy')}"></strong></p>
                            </th:block>
                        </section>
                        <div class="row p-3" th:id="${'row'+metadataList[0].year + '-' + metadataList[0].month + '-' + metadataList[0].day}">
                            <span style="display: none;" class="yearTaken" th:text="${metadataList[0].year}"></span>
                            <span style="display: none;" class="monthTaken" th:text="${metadataList[0].month}"></span>
                            <span style="display: none;" class="dayTaken" th:text="${metadataList[0].day}"></span>
                    </th:block>

                    <th:block th:each="metadata, iterStat: ${metadataList}">

                        <div th:id="${'photoThumbnailContainer'+metadata.id}" th:class="${'photo-thumbnail-container photo-thumbnail '+(metadata.type.contains('video') ? 'is-video' : 'is-not-video')}" th:style="${'width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;'}">
                            <a class="lightGalleryIndexAnchor" th:id="${'lightGalleryIndex'+metadata.id}"></a>

                            <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                <input type="hidden" name="thumbnailUrl-undated[]" th:id="'thumbnailUrl_'+${metadata.id}" th:value="${#uris.escapePath(metadata.thumbnailUrlSmall)}">
                            </th:block>
                            <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                <input type="hidden" th:name="${'thumbnailUrl-'+metadata.year+'-'+metadata.month+'-'+metadata.day+'[]'}" th:id="'thumbnailUrl_'+${metadata.id}" th:value="${#uris.escapePath(metadata.thumbnailUrlSmall)}">
                            </th:block>

                            <input type="hidden" th:name="'filename'+${metadata.id}" th:id="'filename'+${metadata.id}" th:value="${metadata.fileName}">
                            <input type="hidden" th:name="'thumbnailCentered'+${metadata.id}" th:id="'thumbnailCentered'+${metadata.id}" th:value="${metadata.thumbnailUrlCentered}">

                            <img class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${metadata.thumbnailSmallWidth}" height="${metadata.thumbnailSmallHeight}">

                            <div th:id="'tntl'+${metadata.id}"></div>

                            <div th:id="'tnbr'+${metadata.id}"></div>

                            <div th:id="'tnbl'+${metadata.id}"></div>

                            <div th:id="'tntr'+${metadata.id}"></div>

                            <div th:id="'tncentered'+${metadata.id}"></div>

                            <span th:id="'timelinemodal'+${metadata.id}"></span>
                        </div>

                    </th:block>

                    <th:block th:if="${metadataList[0].year==null or metadataList[0].month==null or metadataList[0].day==null}">
                        <span class="scrollspy metadataprocessed" id="tail_undated"></span>
                        <th:block th:remove="tag" th:utext="'&lt;/div&gt;'"></th:block>
                        <span class="attachMetadataPhotos" id="amp_undated"></span>
                    </th:block>
                    <th:block th:unless="${metadataList[0].year==null or metadataList[0].month==null or metadataList[0].day==null}">
                        <span class="scrollspy metadataprocessed" th:id="${'tail_'+metadataList[0].year+'-'+metadataList[0].month+'-'+metadataList[0].day}"></span>
                        <th:block th:remove="tag" th:utext="'&lt;/div&gt;'"></th:block>
                        <span class="attachMetadataPhotos" th:id="${'amp_'+metadataList[0].year+'-'+metadataList[0].month+'-'+metadataList[0].day}"></span>
                    </th:block>

                </th:block>
            </div>
            <script type="text/javascript">
                $("#progressBarWrapper").css("visibility","hidden");
                $("#timelineMain").css("visibility","visible");
            </script>


            <div th:replace="fragments/timelinebatchmodal :: timelinebatchmodal(${recognitionLabels})"></div>

            <div id="msgTimeline"></div>

            <div id="spinner" class="spinner-border justify-content-center align-items-center" role="status" style="display: none">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="footer" th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>

    </div>
</div>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/applisteners.js" type="text/javascript"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/applisteners.min.js" type="text/javascript"></script>
</th:block>
<script th:inline="javascript" type="text/javascript">
    $(document).ready(function() {

        shashin.setLightGalleryElement('infinite-scroll-gallery');
        shashin.setLightGallery({"selector":".mediaLink"});

        /*<![CDATA[*/
        const mediaTypeFilter = /*[[${mediaTypeFilter}]]*/ 'all';
        /*]]>*/

        // Initialize
        if ($('.scrollspy').length > 0) {
            const firstElem = $('.scrollspy')[0];
            timelineSettings.attachAssociatedMetadata(firstElem.id, mediaTypeFilter);
            timelineSettings.setScrollSpyActive($(firstElem));
        } else {
            timelineSettings.enableScrollSpy = false;
        }

        $(function() {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })

        let didScroll = false;
        let topScroll = true;
        let initRender = true;
        let start = true;
        let lastScrollTop = 0;

        // Scroll spy at intervals
        window.setInterval(function() {
            // Hack to keep scrolling up
            if (topScroll === true && start === false) {
                document.getElementById("container").scrollBy({top: 3});
                if (document.getElementsByTagName("MAIN").length > 0) {
                    document.getElementsByTagName("MAIN")[0].scrollBy({top: 3});
                }
            }

            if (timelineSettings.enableScrollSpy === true && (didScroll === true || initRender === true)) {
                const elementsInViewport = $(".scrollspy").withinviewport();
                timelineSettings.renderThumbnailsInViewport(elementsInViewport, mediaTypeFilter);

                const firstDateToc = $("#offcanvasTocBody").children().first();
                const firstDateParts = firstDateToc.attr("id").split("offcanvas_");
                const firstDate = firstDateParts[1];
                start = false;
                if ($(elementsInViewport[0]).attr("id") === firstDate) {
                    start = true;
                }
                initRender = false;
                didScroll = false;
                topScroll = false;
            }
        }, 200);

        $("#offcanvasToc").on('show.bs.offcanvas', function () {
            if (timelineSettings.enableScrollSpy === true) {
                const elementsInViewport = $(".scrollspy").withinviewport();
                timelineSettings.scrollToTimelineToc(elementsInViewport);
            }
        });

        const scrollHandler = function (e) {
            const st = $(this).scrollTop();

            if (topScroll === true && start === false) {
                shashin.scrollDirection = "up";
            } else {
                if (st < lastScrollTop) {
                    shashin.scrollDirection = "up";
                } else {
                    shashin.scrollDirection = "down";
                }
                lastScrollTop = st;
            }

            if (st === 0) {
                topScroll = true;
            }

            didScroll = true;
            // Scroll to the timeline TOC
            if (typeof $("#offcanvasToc").css('visibility') !== 'undefined' && $("#offcanvasToc").css('visibility') === "visible" && timelineSettings.enableScrollSpy === true) {
                const elementsInViewport = $(".scrollspy").withinviewport();
                timelineSettings.scrollToTimelineToc(elementsInViewport);
            }
        };
        $("#container").on('scroll', scrollHandler);
        $("main").on('scroll', scrollHandler);
    });
</script>
</body>
</html>