<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${authority},${username},${activePage})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div id="subcontainer" class="row flex-grow-sm-1 flex-grow-0">
        <th:block th:if="${metadataList != ''}">
        <script type="text/javascript">
            $("#progressBarWrapper").css("visibility","visible");
        </script>
        </th:block>

<!--        <div th:replace="fragments/sidebar :: sidebar(${activeSidebar},${authority})"></div>-->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasToc" aria-labelledby="offcanvasTocLabel">
            <div class="offcanvas-header">
                <th:block th:if="${mediaTypeFilter == 'video'}">
                    <strong id="offcanvasTocLabel"><a href="/timeline/mediatype/all">Show All</a></strong>
                </th:block>
                <th:block th:if="${mediaTypeFilter == 'all'}">
                    <strong id="offcanvasTocLabel"><a href="/timeline/mediatype/video">Show Only Videos</a></strong>
                </th:block>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <th:block th:each="metadata, iterStat: ${metadataList}">
                    <th:block th:if="${metadata.year != null or metadata.month != null}">
                        <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and metadataList[iterStat.index-1].year==metadata.year and metadataList[iterStat.index-1].month==metadata.month and metadataList[iterStat.index-1].day==metadata.day}">
                            <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                <a th:class="${'list-group-item list-group-item-action'+{iterStat.first ? ' active' : ''}}" th:onclick="return jumpToTimeline(event,'[[${metadata.year}]]-[[${metadata.month}]]-[[${metadata.day}]]');" th:href="${'#'+metadata.year+'-'+metadata.month+'-'+metadata.day}" th:text="${#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM dd, yyyy')}"></a>
                            </th:block>
                        </th:block>
                    </th:block>
                    <th:block th:if="${metadata.year == null and metadata.month == null and {!iterStat.first and metadataList[iterStat.index-1].year!=metadata.year and metadataList[iterStat.index-1].month!=metadata.month and metadataList[iterStat.index-1].day!=metadata.day}}">
                        <a class="list-group-item list-group-item-action" onclick="return jumpToTimeline(event,'undated');" href="#undated">Undated</a>
                    </th:block>
                </th:block>
            </div>
        </div>
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${authority})"></div>

        <main role="main" class="col overflow-auto h-100" id="timelineMain">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter})" class="col-sm p-3 min-vh-100"></div>
            <input type="hidden" id="currentlat" name="currentlat">
            <input type="hidden" id="currentlng" name="currentlng">
            <input type="hidden" id="currentfilename" name="currentfilename">
            <input type="hidden" id="currentPage" name="currentPage" value="0">
            <input type="hidden" id="initialLgData" name="initialLgData" value="[]">

            <th:block th:if="${metadataList != ''}">
                <div id="infinite-scroll-gallery">
                    <div th:replace="fragments/appjs :: appjs()"></div>
                    <div th:replace="fragments/timelinemodal :: timelinemodal()"></div>
                    <div th:replace="fragments/timelinejs :: timelinejs()"></div>

                    <th:block th:each="metadata, iterStat: ${metadataList}">
                        <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and metadataList[iterStat.index-1].year==metadata.year and metadataList[iterStat.index-1].month==metadata.month and metadataList[iterStat.index-1].day==metadata.day}">
                            <br>
                            <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                <section class="scrollspy" id="undated"><p><strong class="undatedTimelinePhotos">Undated</strong></p></section>
                                <div class="row p-3">
                            </th:block>

                            <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                    <section class="scrollspy" th:id="${metadata.year+'-'+metadata.month+'-'+metadata.day}"><p><strong class="dateHeading" th:text="${#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM dd, yyyy')}"></strong></p></section>
                                    <span style="display: none;" class="dateTakenHeading" th:text="${metadata.year+'-'+metadata.month+'-'+metadata.day}"></span>
                                </th:block>
                                <div class="row p-3">
                                    <span style="display: none;" class="yearTaken" th:text="${metadata.year}"></span>
                                    <span style="display: none;" class="monthTaken" th:text="${metadata.month}"></span>
                                    <span style="display: none;" class="dayTaken" th:text="${metadata.day}"></span>
                            </th:block>

                        </th:block>

                        <div th:class="${'photo-thumbnail-container photo-thumbnail '+(metadata.type.contains('video') ? 'is-video' : 'is-not-video')}" th:style="${'width:'+metadata.thumbnailSmallWidth+'px;height:'+metadata.thumbnailSmallHeight+'px;padding-left:0;padding-right:0;'}">
                            <a class="lightGalleryIndexAnchor" th:name="${'lightGalleryIndex'+iterStat.index}"></a>

                            <img class="photo-thumbnail-image" th:id="'image'+${metadata.id}" th:width="${metadata.thumbnailSmallWidth}" th:height="${metadata.thumbnailSmallHeight}" style="background-color:lightgray;">
                            <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                <input type="hidden" name="thumbnailUrl-undated[]" th:id="'thumbnailUrl_'+${metadata.id}" th:value="${metadata.thumbnailUrlSmall}">
                            </th:block>
                            <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                <input type="hidden" th:name="${'thumbnailUrl-'+metadata.year+'-'+metadata.month+'-'+metadata.day+'[]'}" th:id="'thumbnailUrl_'+${metadata.id}" th:value="${metadata.thumbnailUrlSmall}">
                            </th:block>
                            <input type="hidden" th:name="'filename'+${metadata.id}" th:id="'filename'+${metadata.id}" th:value="${metadata.fileName}">

                            <th:block th:if="${metadata.type.contains('video')}">
                                <div class="thumbnail-tr" th:id="'tntr'+${metadata.id}">
                                    <span class="bi-camera-video-fill" style="font-size: 1rem;color: darkblue;"></span>
                                </div>
                            </th:block>

                            <div th:id="'tntl'+${metadata.id}">
                            </div>

                            <div th:id="'tnbr'+${metadata.id}">
                                <a href="#" th:id="'favorite'+${metadata.id}">
                                    <!--th:class="${favorites.get(metadata.id)} ? 'bi-suit-heart-fill' : 'bi-suit-heart'"-->
                                    <span th:id="'bricon'+${metadata.id}" style="font-size: 1rem;color: red;"></span>
                                </a>
                            </div>

                            <div class="thumbnail-bl" th:id="'tnbl'+${metadata.id}">
                            </div>

                            <div class="thumbnail-centered" th:id="'tncentered'+${metadata.id}">
                                <th:block th:unless="${metadata.type.contains('video')}">
                                    <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                        <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                            <a class="mediaLink" th:id="${'mediaLink'+metadata.id}" th:itemref="${iterStat.index}" th:onclick="return openGallery(event,[[${iterStat.index}]])"
                                               th:data-src="${metadata.thumbnailUrlOriginal}" th:href="${metadata.thumbnailUrlOriginal}"
                                               th:data-sub-html="${(metadata.placeName != null ? metadata.placeName+'<br>' : '<br>')+metadata.title+' taken on '+#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM dd, yyyy')}">
                                            </a>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                        <a class="mediaLink" th:id="${'mediaLink'+metadata.id}" th:itemref="${iterStat.index}" th:onclick="return openGallery(event,[[${iterStat.index}]])"
                                           th:data-src="${metadata.thumbnailUrlOriginal}" th:href="${metadata.thumbnailUrlOriginal}"
                                           th:data-sub-html="${(metadata.placeName != null ? metadata.placeName+'<br>' : '<br>')+metadata.title}">
                                        </a>
                                    </th:block>
                                </th:block>

                                <th:block th:if="${metadata.type.contains('video')}">
                                    <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                        <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-M-d')}">
                                            <a class="mediaLink" th:id="${'mediaLink'+metadata.id}" th:itemref="${iterStat.index}" th:onclick="return openGallery(event,[[${iterStat.index}]])"
                                               th:data-video="${'{&quot;source&quot;: [{&quot;src&quot;:&quot;'+metadata.videoUrl+'&quot;, &quot;type&quot;:&quot;video/mp4&quot;}], &quot;attributes&quot;: {&quot;preload&quot;: false, &quot;controls&quot;: true}}'}"
                                               th:data-sub-html="${(metadata.placeName != null ? metadata.placeName+'<br>' : '<br>')+metadata.title+' taken on '+#dates.format(sdf.parse(metadata.year+'-'+metadata.month+'-'+metadata.day), 'EEE, MMM dd, yyyy')}">
<!--                                                <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>-->
                                            </a>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                        <a class="mediaLink" th:id="${'mediaLink'+metadata.id}" th:itemref="${iterStat.index}" th:onclick="return openGallery(event,[[${iterStat.index}]])"
                                           th:data-video="${'{&quot;source&quot;: [{&quot;src&quot;:&quot;'+metadata.videoUrl+'&quot;, &quot;type&quot;:&quot;video/mp4&quot;}], &quot;attributes&quot;: {&quot;preload&quot;: false, &quot;controls&quot;: true}}'}"
                                           th:data-sub-html="${(metadata.placeName != null ? metadata.placeName+'<br>' : '<br>')+metadata.title}">
<!--                                            <span class="bi-play-circle" style="font-size: 4rem;color: lightgray;"></span>-->
                                        </a>
                                    </th:block>
                                </th:block>
                            </div>

                            <span th:id="'timelinemodal'+${metadata.id}"></span>
                        </div>

                        <script type="text/javascript">
                            /*<![CDATA[*/
                            var currentIteration = [[${iterStat.index+1}]];
                            var totalSize = [[${#lists.size(metadataList)}]];
                            var currentProgress = currentIteration/totalSize*100;
                            $("#progressBar").attr("aria-valuenow",String(parseInt(currentProgress)));
                            var width = String(parseInt(currentProgress))+"%";
                            $("#progressBar").css("width",width);
                            if (currentIteration === totalSize) {
                                $("#progressBarWrapper").css("visibility","hidden");
                            }

                            $("#timelineModalEdit[[${metadata.id}]]").attr("tag",JSON.stringify(JSON.parse(decodeHtml("[[${metadata}]]"))));
                            // setPhotoOverlays("[[${metadata}]]", "[[${activePage}]]");
                            // activateMetadataListeners("[[${metadata}]]");
                            /*]]>*/
                        </script>

                        <th:block th:if="${iterStat.count > 0 and {iterStat.last or {!iterStat.last and {metadataList[iterStat.index+1].year!=metadata.year or metadataList[iterStat.index+1].month!=metadata.month or metadataList[iterStat.index+1].day!=metadata.day}}}}">
                            <span class="appendMetadataPhotos"></span>
                            <th:block th:if="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                <span class="scrollspy" id="tail_undated"></span>
                            </th:block>
                            <th:block th:unless="${metadata.year==null or metadata.month==null or metadata.day==null}">
                                <span class="scrollspy" th:id="${'tail_'+metadata.year+'-'+metadata.month+'-'+metadata.day}"></span>
                            </th:block>
                            <th:block th:remove="tag" th:utext="'&lt;/div&gt;'"></th:block>
                            <span class="attachMetadataPhotos" style="display: none"></span>
                        </th:block>

                    </th:block>
                </div>
            </th:block>

            <div th:replace="fragments/timelinebatchmodal :: timelinebatchmodal(${recognitionLabels})"></div>
            <div th:replace="fragments/addalbummodal :: addalbummodal(${albumList})"></div>

            <div id="msgTimeline"></div>

            <div id="spinner" class="spinner-border justify-content-center align-items-center" role="status" style="display: none">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="footer" th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>

    </div>
</div>

<!--Modal for each photo-->
<div class="modal fade" id="propTimelineModal" tabindex="-1" role="dialog" aria-labelledby="labelTimelineModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit <span id="timelineModalTitle"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link show active" data-bs-toggle="tab" id="generalTabLink" href="#generalTab">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="detailsTabLink" href="#detailsTab">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="mapTabLink" href="#mapTab">Map</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane container show active" id="generalTab">
                        <form id="saveTimelineModalForm">
                            <input type="hidden" name="metadataId" id="metadataId" value="">
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="title" class="col-form-label">Title</label>
                                    <input type="text" class="form-control" id="title" name="title" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="dayTaken" class="col-form-label">Day taken</label>
                                    <input type="text" class="form-control" id="dayTaken" name="day" value="">
                                </div>
                                <div class="col-sm">
                                    <label for="monthTaken" class="col-form-label">Month taken</label>
                                    <input type="text" class="form-control" id="monthTaken" name="month" value="">
                                </div>
                                <div class="col-sm">
                                    <label for="yearTaken" class="col-form-label">Year taken</label>
                                    <input type="text" class="form-control" id="yearTaken" name="year" value="">
                                </div>
                                <div class="col-sm">
                                    <label for="timeTaken" class="col-form-label">Time taken</label>
                                    <input type="text" class="form-control" id="timeTaken" name="time" value="" placeholder="hh:mm:ss">
                                </div>
                                <div class="col-sm">
                                    <label for="offsetTaken" class="col-form-label">GMT Offset</label>
                                    <select class="form-select" id="offsetTaken" name="offset">
                                        <th:block th:each="offset, iterStat: ${timeOffsets}">
                                            <option th:value="${offset}" th:text="${offset}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <a href="#" id="refreshTakenDate" data-bs-toggle="tooltip" data-placement="right" title="Sync original taken date"><span class="bi-arrow-clockwise"></span></a>

                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="latlng" class="col-form-label">Latitude, Longitude</label>
                                    <input type="text" class="form-control" id="latlng" name="latlng" value="">
                                </div>
                                <div class="col-sm">
                                    <label for="tagpeople" class="col-form-label">Tag People (Comma separated)</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" aria-label="Tag People" id="tagpeople" name="tagpeople" value="">
                                        <!-- if there's label id data -->
                                        <span id="labelIdData"></span>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm">
                                            <input type="checkbox" name="isobject" id="isobject">
                                            <label class="form-check-label" for="isobject">Cannot identify</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm">
                                    <label for="keywords" class="col-form-label">Keywords (comma seperated)</label>
                                    <input type="text" class="form-control" id="keywords" name="keywords" value="">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <span id="timelineModalMsg"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane container fade" id="detailsTab">
                        <div class="row"><strong>File name:&nbsp;</strong><span id="pathDetails"></span></div>
                        <div class="row"><strong>File type:&nbsp;</strong><span id="typeDetails"></span></div>
                        <div class="row"><strong>ISO:&nbsp;</strong><span id="isoDetails"></span></div>
                        <div class="row"><strong>Exposure:&nbsp;</strong><span id="exposureDetails"></span></div>
                        <div class="row"><strong>F-stop:&nbsp;</strong><span id="fNumberDetails"></span></div>
                        <div class="row"><strong>Focal length:&nbsp;</strong><span id="focalLengthDetails"></span></div>
                        <div class="row"><strong>Camera:&nbsp;</strong><span id="cameraDetails"></span></div>
                        <div class="row"><strong>Lens:&nbsp;</strong><span id="lensDetails"></span></div>
                        <div class="row"><strong>Quality:&nbsp;</strong><span id="qualityDetails"></span></div>
                        <div class="row"><strong>Created:&nbsp;</strong><span id="createdAtDetails"></span></div>
                        <div class="row"><strong>Modified:&nbsp;</strong><span id="modifiedAtDetails"></span></div>
                        <div class="row"><strong>Taken:&nbsp;</strong><span id="takenAtDetails"></span></div>
                        <div class="row"><strong>Manually Adjusted Taken:&nbsp;</strong><span id="manualTakenAtDetails"></span></div>
                        <div class="row"><strong>GMT Offset:&nbsp;</strong><span id="timeZoneDetails"></span></div>
                    </div>
                    <div class="tab-pane container fade" id="mapTab">
                        <br>
                        <span id="mapTabMessage">No map data</span>
                        <br>
                        <div id="map" class="map" style="width: 100%;height: 400px"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="timelineModalStatus" class="spinner-grow me-auto" style="visibility: hidden;font-size: 2rem;" role="status" aria-hidden="true"></div>
                <button type="button" class="btn btn-primary" id="saveMetadata">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var map = null;
        var layer = null;
        var feature = null;

        var mediaContentList = [];
        $.each($('.mediaLink'), function(index, element) {
            var mediaContent = {}
            mediaContent.subHtml =$(this).attr("data-sub-html")
            if ($(this).attr("data-src")) {
                mediaContent.src = $(this).attr("data-src");
            } else if ($(this).attr("data-video")) {
                mediaContent.video = $(this).attr("data-video");
            }
            mediaContentList.push(mediaContent);
        });
        if (lg) {
            lg.refresh(mediaContentList);
            $infiniteScrollGallery.addEventListener('lgAfterSlide', function(e) {
                jumpToLightGalleryIndex(e.detail.index);
            })
        }

        $(function() {
            $('[data-bs-toggle="tooltip"]').tooltip()
        })

        // Initial scroll spy
        var firstElem = $('.scrollspy')[0];
        setScrollSpyActive($(firstElem));

        // Scroll spy at intervals
        window.setInterval(function() {
            var elementsInViewport = $(".scrollspy").withinviewport();
            renderThumbnailsInViewport(elementsInViewport,"[[${mediaTypeFilter}]]");
        }, 400);

        $("#saveMetadata").click(function (e) {
            e.preventDefault();
            $("#timelineModalMsg").html("");
            $("#timelineModalStatus").css("visibility","visible");
            var metadataId = $("#metadataId").val();

            closeTagPeopleDropdown(metadataId);

            if (validateMetadataInputs(
                $("#dayTaken").val(),
                $("#monthTaken").val(),
                $("#yearTaken").val(),
                $("#timeTaken").val(),
                $("#offsetTaken").val(),
                $("#latlng").val(),
                "timelineModalMsg"
            ) === true) {
                var json = {
                    id:metadataId,
                    title:$("#title").val().trim(),
                    year:$("#yearTaken").val(),
                    month:$("#monthTaken").val(),
                    day:$("#dayTaken").val(),
                    time:$("#timeTaken").val(),
                    offset:$("#offsetTaken").val(),
                    latlng:$("#latlng").val(),
                    keywords:$("#keywords").val(),
                    tagpeople:$("#tagpeople").val(),
                    isObject:$("#isobject").prop("checked")
                }

                const posting = $.post({
                    url: "/timeline/update/"+metadataId,
                    data: JSON.stringify(json),
                    contentType: 'application/json; charset=utf-8'
                });

                posting.done(function (data) {
                    if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                        let message = "Error";
                        if (data["status"] === "success") {
                            message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                            // window.top.location = window.top.location

                            var oldmetadata = JSON.parse($("#timelineModalEdit"+metadataId).attr("tag"));

                            // Update tag
                            var metadataObj = JSON.parse($("#timelineModalEdit"+metadataId).attr("tag"));
                            metadataObj.title = $("#title").val().trim() === "" ? $("#currentfilename").val() : $("#title").val().trim()
                            metadataObj.year = $("#yearTaken").val()
                            metadataObj.month = $("#monthTaken").val()
                            metadataObj.day = $("#dayTaken").val()
                            metadataObj.time = $("#timeTaken").val()
                            metadataObj.timeZone = $("#offsetTaken").val()
                            var latlngArray = $("#latlng").val().split(",")
                            metadataObj.lat = $.trim(latlngArray[0])
                            metadataObj.lng = $.trim(latlngArray[1])
                            $("#latlng").val(metadataObj.lat+","+metadataObj.lng)
                            metadataObj.keywords = $("#keywords").val()
                            $("#timelineModalEdit"+metadataId).attr("tag",JSON.stringify(metadataObj))

                            $("#timelineModalEdit"+metadataId+" span").removeClass("bi-pencil").addClass("bi-pencil-square");
                            if (metadataObj.lat !== null && metadataObj.lng !== null && $("#latlng").val() !== "") {
                                $("#timelineModalEdit"+metadataId+" span").removeClass("bi-pencil-square").addClass("bi-pencil");
                            }
                        } else {
                            message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                        }
                        $("#timelineModalMsg").html(message);
                    }
                    $("#timelineModalStatus").css("visibility","hidden");
                });
            }
        });

        $("#refreshTakenDate").click(function (e) {
            e.preventDefault();

            var metadataId = $("#metadataId").val();

            var json = {
                id:metadataId
            }
            const posting = $.post({
                url: "/timeline/sync/"+metadataId,
                data: JSON.stringify(json),
                contentType: 'application/json; charset=utf-8'
            });

            posting.done(function (data) {
                if (data.hasOwnProperty("status") && data.hasOwnProperty("msg")) {
                    let message = "Error";
                    if (data["status"] === "success") {
                        message = '<div class="alert alert-success" role="alert">' + data["msg"] + '</div>';
                        if (data["year"] !== "" && data["month"] !== "" && data["day"] !== "" && data["time"] !== "") {
                            $("#yearTaken").val(data["year"]);
                            $("#monthTaken").val(data["month"]);
                            $("#dayTaken").val(data["day"]);
                            $("#timeTaken").val(data["time"]);
                        }
                        // window.top.location = window.top.location
                    } else {
                        message = '<div class="alert alert-danger" role="alert">' + data["msg"] + '</div>';
                    }
                    // $("#timelineModalMsg").html(message);
                }
            });

            return false;
        });

        // Clear message on modal close
        $('#propTimelineModal').on('hide.bs.modal', function () {
            $("#timelineModalMsg").html("");
            $("#saveMetadata").prop('disabled', false);
            var tab = new bootstrap.Tab($("#generalTabLink"));
            tab.show();
        });

        // Clear message on input editing
        $('#propTimelineModal').find(':input').bind('keypress', function() {
            $("#timelineModalMsg").html("");
        });

        $("#refreshTakenDate").click(function (e) {
            e.preventDefault();

            var originalTakenAtDate = $("#takenAtDetails").text();
            var originalTakenAtDateArray = originalTakenAtDate.split(" ")
            var takenAtParts = originalTakenAtDateArray[0].split("-");
            if (takenAtParts.length > 3) {
                $("#yearTaken").val(takenAtParts[0]);
                $("#monthTaken").val(takenAtParts[1]);
                $("#dayTaken").val(takenAtParts[2]);
                $("#timeTaken").val(originalTakenAtDateArray[1])
            }
        });

        $("#detailsTabLink").click(function (e) {
            e.preventDefault();
            $("#timelineModalMsg").html("");
            $("#saveMetadata").prop('disabled', true);
        });

        $("#mapTabLink").click(function (e) {
            e.preventDefault();
            $("#timelineModalMsg").html("");
            $("#saveMetadata").prop('disabled', true);

            openMap()
        });

        function openMap() {
            var metadataId = $("#metadataId").val();
            var metadata = {};
            if ($("#timelineModalEdit"+metadataId).attr("tag") && $("#timelineModalEdit"+metadataId).attr("tag").trim() !== "") {
                metadata = JSON.parse($("#timelineModalEdit"+metadataId).attr("tag"));
            }

            if (Object.keys(metadata).length > 0 &&
                metadata.lat !== null && metadata.lng !== null &&
                metadata.lat !== "" && metadata.lng !== ""
            ) {
                $("#map").css("display","block");
                $("#mapTabMessage").css("display","block");
                $("#mapTabMessage").text(metadata.placeName);
                $("#mapTabMessage").wrapInner('<a href="/map?lat='+metadata.lat+'&lng='+metadata.lng+'" target="_blank" class="bi-pin-fill" style="text-decoration: none;"></a>');

                if (map === null) {
                    var attribution = new ol.control.Attribution({
                        collapsible: false
                    });

                    map = new ol.Map({
                        controls: ol.control.defaults({attribution: false}).extend([attribution]),
                        layers: [
                            new ol.layer.Tile({
                                visible: true,
                                source: new ol.source.XYZ({
                                    url: 'https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=YlQvLcNKq0a4aFDX2z3O',
                                    maxZoom: 19
                                })
                            })
                        ],
                        target: 'map',
                        view: new ol.View({
                            center: ol.proj.fromLonLat([metadata.lng, metadata.lat]),
                            maxZoom: 19,
                            zoom: 15
                        })
                    });
                }

                if (layer !== null && feature !== null) {
                    layer.getSource().clear();
                }

                map.getView().setCenter(ol.proj.fromLonLat([metadata.lng, metadata.lat]));
                map.getView().setZoom(15);

                feature = new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([metadata.lng, metadata.lat])),
                    name: metadata.title
                });

                var svg = '<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pin-fill" style="color: orangered;" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.146.146A.5.5 0 014.5 0h7a.5.5 0 01.5.5c0 .68-.342 1.174-.646 1.479-.126.125-.25.224-.354.298v4.431l.078.048c.203.127.476.314.751.555C12.36 7.775 13 8.527 13 9.5a.5.5 0 01-.5.5h-4v4.5c0 .276-.224 1.5-.5 1.5s-.5-1.224-.5-1.5V10h-4a.5.5 0 01-.5-.5c0-.973.64-1.725 1.17-2.189A5.921 5.921 0 015 6.708V2.277a2.77 2.77 0 01-.354-.298C4.342 1.674 4 1.179 4 .5a.5.5 0 01.146-.354z"/></svg>';
                var styleIcon = new ol.style.Style({
                    image: new ol.style.Icon({
                        opacity: 1,
                        src: 'data:image/svg+xml;utf8,'+svg
                    })
                });
                feature.setStyle(styleIcon);
                layer = new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: [feature]
                    })
                });
                map.addLayer(layer);
            } else {
                if (layer !== null && feature !== null) {
                    layer.getSource().clear();
                }
                $("#map").css("display","none");
                $("#mapTabMessage > .wrapper").contents().unwrap();
                $("#mapTabMessage").text("No map data");
                $("#mapTabMessage").css("display","block");
            }
        }

        $("#generalTabLink").click(function (e) {
            e.preventDefault();
            $("#saveMetadata").prop('disabled', false);
        });

        $("#isobject").click(function (e) {
            e.preventDefault();

            var metadataId = $("#metadataId").val();

            closeTagPeopleDropdown(metadataId);
            if($(this).prop("checked") === true) {
                $("#tagpeople").val("");
            }
        });

        $("#tagpeople").focus(function (e) {
            e.preventDefault();

            var metadataId = $("#metadataId").val();
            closeTagPeopleDropdown(metadataId);
        });

        function loadNextPage() {
            $("#spinner").css("display","block");
            // console.log("scroll bottom");
            var currentPage = parseInt($("#currentPage").val());
            var nextPage = currentPage+1;
            // console.log("currentPage:"+currentPage);
            // console.log("nextPage:"+nextPage);

            var yearTakenCount = $(".yearTaken").length;
            var monthTakenCount = $(".monthTaken").length;
            var dayTakenCount = $(".dayTaken").length;

            if (yearTakenCount > 0 && monthTakenCount > 0 && dayTakenCount > 0) {
                /*<![CDATA[*/
                updateTimeline(nextPage,"[[${mediaTypeFilter}]]","[[${activePage}]]").then(function(additionalMediaContentList) {
                    if (additionalMediaContentList.length > 0) {
                        mediaContentList = mediaContentList.concat(additionalMediaContentList);
                        lg.refresh(mediaContentList);
                    }
                });
                /*]]>*/
                $("#currentPage").val(nextPage);
            } else {
                $("#spinner").css("display","none");
            }
        }
    });
</script>
</body>
</html>