<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>
<body class="thumb d-flex flex-column vh-100 overflow-hidden">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>
<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function () {
        /*<![CDATA[*/
        shashin.nonce = /*[[${cspNonce}]]*/ '';
        /*]]>*/
    });
</script>
<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div id="subcontainer" class="row flex-grow-sm-1 flex-grow-0">
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasToc" aria-labelledby="offcanvasTocLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" id="offcanvasTocCloseButton" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body" id="offcanvasTocBody">
                <th:block th:if="${not #lists.isEmpty(metadataDates)}">
                    <th:block th:each="date, iterStat: ${metadataDates}">
                        <th:block th:unless="${date.year == null or date.month == null or date.day == null}">
                            <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and (metadataDates[iterStat.index-1].year)==(date.year)}">
                                <strong th:text="${#dates.format(#dates.create(#numbers.formatInteger(date.year,10),#numbers.formatInteger(date.month,10),#numbers.formatInteger(date.day,10)), 'yyyy')}"></strong>
                                <th:block th:utext="'&lt;div class=&quot;list-group&quot;&gt;'" />
                            </th:block>

                            <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and (metadataDates[iterStat.index-1].year+'-'+metadataDates[iterStat.index-1].month)==(date.year+'-'+date.month)}">
                                <a th:id="${'offcanvas_'+date.year+'-'+date.month+'-'+date.day}" th:class="${'list-group-item list-group-item-action'+{iterStat.first ? ' active' : ''}}" th:href="${'#'+date.year+'-'+date.month+'-'+date.day}" th:text="${#dates.format(#dates.create(#numbers.formatInteger(date.year,10),#numbers.formatInteger(date.month,10),#numbers.formatInteger(date.day,10)), 'MMM yyyy')}"></a>
                                <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                                    $(document).ready(function () {
                                        /*<![CDATA[*/
                                        $(/*[[${'#offcanvas_'+date.year+'-'+date.month+'-'+date.day}]]*/ '').on("click", function (e) {
                                            e.preventDefault();
                                            timelineSettings.jumpFromTimelineToc(e,/*[[${date.year+'-'+date.month+'-'+date.day}]]*/ '',/*[[${mediaTypeFilter}]]*/ 'all');
                                        });
                                        /*]]>*/
                                    });
                                </script>
                            </th:block>
                            <th:block th:if="${iterStat.count > 0 and !iterStat.first and (metadataDates[iterStat.index-1].year+'-'+metadataDates[iterStat.index-1].month)==(date.year+'-'+date.month)}">
                                <a style="display:none" th:id="${'offcanvas_'+date.year+'-'+date.month+'-'+date.day}" th:class="${'list-group-item list-group-item-action'+{iterStat.first ? ' active' : ''}}" th:href="${'#'+date.year+'-'+date.month+'-'+date.day}" th:text="${#dates.format(#dates.create(#numbers.formatInteger(date.year,10),#numbers.formatInteger(date.month,10),#numbers.formatInteger(date.day,10)), 'MMM yyyy')}"></a>
                                <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                                    $(document).ready(function () {
                                        /*<![CDATA[*/
                                        $(/*[[${'#offcanvas_'+date.year+'-'+date.month+'-'+date.day}]]*/ '').on("click", function (e) {
                                            e.preventDefault();
                                            timelineSettings.jumpFromTimelineToc(e,/*[[${date.year+'-'+date.month+'-'+date.day}]]*/ '',/*[[${mediaTypeFilter}]]*/ 'all');
                                        });
                                        /*]]>*/
                                    });
                                </script>
                            </th:block>

                            <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.last and (metadataDates[iterStat.index+1].year)==(date.year)}">
                                <th:block th:utext="'&lt;/div&gt;'" />
                                <br>
                            </th:block>
                        </th:block>
                    </th:block>
                </th:block>
            </div>

        </div>
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>

        <main role="main" class="col overflow-auto h-100" id="timelineMain">
            <th:block th:if="${not #lists.isEmpty(metadataList)}">
                <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                    $("#timelineMain").invisible();
                </script>
            </th:block>
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>
            <input type="hidden" id="mediaTypeFilter" name="mediaTypeFilter" th:value="${mediaTypeFilter}">
            <input type="hidden" id="initialLgData" name="initialLgData" value="[]">

            <div th:replace="~{fragments/metadatamodal :: metadatamodal(${currentUser})}"></div>

            <div th:replace="~{fragments/infosidebar :: infosidebar(${currentUser})}"></div>

            <div id="spinner_top" class="spinner-border justify-content-center align-items-center" role="status" style="display: none"></div>

            <div id="infinite-scroll-gallery" style="max-width: 85%;">
                <th:block th:if="${not #lists.isEmpty(metadataList)}">
                    <th:block th:if="${metadataList[0].year==null or metadataList[0].month==null or metadataList[0].day==null}">
                        <span class="scrollspy metadataprocessed" id="tail_undated"></span>
                        <th:block th:remove="tag" th:utext="'&lt;/div&gt;'"></th:block>
                        <th:block th:remove="tag" th:utext="'&lt;/span&gt;'"></th:block>
                        <span class="attachMetadataPhotos" id="amp_undated"></span>
                    </th:block>
                    <th:block th:unless="${metadataList[0].year==null or metadataList[0].month==null or metadataList[0].day==null}">
                        <span class="scrollspy metadataprocessed" th:id="${'tail_'+metadataList[0].year+'-'+metadataList[0].month+'-'+metadataList[0].day}"></span>
                        <th:block th:remove="tag" th:utext="'&lt;/div&gt;'"></th:block>
                        <th:block th:remove="tag" th:utext="'&lt;/span&gt;'"></th:block>
                        <span class="attachMetadataPhotos" th:id="${'amp_'+metadataList[0].year+'-'+metadataList[0].month+'-'+metadataList[0].day}"></span>
                    </th:block>

                </th:block>
            </div>
            <script type="text/javascript" th:nonce="${cspNonce}">
                $("#timelineMain").visible();
            </script>

            <div th:replace="~{fragments/metadatabatchmodal :: metadatabatchmodal(${recognitionLabels},${allAlbumList})}"></div>

            <!-- <div id="msgTimeline"></div> -->
            <div id="spinner_bottom" class="spinner-border justify-content-center align-items-center mt-2" role="status" style="display: none"></div>

            <div id="subfooter"></div>
            <div id="footer" th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

<!--Date Slider-->
<th:block th:if="${not #lists.isEmpty(metadataDates)}">
    <div class="sidebar-right" id="dateSliderContainer">
        <div class="sidebar-right" id="dateSliderWrapper">
            <div id="dateSlider"></div>
        </div>
    </div>
</th:block>

<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'false'}">
    <script src="/js/site/applisteners.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<th:block th:if="${@environment.getProperty('app.js.useMinified') == 'true'}">
    <script src="/js/site/min/applisteners.min.js" type="text/javascript" th:nonce="${cspNonce}"></script>
</th:block>
<script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
    $(document).ready(function () {
        shashin.updateSearchInput("Timeline");

        /*<![CDATA[*/
        const mediaTypeFilter = /*[[${mediaTypeFilter}]]*/ 'all';
        /*]]>*/

        const http = new Http("timeline");
        http.ajax("get", "/timeline/yearmonthcounts/"+mediaTypeFilter).then(function (data) {
            if (data.hasOwnProperty("metadataDates") && data.hasOwnProperty("metadataYearMonthCount")) {
                const timelineYearMonthCountsData = data["metadataYearMonthCount"];
                const timelineDatesData = data["metadataDates"];
                const timelineDatesHash = data["metadataDatesHash"];
                timelineSettings.init(mediaTypeFilter, timelineDatesData, timelineYearMonthCountsData, timelineDatesHash);
            }
        });
    });
</script>
</body>
</html>