<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${activePage},${titleDescriptor})"></head>
<body>

<div th:replace="fragments/topnav :: topnav(${currentUser},${activePage},'')"></div>

<div class="container-fluid">
    <div class="row">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})"></div>
        <main role="main" class="col">

            <!--            <a data-bs-toggle="offcanvas" data-bs-placement="bottom" href="#offcanvasExample" aria-controls="offcanvasExample">-->
            <!--                Link to open sidebar-->
            <!--            </a>-->

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>
                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                    </div>
                    <div class="dropdown mt-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <h2>Decode Persistent Login Cookie</h2>
            <input type="text" id="decodePersistentLogin" size="100">
            <button type="button" id="decode">Decode</button><br>
            <span id="decoded"></span>

            <br><br>

            <h2>Persistent Tokens</h2>

            <th:block th:each="persistentLoginsDetail, iterStat: ${persistentLoginsDetails}">
                <br><th:block th:utext="${'<strong>Username</strong>: '+persistentLoginsDetail.username}"></th:block>
                <br><th:block th:utext="${'<strong>Series</strong>: '+persistentLoginsDetail.series}"></th:block>
                <br><th:block th:utext="${'<strong>Token</strong>: '+persistentLoginsDetail.token}"></th:block>
                <br><th:block th:utext="${'<strong>Expiry</strong>: '+persistentLoginsDetail.expiry}"></th:block> <span class="expiries" th:id="${persistentLoginsDetail.expiry}"></span>
                <br><th:block th:utext="${'<strong>Host</strong>: '+persistentLoginsDetail.host}"></th:block>
                <br><th:block th:utext="${'<strong>Useragent</strong>: '+persistentLoginsDetail.useragent}"></th:block>
                <br>
            </th:block>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('.expiries').each(function(i, obj) {
                        const idunixtime = $(obj).attr("id");
                        const localDateTime = timeConverter(parseInt(idunixtime));
                        $("#"+idunixtime).text(" - "+localDateTime);
                    });

                    function timeConverter(UNIX_timestamp) {
                        const date = new Date(UNIX_timestamp).toLocaleDateString("en-US");
                        const time = new Date(UNIX_timestamp).toLocaleTimeString("en-US");

                        return date + ' ' + time;
                    }

                    $("#decode").on("click", function (e) {
                        e.preventDefault();
                        $("#decoded").text("");

                        const cookieVal = $("#decodePersistentLogin").val();
                        if (cookieVal.length > 0) {
                            let decodedSeriesToken = atob(cookieVal);

                            decodedSeriesToken = decodeURIComponent(decodedSeriesToken)
                            const decodedSeriesTokenArray = decodedSeriesToken.split(":")
                            console.log(decodedSeriesTokenArray[0])
                            $("#decoded").text(decodedSeriesTokenArray[0]+":"+decodedSeriesTokenArray[1]);
                        }
                    });

                });
            </script>

            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'',${faceRecogServicesAvailable})" class="col-sm p-3 min-vh-100"></div>
            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile})"></div>
        </main>
    </div>
</div>

</body>
</html>