<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head(${activePage},${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${currentUser},${activePage},'')"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})"></div>
        <main role="main" class="col overflow-auto h-100">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter},'',${faceRecogServicesAvailable},${objectRecogEnabled})" class="col-sm p-3 min-vh-100"></div>
            <div class="row image-group-padding">
                <form action="/users/update" method="post" id="passwordForm">
                    <h2 class="form-signin-heading">Change Password</h2>
                    <th:block th:if="${msg != '' and alertClass != ''}">
                        <div class="col-12">
                            <div th:class="${'alert ' + alertClass + ' alert-dismissible fade show'}" role="alert" th:utext="${msg+'&lt;button type=&quot;button&quot; class=&quot;btn-close&quot; data-bs-dismiss=&quot;alert&quot; aria-label=&quot;Close&quot;&gt;&lt;/button&gt;'}"/>
                        </div>
                    </th:block>

                    <div class="input-group mb-3">
                        <input type="password" id="oldpassword" name="oldpassword" class="form-control" placeholder="Old password" aria-label="" aria-describedby="basic-addon1">
                        <button class="btn btn-outline-secondary" type="button" id="unhideold"><span id="unhideoldicon" class="bi-eye"></span></button>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="New password" aria-label="" aria-describedby="basic-addon1">
                        <button class="btn btn-outline-secondary" type="button" id="unhidenew"><span id="unhidenewicon" class="bi-eye"></span></button>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" id="newpasswordconfirm" name="newpasswordconfirm" class="form-control" placeholder="New password confirm" aria-label="" aria-describedby="basic-addon1">
                        <button class="btn btn-outline-secondary" type="button" id="unhideconfirm"><span id="unhideconfirmicon" class="bi-eye"></span></button>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                </form>
            </div>

            <div id="footer" th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile})"></div>
        </main>
    </div>
</div>

<script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
    /*<![CDATA[*/
    shashin.nonce = /*[[${cspNonce}]]*/ '';
    /*]]>*/

    $("#passwordForm").on("submit", function (e) {
        e.preventDefault();

        if (validateFields() === true) {
            this.submit();
        }
    });

    $("#unhideold").on("click", function (e) {
        e.preventDefault();
        changeTypes($("#oldpassword"), $("#unhideoldicon"));
    });

    $("#unhidenew").on("click", function (e) {
        e.preventDefault();
        changeTypes($("#newpassword"), $("#unhidenewicon"));
    });

    $("#unhideconfirm").on("click", function (e) {
        e.preventDefault();
        changeTypes($("#newpasswordconfirm"), $("#unhideconfirmicon"));
    });

    function changeTypes(elem, icon) {
        if (elem.attr("type") === "password") {
            elem.prop("type", "text");
            icon.removeClass("bi-eye").addClass("bi-eye-slash");
        } else {
            elem.prop("type", "password");
            icon.removeClass("bi-eye-slash").addClass("bi-eye");
        }
    }

    function validateFields() {
        let fieldsValid = true;

        if ($("#oldpassword").val().trim().length === 0 || $("#newpassword").val().trim().length === 0 || $("#newpasswordconfirm").val().trim().length === 0) {
            shashin.showToastMessage("Validation error", "Password fields cannot be empty.", {icon:"bi-exclamation-triangle", iconColor:"#FF0000"});
            fieldsValid = false;
        }

        if ($("#newpassword").val().trim() !== $("#newpasswordconfirm").val().trim()) {
            shashin.showToastMessage("Validation error", "Passwords do not match.", {icon:"bi-exclamation-triangle", iconColor:"#FF0000", target:shashin.toast.target.one});
            fieldsValid = false;
        }

        return fieldsValid;
    }
</script>

</body>
</html>