<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:insert="fragments/head :: head(${titleDescriptor})"></head>
<body class="thumb d-flex flex-column vh-100">

<div th:replace="fragments/topnav :: topnav(${authority},${username},${activePage})"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
<!--        <div th:replace="fragments/sidebar :: sidebar(${activeSidebar},${authority})"></div>-->
        <div th:replace="fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${authority},${hasNotifications})"></div>
        <main role="main" class="col overflow-auto h-100 table-responsive">
            <div th:replace="fragments/content :: content(${message},${activePage},${authority},${parameter})" class="col-sm p-3 min-vh-100"></div>
            <table class="table">
                <th:block th:if="${users != ''}">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Role</th>
                            <th scope="col">Is Allowed</th>
                            <th scope="col">Created</th>
                            <th scope="col">Modified</th>
                            <th scope="col">Logged in</th>
                            <th scope="col">Delete user</th>

                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user: ${users}">
                        <th:block th:if="${user.id != currentUser.id}">
                            <tr>
                                <td><span th:text="${user.username}"></span></td>
                                <td>
                                    <a href="#" th:id="${'permissiontoggle' + user.id}">
                                        <th:block th:if="${user.authority == 'ROLE_ADMIN'}">
                                            <span class="bi-person-badge" style="font-size: 1rem;color: black;"></span>
                                        </th:block>
                                        <th:block th:if="${user.authority == 'ROLE_USER'}">
                                            <span class="bi-person" style="font-size: 1rem;color: black;"></span>
                                        </th:block>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" th:id="${'isallowed' + user.id}">
                                        <th:block th:if="${user.isAllowed}">
                                            <span class="bi-check" style="font-size: 1rem;color: lightgreen;"></span>
                                        </th:block>
                                        <th:block th:unless="${user.isAllowed}">
                                            <span class="bi-x" style="font-size: 1rem;color: lightsalmon;"></span>
                                        </th:block>
                                    </a>
                                </td>
                                <td><span th:text="${user.createdAt}"></span></td>
                                <td><span th:text="${user.modifiedAt}"></span></td>
                                <td>
                                    <th:block th:if="${user.loggedIn}">
                                        <span class="bi-circle-fill" style="font-size: 1rem;color: lightgreen;"></span>
                                    </th:block>
                                    <th:block th:unless="${user.loggedIn}">
                                        <span class="bi-circle" style="font-size: 1rem;color: lightsalmon;"></span>
                                    </th:block>
                                </td>
                                <td>
                                    <a href="#" th:id="${'trash' + user.id}">
                                        <span class="bi-trash" style="font-size: 1rem;color: red;"></span>
                                    </a>
                                </td>
                            </tr>

                            <script type="text/javascript">
                                /*<![CDATA[*/
                                $("#trash[[${user.id}]]").click(function(e) {
                                    e.preventDefault();

                                    $("#proptrashuser[[${user.id}]]").modal('show');
                                });
                                $("#permissiontoggle[[${user.id}]]").click(function(e) {
                                    e.preventDefault();

                                    $("#proproleuser[[${user.id}]]").modal('show');
                                });
                                $("#isallowed[[${user.id}]]").click(function(e) {
                                    e.preventDefault();

                                    $("#propisalloweduser[[${user.id}]]").modal('show');
                                });
                                /*]]>*/
                            </script>

                            <div th:replace="fragments/usersettingsmodal :: usersettingsmodal(${user})"></div>
                        </th:block>
                    </th:block>
                    </tbody>
                </th:block>
            </table>
            <div th:replace="fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties})"></div>
        </main>
    </div>
</div>
</body>
</html>