<!DOCTYPE html>
<th:block th:insert="~{fragments/asciiart :: asciiart()}"></th:block>
<html th:lang="${locale}" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/head :: head(${activePage},${titleDescriptor})}"></head>

<body class="thumb d-flex flex-column vh-100">

<div th:replace="~{fragments/topnav :: topnav(${currentUser},${activePage},'')}"></div>

<div th:replace="~{fragments/settingsgroup :: settings(${activePage},${faceRecogServicesAvailable},${objectRecogEnabled},${facialRecogEnabled})}"></div>

<div id="container" class="container-fluid pb-3 flex-grow-1 d-flex flex-column overflow-auto">
    <div class="row flex-grow-sm-1 flex-grow-0">
        <div th:replace="~{fragments/sidebaroffcanvas :: sidebaroffcanvas(${activeSidebar},${currentUser})}"></div>
        <main role="main" class="col overflow-auto h-100 table-responsive">
            <div th:replace="~{fragments/hiddenfields :: hiddenfields(${message})}"></div>
            <table class="table">
                <th:block th:if="${not #lists.isEmpty(users)}">
                    <thead>
                        <tr>
                            <th scope="col"><th:block th:text="#{main.pages.users.profile}"></th:block></th>
                            <th scope="col"><th:block th:text="#{main.pages.users.userid}"></th:block></th>
                            <th scope="col"><th:block th:text="#{main.pages.users.username}"></th:block></th>
                            <th scope="col"><th:block th:text="#{main.pages.users.role}"></th:block></th>
                            <th scope="col"><th:block th:text="#{main.pages.users.authorized}"></th:block></th>
                            <th scope="col"><th:block th:text="#{main.pages.users.created}"></th:block></th>
                            <th scope="col"><th:block th:text="#{main.pages.users.modified}"></th:block></th>
                            <th scope="col"><th:block th:text="#{main.pages.users.resetpass}"></th:block></th>
                            <th scope="col"><th:block th:text="#{main.pages.users.deleteuser}"></th:block></th>
                        </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="user: ${users}">
                        <th:block th:if="${user.id == currentUser.id}">
                            <tr>
                                <th:block th:if="${user.profile==null or user.profile==''}">
                                    <td><span class="bi-person-circle" style="font-size:1.5rem;overflow: hidden;display: grid;"></span></td>
                                </th:block>
                                <th:block th:unless="${user.profile==null or user.profile==''}">
                                    <td><img th:src="${user.profile}" style="display:inline-block;width:24px;height:24px;" /></td>
                                </th:block>
                                <td><span th:utext="'&lt;strong&gt;'+${user.id}+'&lt;/strong&gt;'"></span></td>
                                <td><span th:utext="'&lt;strong&gt;'+${user.username}+'&lt;/strong&gt;'"></span></td>
                                <td>
                                    <th:block th:if="${user.authority == 'ROLE_SUPER'}">
                                        <span class="bi-person-badge-fill" style="font-size: 1rem;" data-bs-toggle="tooltip" data-bs-placement="right" title="Currently a Super Admin."></span>
                                    </th:block>
                                    <th:block th:if="${user.authority == 'ROLE_ADMIN'}">
                                        <span class="bi-person-badge" style="font-size: 1rem;" data-bs-toggle="tooltip" data-bs-placement="right" title="Currently an Admin."></span>
                                    </th:block>
                                    <th:block th:if="${user.authority == 'ROLE_USER'}">
                                        <span class="bi-person" style="font-size: 1rem" data-bs-toggle="tooltip" data-bs-placement="right" title="Currently a User."></span>
                                    </th:block>
                                </td>
                                <td>
                                    <span class="bi-check" style="font-size: 1rem;" data-bs-toggle="tooltip" data-bs-placement="right" title="You are authorized"></span>
                                </td>
                                <td><span th:utext="'&lt;strong&gt;'+${user.createdAt}+'&lt;/strong&gt;'"></span></td>
                                <td><span th:utext="'&lt;strong&gt;'+${user.modifiedAt}+'&lt;/strong&gt;'"></span></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </th:block>
                        <th:block th:if="${user.id != currentUser.id}">
                            <tr>
                                <th:block th:if="${user.profile==null or user.profile==''}">
                                    <td><span class="bi-person-circle" style="font-size:1.5rem;overflow: hidden;display: grid;"></span></td>
                                </th:block>
                                <th:block th:unless="${user.profile==null or user.profile==''}">
                                    <td><img th:src="${user.profile}" style="display:inline-block;width:24px;height:24px;" /></td>
                                </th:block>
                                <td><span th:text="${user.id}"></span></td>
                                <td><span th:text="${user.username}"></span></td>
                                <td>
                                    <a href="#" th:id="${'permissiontoggle' + user.id}">
                                        <th:block th:if="${user.authority == 'ROLE_SUPER'}">
                                            <span class="bi-person-badge-fill" style="font-size: 1rem;" data-bs-toggle="tooltip" data-bs-placement="right" title="Currently a Super Admin. Click to change role"></span>
                                        </th:block>
                                        <th:block th:if="${user.authority == 'ROLE_ADMIN'}">
                                            <span class="bi-person-badge" style="font-size: 1rem;" data-bs-toggle="tooltip" data-bs-placement="right" title="Currently an Admin. Click to change role"></span>
                                        </th:block>
                                        <th:block th:if="${user.authority == 'ROLE_USER'}">
                                            <span class="bi-person" style="font-size: 1rem" data-bs-toggle="tooltip" data-bs-placement="right" title="Currently a User. Click to change role"></span>
                                        </th:block>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" th:id="${'isauthorized' + user.id}">
                                        <th:block th:if="${user.isAuthorized}">
                                            <span class="bi-check" style="font-size: 1rem;color: lightgreen;" data-bs-toggle="tooltip" data-bs-placement="right" th:title="${'Deauthorize ' + user.username}"></span>
                                        </th:block>
                                        <th:block th:unless="${user.isAuthorized}">
                                            <span class="bi-x" style="font-size: 1rem;color: lightsalmon;" data-bs-toggle="tooltip" data-bs-placement="right" th:title="${'Authorize ' + user.username}"></span>
                                        </th:block>
                                    </a>
                                </td>
                                <td><span th:text="${user.createdAt}"></span></td>
                                <td><span th:text="${user.modifiedAt}"></span></td>
                                <td>
                                    <a href="#" th:id="${'resetPassword' + user.id}">
                                        <span class="bi-arrow-clockwise overlayIconBackground overlayIcon" data-bs-toggle="tooltip" data-bs-placement="right" th:title="${'Reset password for ' + user.username}"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" th:id="${'trash' + user.id}">
                                        <span class="bi-trash overlayIconBackground overlayIcon" data-bs-toggle="tooltip" data-bs-placement="right" th:title="${'Delete account for ' + user.username}"></span>
                                    </a>
                                </td>
                            </tr>

                            <script th:inline="javascript" type="text/javascript" th:nonce="${cspNonce}">
                                /*<![CDATA[*/
                                $("#trash[[${user.id}]]").on("click", function(e) {
                                    e.preventDefault();

                                    $("#proptrashuser[[${user.id}]]").modal('show');
                                });
                                $("#resetPassword[[${user.id}]]").on("click", function(e) {
                                    e.preventDefault();

                                    $("#propresetpassworduser[[${user.id}]]").modal('show');
                                });
                                $("#permissiontoggle[[${user.id}]]").on("click", function(e) {
                                    e.preventDefault();

                                    $("#proproleuser[[${user.id}]]").modal('show');
                                });
                                $("#isauthorized[[${user.id}]]").on("click", function(e) {
                                    e.preventDefault();

                                    $("#propisauthorizeduser[[${user.id}]]").modal('show');
                                });
                                /*]]>*/
                            </script>

                            <div th:replace="~{fragments/usersettingsmodal :: usersettingsmodal(${user})}"></div>
                        </th:block>
                    </th:block>
                    </tbody>
                </th:block>
            </table>
            <div th:replace="~{fragments/footer :: footer(${copyrightYear},${operatingSystemInfo},${buildProperties},${activeProfile},${activePage})}"></div>
        </main>
    </div>
</div>

<script type="text/javascript" th:inline="javascript" th:nonce="${cspNonce}">
    /*<![CDATA[*/
    shashin.nonce = /*[[${cspNonce}]]*/ '';
    /*]]>*/
</script>
</body>
</html>