<html xmlns:th="http://www.thymeleaf.org" th:insert="layouts/articles :: page(title=${titleDescriptor},activePage=${activePage})">
<head></head>
<body>
<!-- /articles/devnotes -->
<section th:fragment="content">
    <div class="col-11 col-md-10 col-xl-9">
        <h1>Dev Notes</h1>

        <span style="display: none;">
            <h2>Batch media editing modules</h2>
            <ul>
                <li>See Search module as an example</li>
                <li>You must add tag <code>&lt;div th:replace="~{fragments/metadatabatchmodal :: metadatabatchmodal(${recognitionLabels},${allAlbumList})}"&gt;&lt;/div></code> in order to access the multi-select modal dialog</li>
                <li>For each metadata, you should add hidden inputs to show proper headings in the modal dialog:
                    <ul>
                        <li><code>&lt;input type="hidden" th:name="'filename'+${metadata.id}" th:id="'filename'+${metadata.id}" th:value="${metadata.fileName}"&gt;</code>
                        <li><code>&lt;input type="hidden" th:name="'thumbnailCentered'+${metadata.id}" th:id="'thumbnailCentered'+${metadata.id}" th:value="${metadata.thumbnailUrlCentered}"&gt;</code>
                    </ul>
                </li>
                <li>In the controller, it must extend <code>BaseController</code> and in the action, call <code>getAllAttributeData(model)</code> in order to prefill album and people dropdowns</li>
            </ul>
            <ul>
                <li>See "Search" module as an example</li>
                <li>You must add tag <code>&lt;div th:replace="~{fragments/metadatabatchmodal :: metadatabatchmodal(${recognitionLabels},${allAlbumList})}"&gt;&lt;/div></code> in order to access the multi-select modal dialog</li>
                <li>For each metadata, you should add hidden inputs to show proper headings in the modal dialog:
                    <ul>
                        <li><code>&lt;input type="hidden" th:name="'filename'+${metadata.id}" th:id="'filename'+${metadata.id}" th:value="${metadata.fileName}"&gt;</code>
                        <li><code>&lt;input type="hidden" th:name="'thumbnailCentered'+${metadata.id}" th:id="'thumbnailCentered'+${metadata.id}" th:value="${metadata.thumbnailUrlCentered}"&gt;</code>
                    </ul>
                </li>
                <li>In the controller, it must extend <code>BaseController</code> and in the action, call <code>getAllAttributeData(model)</code> in order to prefill album and people dropdowns</li>
            </ul>
        </span>

        <h2>i18n</h2>
        <p>Internationalization files can be found in the resource folder, where <strong>messages.properties</strong> contain the English (default) translations. The intention being more will be added in the future, with file format messages_xx.properties where xx is the 2 letter language code.</p>
        <p>Javascript output will also need to be translated. This will be tracked as globals sourced from the translation files in <code>src/main/resources/templates/fragments/translations.html</code>. They should map to entries in messages.properties.</p>
        <p>Access in controllers: Make sure to autowire MessageSources<br><pre><code>@Autowired<br>var messageSource: MessageSource? = null</code></pre>In controller parameters, add <code>locale: Locale</code>, then in the code, get the translation using the translation path <code>messageSource.getMessage("path.to.translation.from.messages.properties", null, locale)</code></p>
        <p>Access in javascript: Call <code>shashin.getTranslatedValue("path.to.translation")</code></p>
        <p>Access in thymeleaf: Example: <code>#messages.msg('path.to.translation')</code> or <code>#{'path.to.translation'}</code></p>

        <h2>Front end debugging</h2>
        <p>Apart from standard IDE debuggers, convenience functions to look at console outputs can be enabled.</p>

        <h5>Print console messages</h5>
        <p>Place <code>shashin.printMessageToConsole(&lt;message&gt;,{&lt;options&gt;})</code> in JS code where you'd like to see console outputs. Options are a hash map of allowable options.</p>
        <p>
            <code>tag</code> - tags messages to be used as a filter.<br>
            <code>consoleType</code> - allows for different console types to be used for a message, <code>shashin.consoleTypes.error</code>, <code>shashin.consoleTypes.info</code>, <code>shashin.consoleTypes.log</code>, or <code>shashin.consoleTypes.warn</code>. Default is <code>shashin.consoleTypes.info</code>
        </p>
        <p>Example: <br>
            <code>shashin.printMessageToConsole("test",{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;tag: "testcode",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;consoleType: shashin.consoleTypes.error<br>
            });</code>
        </p>

        <h5>Enable debug messages in the console</h5>
        <p>Typing <code>shashin.enableDebug({&lt;options&gt;})</code> in the browser console will output console log messages placed in the app. There are various options you can pass.</p>
        <p>
            <code>tags</code> - an array of tags to filter on. Tag value "all" shows all logs without tag filtering. Default is for all tags to be shown.<br>
            <code>consoleTypes</code> - an array of console types to filter on. Default is for all console types to be shown.<br>
            <code>showTrace</code> - if set to true, shows the stack trace for the output. Default is false.<br>
            <code>writeLog</code> - if set to true, makes network requests to the backend to write console outputs to the app logs. Default is false.
        </p>

        <h5>Disable debug messages in the console</h5>
        <p>Typing <code>shashin.disableDebug()</code> in the browser console prevents any output from the app to be shown in the console window.</p>

        <h2>Toast messages</h2>
        <p>Pop-up messages can be used to notify users. There are 9 quadrants you can see pop-ups.</p>

        <h5>Show toast messages</h5>
        <p>Place <code>shashin.showToastMessage(&lt;title&gt;, &lt;message&gt;, {&lt;options&gt;})</code> in JS code. Options are a hash map of allowable options.</p>
        <p>
            <code>icon</code> - use Bootstrap Icons. eg. bi-info-circle. Default is empty.<br>
            <code>iconColor</code> - allows for different CSS colors for the icon eg. "red" or "#FF0000". Default "lightgray"<br>
            <code>headerSubtext</code> - Text that sits beside the title in smaller print. Default is an empty string.<br>
            <code>autohide</code> - Flag whether the toast will automatically hide. If false, user will be forced to close the notification. Default is true.<br>
            <code>delay</code> - Time in which toast message will close in milliseconds. This option will be ignored if autohide is set to true. Default is 5000 ms.<br>
            <code>placement</code> - Determines the placement of the toast message. Default is bottom middle. Options are: <br>
            &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.default<br>
            &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.top.left<br>
            &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.top.center<br>
            &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.top.right<br>
            &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.middle.left<br>
            &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.middle.center<br>
            &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.middle.right<br>
            &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.bottom.left<br>
            &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.bottom.center<br>
            &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.bottom.right<br>
            <code>borderColor</code> - The border color of the toast notification. Default is secondary. Options are: primary, secondary, success, danger, warning, info, light, dark, white<br>
            <code>tag</code> - A string that identifies and labels the toast. Default is empty.<br>
            <code>refreshTag</code> - If tag is defined, overwrites the tag content with any updated content. Default is empty.<br>
            <code>closeButton</code> - Hide close button if false. Default is true.
        </p>
        <p>Example:<br>
            <code>shashin.showToastMessage("test title","test message"{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;headerSubtext: "Keep it short!",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;icon: "bi-exclamation-triangle",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;icon: "#FF0000",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;delay: 6500,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;placement: shashin.toast.placement.top.left,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;tag: "testcode",<br>
                &nbsp;&nbsp;&nbsp;&nbsp;refreshTag: true<br>
                });</code>
        </p>

        <h5>Close toast messages</h5>
        <p>Place <code>shashin.closeToastMessages()</code> in JS code. Options are a hash map of allowable options.</p>
        <p>
            <code>tag</code> - Target specific tag to close.<br>
            <code>tags</code> - Array of tags to close.<br>
            <code>placement</code> - Target specific placement to close. Options are: <br>
                &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.default<br>
                &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.top.left<br>
                &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.top.center<br>
                &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.top.right<br>
                &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.middle.left<br>
                &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.middle.center<br>
                &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.middle.right<br>
                &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.bottom.left<br>
                &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.bottom.center<br>
                &nbsp;&nbsp;&nbsp;&nbsp;shashin.toast.placement.bottom.right<br>
            <code>placements</code> - Targets multiple placements to close.<br>
            <code>hide</code> - Flag to remove or hide toast message. If set to true, will only hide the element, else it will remove the element from the DOM. Default is false.
        </p>
        <p>Examples: <br>
            <code>// Hides toast messages tagged 'testcode' or 'anothertag' targeting bottom center toast messages<br>
                shashin.closeToastMessages({<br>
                &nbsp;&nbsp;&nbsp;&nbsp;tags: ["testcode", "anothertag"],<br>
                &nbsp;&nbsp;&nbsp;&nbsp;placement: shashin.toast.placement.bottom.center,<br>
                &nbsp;&nbsp;&nbsp;&nbsp;hide: true<br>
                });</code>
            <br><br>
            <code>// Removes all toast messages<br>
                shashin.closeToastMessages();</code>
        </p>

        <hr>
        <p>Report issues <a href="mailto:myagi.developer@gmail.com" target="_blank">here</a>!</p>
    </div>
</section>
</body>
</html>