<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/articles :: page(title=${titleDescriptor},activePage=${activePage})">
<head></head>
<body>

<section th:fragment="content">
    <div th:replace="/articles/articlesmodal :: articlesmodal()"></div>

    <div id="subcontainer" class="col-12 col-md-12 col-xl-12">
        <h2 id="apiendpoints">
            <div>API Endpoints<a class="anchorjs-link" href="#apiendpoints" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>Find and manage your service API key at <a href="/users/apikey" target="_blank"><th:block th:text="${baseUrl}"></th:block>users/apikey</a></p>

        <hr>

        <br>

        <th:block th:each="endpoint, iterStat: ${apiEndpointsMapList}">
            <th:block th:if="${iterStat.count > 0}" th:unless="${!iterStat.first and (apiEndpointsMapList[iterStat.index-1].role)==(endpoint.role)}">
                <a class="anchorjs-link" aria-label="Anchor" data-anchorjs-icon="#" th:href="${'#role'+endpoint.roleAnchor}"></a>
                <h3 th:id="${'role'+endpoint.roleAnchor}">
                    <div th:text="${endpoint.role+' APIs'}"></div>
                </h3>
            </th:block>

            <a th:id="${endpoint.rolePath}"></a>
            <p>
                <span th:class="${endpoint.badgeStyle}"><th:block th:text="${endpoint.requestType}"></th:block></span>&nbsp;<th:block th:text="${endpoint.apiCall}"></th:block><br>
                <th:block th:text="'Access: '+${endpoint.role}"></th:block>
                <th:block th:if="${endpoint.produces != ''}">
                    <br><th:block th:text="'Produces: '+${endpoint.produces}"></th:block>
                </th:block>
                <th:block th:if="${endpoint.description != ''}">
                    <br><th:block th:utext="'Description: '+${endpoint.description}"></th:block>
                </th:block>
            </p>
            <br>
        </th:block>
    </div>
</section>
</body>
</html>