<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/articles :: page(title=${titleDescriptor},activePage=${activePage})">
<head></head>
<body>

<section th:fragment="content">
  <div th:replace="/articles/articlesmodal :: articlesmodal()"></div>

  <div id="subcontainer" class="col-12 col-md-12 col-xl-12">
    <h2 id="apiendpoints">
      <div>API Endpoints<a class="anchorjs-link" href="#apiendpoints" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
    </h2>

    <p>Find and manage your service API key at <a href="/users/apikey" target="_blank"><th:block th:text="${baseUrl}"></th:block>users/apikey</a></p>

    <hr>

    <br>

    <th:block th:each="endpoint, iterStat: ${apiEndpointsMap}">
      <p>
        <span th:class="${endpoint.value.badgeStyle}"><a th:id="${endpoint.value.rolePath}"></a><th:block th:text="${endpoint.value.requestType}"></th:block></span>&nbsp;<th:block th:text="${endpoint.value.apiCall}"></th:block><br>
        <th:block th:text="'Access: '+${endpoint.value.role}"></th:block>
        <th:block th:if="${endpoint.value.produces != ''}">
          <br><th:block th:text="'Produces: '+${endpoint.value.produces}"></th:block>
        </th:block>
        <th:block th:if="${endpoint.value.description != ''}">
          <br><th:block th:utext="'Description: '+${endpoint.value.description}"></th:block>
        </th:block>
      </p>
      <br>
    </th:block>
  </div>
</section>
</body>
</html>