<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/articles :: page(title=${titleDescriptor},activePage=${activePage})">
<head></head>
<body>

<section th:fragment="content">
    <div class="col-11 col-md-10 col-xl-9">
        <h2 id="quickstart">
            <div>Quick Start<a class="anchorjs-link" href="#quickstart" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
        </h2>

        <ol>
            <li>For first time website setup, register your username and password on the <a href="/users/register">registration</a> page.</li>
            <li><a href="/users/login">Login</a> as an administrator with the username and password you registered with.
                <ol type="i"><li>Subsequent registrations need to processed by an administrator on the <a href="/settings/users">User Management</a> page.</li></ol>
            </li>
            <li>Once logged in as an administrator, go to the <a href="/settings">settings</a> page from the sidebar.</li>
            <li>In the <a href="/settings">Settings</a> tab in the <strong>Media directories and files</strong> text area, point to where your photos or videos are stored, separating directories with a new line. Example:
<pre class="mt-2"><code>C:\Users\Michael\Pictures
C:\Users\Michael\Videos</code></pre>
            </li>
            <li>Click <strong>Save</strong> near the bottom of the page.</li>
            <li>In the <a href="/settings/scan">Media Indexing</a> tab, click the <strong>Scan</strong> button.</li>
            <li>After you see the message <strong>Scan Complete</strong>, view your media on the <span id="startingPage"><a href="/timeline">timeline</a></span> page.</li>
        </ol>

        <h2 id="facerecognition">
            <div>Face Recognition<a class="anchorjs-link " href="#facerecognition" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>You can use <a href="https://github.com/exadel-inc/CompreFace#getting-started-with-compreface">CompreFace</a> using <a href="https://www.docker.com/products/docker-desktop/">Docker Desktop</a> as an alternative to the built-in face recognition module.</p>

        <p>After setting up CompreFace, visit <a href="http://127.0.0.1:8000">http://127.0.0.1:8000/</a> and click on <strong>Create Application</strong>. In the Application, click <strong>Create New</strong>.</p>

        <p>Copy the <strong>API key</strong> and configure it in the Shashin <a href="/settings">settings</a> under <strong>CompreFace API key</strong>. If CompreFace is hosted on the same network as Shashin, you should configure the <strong>CompreFace Endpoint</strong> to be a private or public IP.</p>

        <th:block th:if="${authority == 'ROLE_SUPER'}">
            <h2 id="resetpass">
                <div>Reset Password as an Admin<a class="resetpass-link" href="#resetpass" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
            </h2>

            <p>You need access to the shashin database.</p>

            <p>Either reset the password with the shell script <code>reset_shashin_password.sh</code> and ensure you can execute it <code>chmod +x reset_shashin_password.sh</code>.</p>

            <p>Usage <code>./reset_shashin_password.sh &lt;username&gt;</code> to reset password in prod. To define an environment, type <code>./reset_shashin_password.sh &lt;username&gt; &lt;prod/dev/test&gt;</code></p>

            <p>Output would be the new temporary password. You should change the password immediately afterward in <strong>Manage Account</strong>.</p>

            <p>Or follow the steps:</p>

            <ol>
                <li>You need your username and an encrypted password.</li>
                <li>Visit <a href="http://127.0.0.1:6624/bcrypt" target="_blank">http://127.0.0.1:6624/bcrypt</a> to generate an encrypted password.</li>
                <li><code>UPDATE user SET password = "&lt;encrypted password&gt;"<br>WHERE id = (SELECT id FROM user WHERE username = "&lt;username&gt;")</code>
                </li>
            </ol>
        </th:block>

        <h2 id="contact">
            <div>Contact<a class="anchorjs-link" href="#contact" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>Report issues <a href="mailto:myagi.developer@gmail.com" target="_blank">here</a>!</p>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            // Safari 3.0+ "[object HTMLElementConstructor]"
            const isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && window['safari'].pushNotification));
            if (isSafari === true) {
                $("#startingPage").html(<a href="/taken">recently taken</a>);
            }
        });
    </script>
</section>
</body>
</html>