<html xmlns:th="http://www.thymeleaf.org"
      th:insert="layouts/articles :: page(title=${titleDescriptor},activePage=${activePage})">
<head></head>
<body>

<section th:fragment="content">
    <div class="col-11 col-md-10 col-xl-9">
        <h1>Tips & Tricks</h1>

        <h2 id="search">
            <div>Search<a class="anchorjs-link" href="#search" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>Search for keywords, file names, titles, descriptions, place names, by camera or lens, media types, media dimensions, or taken at dates</p>

        <p>There are a few reserved search terms as well.</p>

        <ul>
            <li><code>/search?term=shashinedit</code> filters photos edited through the editor</li>
            <li><code>/search?term=nolatlng</code> filters media that don't have coordinates</li>
            <li><code>/search?term=latlng</code> filters media that have coordinates</li>
            <li><code>/search?term=description</code> filters media that have a description</li>
        </ul>

        <h2 id="filters">
            <div>Filters<a class="anchorjs-link" href="#filters" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>For the timeline, explore pages, favorites and album pages, you can filter by media type or media with no coordinate data. In albums, you can also filter by media with comments.</p>

        <ul>
            <li>Media types including, but not limited to:</li>
            <ul>
                <li><code>video</code></li>
                <li><code>image</code></li>
                <li><code>gif</code></li>
                <li><code>jpg</code></li>
                <li><code>mp4</code></li>
            </ul>
            <li><code>nolatlng</code> filters media that don't have coordinates</li>
            <li><code>description</code> filters media that have descriptions</li>
            <li>Albums only - <code>comments</code> filters media that have comments</li>
        </ul>

        <p>Examples</p>

        <ul>
            <li><code>/timeline/video</code></li>
            <li><code>/taken/gif</code></li>
            <li><code>/recent/nolatlng</code></li>
            <li><code>/album/1/comments</code></li>
        </ul>

        <h2 id="paged">
            <div>Pagination<a class="anchorjs-link" href="#paged" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>You can view recently added, modified, taken or accessed pages with pagination. Access by specifying the page index (starting from 0) and the media type.</p>

        <p>You can jump to pages using the pagination navigation at the bottom of the page.</p>

        <p>Examples</p>

        <ul>
            <li><code>/recent/0/all</code> goes to the first page and does not filter results</li>
            <li><code>/taken/0/gif</code> filters media by gifs and view the first page</li>
            <li><code>/recent/1/nolatlng</code> filters media that don't have coordinates and view the second page</li>
            <li><code>/album/1/2/comments</code> filters media that have comments and view the third page</li>
        </ul>

        <h2 id="multiselect">
            <div>Multi Select<a class="anchorjs-link" href="#multiselect" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>You can multi select photos, which is useful if editing multiple photos.</p>

        <ul>
            <li>Start by selecting a photo in multi select mode in the upper left corner of a photo</li>
            <li>Hover over the last photo you want to select in a range of photos and press the <code>shift</code> to select the entire range of photos. The first photo in the range should have a blue outline.</li>
                <ul>
                    <li>Mobile: <code>double tap</code> the last photo you want to select in a range of photos.</li>
                </ul>
            <li>You can deselect the photos by deselecting a photo within the range and press the <code>shift</code> to deselect the range of photos.</li>
                <ul>
                    <li>Mobile: <code>double tap</code> to deselect the range of photos.</li>
                </ul>
        </ul>

        <h2 id="contact">
            <div>Contact<a class="anchorjs-link" href="#contact" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
        </h2>

        <p>Report issues <a href="mailto:myagi.developer@gmail.com" target="_blank">here</a>!</p>
    </div>
</section>
</body>
</html>